{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>New Game Page</h1>

<form action="{{ path('admin_game_page_create', {'site': site}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'GameBundle:GamePageAdmin:_form.html.twig' %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    </div>
</form>

{% if site %}
    <a href="{{ path('admin_game_page_site', { 'site': site }) }}">
        Back to the list
    </a>
{% else %}
    <a href="{{ path('admin_game_page') }}">
        Back to the list
    </a>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'GameBundle:GamePageAdmin:_formJavascript.html.twig' %}
{% endblock %}
