{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<div class="game-page-form">

    {{ form_errors(form) }}

        <div class="span11">

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {{ form_widget(form.groupAvatar) }}
            <p class="alert alert-info help"><i class="icon-info-sign"></i>
                Maximum width: 830px, maximum height: 72px. Please use JPEG or PNG.
            </p>

            {{ form_row(form.isPublic) }}
            <p class="alert alert-info help">
                <i class="icon-info-sign"></i>
                Public: Group information is visible to all users and any user can join your group. Private: Group information is visible to approved group members only. Group organizer must approve users to be in group.
            </p>

            <div id="category" class="styled-select">
                {{ form_row(form.category) }}
            </div>

            <div id="group-location-controls" style="display:none;">
                <strong>City / Metro Area</strong>
                {{ form_widget(form.location.city) }}
                <strong>State / Province</strong>
                {{ form_widget(form.location.state_province) }}
            </div>

            <div id="group-parent-children-controls" style="display:none;">
                <p><input type="checkbox" id="has-parent">This group belongs to a parent group</input></p>
                <div id="group-parent-controls" style="display:none;">
                    {{ form_row(form.parent) }}
                </div>

                <p><input type="checkbox" id="has-children">This group has sub groups</input></p>
                <div id="group-children-controls" style="display:none;">
                    {{ form_row(form.children) }}
                </div>
            </div>

            {{ form_row(form.external) }}
            {{ form_row(form.externalUrl) }}

            {% if is_granted('ROLE_ADMIN') %}
            <div id="admin-options" style="margin-top:15px;">
                <h2 style="margin-bottom: 15px;">Admin Options</h2>

                {{ form_row(form.slug) }}
                {% if site.communityGroup|default %}
                    {{ form_row(form.relativeSlug) }}
                {% endif %}

                {% if form.sites is defined %}
                    {{ form_row(form.sites) }}
                    {{ form_row(form.allLocales) }}
                    <p class="help">
                        If set to true this overrides the "locales" setting and sets this group to be visible to all sites.
                    </p>
                {% endif %}

                {% if form.deleted is defined %}
                    {{ form_row(form.deleted) }}
                {% endif %}

                {% if form.featured is defined %}
                    {{ form_row(form.featured) }}
                    <p class="help">
                        Make this group featured on the homepage.
                    </p>
                {% endif %}
            </div>
            {% endif %}

        </div>
    {{ form_widget(form._token) }}
</div>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
<script type="text/javascript">
    $(function () {

        $('input#platformd_groupbundle_grouptype_name').css('width', '300px');

        var categoryField = $('#platformd_groupbundle_grouptype_category');
        var parentField   = $('#platformd_groupbundle_grouptype_parent');
        var childrenField = $('#platformd_groupbundle_grouptype_children');
        var hasParent     = $('#has-parent');
        var hasChildren   = $('#has-children');

        if (parentField.val() !== null) {
            hasParent.prop('checked', true);
            $('#category').slideUp();
        }

        if (childrenField.val() !== null) {
            hasChildren.prop('checked', true);
        }

        setCategoryControls();
        categoryField.change(setCategoryControls);

        setParentControls();
        hasParent.click(setParentControls);

        setChildrenControls();
        hasChildren.click(setChildrenControls);

        function setCategoryControls() {
            // Only show location controls for Location Groups and Companies
            if (categoryField.val() == 'location' || categoryField.val() == 'company') {
                $('#group-location-controls').slideDown();
            } else {
                $('#group-location-controls').slideUp();
            }
            // Only show parent and children controls for Topic and Location groups
            if (categoryField.val() == 'topic' || categoryField.val() == 'location') {
                $('#group-parent-children-controls').slideDown();
            } else {
                $('#group-parent-children-controls').slideUp();
            }
        }
        function setParentControls() {
            if ($('#has-parent').prop('checked')) {
                $('#group-parent-controls').slideDown();
            } else {
                $('#group-parent-controls').slideUp();
                $('#platformd_groupbundle_grouptype_parent').children(':first-child').attr('selected',''); // Select the 'None' entry
            }
        }
        function setChildrenControls() {
            if ($('#has-children').prop('checked')) {
                $('#group-children-controls').slideDown();
            } else {
                $('#group-children-controls').slideUp();
                $('#platformd_groupbundle_grouptype_children').val('');
            }
        }

        if ($('.control-group.error').length > 0) {
            $('html, body').animate({
                scrollTop: ($('.control-group.error').first().offset().top) - 100
            }, 400);
        }

        $('#cancel').delegate('','click change',function(){
            window.location = $(this).attr('rel');
            return false;
        });

    });

</script>
