<div id="report-content-dialog-Group" style="display: none;" title="Report Group">
    <div data-logged-in="false">
        <div style="height: 120px;">
            {{ 'content_reporting.must_be_logged_in' | pd_trans }}
        </div>
        <button id="close-dialog-Group" style="float: right;">{{ 'content_reporting.cancel' | pd_trans }}</button>
    </div>

    <div data-logged-in="true">
        <div data-can-report="false">
            <div style="height: 120px;">
                {{ 'content_reporting.once_per_hour' | pd_trans }}
            </div>
            <button id="close-dialog-Group" style="float: right;">{{ 'content_reporting.cancel' | pd_trans }}</button>
        </div>

        <div data-can-report="true">
            <input type="hidden" id="report-id-Group" />
            <input type="hidden" id="content-type-Group" value="Group" />
            <div style="height: 120px;">
                <div id="report-group-response" style="display:none;">
                {{ 'content_reporting.report_success' | pd_trans }}
                </div>
                <div id="report-group-options">
                    <input class="report-group-option" type="radio" name="group-reason" value="inappropriate_content"> Inappropriate content <br />
                    <input class="report-group-option" type="radio" name="group-reason" value="spam"> Spam <br />
                    <input class="report-group-option" type="radio" name="group-reason" value="violates_intellectual_property"> Violates intellectual property <br />
                    <input class="report-group-option" type="radio" name="group-reason" value="individual_harrassing_me"> Harassment
                </div>
            </div>
            <button class="btn btn-primary" id="submit-report-Group">Submit</button>
            <button class="btn btn-primary" id="close-dialog-Group" style="float: right;">Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        if (user_is_logged_in) {
            $('[data-logged-in="true"]').show();
            $('[data-logged-in="false"]').hide();
        } else {
            $('[data-logged-in="true"]').hide();
            $('[data-logged-in="false"]').show();
        }

        if (can_report) {
            $('[data-can-report="true"]').show();
            $('[data-can-report="false"]').hide();
        } else {
            $('[data-can-report="true"]').hide();
            $('[data-can-report="false"]').show();
        }

        var groupDeleted = false;

        var reportGroupDialog = $('#report-content-dialog-Group').dialog({
            autoOpen: false,
            modal: true,
            height: 200,
            width: 350,
            draggable: false,
            resizable: false,
            close: function (e, ui) {
                if(groupDeleted) {
                    window.location = '{{ path('groups') }}';
                }
            }
        });

        $('.report-group').click(function () {
            var reportId = $(this).attr('report-data');
            $('#report-id-Group').val(reportId);

            $('.report-group-option').prop('checked', false);
            $('#report-group-response').hide();
            $('#report-group-options').show();
            $('#close-dialog-Group').text('Cancel');
            $('#submit-report-Group').show();
            reportGroupDialog.dialog('open');
        });

        $('#submit-report-Group').click(function () {
            $('#report-group-options').fadeOut();
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : $('#report-id-Group').val(),
                    'Reason' : $('input:radio[name=group-reason]:checked').val(),
                    'ContentType' : $('#content-type-Group').val()
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        $('#report-group-response').text(data.messageForUser);
                        $('#report-group-response').fadeIn();
                    } else {
                        $('#report-group-response').fadeIn();
                    }
                    $('#close-dialog-Group').text('OK');
                    $('#submit-report-Group').hide();
                    groupDeleted = true;
                }
            })

        });

        $('#close-dialog-Group').click(function () {
            reportGroupDialog.dialog('close');
            if(groupDeleted) {
                window.location = '{{ path('groups') }}';
            }
        });
    });
</script>

