<div id="report-content-dialog-GroupDiscussionPost" style="display: none;" title="Report Discussion Post">
    {% if app.user is null %}
        <div style="height: 120px;">
            {{ 'content_reporting.must_be_logged_in' | pd_trans }}
        </div>
        <button id="close-dialog-GroupDiscussionPost" style="float: right;">{{ 'content_reporting.cancel' | pd_trans }}</button>
    {% elseif can_user_report() == false %}
        <div style="height: 120px;">
            {{ 'content_reporting.once_per_hour' | pd_trans }}
        </div>
        <button id="close-dialog-GroupDiscussionPost" style="float: right;">{{ 'content_reporting.cancel' | pd_trans }}</button>
    {% else %}
        <input type="hidden" id="report-id-GroupDiscussionPost" />
        <input type="hidden" id="content-type-GroupDiscussionPost" value="GroupDiscussionPost" />
        <div style="height: 120px;">
            <div id="report-post-response" style="display:none;">
            {{ 'content_reporting.report_success' | pd_trans }}
            </div>
            <div id="report-post-options">
                <input class="report-post-option" type="radio" name="post-reason" value="inappropriate_content"> Inappropriate content <br />
                <input class="report-post-option" type="radio" name="post-reason" value="spam"> Spam <br />
                <input class="report-post-option" type="radio" name="post-reason" value="violates_intellectual_property"> Violates intellectual property <br />
                <input class="report-post-option" type="radio" name="post-reason" value="individual_harrassing_me"> Harassment
            </div>
        </div>
        <button class="btn btn-primary" id="submit-report-GroupDiscussionPost">Submit</button>
        <button class="btn btn-primary" id="close-dialog-GroupDiscussionPost" style="float: right;">Cancel</button>
    {% endif %}
</div>
<script type="text/javascript">
    $(function () {

        var groupDiscussionPostDeleted = false;

        var reportGroupDialog = $('#report-content-dialog-GroupDiscussionPost').dialog({
            autoOpen: false,
            modal: true,
            height: 200,
            width: 350,
            draggable: false,
            resizable: false,
            close: function (e, ui) {
                {#if(groupDiscussionPostDelete) {#}
                    {#window.location = '{{ path('groups') }}';#}
                {#}#}
            }
        });

        $('.report-group-discussion-post').click(function () {
            var reportId = $(this).attr('report-data');
            $('#report-id-GroupDiscussionPost').val(reportId);

            $('.report-post-option').prop('checked', false);
            $('#report-post-response').hide();
            $('#report-post-options').show();
            $('#close-dialog-GroupDiscussionPost').text('Cancel');
            $('#submit-report-GroupDiscussionPost').show();
            reportGroupDialog.dialog('open');
        });

        $('#submit-report-GroupDiscussionPost').click(function () {
            $('#report-post-options').fadeOut();
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : $('#report-id-GroupDiscussionPost').val(),
                    'Reason' : $('input:radio[name=post-reason]:checked').val(),
                    'ContentType' : $('#content-type-GroupDiscussionPost').val()
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        $('#report-post-response').text(data.messageForUser);
                        $('#report-post-response').fadeIn();
                    } else {
                        $('#report-post-response').fadeIn();
                    }
                    $('#close-dialog-GroupDiscussionPost').text('OK');
                    $('#submit-report-GroupDiscussionPost').hide();
                    groupDeleted = true;
                }
            })

        });

        $('#close-dialog-GroupDiscussionPost').click(function () {
            reportGroupDialog.dialog('close');
            {#if(groupDeleted) {#}
                {#window.location = '{{ path('groups') }}';#}
            {#}#}
        });
    });
</script>

