{% set reportContentType    = 'GroupDiscussion' %}

<div id="discussion-content-scroll" style="height: 550px;">
    {% if results | length > 0 %}
        <div data-group-member="true">{{ 'platformd.groups.discussions.submit' | pd_trans({ '%url%': ( path('group_add_discussion', {'slug' : group.slug }) ) }) | raw }}</div>
        <div data-group-member="false">{{ 'platformd.groups.discussions.non_member_add' | pd_trans }}</div>
    {% else %}
        <div data-group-member="true">{{ 'platformd.groups.discussions.member_no_discussions' | pd_trans({ '%url%': ( path('group_add_discussion', {'slug' : group.slug }) ) }) | raw }}</div>
        <div data-group-member="false">{{ 'platformd.groups.discussions.non_member_no_discussions' | pd_trans }}</div>
    {% endif %}

    {% if results | length > 0 %}

        <div id="boardList">
            <table>
                <tbody>
                {% for discussion in results %}
                    <tr class="forumTopic {% if (loop.index) is divisibleby(2) %}row2{% else %}row1{% endif %}">
                        <td class="name png">
                            <h3>
                                <a href="{{ path('group_view_discussion', { 'slug' : group.slug, 'discussionId' : discussion.id }) }}">{{ discussion.title }}</a>
                            </h3>
                        </td>
                        <td class="replies png">{{ discussion.replyCount }} <br />{{ 'platformd.groups.discussions.replies' | pd_trans }}</td>
                        <td class="views png">{{ discussion.viewCount }} <br />{{ 'platformd.groups.discussions.views' | pd_trans }}</td>
                        <td class="last">
                            <span class="last-update" title="{{ discussion.updatedAt | date ~ 'Z'}}"></span>
                            - <a href="{{ path('group_view_discussion', { 'slug' : group.slug, 'discussionId' : discussion.id}) ~ '#comment_' ~ discussion.lastPostId }}">{{ discussion.lastUpdatedBy.username }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="pagerfanta" id="pager" style="float:right;">
            {# Warning: when using pagerfanta, make sure to specify the routeName otherwise pagerfanta will try to guess it #}
            {# which is very resource intensive and can increase page load time by 5 seconds !!! #}
            {{ pagerfanta(pager, 'spoutlet', {
                'previous_message': '',
                'next_message': '',
                'routeName': 'group_discussions',
                'routeParams': { 'slug': group.slug }
            }) }}
        </div>

        {# Ajax Pager Widget #}
        <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.timeago.min.js') }}"></script>
    {% endif %}

    <script type="text/javascript">

        var canAdd     = (user_is_logged_in && (is_admin || user_is_group_member));

        if (groupAdmin) {
            $('[data-group-admin="true"]').show();
            $('[data-group-admin="false"]').hide();
        } else {
            $('[data-group-admin="true"]').hide();
            $('[data-group-admin="false"]').show();
        }

        if (canAdd) {
            $('[data-group-member="true"]').show();
            $('[data-group-member="false"]').hide();
            $('#boardList').addClass('can-add');
        } else {
            $('[data-group-member="true"]').hide();
            $('[data-group-member="false"]').show();
            $('#boardList').addClass('cant-add');
        }

        $('.last-update').timeago();
        var content = $('.featured-content-category#content-group-news');

        $('#pager').pagerUi({
            'target': content
        });

        $('.name.png > h3 > a').truncate({
            width: 480
        });

    </script>

</div>
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
