{% extends 'SpoutletBundle::layout.html.twig' %}
{% block title 'Groups - ' ~ group.name %}

{% set openGraphThumb = app.request.getScheme ~ '://' ~ app.request.getHost ~ '/bundles/spoutlet/images/groups/groups_og.jpg' %}
{% if group.backgroundImage %}
    {% set customPageBackgroundImage = media_path(group.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% block page_background_image customPageBackgroundImage %}

{% block content %}
<div class="std_1col" style="padding: 0;">
    <div id="group-avatar">
        {% if group.groupAvatar %}
            <img src="{{ media_path(group.groupAvatar) }}" />
        {% else %}
            <div id="groups-main-banner"></div>
        {% endif %}
    </div>
</div>
<div class="std_1col" style="padding: 0;">
    {% include 'GroupBundle:Group:_subNav.html.twig' %}
</div>
<div class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
    <div class="left">
        <form action="{{ discussionFormAction }}" method="post" {{ form_enctype(discussionForm) }} class="form-horizontal">

            {% form_theme discussionForm 'SpoutletBundle:Admin:normalLabel.html.twig' %}
            {% form_theme discussionForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

            {{ form_errors(discussionForm) }}


            <div class="span7 edit-discussion" style="width: 610px;">
                {{ form_row(discussionForm.title) }}
                {{ form_row(discussionForm.content) }}
                {{ form_row(discussionForm.tags) }}
                <div class="form-actions">
                    <button type="submit" formnovalidate>Save Discussion</button>
                    <button id="cancel" class="btn btn-primary" rel="{{ path('group_view_discussion', { slug: group.slug, discussionId: discussionId}) }}" style="margin-left: 10px;">Cancel</button>
                </div>
            </div>




            {{ form_rest(discussionForm) }}

        </form>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });

            $('#form_tags').watermark('Separate tags with commas');
            $('#form_tags').tagsInput({
                placeholderColor: '#aaaaaa',
                defaultText: "{{ 'tags.forms.add_tag' | pd_trans }}"
            });
        });
    </script>
{% endblock %}
