{% set reportContentType    = features.hasPhotos ? 'GalleryMedia' : 'GroupImage'  %}
{% set canAdd               = groupManager.isAllowedTo(app.user, group, site, 'AddImage') %}
{% set canEdit              = groupManager.isAllowedTo(app.user, group, site, 'EditImage') %}
{% set canDelete            = groupManager.isAllowedTo(app.user, group, site, 'DeleteImage') %}
{% set addImageUrl          = features.hasPhotos ? path('gallery_submit') : path('group_add_image', { 'id': group.id }) %}

<div id="group-images">

    <div>
        {% if pages | length > 0 %}
            {% if canAdd %}
                <a href='{{ addImageUrl }}'>{{ 'platformd.groups.images.submit_images' | pd_trans }}</a>
            {% else %}
                {{ 'platformd.groups.images.non_member_add' | pd_trans }}
            {% endif %}
        {% else %}
            {% if canAdd %}
                {{ 'platformd.groups.images.member_no_images' | pd_trans({'%addImageUrl%': addImageUrl}) | raw }}
            {% else %}
                {{ 'platformd.groups.images.non_member_no_images' | pd_trans }}
            {% endif %}
        {% endif %}
    </div>

    {% if pages | length > 0 %}
        <div class="scrollable" id="scrollable-images">
            <div class="items">
                {% for page in pages %}
                <div class="items-wrapper">
                {% for imageList in page %}
                    {% for image in imageList %}
                        {% if features.hasPhotos %}
                            {% include 'GroupBundle:Group:_galleryImageItem.html.twig' with { 'image' : image } %}
                        {% else %}
                            {% include 'GroupBundle:Group:_groupImageItem.html.twig' with { 'image' : image } %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="scroll-actions" style="margin-top: 10px;">
            <a class="prev browse" style="float: left;">{{ 'platformd.groups.images.previous' | pd_trans }}</a>
            <a class="next browse" style="float: right;">{{ 'platformd.groups.images.see_more' | pd_trans }}</a>
        </div>
    {% endif %}
    {% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
</div>
