{% set reportContentType    = 'GroupImage' %}
{% set addImageUrl          = features.hasPhotos ? path('gallery_submit') : path('group_add_image', { 'id': group.id }) %}

<div id="group-images">

    <div>
        {% if pages | length > 0 %}
            <div data-group-member="true"><a href='{{ addImageUrl }}'>{{ 'platformd.groups.images.submit_images' | pd_trans }}</a></div>
            <div data-group-member="false">{{ 'platformd.groups.images.non_member_add' | pd_trans }}</div>
        {% else %}
            <div data-group-member="true">{{ 'platformd.groups.images.member_no_images' | pd_trans({'%addImageUrl%': addImageUrl}) | raw }}</div>
            <div data-group-member="false">{{ 'platformd.groups.images.non_member_no_images' | pd_trans }}</div>
        {% endif %}
    </div>

    {% if pages | length > 0 %}
        <div class="scrollable" id="scrollable-images">
            <div class="items">
                {% for page in pages %}
                <div class="items-wrapper">
                {% for imageList in page %}
                    {% for image in imageList %}
                        <div class="group-image-item">
                            <div class="group-image-image">
                                <a href="{{ path('group_image_show', { id: image.id }) }}" title="{{ image.title }}" img-data="{{ image.image.id }}" style="border:none;">
                                    <img src="{{ image.image.filename | imagine_filter('image_thumb_small') }}" alt="{{ image.title }}" />
                                </a>
                            </div>
                            <div class="group-image-title">
                                {{ image.title }}
                            </div>
                            <div class="group-image-actions">
                                <div data-group-admin="true">
                                    <a href="{{ path('group_delete_image', { 'id' : group.id, 'imageId' : image.id })}}" onclick="return confirm('Are you sure you want to delete this image?');">{{ 'platformd.groups.images.delete' | pd_trans }}</a> |
                                    <a href="{{ path('group_edit_image', { 'id' : group.id, 'imageId' : image.id })}}">{{ 'platformd.groups.images.edit' | pd_trans }}</a> |
                                </div>
                                <a href="javascript:void(0);" class="report-content" report-data="{{ image.id }}">{{ 'platformd.groups.images.report' | pd_trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="scroll-actions" style="margin-top: 10px;">
            <a class="prev browse" style="float: left;">{{ 'platformd.groups.images.previous' | pd_trans }}</a>
            <a class="next browse" style="float: right;">{{ 'platformd.groups.images.see_more' | pd_trans }}</a>
        </div>
    {% endif %}
    {% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
</div>

<script type="text/javascript">
    $(function () {
        var canAdd     = (user_is_logged_in && (is_admin || user_is_group_member));

        if (groupAdmin) {
            $('[data-group-admin="true"]').show();
            $('[data-group-admin="false"]').hide();
        } else {
            $('[data-group-admin="true"]').hide();
            $('[data-group-admin="false"]').show();
        }

        if (canAdd) {
            $('[data-group-member="true"]').show();
            $('[data-group-member="false"]').hide();
        } else {
            $('[data-group-member="true"]').hide();
            $('[data-group-member="false"]').show();
        }
    });
</script>
