{% set reportContentType    = features.hasPhotos ? 'GalleryMedia' : 'GroupImage'  %}
{% set addImageUrl          = features.hasPhotos ? path('gallery_submit') : path('group_add_image', { 'slug': group.slug }) %}

<div id="group-images">

    <div>
        {% if pages | length > 0 %}
            <div data-group-member="true"><a href='{{ addImageUrl }}'>{{ 'platformd.groups.images.submit_images' | pd_trans }}</a></div>
            <div data-group-member="false">{{ 'platformd.groups.images.non_member_add' | pd_trans }}</div>
        {% else %}
            <div data-group-member="true">{{ 'platformd.groups.images.member_no_images' | pd_trans({'%addImageUrl%': addImageUrl}) | raw }}</div>
            <div data-group-member="false">{{ 'platformd.groups.images.non_member_no_images' | pd_trans }}</div>
        {% endif %}
    </div>

    {% if pages | length > 0 %}
        <div class="scrollable" id="scrollable-images">
            <div class="items">
                {% for page in pages %}
                <div class="items-wrapper">
                {% for imageList in page %}
                    {% for image in imageList %}
                        {% if features.hasPhotos %}
                            {% include 'GroupBundle:Group:_galleryImageItem.html.twig' with { 'image' : image } %}
                        {% else %}
                            {% include 'GroupBundle:Group:_groupImageItem.html.twig' with { 'image' : image } %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="scroll-actions" style="margin-top: 10px;">
            <a class="prev browse" style="float: left;">{{ 'platformd.groups.images.previous' | pd_trans }}</a>
            <a class="next browse" style="float: right;margin-right:25px">{{ 'platformd.groups.images.see_more' | pd_trans }}</a>
        </div>
    {% endif %}
    {% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
</div>

<script type="text/javascript">

    var canAdd     = (user_is_logged_in && (is_admin || user_is_group_member));

    if (groupAdmin) {
        $('[data-group-admin="true"]').show();
        $('[data-group-admin="false"]').hide();
    } else {
        $('[data-group-admin="true"]').hide();
        $('[data-group-admin="false"]').show();
    }

    if (canAdd) {
        $('[data-group-member="true"]').show();
        $('[data-group-member="false"]').hide();
    } else {
        $('[data-group-member="true"]').hide();
        $('[data-group-member="false"]').show();
    }

</script>
