{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

<div class="std_2col">
    {% if features.hasSearch %}<div class="left">{% render url('search_form', {'category': 'group', 'watermark': 'platformd.search.form.default.all' }) %}</div>{% endif %}
    <div class="right"><a href="{{ path('group_new') }}" class="btn reg-source">{{ 'platformd.groups.index.create_group' | pd_trans }}</a></div>
</div>

<div class="std_2col">
    <div class="left">

        <h3 id="groups-index-title">{{ 'platformd.groups.index.recommended_groups' | pd_trans }}</h3>
        {% if featuredGroups|length > 0 %}
        <div class="group-collection">
            <h4 class="groups-category-header">{{ 'platformd.groups.index.featured_groups' | pd_trans }}</h4>
                <div id="featured-groups">
                    {% for group in featuredGroups %}
                        <div class="group-list-item">
                            <a href="{{ path('group_show', { slug: group[0].slug}) }}">
                                {% if group[0].thumbNail %}
                                <img  class="lazy" src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" data-src="{{ media_path(group[0].thumbNail) }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                {% else %}
                                <img src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                {% endif %}
                            </a>
                            <a href="{{ path('group_show', { slug: group[0].slug}) }}" class="group-index-link" title="{{ group[0].name }}">
                                {{ group[0].name }}
                            </a>
                            <div class="details">
                                <div class="item-detail">{{ 'platformd.groups.index.members' | pd_trans }}: {{ group['memberCount'] }}</div>
                                <div class="item-detail">{{ 'platformd.groups.index.organizer' | pd_trans }}: {{ group[0].owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'platformd.groups.index.staff' | pd_trans : group[0].owner.username }}</div>
                                <div class="report-group-caption">
                                    <a href="javascript:void(0);" class="report-group" report-data="{{ group[0].id }}">{{ 'platformd.groups.index.report_group' | pd_trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="group-collection">
            <h4 class="groups-category-header">{{ 'platformd.groups.index.topic_groups' | pd_trans }}</h4>
            <div class="scrollable" id="scrollable-topic-groups">
                <div class="items">
                    {% for page in topicGroups %}
                        {% set lazyImages = loop.index > 0 %}
                        <div class="items-wrapper">
                        {% for groupList in page %}
                            {% for group in groupList %}
                                <div class="group-list-item">
                                    <a href="{{ path('group_show', { slug: group[0].slug}) }}">
                                        {% if group[0].thumbNail %}
                                        <img class="lazy" src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" data-src="{{ media_path(group[0].thumbNail) }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                        {% else %}
                                        <img  src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('group_show', { slug: group[0].slug}) }}" class="group-index-link" title="{{ group[0].name }}">
                                        {{ group[0].name }}
                                    </a>
                                    <div class="details">
                                        <div class="item-detail">{{ 'platformd.groups.index.members' | pd_trans }}: {{ group['memberCount'] }}</div>
                                        <div class="item-detail">{{ 'platformd.groups.index.organizer' | pd_trans }}: {{ group[0].owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'platformd.groups.index.staff' | pd_trans : group[0].owner.username }}</div>
                                        <div class="report-group-caption">
                                            <a href="javascript:void(0);" class="report-group" report-data="{{ group[0].id }}">{{ 'platformd.groups.index.report_group' | pd_trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="scroll-actions" style="margin-top: 0px;">
                <a id="topic-prev" class="prev browse" style="float: left;">{{ 'platformd.groups.index.previous' | pd_trans }}</a>
                <a id="topic-next" class="next browse" style="float: right;">{{ 'platformd.groups.index.see_more' | pd_trans }}</a>
            </div>
        </div>
        <div class="group-collection" style="margin-top: 20px;">
            <h4 class="groups-category-header">{{ 'platformd.groups.index.location_groups' | pd_trans }}</h4>
            <div class="scrollable" id="scrollable-location-groups">
                <div class="items">
                    {% for page in locationGroups %}
                        <div class="items-wrapper">
                        {% for groupList in page %}
                            {% for group in groupList %}
                                <div class="group-list-item">
                                    <a href="{{ path('group_show', { slug: group[0].slug}) }}">
                                        {% if group[0].thumbNail %}
                                        <img  class="lazy" src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" data-src="{{ media_path(group[0].thumbNail) }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                        {% else %}
                                        <img src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('group_show', { slug: group[0].slug}) }}" class="group-index-link" title="{{ group[0].name }}">
                                        {{ group[0].name }}
                                    </a>
                                    <div class="details">
                                        <div class="item-detail">{{ 'platformd.groups.index.members' | pd_trans }}: {{ group['memberCount'] }}</div>
                                        <div class="item-detail">{{ 'platformd.groups.index.organizer' | pd_trans }}: {{ group[0].owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'platformd.groups.index.staff' | pd_trans : group[0].owner.username }}</div>
                                        <div class="report-group-caption">
                                            <a href="javascript:void(0);" class="report-group" report-data="{{ group[0].id }}">{{ 'platformd.groups.index.report_group' | pd_trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div id="scroll-actions" style="margin-top: 10px;">
                <a id="location-prev" class="prev browse" style="float: left;">{{ 'platformd.groups.index.previous' | pd_trans }}</a>
                <a id="location-next" class="next browse" style="float: right;">{{ 'platformd.groups.index.see_more' | pd_trans }}</a>
            </div>
        </div>
    </div>

    <div class="right">

        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        <div class="widget-33" id="new-groups-widget">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'platformd.groups.index.welcome_new' | pd_trans }}
                </div>
            </div>
            <div class="widget-content">
                {% for recentGroup in recentGroups %}
                <div class="widget-item">
                    <a class="widget-link news-ellipse" href="{{ path('group_show', { 'slug': recentGroup.slug }) }}">{{ recentGroup.name }}</a>
                </div>
                {% else %}
                    <p>{{ 'platformd.groups.index.no_groups_found' | pd_trans }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="widget-33" id="popular-groups-widget">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'platformd.groups.index.most_popular' | pd_trans }}
                </div>
            </div>
            <div class="widget-content">
                {% for popularGroup in popularGroups %}
                <div class="widget-item">
                    <a class="widget-link news-ellipse" href="{{ path('group_show', { 'slug': popularGroup['slug'] }) }}">{{ popularGroup['group_name'] }}</a>
                </div>
                {% else %}
                    <p>{{ 'platformd.groups.index.no_groups_found' | pd_trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'GroupBundle:Group:_reportGroupPopup.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.truncate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.reg-source').click(function() {
                addSourceInfo(this, '{{ regSourceData | base64_encode }}');
            });

            locationScrollable = $('#scrollable-location-groups').scrollable({
                next: '#location-next',
                prev: '#location-prev',
                onSeek: function() {
                    this.getItems().eq(this.getIndex()).find('img.lazy').lazyLoad();
                }
            }).data('scrollable');
            topicScrollable = $('#scrollable-topic-groups').scrollable({
                next: '#topic-next',
                prev: '#topic-prev',
                onSeek: function() {
                    this.getItems().eq(this.getIndex()).find('img.lazy').lazyLoad();
                }
            }).data('scrollable');

            $('.group-index-link').truncate();
            $('.item-detail').truncate({width:130});
            $('.widget-item .news-ellipse').truncate();

            locationScrollable.getItems().eq(locationScrollable.getIndex()).find('img.lazy').lazyLoad();
            topicScrollable.getItems().eq(topicScrollable.getIndex()).find('img.lazy').lazyLoad();
            $('#featured-groups img.lazy').lazyLoad();
        });
    </script>

{% endblock %}
