{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'Groups - ' ~ group.name %}

{% block content %}

    <div class="std_1col" style="padding: 0;">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% else %}
                <img src="{{ asset('bundles/spoutlet/images/groups/groups_main_banner.jpg') }}" />
            {% endif %}
        </div>
    </div>
    <div class="std_1col" style="padding: 0;">
        <div class="groups-sub-nav-wrapper">
            {% include 'GroupBundle:Group:_subNav.html.twig' %}
        </div>
    </div>
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">Members</div>
        </div>
        <div class="widget-content">
            <table style="width: 100%;" class="tablesorter">
                <tbody>
                <tr>
                    {% if canRemove %}
                        <th style="width:15%;">Action</th>
                    {% endif %}
                    <th style="width:15%;">Username</th>
                    <th style="width:15%;">Joined</th>
                </tr>
                <tr class="eventListGroup_lan">
                    {% if canRemove %}
                    <td>
                        <a href="{{ path('group_remove_member', { 'id': group.id, 'uid' : group.owner.id }) }}" onclick="return confirm('Are you sure you want to remove \'{{ group.owner.username }}\' from the group?');">Remove from Group</a>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ cevo_account_link(group.owner.username) }}">{{ group.owner.username }}</a>
                    </td>
                    <td>
                        {{ group.createdAt|date('M j, Y') }}
                    </td>
                </tr>
                {% for member in members %}
                    {% if member['username'] is not null %}
                    <tr class="eventListGroup_lan">
                        {% if canRemove %}
                        <td>
                            <a href="javascript:void(0);" class="remove-member" data-path="{{ path('group_remove_member', { 'id': group.id, 'uid' : member['id'] }) }}">Remove from Group</a>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{{ cevo_account_link(member['username']) }}">{{ member['username'] }}</a>
                        </td>
                        <td>
                            {{ member['created_at']|date('M j, Y') }}
                        </td>
                    </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="2">
                            <em>There are no members!</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="widget-footer">&nbsp;</div>
    </div>
    <div id="remove-member-dialog" title="Remove Member" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you want to remove this user?</p>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/group/css/groups.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.remove-member').click(function () {
                var path = $(this).attr('data-path');
                $('#remove-member-dialog').dialog({
                    modal: true,
                    resizable: false,
                    movable: false,
                    height: 150,
                    buttons: {
                        "Yes": function() {
                            document.location = path;
                        },
                        "No": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}
