{% set reportContentType    = 'GroupNews' %}

<div id="news-content-scroll" style="height: 550px;">

    <div class="group-news-add">
        <a href='{{ path('group_add_news', {'id' : group.id }) }}'>{{ 'platformd.groups.news.add' | pd_trans }}</a>
    </div>

    {% if groupNews is defined %}

        {% for article in groupNews %}

            <div class="group-news-item" id="news-item-{{ article.id }}" style="margin: 20px;">
                <div class="group-news-actions">
                    <a href="{{ path('group_delete_news', { 'id' : group.id, 'newsId' : article.id })}}" onclick="return confirm('Are you sure you want to delete this news article?');">{{ 'platformd.groups.news.delete' | pd_trans }}</a> |
                    <a href="{{ path('group_edit_news', { 'id' : group.id, 'newsId' : article.id })}}">{{ 'platformd.groups.news.edit' | pd_trans }}</a>
                </div>
                <h2>{{ article.title }}</h2>
                <div class="group-news-date">
                    {{ article.createdAt | date('F d, Y') }}
                    <a href="javascript:void(0);" class="report-content" report-data="{{ article.id }}" style="display: none; float: right;"> {{ 'platformd.groups.news.report' | pd_trans }}</a>
                </div>
                <div class="group-news-article">
                    {{ article.article | raw }}
                </div>
            </div>

        {% else %}
            <p>{{ 'platformd.groups.news.no_articles' | pd_trans }}</p>
        {% endfor %}
    {% else %}
        <p>{{ 'platformd.groups.news.no_articles' | pd_trans }}</p>
    {% endif %}
</div>
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}

<script type="text/javascript">

    if (user_is_logged_in && (is_admin || user_is_group_owner)) {
        $('.group-news-actions').show();
        $('.group-news-add').show();
    } else {
        $('.group-news-actions').hide();
        $('.group-news-add').hide();
    }

    $('.group-news-article').expander({
        slicePoint:       600,
        expandText:       'Show More',
        userCollapseText: 'Show Less',
        afterExpand: function () {
            $('#news-content-scroll').mCustomScrollbar('update');
        },
        onCollapse: function () {
            $('#news-content-scroll').resize();
        }
    });

    $('.group-news-item').hover(
        function () {
            $('.report-content', this).show()
        },
        function () {
            $('.report-content', this).hide()
        });

    $('#news-content-scroll').mCustomScrollbar();
</script>
