{% extends 'SpoutletBundle::layout.html.twig' %}

{% set reportContentType    = 'GroupDiscussion' %}
{% set site                 = get_current_site() %}
{% set canAdd               = groupManager.isAllowedTo(app.user, group, site, 'AddDiscussion') %}
{% set canEdit              = groupManager.isAllowedTo(app.user, group, site, 'EditDiscussion') %}
{% set canDelete            = groupManager.isAllowedTo(app.user, group, site, 'DeleteDiscussion') %}

{% block title 'Groups - ' ~ group.name %}

{% set openGraphThumb = app.request.getScheme ~ '://' ~ app.request.getHost ~ '/bundles/spoutlet/images/groups/groups_og.jpg' %}
{% if group.backgroundImage %}
    {% set customPageBackgroundImage = media_path(group.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% block page_background_image customPageBackgroundImage %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/group/css/groups.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="std_1col" style="padding: 0;">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% else %}
                <img src="{{ asset('bundles/spoutlet/images/groups/groups_main_banner.jpg') }}" />
            {% endif %}
        </div>
    </div>
    <div class="std_1col" style="padding: 0;">
        {% include 'GroupBundle:Group:_subNav.html.twig' %}
    </div>
    <div class="std_2col">
        <div class="right">
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        </div>
        <div class="left" id="group-discussion-form-wrapper">
            <h1>Add a reply</h1>

            <h4>{{ discussion.title }}</h4>
            <div id="discussion-details">
                {{ discussion.content | raw }}
            </div>

            <div id="discussion-reply-form">
                <form action="{{ replyFormAction }}" method="post" {{ form_enctype(replyForm) }} class="form-horizontal">

                    {% form_theme replyForm 'SpoutletBundle:Admin:normalLabel.html.twig' %}
                    {% form_theme replyForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

                    {{ form_errors(replyForm) }}

                    <div class="span7" style="width: 610px;">
                        {{ form_row(replyForm.content) }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" formnovalidate>Post to Discussion</button>
                            <button id="cancel" class="btn btn-primary" rel="{{ path('group_view_discussion', { id: group.id, discussionId: discussion.id}) }}" style="margin-left: 10px;">Cancel</button>
                        </div>
                    </div>

                    {{ form_rest(replyForm) }}

                </form>
            </div>

        </div>
    </div>
    {% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
{% endblock %}
