{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block title %}
    {{ group.name }} | Campsite
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if locationGroups|default %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script type="text/javascript" src="/bundles/spoutlet/js/gmaps_custom.js"></script>

        <script type="text/javascript">
            var groupsArray = [];

            $(function () {

                {% for curGroup in locationGroups %}
                singleGroup = [];
                singleGroup['name'] = '{{ curGroup.name }}';
                singleGroup['lat'] = '{{ curGroup.latitude }}';
                singleGroup['long'] = '{{ curGroup.longitude }}';
                singleGroup['city'] = '{{ curGroup.city }}';
                singleGroup['address1'] = '{{ curGroup.address1 }}';
                singleGroup['address2'] = '{{ curGroup.address2 }}';
                singleGroup['stateProvince'] = '{{ curGroup.stateProvince }}';
                singleGroup['metroArea'] = '{{ curGroup.metroArea }}';
                singleGroup['url'] = '{{ path(curGroup.urlRouteName, curGroup.urlRouteParams, true) }}';

                groupsArray.push(singleGroup);
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}

{% block group_content %}

    <div class="col_fifth">

        <a href="{{ path('entry_set_new', {'registrationId': group.entrySetRegistration.id, 'entrySetId': 'new'}) }}" class="btnLg2">Create New List</a>

        {% if group.entrySets|length > 0 %}
            <h2 class="widgetHeader">Lists</h2>
            <ul class="scrollableWidget">
                {% for entrySet in group.entrySets %}
                    <li class="padtop padbtm spcr-l3 borderBtm">
                        <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if group.htmlPages|length > 0 %}
            <div class="rowBx card ctr spcr-b2 spcr-t midtxt">
                <h2 class="ctr">Documents</h2>
                {% for page in group.htmlPages %}
                    <hr class="small-margin"/>
                    <a href="{{ path('page_view', {'id': page.id}) }}" class="blu">{{ page.title }}</a><br/>
                {% endfor %}
            </div>
        {% endif %}

        {% if not group.external %}
            {% set limit = 200 %}
            {% set totalMemberSize = group.members|length %}
            {% set memberList = group.membersSorted(limit) %}
            {% if memberList|default %}
                <h2 class="widgetHeader">{{ totalMemberSize }} Member{% if totalMemberSize > 1 %}s{% endif %}</h2>
                <a href="{{ path('profile', {userId: group.owner.id}) }}"><h3 class="blu spcr-t spcr-l3 midtxt">{{ group.owner.name }} (Organizer)</h3></a>
                <ul class="spcr-b3">
                    {% for member in memberList %}
                        {% if member.id != group.owner.id %}
                            <li class="spcr-t7 spcr-l3">
                                {% if member.displayProfile %}
                                    <a href="{{ path('profile', {'userId': member.id}) }}"><h3 class="blu">{{ member.name }}</h3></a>
                                {% else %}
                                    <h3>{{ member.name }}</h3>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if totalMemberSize > limit %}
                    <a href="{{ path('group_members', {'slug': group.slug}) }}" class="blue">View All Members</a>
                {% endif %}
            {% else %}
                There are no members of this group yet.
            {% endif %}
        {% endif %}

    </div>

    <div class="col_three_fifths">

        {% if group.description | default %}
            <div class="rowBx">
                {{ group.description | raw }}
                <div class="clr"></div>
            </div>
        {% endif %}

        {% if upcomingEvents|length > 0 or pastEvents|length > 0 %}
            <div class="card_list">

            {% for event in upcomingEvents %}
                <div class="card spcr-b2">
                    <div class="event-summary">
                        <a href="{{ event | pd_link }}"><h2 class="ctr blu spcr-b2">{{ event.name }}</h2></a>
                        <hr class="small-margin"/>
                        <div class="col_third borderRt">
                            {% if (not event.isUserAttending(app.user)) and (event.registrationOption != constant('\\Platformd\\EventBundle\\Entity\\Event::REGISTRATION_DISABLED')) %}
                                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg spcr-t">{% if event.externalUrl %}Participate Online{% else %}Attend Event{% endif %}</a>
                            {% endif %}
                            <p>
                                <h2>When</h2>
                                {{ event.DateAndTime|raw }}
                            </p>
                            <hr class="small-margin"/>
                            {% if not event.getOnline %}
                                <p>
                                    <h2>Where</h2>
                                    {{ event.location }}<br/>
                                    <a href="http://maps.google.com/?q={{ event.address1 }}, {{ event.address2 }}">{{ event.address1 }}<br/>
                                    {{ event.address2 }}</a>
                                </p>
                                <hr class="small-margin"/>
                            {% endif %}

                            {% if event.sessions|length > 0 %}
                                <a href="{{ path('event_session_schedule', event.linkableRouteParameters) }}"><h3 class="blu">Session Schedule</h3></a>
                                <hr class="small-margin"/>
                            {% endif %}

                            {% if event.entrySets|length > 0 %}
                                <h2 class="spcr-t">Lists</h2>
                                <ul>
                                    {% for entrySet in event.entrySets %}
                                        <li class="spcr-t7">
                                            <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr class="small-margin"/>
                            {% endif %}
                        </div>

                        <div class="col_two_thirds">
                            {{ event.content|raw }}
                        </div>
                    </div>

                    <div class="event-see-more">
                        <a href="{{ event | pd_link }}"><h3 class="blu ctr">See More</h3></a>
                    </div>
                </div>

            {% endfor %}

            {% for event in pastEvents %}
                <div class="card spcr-b2">
                    <div class="event-summary">
                        <a href="{{ event | pd_link }}"><h2 class="ctr blu spcr-b2">{{ event.name }}</h2></a>
                        <hr class="small-margin"/>
                        <div class="col_third borderRt">
                            <p>
                                <h2>When</h2>
                                {{ event.DateAndTime|raw }}
                            </p>
                            <hr class="small-margin"/>
                            {% if not event.getOnline %}
                                <p>
                                    <h2>Where</h2>
                                    {{ event.location }}<br/>
                                    <a href="http://maps.google.com/?q={{ event.address1 }}, {{ event.address2 }}">{{ event.address1 }}<br/>
                                    {{ event.address2 }}</a>
                                </p>
                                <hr class="small-margin"/>
                            {% endif %}

                            {% if event.sessions|length > 0 %}
                                <a href="{{ path('event_session_schedule', event.linkableRouteParameters) }}"><h3 class="blu">Session Schedule</h3></a>
                                <hr class="small-margin"/>
                            {% endif %}

                            {% if event.entrySets|length > 0 %}
                                <h2 class="spcr-t">Lists</h2>
                                <ul>
                                    {% for entrySet in event.entrySets %}
                                        <li class="spcr-t7">
                                            <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr class="small-margin"/>
                            {% endif %}
                        </div>

                        <div class="col_two_thirds">
                            {{ event.content|raw }}
                        </div>
                    </div>

                    <div class="event-see-more">
                        <a href="{{ event | pd_link }}"><h3 class="blu ctr">See More</h3></a>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        {% endif %}

        {% if group.category == constant('\\Platformd\\GroupBundle\\Entity\\Group::CAT_TOPIC') and locationGroups|default %}
            <div id="map">
                <h2>Find a {{ group.name }} Near You</h2>
                <input id="map-location-search" type="text" size="50" placeholder="Enter your location" autocomplete="off">
                <div id="map-canvas"></div>
            </div>
        {% endif %}

    </div>

    <div class="col_fifth">

        {% if (not group.isMember(user)) and (not group.isUserWatching(user)) %}
            <a href="{{ path('watch_group', {'groupId': group.id}) }}" class="btnLg2">Follow This Group</a>
        {% endif %}

        {% if group.externalUrl %}
            <a href="{{ group.externalUrl }}" class="btnLg2" target="_blank">View Group Website</a>
        {% endif %}

        {% if group.category == constant('\\Platformd\\GroupBundle\\Entity\\Group::CAT_COMPANY') %}
            {% set createSubButton = 'Add Department' %}
            {% set subsLabel = 'Departments' %}
        {% else %}
            {% set createSubButton = 'Create Local Group' %}
            {% set subsLabel = 'Local Groups' %}
        {% endif %}

        {% if not group.external %}
            {% if not group.isMember(user) %}
                <a href="{{ path('group_join', {'slug': group.slug}) }}" class="btnLg2">Join This Group</a>
            {% elseif group.category == constant('\\Platformd\\GroupBundle\\Entity\\Group::CAT_TOPIC') or
                      group.category == constant('\\Platformd\\GroupBundle\\Entity\\Group::CAT_COMPANY') %}
                <a href="{{ path('group_new', {'parentGroupId': group.id}) }}" class="btnLg2">{{ createSubButton }}</a>
            {% endif %}
        {% endif %}

        {% if group.children|length > 0 %}
            <h2 class="widgetHeader">{{ subsLabel }}</h2>
            <ul class="scrollableWidget spcr-b3">
                {% for child in group.children %}
                    {% if not child.deleted %}
                        <li class="padtop padbtm spcr-l3 borderBtm">
                            <a href="{{ child | pd_link }}"><h3 class="blu">{{ child.name }}</h3></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="spcr-t spcr-b2">
            <div class="fb-like left" data-href="{{ group | pd_link }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button left spcr-l3 spcr-t8" data-hashtags="{{ group.hashtag }}">Tweet</a>
        </div>

        <div class="clr"></div>

        {% if group.parent|default %}
            <h3 class="spcr-t">Belongs to <a href="{{ group.parent | pd_link }}" class="blu">{{ group.parent.name }}</a></h3>
        {% endif %}

        <hr class="small-margin"/>
        <form action="{{ path('invite_user') }}" method="post">
            <h3>Recommend This Group</h3>
            <input type="text" placeholder="Enter email address..." name="userEmail" style="width:70%" class="left"/>
            <input type="hidden" name="scope" value="group"/>
            <input type="hidden" name="containerId" value="{{ group.id }}"/>
            <input type="submit" value=">" class="left" style="padding:8px;"/>
            <div class="clr"></div>
        </form>

        {% if is_granted('ROLE_ADMIN') %}
        
            <form action="{{ path('invite_user', {'force': 1}) }}" method="post">
                <h3>Add a User</h3>
                <input type="text" placeholder="Enter email address..." name="userEmail" style="width:70%" class="left"/>
                <input type="hidden" name="scope" value="group"/>
                <input type="hidden" name="containerId" value="{{ group.id }}"/>
                <input type="submit" value=">" class="left redButton" style="padding:8px;"/>
                <div class="clr"></div>
            </form>

        {% endif %}
        
        <hr class="small-margin"/>

        {% if group.sponsors|length > 0 %}
            {% include 'IdeaBundle::sidebar_sponsors.html.twig' %}
        {% endif %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
