{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'Groups - ' ~ group.name %}

{% set openGraphThumb               = app.request.getScheme ~ '://' ~ app.request.getHost ~ '/bundles/spoutlet/images/groups/groups_og.jpg' %}
{% set isAllowedToViewGroupContent  = groupManager.isAllowedTo(app.user, group, site, "ViewGroupContent") %}
{% set isAllowedToViewGroup         = groupManager.isAllowedTo(app.user, group, site, "ViewGroup") %}
{% set isAllowedToManageDiscussions = groupManager.isAllowedTo(app.user, group, site, "ManageDiscussions") %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ 'groups.opengraph.title' | pd_trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    <meta property="og:image" content="{{ openGraphThumb }}" />
    <meta property="og:description" content="{{ 'groups.opengraph.description' | pd_trans }}" />
{% endblock %}

{# either set the custom background image, or leave it to false #}
{% if group.backgroundImage %}
    {% set customPageBackgroundImage = media_path(group.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% block page_background_image customPageBackgroundImage %}

{% block content %}

<div id="group-show">
    <div class="std_1col" style="padding: 0;">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% else %}
                <div id="groups-main-banner"></div>
            {% endif %}
        </div>
    </div>
    <div class="std_1col" style="padding: 0;">
        {% include 'GroupBundle:Group:_subNav.html.twig' %}
    </div>
    <div class="std_2col">
        <div class="right">
            {% if groupManager.isAllowedTo(app.user, group, site, 'JoinGroup') %}
            <div class="join-group-options">
                <form action="{{ path('group_join', { 'id': group.id }) }}">
                    <button id="join-group-button" type="submit"></button>
                </form>
            </div>
            {% endif %}

            {% if groupManager.isAllowedTo(app.user, group, site, 'ApplyToGroup') %}
            <div class="join-group-options">
                <a href="{{ path('group_apply', { 'id': group.id }) }}" id="join-group-button" style="width:230px;height:62px;display:block;margin-bottom:18px">&nbsp;</a></li>
            </div>
            {% endif %}

            {% if groupManager.isApplicant(app.user, group) %}
                <p class="alert alert-info help">
                    <i class="icon-info-sign"></i>
                    {{ 'platformd.groups.show.waiting_on_approval' | pd_trans }}
                </p>
            {% endif %}
            <div class="widget-33" style="height: auto; margin-bottom: 10px;">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ group.name }}
                    </div>
                </div>
                <div class="widget-content">
                    <table class="group-details-table">
                        <tr>
                            <td>{{ 'platformd.groups.show.founded' | pd_trans }}</td>
                            <td>{{ group.createdAt|date('M j, Y') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'platformd.groups.show.organizer' | pd_trans }}</td>
                            <td>
                                {% if group.owner.adminLevel == 'ROLE_SUPER_ADMIN' %}
                                    <a href="javascript:void(0);">{{ 'platformd.groups.show.staff' | pd_trans }}</a>
                                {% else %}
                                    <a href="{{ account_link(group.owner.username) }}">{{ group.owner.username }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'platformd.groups.show.members' | pd_trans }}</td>
                            <td><a href="{{ path('group_members', { 'id': group.id }) }}">{{ memberCount }}</a></td>
                        </tr>

                    {% if features.hasEvents %}
                        <tr>
                            <td>{{ 'platformd.groups.show.upcoming_events' | pd_trans }}</td>
                            <td>{{ upcomingEvents|length }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'platformd.groups.show.past_events' | pd_trans }}</td>
                            <td>{{ pastEvents|length }}</td>
                        </tr>
                    {% endif %}

                        <tr>
                            <td>{{ 'platformd.groups.show.comments' | pd_trans }}</td>
                            <td><span class="comment-count">{{ commentTotal }}</span></td>
                        </tr>
                        <tr>
                            <td>{{ 'platformd.groups.show.group_type' | pd_trans }}</td>
                            <td>{{ group.isPublic ? 'platformd.groups.show.public' | pd_trans : 'platformd.groups.show.private' | pd_trans }}</td>
                        </tr>
                        {% if isEntered %}
                        <tr>
                            <td>{{ 'platformd.groups.show.new_members' | pd_trans }}</td>
                            <td>{{ contestCount }}</td>
                        </tr>
                        {% endif %}
                    </table>
                    {% if isEntered %}
                        <div style="width:290px;">
                            <p class="alert alert-info help"><i class="icon-info-sign"></i>
                                <em>{{ 'contests.group_part_of_contest' | pd_trans }}<br /><br />
                                    <a href="{{ path('contest_show', { 'slug' : contest.slug }) }}" target="_blank">{{ contest.name }}</a>
                                </em>
                            </p>
                        </div>
                    {% endif %}
                    <hr style="border-top: #aaa 1px solid; border-bottom: #aaa 1px solid;" />
                    <div id="group-like-wrapper">
                        <div class="fb-like" data-send="false" data-width="300" data-layout="button_count" data-show-faces="false" data-colorscheme="dark"></div>
                    </div>

                    {% if features.hasFacebook and config.facebookAppId %}
                        <div id="group-invite-wrapper"><a href="javascript:void(0);" id="group-invite">Invite Friends</a></div>
                    {% endif %}
                    <div id="report-group-wrapper"><a href="javascript:void(0);" id="report-group" class="report-group" report-data="{{ group.id }}">{{ 'platformd.groups.show.report_group' | pd_trans }}</a></div>
                    {% if group.location and group.category == 'location' %}
                    <div id="group-location-address" class="location-info">
                        <div>{{ 'platformd.groups.show.location' | pd_trans }}:</div>
                        <div id="metro-area">
                            {{ group.location.metroArea }}
                        </div>
                        <div id="street-address1">
                            {{ group.location.address1 }}
                        </div>
                        <div id="street-address2">
                            {{ group.location.address2 }}
                        </div>
                        <div id="city">
                            {{ group.location.city }}
                        </div>
                        <div id="state">
                            {{ group.location.stateProvince }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if group.location and group.category == 'location' %}
                {{ vichgeo_map_for('location', group.location) }}
            {% endif %}
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        </div>
        <div class="left">
            <div class="widget-66" id="featured-content">
                <div class="featured-content-header">
                    {% if isAllowedToViewGroupContent %}
                        <a href="javascript:void(0);" id="group-news" class="active">{{ 'platformd.groups.show.news' | pd_trans }}</a>
                        {% if features.hasEvents %}<a href="javascript:void(0);" id="group-events">{{ 'platformd.groups.show.events' | pd_trans }}</a>{% endif %}
                        <a href="javascript:void(0);" id="group-images">{{ 'platformd.groups.show.images' | pd_trans }}</a>
                        <a href="javascript:void(0);" id="group-videos">{{ 'platformd.groups.show.videos' | pd_trans }}</a>
                        {% if group.discussionsEnabled == true or isAllowedToManageDiscussions %}
                            <a href="javascript:void(0);" id="group-discussions">{{ 'platformd.groups.show.discussions' | pd_trans }}</a>
                        {% endif %}
                        <a href="javascript:void(0);" id="group-about">{{ 'platformd.groups.show.about' | pd_trans }}</a>
                    {% elseif isAllowedToViewGroup %}
                        <a href="javascript:void(0);" id="group-about" class="active">{{ 'platformd.groups.show.about' | pd_trans }}</a>
                    {% endif %}
                    <div style="clear: left;"></div>
                </div>
                <div class="widget-content" id="group-widget-content">
                    {% if isAllowedToViewGroupContent %}
                        <div id="group-content" class="featured-content-category active">
                            {% if not isAllowedToViewGroupContent %}{% include 'GroupBundle:Group:about.html.twig' %}{% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if features.hasComments %}
                {% if isAllowedToViewGroupContent %}
                    <div id="group-comments">
                        {% include 'SpoutletBundle:Comments:_thread.html.twig' with { 'thread' : group.threadId, 'comments' : null, 'offset' : 0, 'permalink' : permalink } %}
                    </div>
                {% else %}
                    <div id="group-comments">
                        <p>{{ 'platformd.groups.show.must_be_member_comments' | pd_trans }}</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% include 'GroupBundle:Group:_reportGroupPopup.html.twig' %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.resize.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.expander.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.truncate.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.awa.pagerUi.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.resize.min.js"></script>

    {% if group.location and group.category == 'location' %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    {% endif %}
    <script type="text/javascript">
        $(function () {

            $.blockUI.defaults.overlayCSS = {};

            {% if features.hasFacebook and config.facebookAppId %}
                $('#group-invite').click(function () {
                    FB.ui({
                        method: 'send',
                        name: "You are invited to the {{ group.name | e('js') }}!",
                        link: '{{ path('group_show', { 'slug': group.slug })  | absolute_url }}',
                        description: "{{ 'groups.opengraph.description' | pd_trans }}",
                        image: '{{ openGraphThumb }}'
                    });
                });
            {% endif %}

            var hash = window.location.hash.replace('#','');

            var tab = 'group-' + hash;

            var loadVideoContent = function(id) {
                var content = $('.featured-content-category#group-content');

                content.load('{{ path('group_videos', { 'id' : group.id }) }}', function(response, status, xhr){
                    $("#scrollable-videos").scrollable();
                    $('.youtube-link').truncate();
                    $('#featured-content').unblock();
                });
            }

            var loadNewsContent = function(id) {
                var content = $('.featured-content-category#group-content');
                content.load('{{ path('group_news', { 'id' : group.id }) }}', function(response, status, xhr) {
                    $('#featured-content').unblock();
                });
            }

            var loadImageContent = function(id) {
                var content = $('.featured-content-category#group-content');

                content.load('{{ path('group_images', { 'id' : group.id }) }}', function(response, status, xhr) {
                    $("#scrollable-images").scrollable();
                    $('.group-image-title').truncate();
                    $('#featured-content').unblock();
                });
            }

            var loadDiscussionContent = function(id) {
                var content = $('.featured-content-category#group-content');

                content.load('{{ path('group_discussions', { 'id' : group.id }) }}', function(response, status, xhr) {
                    $('#featured-content').unblock();
                });
            }

            var loadAboutContent = function(id) {
                var content = $('.featured-content-category#group-content');

                content.load('{{ path('group_about', { 'id' : group.id }) }}', function(response, status, xhr) {
                    $('.featured-content-category#group-content').mCustomScrollbar();
                    $('#group-widget-content').unblock();
                });
            }

            {% if features.hasEvents %}
            var loadEventContent = function(id) {
                var content = $('.featured-content-category#group-content');

                content.load('{{ path('group_events', { 'id' : group.id }) }}', function(response, status, xhr) {
                    $('#event-content-scroll').mCustomScrollbar();
                    $('#featured-content').unblock();
                });
            }
            {% endif %}

            var loadContent = function(tab) {
                if(tab == 'group-' || tab.indexOf('comment') > 0) {
                    loadNewsContent('group-news');
                } else {
                    $('#' + tab).click();
                }

                window.setTimeout(function() {
                    $('.xnotices').fadeOut();
                }, 10000);
            }

            var killVideoContent = function() {
                $('#group-content').html('');
            }

            $(".featured-content-header a").click(function() {
                $('#featured-content').block({
                    message: '<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />',
                    css: {
                        border: 'none',
                        background: 'transparent'
                    }

                });

                killVideoContent();

                var current = $('.featured-content-header a.active').attr('id');
                var id = $(this).attr('id');

                window.location.hash = id.replace('group-', '');

                $('.featured-content-header a.active').removeClass('active');
                $(this).addClass('active');
                $('.featured-content-category#group-content').fadeOut('fast', function () {
                    $('.report-wrapper').remove();

                    var content = $('.featured-content-category#group-content');

                    switch(id) {
                        case 'group-videos':
                            loadVideoContent(id);
                            break;
                        case 'group-news':
                            loadNewsContent(id);
                            break;
                        case 'group-images':
                            loadImageContent(id);
                            break;
                        case 'group-discussions':
                            loadDiscussionContent(id);
                            break;
                        case 'group-about':
                            loadAboutContent(id);
                            break;
                        {% if features.hasEvents %}
                        case 'group-events':
                            loadEventContent(id);
                            break;
                        {% endif %}
                    }

                    //$(this).delay(500);
                    content.fadeIn();
                });
            });
            loadContent(tab);
        });
    </script>

{% endblock %}
