{% set reportContentType    = features.hasVideo ? 'YoutubeVideo' : 'GroupVideo' %}
{% set addVideoUrl          = features.hasVideo ? path('youtube_submit') : path('group_add_video', { 'slug': group.slug }) %}

<div>
    <div>
    {% if pages | length > 0 %}
        <div data-group-member="true"><a href='{{ addVideoUrl }}'>{{ 'platformd.groups.videos.submit' | pd_trans }}</a></div>
        <div data-group-member="false">{{ 'platformd.groups.videos.non_member_add' | pd_trans }}</div>
    {% else %}
        <div data-group-member="true">{{ 'platformd.groups.videos.member_no_videos' | pd_trans({ '%url%': addVideoUrl }) | raw }}</div>
        <div data-group-member="false">{{ 'platformd.groups.videos.non_member_no_videos' | pd_trans }}</div>
    {% endif %}
    </div>
    {% if pages | length > 0 %}
        <div id="theater-screen-wrapper">
            <div id="theater_screen">
                <video id="group_video"class="video-js vjs-default-skin"
                    controls preload="none" width="600" height="350">
                </video>
            </div>
        </div>
        <div class="scrollable" id="scrollable-videos" style="height: 165px; width: 600px; margin: 20px 0 20px 15px;">
            <div class="items">

                {% set isFirstItem = true %}
                {% for page in pages %}
                    <div class="items-wrapper">
                        {% for videoList in page %}
                            {% for video in videoList %}

                                {% if features.hasVideo %}
                                    {% include 'GroupBundle:Group:_youtubeVideoItem.html.twig' with { 'video' : video } %}
                                {% else %}
                                    {% include 'GroupBundle:Group:_groupVideoItem.html.twig' with { 'video' : video } %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="group-video-scroll-pagination">
            <nav class="spoutlet-pager">
                <a href="javascript:void(0);" data-page=1 class="current">1</a>
                {% if pages|length > 9 %}...{% endif %}
                {% if pages|length > 1 %}
                    {% if pages|length > 2 %}
                        {% set pageLimit = (pages|length > 9 ? 8 : pages|length - 1) %}
                        {% for pageNumber in 2..pageLimit %}
                            <a href="javascript:void(0);" data-page={{ pageNumber }}>{{ pageNumber }}</a>
                        {% endfor %}
                        {% if pages|length > 9 %}...{% endif %}
                    {% endif %}
                    <a href="javascript:void(0);" data-page={{ pages|length }}>{{ pages|length }}</a>
                {% endif %}
            </nav>
        </div>
    {% endif %}
</div>
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/video-js-3.2.0/video.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/video-js-3.2.0/youtube.js') }}"></script>
<script type="text/javascript">

    var canAdd     = (user_is_logged_in && (is_admin || user_is_group_member));

    if (groupAdmin) {
        $('[data-group-admin="true"]').show();
        $('[data-group-admin="false"]').hide();
    } else {
        $('[data-group-admin="true"]').hide();
        $('[data-group-admin="false"]').show();
    }

    if (canAdd) {
        $('[data-group-member="true"]').show();
        $('[data-group-member="false"]').hide();
    } else {
        $('[data-group-member="true"]').hide();
        $('[data-group-member="false"]').show();
    }

    var scrollable = $("#scrollable-videos").scrollable();
    var pageNumberForUpdating;

    $('#group-video-scroll-pagination a').click(function() {
        $('#group-video-scroll-pagination a.current').removeClass('current');

        var page = parseInt($(this).attr('data-page'));
        var numVariablePageButtons = {{ pages|length > 9 ? 7 : pages|length - 2 }};
        var middleButton = Math.ceil(numVariablePageButtons / 2);

        scrollable.data('scrollable').seekTo(page - 1);

        updateButtons = page > 2 && page < ({{ pages|length }} - 1);

        $('#group-video-scroll-pagination a').each(function(index) {

            if (index == 0) {
                if (page == 1) $(this).addClass('current');
                return;
            }

            if (index == numVariablePageButtons + 1) {
                if (page == {{ pages|length }}) $(this).addClass('current');
                return;
            }

            if (index == 1) {
                offset  = (index) - middleButton;
                newPage = page + offset;

                if (newPage < 2) {
                    pageNumberForUpdating = 2;
                } else if (newPage + numVariablePageButtons > {{ pages|length }}) {
                    pageNumberForUpdating = {{ pages|length }} - numVariablePageButtons;
                } else {
                    pageNumberForUpdating = newPage;
                }
            }

            if (updateButtons == false) {
                if (pageNumberForUpdating == page) {
                    $(this).addClass('current');
                }
                pageNumberForUpdating++;
                return;
            }

            $(this).attr('data-page', pageNumberForUpdating);
            $(this).text(pageNumberForUpdating);

            if (pageNumberForUpdating == page) {
                $(this).addClass('current');
            }

            pageNumberForUpdating++;
        });

    });

    _V_.options.flash.swf = '{{ asset("bundles/spoutlet/js/video-js-3.2.0/video-js.swf") }}';
    $('.youtube-link').click(function () {
       var youtubeId = $(this).attr('youtube-data');
       $('.youtube-link').find('img').removeClass('active-video');
       $(this).find('img').addClass('active-video');
       _V_("group_video").src({type: 'video/youtube', src: 'http://www.youtube.com/watch?v=' + youtubeId});
       _V_("group_video").play();
    });

    if($('.youtube-link').length > 0) {
        _V_("group_video", {techOrder: ["html5","flash","youtube"]}, function() {
            this.src({type: 'video/youtube', src: 'http://www.youtube.com/watch?v=' + $('.youtube-link').first().attr('youtube-data') });
            this.play();
        });
    }

</script>
