{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<h1>
    {{ 'platformd.deal_pool.admin.create' | trans }}
</h1>

<a href="{{ path('admin_deal_pool_index', {'dealId': dealId}) }}">{{ 'platformd.navigation.back' | trans }}</a>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form dealForm">

    {{ form_errors(form) }}

    {{ form_row(form.description)}}

    {{ form_row(form.maxKeysPerIp)}}

    {{ form_row(form.isActive)}}

    {{ form_row(form.keysfile)}}

    {{ form_row(form.allowedCountries) }}

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="{{ "platformd.deal_pool.admin.save_deal_pool" | trans }}" formnovalidate />
</form>
