{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.account_page.account.welcome_to_control" | trans }}{% endblock %}


{% block content %}
<div class="std_2col control_panel">
    <div class="right">
        <img class="left-ad" src="{{ 'platformd.layout.page_content.deals_add_url' | trans }}" />
    </div>
    <div class="left">
        <div class="pad">
            <h2 id="welcomeControlPanel">{{ "platformd.account_page.account.welcome_to_control" | trans({
                "%username%" : app.user.username
            }) }}</h2>

            <p>{{ "platformd.account_page.account.ready_to_game" | trans }}</p> 
            
            <p>{{ "platformd.account_page.account.warning" | trans }}</p> 

            <p>{{ "platformd.account_page.account.under_construction" | trans }}</p>
        </div>
    </div>

    <div class="clr"></div>
</div>

<div class="clear"></div>
{% endblock %}
