{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.events.event_listings.your_registered_events" | trans }}{% endblock %}

{% block content %}
<div class="std_2col control_panel">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
    <div class="left">
        <div class="pad">
            <div class="widget-header">
                <div class="widget-title">
                    <h2>{{ "platformd.account_page.giveaway.your_giveaway_keys" | trans }}</h2>
                </div>
            </div>
            <div class="widget-content">
                <div class="text">
                    <table>
                        <tbody>
                            <tr>
                                <th>{{ 'platformd.giveaway.giveaway' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.key' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.assigned_at' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.view_giveaway' | trans }}</th>
                            </tr>
                            {% for keyRequest in keyRequests %}
                            <tr>
                                <td>{{ keyRequest.giveaway.name }}</td>
                                <td class="{{ keyRequest.value ? 'nowrap' : '' }}">
                                    {% if keyRequest.value %}
                                        {{ keyRequest.value }}
                                    {% else %}
                                        <em>
                                            {{ keyRequest.status | trans }}
                                        </em>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if keyRequest.assignedAt %}
                                        {{ 'sweepstakes_date_format' | trans(keyRequest.assignedAtTranslationArray) }}
                                    {% endif %}
                                </td>
                                <td class="nowrap">
                                    <a href="{{ path('giveaway_show', {'slug': keyRequest.giveaway.slug, '_locale': keyRequest.giveaway.locale} ) }}">{{ 'platformd.giveaway.view_giveaway_site' | trans }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget-footer">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
