{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.account_page.giveaway.your_giveaway_keys" | trans }}{% endblock %}

{% block content %}
<div class="std_2col control_panel">
    <div>
        <div class="pad">
            <div class="widget-header">
                <div class="widget-title">
                    <h2>
                        {% if site.subDomain == "mysg" %}
                            My System Tag Giveaway Keys
                        {% else %}
                            {{ "platformd.account_page.giveaway.your_giveaway_keys" | trans }}
                        {% endif %}
                    </h2>
                    {% if site.subDomain != "ja" %}
                        {{ "platformd.giveaway.click_for_past_giveaways" | trans({'%cevo_user_account_giveaway_page%': cevo_account_giveaway_link() }) | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="widget-content">
                <div class="text">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <th>{{ 'platformd.giveaway.giveaway' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.key' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.assigned_at' | trans }}</th>
                                <th>{{ 'platformd.giveaway.assigned.view_giveaway' | trans }}</th>
                            </tr>
                            {% for keyRequest in keyRequests %}
                            <tr>
                                <td>{{ keyRequest.giveaway.name | nl2br }}</td>
                                <td class="{{ keyRequest.value ? 'nowrap' : '' }}">
                                    {% if keyRequest.value %}
                                        {{ keyRequest.value | nl2br }}
                                    {% else %}
                                        <em>
                                             {{ keyRequest.status | trans }} {% if keyRequest.machineCode %}({{ keyRequest.machineCode }}){% endif %}
                                        </em>
                                    {% endif %}
                                </td>
                                <td class="nowrap">
                                    {% if keyRequest.assignedAt %}
                                        {{ 'sweepstakes_date_format' | trans(keyRequest.assignedAtTranslationArray) }}
                                    {% endif %}
                                </td>
                                <td class="nowrap">

                                    {% if keyRequest.site != null %}
                                        {% set giveawayLocale = keyRequest.site %}
                                    {% elseif keyRequest.giveaway.locale != null %}
                                        {% set giveawayLocale = keyRequest.giveaway.locale %}
                                    {% else %}
                                        {% set giveawayLocale = site.defaultLocale %}
                                    {% endif %}

                                    <a href="{{ path('giveaway_show', {'slug': keyRequest.giveaway.slug, '_locale': giveawayLocale } ) }}">{{ 'platformd.giveaway.view_giveaway_site' | trans }}</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div align="center">{{ 'platformd.giveaway.in_process' | trans | replace({'%contact_email%': site.supportEmailAddress})  | raw }}</div>
            <div class="widget-footer">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/account.css') }}" />
{% endblock %}
