{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.user.account.my_groups" | trans }}{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="control_panel">

    <div class="widget-header">
        <div class="widget-title">
            <h2>My Groups</h2>
        </div>
    </div>
    <div class="widget-content">
        <div class="text">
            <table style="width: 100%;border-spacing: 2px;border-collapse:inherit;" class="tablesorter">
            <tbody><tr>
                <th style="width:25%;">Group</th>
                <th style="width:25%;">Organizer</th>
                <th style="width:25%;">Type</th>
                <th style="width:25%">Members</th>
            </tr>
            {% for group in groups %}
                <tr class="eventListGroup_lan">
                    <td>
                        {% if action != null %}
                            {% if action == "group_event" %}
                                <a href="{{ path('group_event_new', { 'groupSlug': group.slug }) }}">{{ group.name }}</a>
                            {% else %}
                                <a href="{{ path('group_show', { 'slug': group.slug }) }}">{{ group.name }}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('group_show', { 'slug': group.slug }) }}">{{ group.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ group.owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'Staff' : group.owner.username }}
                    </td>
                    <td>
                        {% if group.isPublic %}
                            <span class="label label-success">Public</span>
                        {% else %}
                            <span class="label label-warning">Private</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ group.members.count }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        <em>There are no groups!</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="widget-footer">
        &nbsp;
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/account.css') }}" />
{% endblock %}
