{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.user.account.deals" | trans }}{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="control_panel">

    <div class="widget-header">
        <div class="widget-title">
            <h2>My Groups</h2>
        </div>
    </div>
    <div class="widget-content">
        <div class="text">
            <table style="width: 100%;" class="table table-striped table-bordered tablesorter">
            <tbody><tr>
                <th style="width:25%;">Name</th>
                <th style="width:25%;">Member Count</th>
                <th style="width:25%;">Status</th>
                <th style="width:25%">Role</th>
            </tr>
            {% for group in groups %}
                <tr class="eventListGroup_lan">
                    <td>
                        {% if group.isAllowedTo(app.user, site, 'ViewGroup') %}
                            <a href="{{ path('group_show', { 'id': group.id }) }}">{{ group.name }}</a>
                        {% else %}
                            {{ group.name }} (Not available on this site)
                        {% endif %}
                    </td>
                    <td>
                        {{ group.members.count }}
                    </td>
                    <td>
                        {% if group.isPublic %}
                            <span class="label label-success">Public</span>
                        {% else %}
                            <span class="label label-warning">Private</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if group.isOwner(app.user) %}
                            Organizer
                        {% else %}
                            Member
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        <em>There are no groups!</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="widget-footer">
        &nbsp;
    </div>
</div>
{% endblock %}
