{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.user.account.gallery" | trans }}{% endblock %}

{% block content %}
<div class="control_panel">

    <div class="std_1col">

        <div class="widget-header">
            <div class="widget-title">
                <h2>{{ "platformd.user.account.gallery" | trans }}</h2>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('gallery_submit') }}" style="margin-bottom:10px;">{{ "platformd.account_page.photos.submit" | trans }}</a>
        <div class="widget-content">
            {% if images | length > 0 %}

                <div class="page_container">
                    <div class="gallery-items content" style="width: 950px;">
                        {% for image in images %}
                            {% set isFirstInRow = (loop.index - 1) is divisibleby(5) or loop.first  %}
                            <div class="user-media-thumb-wrapper{% if isFirstInRow %} first-media{% else %} "style="padding-left:7px;{% endif %}">
                                <div class="account-image-image">
                                   <a href="{{ path('gallery_media_show', { id: image.id }) }}">
                                        <img src="{{ media_path(image.image, {'local': true}) | imagine_filter('image_thumb_small') }}" alt="{{ image.title }}" />
                                        <div class="thumbnail-caption" style="display:none;">
                                            <a href="{{ path('gallery_edit_media', { id : image.id }) }}">Edit</a>
                                        </div>
                                    </a>
                                </div>
                                <div style="width:177px;">
                                    <a class="media-title" href="{{ path('gallery_media_show', { id: image.id }) }}">
                                        {{ image.title }}
                                    </a>
                                </div>
                                <div>
                                    {{ image.createdAt | date('M n, Y') }}
                                </div>

                                <input type="hidden" value="{{ image.createdAt | date('m-d-Y') }}" class="media-date" />
                                <input type="hidden" value="{{ image.views }}" class="media-popular" />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="page_navigation" style="float: right; padding-top: 10px;"></div>
                </div>

            {% else %}
            <div>
                <p>No images yet... please come back later!</p>
            </div>
            {% endif %}
        </div>
        <div class="widget-footer">
            &nbsp;
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/lightbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/account.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/lightbox.js"></script>
    <script src="{{ asset('bundles/spoutlet/js/jquery.pajinate.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            $('.account-image-image').hover(function() {
                $(this).find('div.thumbnail-caption').stop(false,true).fadeIn(200);
            },
            function() {
                $(this).find('div.thumbnail-caption').stop(false,true).fadeOut(200);
            });

            $('.media-title').truncate({ width: 177 });

            $('.page_container').pajinate({
                    items_per_page: 10,
                    show_first_last: false,
                });
        });
    </script>
{% endblock %}
