{% extends 'UserBundle::accountLayout.html.twig' %}
{% form_theme avatarForm _self %}
{% form_theme form _self %}

{% set avatarUsable = user.avatar and user.avatar.isUsable %}

{% block content %}

    <div class="std_2col" id="user-settings-page">
        <div class="left">
            <div id="user-settings">

                <div class="user-avatar" style="float:left;">
                    <div style="position:absolute;">
                        {% if get_avatar_url(user, 184) and avatarUsable %}
                            <a class="update-avatar"><img src="{{ get_avatar_url(user, 184) }}" /></a>
                        {% else %}
                            <a class="update-avatar"><div class="default-avatar avatar184"></div></a>
                        {% endif %}
                    </div>
                    <span id="avatar-update-overlay-wrapper" style="display:none;">
                        <div id="avatar-update-overlay"></div>
                        <div id="avatar-update-overlay-text">
                            <a class="update-avatar">UPDATE</a>
                        </div>
                    </span>
                    {%if not avatarUsable %}
                        <div id="avatar-awaiting-overlay-text">
                            <a class="awaiting-approval">AWAITING APPROVAL</a>
                        </div>
                    {% endif %}
                </div>

                <div id="user-username">{{ user.username }}</div>

                <div class="clear"></div>

                <form action="{{ path('accounts_settings_update') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form form-horizontal">
                    <input type="hidden" name="_method" value="PUT" />
                    <fieldset id="account-settings-password" class="account-settings-section">
                        <h3><span>{{ 'platformd.user.account_settings.password'|trans({}, 'FOSUserBundle') }}</h3></span>
                        {{ form_errors(form) }}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.plainPassword) }}
                    </fieldset>

                    <div class="clear"></div>

                    <fieldset class="label-full account-settings-section" id="account-settings-newsletter">
                        <h3><span>{{ 'platformd.user.account_settings.newsletter'|trans({}, 'FOSUserBundle') }}</h3></span>
                        <table>
                            <tr>
                                <td class="subscription-checkbox">{{ form_widget(form.subscribedGamingNews) }}</td>
                                <td>{{ form_label(form.subscribedGamingNews) }}</td>
                            </tr>
                        </table>
                    </fieldset>
                    {{ form_rest(form) }}

                    <div id="form-buttons">
                        <button type="submit" class="btn btn-primary">{{ 'platformd.user.account_settings.change_avatar.submit'|trans({}, 'FOSUserBundle') }}</button>
                        <a href="{{ path('accounts_index') }}" class="btn">{{ 'cancel' | pd_trans }}</a>
                    </div>
                </form>
            </div>
        </div>


        <div class="right">
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        </div>
    </div>

    <div id="avatar-modal" style="display:none;">
        <div class="modal-title">Choose Avatar</div>
        <div id="add-avatar-form">
            <form action="{{ path('avatar_add') }}" method="post" {{ form_enctype(avatarForm) }}>
                {{ form_row(avatarForm.file) }}
                {{ form_rest(avatarForm) }}
                <button id="submit-avatar" type="submit" class="btn btn-primary" formnovalidate>Upload</button>
            </form>
        </div>

        {% if data.activeAvatar or data.avatars|length > 0 %}
            <div id="avatar-listings">

                {% if data.activeAvatar %}
                    <div id="avatar-{{ data.activeAvatar.id }}" class="avatar-image"><img src="{{ data.activeAvatar.url }}" class="active" /></div>
                {% endif %}

                {% for avatar in data.avatars %}
                    <div class="avatar-image" id="avatar-{{ avatar.id }}">
                        <a href="{{ path('avatar_switch', ({ 'uuid': avatar.uuid })) }}"><img src="{{ avatar.url }}" /></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

     </div>

{% endblock content %}

{% block file_label %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript">

        var modalVisible = false;

        $(function() {

            $('#submit-avatar').click(function (e) {

                e.preventDefault();

                $('#avatar-modal').block({
                    message: '<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />',
                    css: {
                        border: 'none',
                        background: 'transparent'
                    }
                });

                $(this).closest('form').submit();
            });

            $('.user-avatar').hover(
                function() {
                    $('#avatar-update-overlay-wrapper').show();
                },
                function() {
                    $('#avatar-update-overlay-wrapper').hide();
                }
            );

            $('.user-avatar').click(function() {
                $.blockUI({ message: $('#avatar-modal'), css: { width: '500px', cursor: 'default', border: 'none', top: '10%' }, onBlock: showModal });
            });

            $(document).click(function(e) {
                if (modalVisible && !$(e.target).parents().andSelf().is('#avatar-modal')) {
                    $.unblockUI();
                    modalVisible = false;
                }
            });

            $(document).on('keyup', function(e) {
            if (modalVisible && e.which === 27) { // Escape key
                    $.unblockUI();
                    modalVisible = false;
                }
            });

            function showModal() {
                modalVisible = true;
            }

            $('#avatar-listings').mCustomScrollbar();
        });
    </script>

{% endblock %}
