{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block extra_user_controls %}

    <li><a href="{{ path('group_show', { 'slug': group.slug }) }}">{{  group.name }}</a></li>

    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('idea_admin', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}">Admin Console</a></li>
    {% endif %}

{% endblock %}

{% block banner %}
    <a href="{{ path('idea_index', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}"><img src="{{ asset('bundles/spoutlet/images/campsitelogo.jpg') }}" alt="{{ event.name }}" width="328" height="126" id="brand"></a>
{% endblock %}

{% block menu_items %}
    <li><a href="{{ path('idea_index', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}">Home</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'About'}) }}" id="megaanchor1">About</a>
        <div id="megamenu1" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'About'}) }}#about">About SVIC</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'About'}) }}#organizers">Organizers</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}" id="megaanchor2">Event</a>
        <div id="megamenu2" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#details">Event Details</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#presentation">Presentation Guidelines</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#criteria">Judging Criteria</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#poster">Poster Preparation</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#faculty">Faculty Resources</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#ip">Intellectual Property</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Event'}) }}#guidelines">Community Guidelines</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'GetInvolved'}) }}" id="megaanchor3">Get Involved</a>
        <div id="megamenu3" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'GetInvolved'}) }}#observer">Observers</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'GetInvolved'}) }}#participant">Participants</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'GetInvolved'}) }}#judge">Judges</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'GetInvolved'}) }}#sponsor">Sponsors</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Sponsor'}) }}" id="megaanchor4">Sponsors</a>
        <div id="megamenu4" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Sponsor'}) }}#sponsor">Sponsors</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Sponsor'}) }}#howto">How to Sponsor</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'Schedule'}) }}">Schedule</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': group.slug, 'eventSlug': event.slug, 'page': 'FAQ'}) }}">Event FAQ</a></li>
{% endblock %}

{% block content %}

    {% render url('idea_index', { 'groupSlug': group.slug, 'eventSlug': event.slug }) %}

{%  endblock %}
