{% form_theme form theme %}

<h1>{{ 'platformd.user.register_title' | trans }}</h1>

<div class="registration-requirements">
    <p>{{ 'platformd.user.register.requirements' | trans }}</p>
    <p>{{ 'platformd.user.register.already' | trans({'<': '<a href="'~path('fos_user_security_login')~'">', '>': '</a>'})|raw }}</p>
</div>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form">

    {{ form_errors(form) }}

    {{ form_row(form.username) }}

    {{ form_row(form.email) }}

    {{ form_row(form.plainPassword) }}

    {{ form_row(form.firstname) }}

    {{ form_row(form.lastname) }}

    <div class="form_row">
        {{ form_errors(form.birthdate) }}
        {{ form_label(form.birthdate) }}

        {{ form_widget(form.birthdate.year) }}
        {{ 'year' | trans({}, 'forms') }}
        {{ form_widget(form.birthdate.month) }}
        {{ 'month' | trans({}, 'forms') }}
        {{ form_widget(form.birthdate.day) }}
        {{ 'day' | trans({}, 'forms') }}
    </div>

    {{ form_row(form.phoneNumber) }}

    {{ form_row(form.country) }}

    {{ form_row(form.state) }}

    {{ form_row(form.hasAlienwareSystem) }}

    {{ form_row(form.latestNewsSource) }}

    <div class="form_row">
        {{ form_errors(form.termsAccepted) }}
        <label>&nbsp;</label>
        {{ form_widget(form.termsAccepted) }}
        <span class="required">*</span>
        {{ 'fos_user_registration_form_termsAccepted' | trans(
            {
                '%terms_url%': path('terms_conditions'),
                '%privacy_url%': path('privacy')
            },
            'forms'
        ) | raw }}
    </div>

    <div class="form_row">
        {{ form_errors(form.subscribedAlienwareEvents) }}
        <div class="floating_form_container">
            {{ form_widget(form.subscribedAlienwareEvents) }}
            {{ 'fos_user_registration_form_subscribedAlienwareEvents' | trans({}, 'forms') }}
        </div>
    </div>

    <div class="form_row">
        {{ form_errors(form.subscribedGamingNews) }}
        <label>&nbsp;</label>
        {{ form_widget(form.subscribedGamingNews) }}
        {{ 'fos_user_registration_form_subscribedGamingNews' | trans({}, 'forms') }}
    </div>

    <div>
        <label>&nbsp;</label>
        <a href="{{ path('terms_conditions') }}" target="_blank">{{ 'platformd.user.register.terms_label' | trans }}</a>
        <a href="{{ path('privacy') }}" target="_blank">{{ 'platformd.user.register.privacy_label' | trans }}</a>
    </div>

    <div>
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="button" formnovalidate />
    </div>
</form>
