{% form_theme form theme %}
{% form_theme form.recaptcha 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

{% set username_error = '' %}
{% set email_error = '' %}
{% set password_error = '' %}
{% set firstname_error = '' %}
{% set lastname_error = '' %}
{% set state_error = '' %}
{% set news_source_error = '' %}
{% set accept_error = '' %}
{% set birthdate_error = '' %}
{% set invalid_captcha = '' %}

{% for error in errors %}
    {% if error.messageTemplate == 'fos_user.username.blank' %}
        {% set username_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.email.blank' %}
        {% set email_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.password.blank' %}
        {% set password_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'first_name_not_blank' %}
        {% set firstname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'last_name_not_blank' %}
        {% set lastname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'state_not_blank' %}
        {% set state_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'news_source_not_blank' %}
        {% set news_source_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'You must accept the terms and conditions and the privacy policy' %}
        {% set accept_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'birthdate_not_blank' %}
        {% set birthdate_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'This value is not a valid captcha' %}
        {% set invalid_captcha = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
{% endfor %}

<div class="std_2col">
    <div class="left">
        <div id="registrationArea">
            <h2>{{ 'platformd.user.register_title' | pd_trans }}</h2>
            {% if errors | length %}
            <div class="formErrors">
                <div class="error">
                    <div class="title">{{ 'platformd.user.register.oops' | pd_trans }}</div>
                    <div class="message text">{{ 'platformd.user.register.cannot_process' | pd_trans | format(path('contact')) | raw }}<br /><br />{{ 'platformd.user.register.problems_found' | pd_trans }}
                        <ul>
                            {% for error in errors %}
                            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="registration-requirements">
                <p>{{ 'platformd.user.register.requirements' | trans }}</p>
                <p>{{ 'platformd.user.register.already' | trans({'<': '<a href="'~path('fos_user_security_login')~'">', '>': '</a>'})|raw }}</p>
            </div>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form form-horizontal">

                <table border="0" width="100%" cellpadding="6" spacing="2" class="form-table" align="center">
                    <tbody>
                        <tr id="row_alias">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.username) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.username, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ username_error }}</span>
                            </td>
                        </tr>
                        {% for email in form.email %}
                        <tr id="row_email">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(email) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(email, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ email_error }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for plainPassword in form.plainPassword %}
                        <tr id="row_password">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(plainPassword) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(plainPassword, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ password_error }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr id="row_name_first">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.firstname) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.firstname, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ firstname_error }}</span>
                            </td>
                        </tr>
                        <tr id="row_name_last">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.lastname) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.lastname, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ lastname_error }}</span>
                            </td>
                        </tr>
                        <tr id="row_birthdate">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.birthdate) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.birthdate.year, {'attr' : {'class' : 'dob-select'}}) }}
                                <span>{{ 'year' | trans({}, 'forms') }}</span>
                                {{ form_widget(form.birthdate.month, {'attr' : {'class' : 'dob-select'}}) }}
                                <span>{{ 'month' | trans({}, 'forms') }}</span>
                                {{ form_widget(form.birthdate.day, {'attr' : {'class' : 'dob-select'}}) }}
                                <span>{{ 'day' | trans({}, 'forms') }}</span>
                                <br />
                                <span class="field-error-np">{{ birthdate_error }}</span>
                            </td>
                        </tr>
                        <tr id="row_address_country">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.country) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.country) }}
                                {{ form_errors(form.country) }}
                            </td>
                        </tr>
                        <tr id="row_address_state">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.state) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.state, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ state_error }}</span>
                            </td>
                        </tr>
                        <tr id="row_recaptcha">
                            <td class="form-title-cell" width="33%" align="right" valign="top"></td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.recaptcha, {'attr' : {'class' : 'registration-text'}}) }}
                                <span class="field-error">{{ invalid_captcha }}</span>
                            </td>
                        </tr>
                        <tr id="row_survey_ownership">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.hasAlienwareSystem) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.hasAlienwareSystem) }}
                            </td>
                        </tr>
                        <tr id="row_survey_discover">
                            <td class="form-title-cell" width="33%" align="right" valign="top">{{ form_label(form.latestNewsSource) }}</td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.latestNewsSource) }}
                                <br />
                                <span class="field-error-np">{{ news_source_error }}</span>
                            </td>
                        </tr>
                        <tr id="row_agreed_tos_privacy">
                            <td class="form-title-cell" width="33%" align="right" valign="top"><span class="required">*</span></td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.termsAccepted) }}

                                {{ 'fos_user_registration_form_termsAccepted' | trans(
                                    {
                                        '%terms_url%': path('terms_conditions'),
                                        '%privacy_url%': path('privacy')
                                    },
                                    'forms'
                                ) | raw }}
                                <br />
                                <span class="field-error-np">{{ accept_error }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-title-cell" width="33%" align="right" valign="top"></td>
                            <td class="form-element-cell" valign="top">
                                {{ form_widget(form.subscribedGamingNews) }}
                                {{ 'fos_user_registration_form_subscribedGamingNews' | trans({}, 'forms') | raw }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ form_rest(form) }}
                            </td>
                        </tr>
                        <tr id="row_">
                            <td class="form-title-cell" colspan="2" align="center">
                                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="button btn btn-primary btn-registration" formnovalidate />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="right">
    </div>
</div>
