{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>
    <i class="icon-pencil"></i>
    Contest edit
</h1>

<form action="{{ path('admin_contest_update', { 'slug': contest.slug }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {% include 'SpoutletBundle:ContestAdmin:_form.html.twig' with {
        'form': edit_form
    } %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>{{ 'save' | trans({}, 'admin') }}</button>
    </div>
</form>
</div>

<a href="{{ path('admin_contest_index') }}">
    Back to the list
</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/tags-admin.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'SpoutletBundle:CountryAgeRestrictionRule:_formJavascript.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#platformd_spoutletbundle_contesttype_tags').watermark('Separate tags with commas');
            $('#platformd_spoutletbundle_contesttype_tags').tagsInput();
        });
    </script>
{% endblock %}
