{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>Contest Entries</h1>

{% if (contest.votingEnd | date('Y-m-d H:i:s') < 'now' | date('Y-m-d H:i:s')) and (contest.winners == null) %}

    <p class="alert alert-info help"><i class="icon-info-sign"></i>
        This contest has now finished but a winner has not yet been chosen. Click <a href="{{ path('admin_contest_select_winner', { 'slug' : contest.slug }) }}">here</a> to choose a winner!
    </p>

{% endif %}

<a class="btn btn-primary" href="{{ path('admin_contest_entries_export', { 'slug' : slug }) }}" style="margin-bottom: 10px;">Export</a>

<form action="{{ path('admin_contest_entries_update', { 'slug' : slug }) }}" method="post" class="form-horizontal">

    <table class="table table-striped table-bordered tablesorter">
        <thead>
            <tr>
                <th>Image</th>
                <th>URL</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Entry Date</th>
                <th>IP Address</th>
                <th>Votes</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Country</th>
                <th>FB Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% if entries | length > 0 %}
            {% for entry in entries %}
                {% for media in entry.medias %}
                    <tr>
                        <td><img src="{{ media_path(media.image, {'local': true}) | imagine_filter('game_show_logo') }}" alt="{{ media.title }}" /></td>
                        <td><a href="{{ media_path_nice(media.image) }}">{{ media_path_nice(media.image) }}</a></td>
                        <td>{{ media.author.username }}</td>
                        <td>{{ media.author.firstname }}</td>
                        <td>{{ media.author.lastname }}</td>
                        <td>{{ media.createdAt | date }}</td>
                        <td>{{ entry.ipAddress }}</td>
                        <td>{% if media.votes | length > 0 %}<a href="{{ path('admin_contest_votes_export', { 'slug' : slug, 'id' : media.id }) }}">{{ media.votes | length }}</a>{% else %}0{% endif %}</td>
                        <td>{{ upVotes[media.id] }}%</td>
                        <td>{{ downVotes[media.id] }}%</td>
                        <td>{{ media.author.country }}</td>
                        <td>{{ likes[media.id] }}</td>
                        <td>
                            <div class="admin-contest-remove-entry">
                                <label for "contest_entry_delete[{{ media.id }}]">Remove from Contest</label>
                                <input type="checkbox" id="contest_entry_delete[{{ media.id }}]" name="contest_entry_delete[{{ media.id }}]" />
                            </div>
                            <div class="admin-contest-delete-media">
                                <label for "site_media_delete[{{ media.id }}]" style="color: #FF0000;">Remove from Site</label>
                                <input type="checkbox" id="site_media_delete[{{ media.id }}]" name="site_media_delete[{{ media.id }}]" />
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan=13>No entries found!</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary update-entries" formnovalidate>Submit</button>
    <a href="{{ path('admin_contest_entries', { 'slug' : slug }) }}" class="btn btn-primary" style="margin-left: 20px;">Clear</a>
</form>

<script type="text/javascript">
    jQuery(function($) {
        $("button.update-entries").bind("click", function(event) {
            if (!confirm("Are you sure you wish to remove the selected entries?")) {
                event.stopPropagation();
                event.preventDefault();

                return false;
            }

            $("<form />", { "method":"post", "action":$(this).attr("href")})
                .appendTo(jQuery('body'))
                .submit()
                .remove()
            ;
        })
    });
</script>

{% endblock %}
