{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<h1>Contests</h1>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Contest Name</th>
            <th>Type</th>
            <th>Sites</th>
            <th>URL</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for contest in contest %}
        <tr>
            <td><a href="{{ path('admin_contest_edit', { 'slug': contest.slug }) }}">{{ contest.name }}</a></td>
            <td>{{ contest.name }}</td>
            <td>{{ contest.sites }}</td>
            <td><a href="{{ contest.url }}">{{ contest.url }}</a></td>
            <td>{{ contest.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('admin_contest_new') }}">
    Create a new entry
</a>
{% endblock %}
