{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.giveaway_pool.admin.create" | trans }}{% endblock %}

{% block content %}
<div id="admin-events">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ "platformd.giveaway_pool.admin.title" | trans }}
            </div>
        </div>
        
        <div class="widget-content">
            <table width="100%">
                <tbody>
                    <tr>
                        <th>{{ "platformd.giveaway_pool.pool" | trans }}</th>
                        {% if app.user.isSuperAdmin %}
                            <th>{{ "platformd.help.actions" | trans }}</th>
                        {% endif %}
                    </tr>
                    {% for pool in pools %}
                    <tr class="eventListGroup_online">
                        <td><a href="{{ path('admin_giveaway_pool_edit', { 'id' : pool.id }) }}">{{ pool.description }}</a></td>
                        {% if app.user.isSuperAdmin %}
                            <td>
                                <a href="{{ path('admin_giveaway_pool_edit', { 'id' : pool.id }) }}">Edit</a> | delete
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="widget-footer">
            <a class="aw-link" href="{{ path('admin_giveaway_pool_new') }}" style="margin-right:10px;">{{ "platformd.giveaway_pool.admin.create" | trans }}</a>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div style="width:100%;text-align:right;padding-top:20px;"></div>

{% endblock %}
