{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Edit Game Page' %}

{% block content %}
<h1>
    <i class="icon-pencil"></i>
    Edit Game Page
</h1>

<form action="{{ path('admin_game_page_update', { 'id': gamePage.id, 'site': site }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {% include 'SpoutletBundle:GamePageAdmin:_form.html.twig' with {
        'form': edit_form
    } %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>{{ 'save' | trans({}, 'admin') }}</button>
    </div>
</form>

{% if site %}
    <a href="{{ path('admin_game_page_site', { 'site': site }) }}">
        Back to the list
    </a>
{% else %}
    <a href="{{ path('admin_game_page') }}">
        Back to the list
    </a>
{% endif %}
{% endblock %}