{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<h1>Game Pages</h1>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Sites</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for gamePage in entities %}
        <tr>
            <td><a href="{{ path('admin_game_page_edit', { 'id': gamePage.id, 'site': site }) }}">{{ gamePage.game.name }}</a></td>
            <td>
                {# todo - change to the real URL #}
                {% set url = url('default_index', {'slug': gamePage.slug, '_locale': site }) %}
                <a href="{{ url }}" target="_blank">{{ url }}</a>
            </td>
            <td>
                {% for locale in gamePage.gamePageLocales %}
                    {{ locale.locale | site_name }}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('admin_game_page_edit', { 'id': gamePage.id, 'site': site }) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                <em>There are no game pages currently!</em>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('admin_game_page_new', { 'site': site }) }}">
    Create a new game page
</a>
{% endblock %}