{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Reports' %}

{% block content %}
<h1>Reports</h1>
<div class="row-fluid">
    <div class="span6 well">
        <form method="post" action="{{ path('admin_export_queries_reports') }}" class="form-horizontal">
            {{ form_errors(form) }}

            {{ form_row(form.reportTypes) }}
            {{ form_row(form.fromDate) }}
            {{ form_row(form.thruDate) }}

            {{ form_rest(form) }}

            <div class="form-actions">
                <input type="submit" value="Generate Report" class="btn btn-primary" formnovalidate />
            </div>
        </form>
    </div>
</div>
{% endblock %}
