{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<div>
    {{ form_errors(form) }}
    <div class="span11">
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.galleries) }}
        {{ form_row(form.groups) }}

        {% if form.featured is defined %}
            {{ form_row(form.featured) }}
        {% endif %}

    </div>

    {{ form_rest(form) }}
</div>
