{% if type == 'popular' %}
    {# because the DQL returns an assoc array with the vote count in it, we have to index the first key in the array for the GalleryMedia object #}
    {% for media in medias %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('gallery_media_show', { id: media[0].id }) }}">
                    <img class="media-thumb" title="{{ media[0].title }}" src="{{ media_path(media[0].image, {'local': true}) | imagine_filter('media_photo_thumb') }}" />
                </a>
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('gallery_media_show', { id: media[0].id }) }}">{{ media[0].title }}</a>
                <div>by: <a href="{{ path('accounts_profile', {username: media[0].author.username}) }}">{{ media[0].author.username }}</a></div>
            </div>
        </div>
    {% else %}
        <p>{{ 'galleries.index_page_no_media_found' | trans }}</p>
    {% endfor %}
{% else %}
    {% for media in medias %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('gallery_media_show', { id: media.id }) }}">
                    <img class="media-thumb" title="{{ media.title }}" src="{{ media_path(media.image, {'local': true}) | imagine_filter('media_photo_thumb') }}" />
                </a>
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('gallery_media_show', { id: media.id }) }}">{{ media.title }}</a>
                <div>by: <a href="{{ path('accounts_profile', {username: media.author.username}) }}">{{ media.author.username }}</a></div>
            </div>
        </div>
    {% else %}
        <p>{{ 'galleries.index_page_no_media_found' | trans }}</p>
    {% endfor %}

{% endif %}

