{% set reportContentType    = 'GalleryMedia' %}

{% if type == 'popular' %}
    {# because the DQL returns an assoc array with the vote count in it, we have to index the first key in the array for the GalleryMedia object #}
    {% for media in medias %}
        {% set isVotable = (media.contestEntry is null or media.contestEntry.contest is null or media.contestEntry.contest.isVotable()) %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}" style="text-align:left;{% if not isFirstInRow %}margin: 0 0 0 18px;{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('gallery_media_show', { id: media[0].id }) }}">
                    <img class="media-thumb lazy" title="{{ media[0].title }}" src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" data-src="{{ media[0].image | imagine_filter('media_photo_thumb') }}" />
                    </a>
                {% if isVotable %}
                    <span data-user-logged-in="true">
                        <span  data-media-vote-id="{{ media[0].id }}">
                            <div class="thumbnail-vote-caption">
                                <a href="javascript:void(0);" class="quick-vote-link" media-data="{{ media[0].id }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                            </div>
                        </span>
                    </span>
                    <span data-user-logged-in="false">
                        <div class="thumbnail-vote-caption">
                            <a class="reg-source" href="{{ login_link(url('gallery_index') ~ '?vote=' ~ media[0].id) }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                        </div>
                    </span>
                {% endif %}
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('gallery_media_show', { id: media[0].id }) }}">{{ media[0].title }}</a>
                <div>{{ 'galleries.by' | trans }} <a class="media-owner" href="{{ account_link(media[0].author.username) }}">{{ media[0].author.username }}</a></div>
            </div>
        </div>
    {% else %}
        <p>{{ 'galleries.index_page_no_media_found' | trans }}</p>
    {% endfor %}
{% else %}
    {% for media in medias %}
        {% set isVotable = (media.contestEntry is null or media.contestEntry.contest is null or media.contestEntry.contest.isVotable()) %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}" style="text-align:left;{% if not isFirstInRow %}margin: 0 0 0 18px;{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('gallery_media_show', { id: media.id }) }}">
                    <img class="media-thumb lazy" title="{{ media.title }}" src="{{ asset('bundles/spoutlet/images/alienwarelogothumb-140x85.png') }}" data-src="{{ media.image | imagine_filter('media_photo_thumb') }}" />
                    </a>
                {% if isVotable %}
                    <span data-user-logged-in="true">
                        <span  data-media-vote-id="{{ media.id }}">
                            <div class="thumbnail-vote-caption">
                                <a href="javascript:void(0);" class="quick-vote-link" media-data="{{ media.id }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                            </div>
                        </span>
                    </span>
                    <span data-user-logged-in="false">
                        <div class="thumbnail-vote-caption">
                            <a class="reg-source" href="{{ login_link(url('gallery_index') ~ '?vote=' ~ media.id) }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                        </div>
                    </span>
                {% endif %}
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('gallery_media_show', { id: media.id }) }}">{{ media.title }}</a>
                <div>{{ 'galleries.by' | trans }} <a class="media-owner" href="{{ account_link(media.author.username) }}">{{ media.author.username }}</a></div>
            </div>
            <div class="image-actions">
                <a href="javascript:void(0);" class="report-content" report-data="{{ media.id }}">{{ 'content_reporting.report' | trans }}</a>
            </div>
        </div>
    {% else %}
        <p>{{ 'galleries.index_page_no_media_found' | trans }}</p>
    {% endfor %}

{% endif %}

{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
{% include 'SpoutletBundle:Gallery:_quickVoteJavascript.html.twig' %}

<script type="text/javascript">
    $('.reg-source').click(function() {
        addSourceInfo(this, '{{ regSourceData | base64_encode }}');
    });

    for (var i = 0; i < voted_media_ids.length; i++) {
        $('[data-media-vote-id="' + voted_media_ids[i] + '"]').hide();
    }

    if (user_is_logged_in) {
        $('[data-user-logged-in="true"]').show();
        $('[data-user-logged-in="false"]').hide();
    } else {
        $('[data-user-logged-in="true"]').hide();
        $('[data-user-logged-in="false"]').show();
    }

    $('.gallery-media-thumb').hover(function() {
        $(this).find('div.thumbnail-vote-caption').stop(false,true).fadeIn(200);
    }, function() {
        $(this).find('div.thumbnail-vote-caption').stop(false,true).fadeOut(200);
    });

    $('img.lazy').lazyLoad();
</script>

