<div class="media-voting">
    <div style="padding:5px 5px 0 5px;text-align: center;">
        <input type="hidden" id="media-id" />
        <div class="media-voting-wrapper">
            <div style="display:inline-table;font-size:16px;height:30px;vertical-align:middle;padding-right:10px;">
                {{ 'galleries.vote_now' | trans }}
            </div>
            <div style="display:inline-table;margin-top:3px">
                <a class="media-voting-button up" id="media-voting-vote-up" href="javascript:void(0);"></a>
            </div>
            <div style="display:inline-table;margin-top:3px">
                <a class="media-voting-button down" id="media-voting-vote-down" href="javascript:void(0);"></a>
            </div>
        </div>
        <div id="media-voting-vote-response" style="display: none;">
            {{ 'galleries.vote_success' | trans }}
        </div>
        <div id="media-voting-login-required" style="display: none;">
            You must be <a href="http://alienwarearena.com/account/login?return={{ app.request.uri | url_encode }}">logged in</a> to vote.
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $('#media-voting-vote-up').click(function () {
            $('.media-voting-wrapper').fadeOut();
            $.ajax({
                url: '{{ path('gallery_media_vote')}}',
                type: 'post',
                data: JSON.stringify({
                    'id' : {% if mediaId is defined %}'{{ mediaId }}'{% else %}$('#media-id').val(){% endif %},
                    'voteType' : 'up'
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        if (data.messageForUser == 'FORCE_LOGIN_TO_VOTE') {
                            $('#media-voting-login-required').fadeIn();
                        } else {
                            $('#media-voting-vote-response').text(data.messageForUser);
                            $('#media-voting-vote-response').fadeIn();
                        }
                    } else {
                        $('#media-voting-vote-response').fadeIn();
                            $('#media-upvotes').hide();
                            $('#media-upvotes').text(data.messageForUser);
                            $('#media-upvotes').fadeIn();
                            $('#media-downvotes').hide();
                            $('#media-downvotes').text(100-$('#media-upvotes').text);
                            $('#media-downvotes').fadeIn();
                    }
                    $('#close-dialog').text('Close');
                }
            })
        });

        $('#media-voting-vote-down').click(function () {
            $('.media-voting-wrapper').fadeOut();
            $.ajax({
                url: '{{ path('gallery_media_vote')}}',
                type: 'post',
                data: JSON.stringify({
                    'id' : {% if mediaId is defined %}'{{ mediaId }}'{% else %}$('#media-id').val(){% endif %},
                    'voteType' : 'down'
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        if (data.messageForUser == 'FORCE_LOGIN_TO_VOTE') {
                            $('#media-voting-login-required').fadeIn();
                        } else {
                            $('#media-voting-vote-response').text(data.messageForUser);
                            $('#media-voting-vote-response').fadeIn();
                        }
                    } else {
                        $('#media-voting-vote-response').fadeIn();
                            $('#media-upvotes').hide();
                            $('#media-upvotes').text(data.messageForUser);
                            $('#media-upvotes').fadeIn();
                            $('#media-downvotes').hide();
                            $('#media-downvotes').text(100-parseInt(data.messageForUser));
                            $('#media-downvotes').fadeIn();
                    }
                    $('#close-dialog').text('Close');
                }
            })
        });
    });
</script>
