{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}
<div class="page-form">
    {{ form_errors(form) }}
    <p>
        <div>
            <span style="font-weight:bold;">{{ 'galleries.submit_photo_step1' | trans }}</span>
            {{ 'galleries.submit_photo_step1_detail' | trans }}
        </div>
    </p>
    <p>
        <span style="font-weight:bold;">{{ 'galleries.submit_photo_file_restrictions' | trans }}</span>
        <ul>
            <li>{{ 'galleries.submit_photo_restriction1' | trans}}</li>
            <li>{{ 'galleries.submit_photo_restriction2' | trans}}</li>
            <li>{{ 'galleries.submit_photo_restriction3' | trans}}</li>
            <li>{{ 'galleries.submit_photo_restriction4' | trans}}</li>
            <li>{{ 'galleries.submit_photo_restriction5' | trans}}</li>
        </ul>
    </p>
    <ul class="medias-list clearfix row-fluid" data-prototype="{{ form_widget(form.galleryImages.get('prototype')) | e }}">
        {# see the CSS file this explanation #}
        <li class="dummy" style="list-style: none;"></li>
        {% for mediaForm in form.galleryImages %}
            <li class="span5 image-li existing-element" style="list-style: none;">{{ form_row(mediaForm) }}</li>

            {% if loop.index is even %}
                <li class="clear"></li>
            {% endif %}
        {% endfor %}
    </ul>

    {{ form_widget(form.galleryImages) }}
</div>
