{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title media.title %}

{% block content %}
<form action="{{ path('gallery_edit_media', {id: media.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'SpoutletBundle:Gallery:_editImageForm.html.twig' %}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save Photo</button>
    </div>
</form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}
