{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title media.title %}

{% block content %}
<div class="form-horizontal">
    <div class="span11">
        <div class="control-group">
            <label class="control-label">{{ 'galleries.image' | trans }}</label>
            <div class="controls">
                <img style="width: 177px; height: 107px;" src="{{ media_path(media.image, {'local': true}) | imagine_filter('media_photo_thumb') }}" alt="{{ media.title }}" />
            </div>
        </div>
    </div>
</div>
<form action="{{ path('gallery_edit_media', {id: media.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'SpoutletBundle:Gallery:_editImageForm.html.twig' %}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{{ 'galleries.save_image' | trans }}</button>
        <button class="btn btn-primary" id="delete-media" rel="{{ path('gallery_delete_media', { 'id' : media.id })}}" style="margin-left: 10px;">{{ 'delete' | trans }}</button>
    </div>
</form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
           $('#delete-media').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
