{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<h3>{{ 'galleries.submit_photo_page_header' | trans }}</h3>

<div class="std_2col">
    <div class="left">
        <div class="form-horizontal">
            <div class="span11">
                <div class="control-group ">
                    <label class="control-label" for="media-title">Image Name</label>
                    <div class="controls">
                        <input type="text" id="media-title" name="media-title" required="required" maxlength="255" class="photo-title form-txt">
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label" for="media-description">Description</label>
                    <div class="controls">
                        <textarea id="media-description" name="media-description" required="required" maxlength="512" class="photo-description"></textarea>
                    </div>
                </div>
                <div id="platformd_spoutletbundle_gallery_media_galleries">
                    <div class="control-group ">
                        <label class="control-label">Galleries</label>
                        <div class="controls">
                            {% for gallery in galleries %}
                                <label class="checkbox">
                                    <input type="checkbox" id="gallery-{{ gallery.id }}" name="gallery-{{ gallery.id }}" value="gallery.id" />
                                    {{ gallery.name }}
                                </label>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <input type="hidden" id="media-id" name="media-id" />
            </div>
        </div>
        <div class="form-actions">
            <button id="publish-photo" class="btn btn-primary" formnovalidate>Publish</button>
        </div>
    </div>
    <div class="right">
        {% for media in medias %}
            <div class="gallery-media-wrapper">
                <img title="{{ media.title }}" class="gallery-media" data-title={{ media.title }} data-id="{{ media.id }}" src="{{ media_path(media.image, {'local': true}) | imagine_filter('image_thumb') }}" />
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            $('#publish-photo').click(function () {
                var url = '{{ path('gallery_publish_photo') }}';

                $.ajax({
                    type: 'post',
                    url: url,
                    data: JSON.stringify({
                        'id' : $('#media-id').val(),
                        'title' : $('#media-title').val(),
                        'description' : $('#media-description').val()
                    }),
                    contentType: 'application/json',
                    success: function(data) {
                        alert(data.message);
                    }
                });
            });

            $('.gallery-media').click(function () {
                $('.gallery-media').removeClass('active');
                $(this).addClass('active');
                var title = $(this).attr('data-title');
                var id = $(this).attr('data-id');
                $('#media-title').val(title);
                $('#media-id').val(id);
            });

            $('.gallery-media').qtip({
                style: {
                    border: {
                        width: 2,
                        radius: 5 },
                        padding: 10,
                        tip: true,
                        name: 'dark'
                    },
                    position: {
                        corner: {
                            tooltip: 'leftMiddle',
                            target: 'rightMiddle'
                    }
                }
            });

            $('.gallery-media').hover(
                function () {

                    $(this).addClass('active');
                },
                function () {
                    var selected = $('#media-id').val();
                    var current = $(this).attr('data-id');

                    if(current == selected) {
                        return;
                    }
                    $(this).removeClass('active');
                }
            );
        });
    </script>
{% endblock %}
