{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title gallery.name %}

{% block content %}
<h3>{{ gallery.name }}</h3>
<div class="std_2col">
    <div class="left">
        <div style="float: left">
            <a href="{{ path('gallery_submit') }}" class="btn btn-primary">{{ 'galleries.submit_photo_page_title' | trans }}</a>
        </div>
        <div style="float: right;margin-right: 10px;" class="styled-select">
            <select id="media-filter-options">
                <option value="latest" {% if sort == 'latest' %}selected="selected"{% endif %}>{{ 'galleries.gallery_filter_option_latest' | trans }}</option>
                <option value="popular" {% if sort == 'popular' %}selected="selected"{% endif %}>{{ 'galleries.gallery_filter_option_popular' | trans }}</option>
            </select>
        </div>
        <div class="page_container">
            <div class="gallery-items content" style="min-height: 468px;width:636px;">
                {% if sort == 'popular' %}
                    {% for media in medias %}
                        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
                        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
                            <div class="gallery-media-thumb">
                                <a href="{{ path('gallery_media_show', { id: media[0].id }) }}">
                                    <img class="media-thumb" title="{{ media[0].title }}" src="{{ media_path(media[0].image, {'local': true}) | imagine_filter('media_photo_thumb') }}" />
                                </a>
                            </div>
                            <div style="width:135px;">
                                <a class="media-title" href="{{ path('gallery_media_show', { id: media[0].id }) }}">{{ media[0].title }}</a>
                                <div>by: <a href="{{ path('accounts_profile', {username: media[0].author.username}) }}">{{ media[0].author.username }}</a></div>
                            </div>
                            <input type="hidden" value="{{ media[0].createdAt | date('m-d-Y') }}" class="media-date" />
                            <input type="hidden" value="{{ media[0].views }}" class="media-popular" />
                        </div>
                    {% endfor %}
                {% else %}
                    {% for media in medias %}
                    {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
                        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
                            <div class="gallery-media-thumb">
                                <a href="{{ path('gallery_media_show', { id: media.id }) }}">
                                    <img class="media-thumb" title="{{ media.title }}" src="{{ media_path(media.image, {'local': true}) | imagine_filter('media_photo_thumb') }}" />
                                </a>
                            </div>
                            <div style="width:135px;">
                                <a class="media-title" href="{{ path('gallery_media_show', { id: media.id }) }}">{{ media.title }}</a>
                                <div>by: <a href="{{ path('accounts_profile', {username: media.author.username}) }}">{{ media.author.username }}</a></div>
                            </div>
                            <input type="hidden" value="{{ media.createdAt | date('m-d-Y') }}" class="media-date" />
                            <input type="hidden" value="{{ media.views }}" class="media-popular" />
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="page_navigation" style="float: right;margin-right: 10px;"></div>
        </div>
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/forms.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/spoutlet/js/jquery.truncate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/spoutlet/js/jquery.pajinate.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            var sortMedia = function (a, b) {
                var option = $('#media-filter-options').val();

                if(option == 'latest') {
                    var date1 = $(a).find('.media-date').val();
                    date1 = date1.split('-');
                    date1 = new Date(date1[2], date1[1] - 1, date1[0]);
                    var date2 = $(b).find('.media-date').val();
                    date2 = date2.split('-');
                    date2 = new Date(date2[2], date2[1] - 1, date2[0]);

                    return date1 < date2;
                }

                if(option == 'popular') {
                    var rating1 = $(a).find('.media-popular').val();
                    var rating2 = $(b).find('.media-popular').val();

                    return rating1 < rating2;
                }

            }

            $('#media-filter-options').change(function () {
                var sort = $(this).val();
                window.location = '{{ path('gallery_gallery_show', { slug : gallery.slug }) }}' + '/' + sort;
            });

            $('.media-title').truncate({
                width: 115,
            });

            $('.page_container').pajinate({
                items_per_page: 16,
                show_first_last: false,
            });
        });
    </script>
{% endblock %}
