{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'galleries.index_page_title' | trans %}

{% block content %}

<h3 style="font-weight:bold;font-size:17px;padding:0 0 10px 0;">{{ 'galleries.index_page_header' | trans }}</h3>
<div class="std_2col">
    <div class="left">
        {% if medias | length > 0 %}
        <div style="width: 636px; height: 295px;background-color: #4e4e4e">
            <div class="slider-wrapper theme-nivo">
                <div id="slider" class="nivoSlider">
                    {% for media in medias %}
                        <img src="{{ media_path(media.image, {'local': true}) | imagine_filter('nivo_slider') }}" alt="" />
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="widget-66" style="margin: 15px auto;">
            <div class="widget-header">
                <div class="widget-title">
                    Featured
                </div>
            </div>
            <div class="widget-content">
                <div id="deal-description">


                </div>
            </div>
        </div>
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/js/nivo-slider/nivo-slider.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/js/nivo-slider/themes/nivo/nivo.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/spoutlet/js/nivo-slider/jquery.nivo.slider.pack.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#slider').nivoSlider();
        });
    </script>
{% endblock %}
