{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'galleries.submit_photo_page_title' | trans %}

{% block content %}
<h3>{{ 'galleries.submit_photo_page_header' | trans }}</h3>

<div class="std_2col">
    <div class="left">
        <form action="{{ path('gallery_submit') }}" method="post" {{ form_enctype(form) }}>
            {% include 'SpoutletBundle:Gallery:_submitImageForm.html.twig' %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Save Photos</button>
                <button id="cancel" class="btn btn-primary" rel="{{ path('gallery_index') }}" style="margin-left: 10px;">Cancel</button>
            </div>
        </form>
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'SpoutletBundle:GamePageAdmin:_formJavascript.html.twig' %}
    <script type="text/javascript">
        $(function() {


            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
