{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<div class="game-page-form">
    {{ form_errors(form) }}

        <div class="span11">
            {{ form_row(form.name) }}
            <div class="styled-select">
                {{ form_row(form.category) }}
            </div>
            {{ form_widget(form.groupAvatar) }}
            {{ form_widget(form.backgroundImage) }}
            {{ form_row(form.description) }}
            {{ form_row(form.howToJoin) }}
            {{ form_row(form.isPublic) }}

            {% if form.sites is defined %}
                {{ form_row(form.sites) }}
                {{ form_row(form.allLocales) }}
            {% endif %}

            {{ form_row(form.location) }}
        </div>
    {{ form_rest(form) }}
</div>
