<div>
    {% if newsForm is defined %}

        <form action="{{ newsFormAction }}" method="post" {{ form_enctype(newsForm) }} class="form-horizontal">

            {% form_theme newsForm 'SpoutletBundle:Admin:normalLabel.html.twig' %}
            {% form_theme newsForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

            {{ form_errors(newsForm) }}

            <div class="row-fluid">
                <fieldset>
                    <legend>a) Basic Information</legend>
                        <div class="row-fluid first">
                            <div class="span6">
                                {{ form_row(newsForm.title) }}
                                {{ form_row(newsForm.article) }}
                            </div>
                        </div>
                </fieldset>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" formnovalidate>Post News</button>
            </div>

            {{ form_rest(newsForm) }}

        </form>

    {% else %}

        {% if userIsAdminOrOwner %}
            <a href='{{ path('group_add_news', {'id' : group.id }) }}'>Add News</a>
        {% endif %}

        {% if groupNews is defined %}

            {% for article in groupNews %}

                <div class="group-news-item" style="margin: 20px;">
                    <div class="group-news-actions">

                        {% if userIsAdminOrOwner %}
                            <a href="{{ path('group_delete_news', { 'id' : group.id, 'newsId' : article.id })}}" onclick="return confirm('Are you sure you want to delete this news article?');">delete</a> |
                            <a href="{{ path('group_edit_news', { 'id' : group.id, 'newsId' : article.id })}}">edit</a> |
                        {% endif %}

                        report

                    </div>
                    <div class="group-news-title">{{ article.title }}</div>
                    <div class="group-news-author">{{ article.author.username }}</div>
                    <div class="group-news-date">{{ article.createdAt | date }}</div>
                    <div class="group-news-article">

                        {% if (article.article | length) > 140 %}
                            {{ article.article | slice(0, 139) ~ '…' }}
                        {% else %}
                            {{ article.article }}
                        {% endif %}

                    </div>
                </div>
            {% else %}
                <p>No news articles yet... please come back later!</p>
            {% endfor %}
        {% else %}
            <p>No news articles yet... please come back later!</p>
        {% endif %}
    {% endif %}
</div>
