{% set site = get_current_site() %}
<div class="groups-sub-nav">
    <ul>
        <li><a href="{{ path('group_show', {'id' : group.id }) }}">Group Home</a></li>
        {% if group.isAllowedTo(app.user, site, 'EditGroup') %}
            <li><a href="{{ path('group_edit', { 'id': group.id }) }}">Group Settings</a></li>
        {% endif %}
        {% if group.isAllowedTo(app.user, site, 'ManageApplications') %}
            <li><a href="{{ path('group_applications', { 'id': group.id }) }}">Member Approvals</a></li>
        {% endif %}
        {% if group.isAllowedTo(app.user, site, 'LeaveGroup') %}
            <li><a href="{{ path('group_leave', { 'id': group.id }) }}" onclick="return confirm('Are you sure you want to leave this group?');">Leave Group</a></li>
        {% endif %}
        {% if group.isAllowedTo(app.user, site, 'ApplyToGroup') %}
            <li><a href="{{ path('group_apply', { 'id': group.id }) }}">Apply to Join Group</a></li>
        {% endif %}
        <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
        <li><a href="{{ path('group_new') }}">Create Group</a></li>
        <li><a href="{{ path('groups') }}">Find Group</a></li>
    </ul>
</div>
