{% extends 'SpoutletBundle::layout.html.twig' %}
{% block title 'Groups - ' ~ group.name %}

{% set openGraphThumb = app.request.getScheme ~ '://' ~ app.request.getHost ~ '/bundles/spoutlet/images/groups/groups_og.jpg' %}
{% if group.backgroundImage %}
    {% set customPageBackgroundImage = media_path(group.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% block page_background_image customPageBackgroundImage %}

{% block content %}
<div class="std_2col" style="padding: 0;">
    <div class="left">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% endif %}
        </div>
    </div>
    <div class="right">
    </div>
</div>
<div class="std_1col" style="padding: 0;">
    {% include 'SpoutletBundle:Group:_subNav.html.twig' %}
</div>
<div class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
    <div class="left">
        <form action="{{ newsFormAction }}" method="post" {{ form_enctype(newsForm) }} class="form-horizontal">

            {% form_theme newsForm 'SpoutletBundle:Admin:normalLabel.html.twig' %}
            {% form_theme newsForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

            {{ form_errors(newsForm) }}

            <div class="span7 edit-news">
                {{ form_row(newsForm.title) }}
                {{ form_row(newsForm.article) }}
                <div class="form-actions">
                    <button type="submit" formnovalidate>Post News</button>
                    <button id="cancel" class="btn btn-primary" rel="{{ group | pd_link }}" style="margin-left: 10px;">Cancel</button>
                </div>
            </div>
            {{ form_rest(newsForm) }}

        </form>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
