{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="std_2col" style="padding: 0;">
    <div class="left">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(application.groupAvatar) }}" />
            {% endif %}
        </div>
    </div>
    <div class="right"></div>
</div>
<div class="std_1col" style="padding: 0;">
    {% include 'SpoutletBundle:Group:_subNav.html.twig' %}
</div>

<div class="widget-100">
    <div class="widget-header">
        <div class="widget-title">Applications</div>
    </div>
    <div class="widget-content">
        <table style="width: 100%;" class="table table-striped table-bordered tablesorter">
            <tbody><tr>
                <th style="width:25%;">Username</th>
                <th style="width:25%;">Date</th>
                <th style="width:25%;">Action</th>
            </tr>
            {% for application in applications %}
                <tr class="eventListGroup_lan">
                    <td>
                        {{ application.applicant.username }}
                    </td>
                    <td>
                        {{ application.createdAt | date('F d, Y') }}
                    </td>
                    <td>
                        <a href="{{ path('group_accept_application', { 'id': application.group.id, 'applicationId' : application.id }) }}" onclick="return confirm('Are you sure you want to accept \'{{ application.applicant.username }}\' to join your group?');">Accept</a> |
                        <a href="{{ path('group_reject_application', { 'id': application.group.id, 'applicationId' : application.id }) }}" onclick="return confirm('Are you sure you want to reject \'{{ application.applicant.username }}\' from joining your group?');">Reject</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        <em>There are no applications!</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="widget-footer">&nbsp;</div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
