{% set reportContentType    = 'GroupImage' %}
{% set site                 = get_current_site() %}
{% set canAdd               = group.isAllowedTo(app.user, site, 'AddImage') %}
{% set canEdit              = group.isAllowedTo(app.user, site, 'EditImage') %}
{% set canDelete            = group.isAllowedTo(app.user, site, 'DeleteImage') %}

{% if canAdd %}
    <a href='{{ path('group_add_image', {'id' : group.id }) }}'>Add Image</a>
{% endif %}
{% if groupImage is defined %}

    {% for image in groupImage %}

        <div class="group-image-item" style="margin: 20px;">
            <div class="group-image-actions">
                {% if canDelete %}
                    <a href="{{ path('group_delete_image', { 'id' : group.id, 'imageId' : image.id })}}" onclick="return confirm('Are you sure you want to delete this image image?');">delete</a>
                {% endif %}
                {% if canEdit %}
                    <a href="{{ path('group_edit_image', { 'id' : group.id, 'imageId' : image.id })}}">edit</a>
                {% endif %}
                <a href="javascript:void(0);" class="report-content" report-data="{{ image.id }}">report</a>
            </div>
            <div class="group-image-image">
                <a href="{{ media_path(image.image, {'local': true}) | imagine_filter('lightbox_medium') }}" rel="lightbox" style="border:none;">
                    <img src="{{ media_path(image.image, {'local': true}) | imagine_filter('image_thumb_small') }}" alt="{{ image.title }}" rel="lightbox" />
                </a>
                <div>
                    {% if image.title | length > 25  %}
                        {{ image.title | slice(0, 25) ~ '…' }}
                    {% else %}
                        {{ image.title }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No images yet... please come back later!</p>
    {% endfor %}
{% else %}
    <p>No images yet... please come back later!</p>
{% endif %}
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
