{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="groups-sub-nav">
    <ul>
        <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
        <li><a href="{{ path('group_new') }}">Create Group</a></li>
    </ul>
</div>

<div class="widget-100">
    <div class="widget-header">
        <div class="widget-title">Alienware Arena Groups</div>
    </div>
    <div class="widget-content">
        <table style="width: 100%;" class="table table-striped table-bordered tablesorter">
            <tbody><tr>
                <th style="width:25%;">Name</th>
                <th style="width:25%;">Member Count</th>
                <th style="width:25%;">Status</th>
                <th style="width:25%;">Actions</th>
            </tr>
            {% for group in entities %}
                <tr class="eventListGroup_lan">
                    <td>
                        {% if group.isAllowedTo(app.user, site, 'ViewGroup') %}
                            <a href="{{ path('group_show', { 'id': group.id }) }}">{{ group.name }}</a>
                        {% else %}
                            {{ group.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ group.members.count }}
                    </td>
                    <td>
                        {% if group.isPublic %}
                            <span class="label label-success">Public</span>
                        {% else %}
                            <span class="label label-warning">Private</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if group.isAllowedTo(app.user, site, 'LeaveGroup') %}
                            <a href="{{ path('group_leave', { 'id': group.id }) }}" onclick="return confirm('Are you sure you want to leave this group?');">Leave Group</a>
                        {% endif %}
                        {% if group.isAllowedTo(app.user, site, 'JoinGroup') %}
                            <a href="{{ path('group_join', { 'id': group.id }) }}">Join Group</a>
                        {% endif %}
                        {% if group.isAllowedTo(app.user, site, 'ApplyToGroup') %}
                            <a href="{{ path('group_apply', { 'id': group.id }) }}">Apply to Join Group</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        <em>There are no groups!</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="widget-footer">&nbsp;</div>
</div>

{% endblock %}
