{% if userIsAdminOrOwner %}
    <a href='{{ path('group_add_news', {'id' : group.id }) }}'>Add News</a>
{% endif %}
{% set reportContentType = 'GroupNews' %}
{% if groupNews is defined %}

    {% for article in groupNews %}

        <div class="group-news-item" id="news-item-{{ article.id }}" style="margin: 20px;">
            <div class="group-news-actions">
                {% if userIsAdminOrOwner %}
                    <a href="{{ path('group_delete_news', { 'id' : group.id, 'newsId' : article.id })}}" onclick="return confirm('Are you sure you want to delete this news article?');">delete</a> |
                    <a href="{{ path('group_edit_news', { 'id' : group.id, 'newsId' : article.id })}}">edit</a> |
                {% endif %}
                <a href="javascript:void(0);" class="report-content" report-data="{{ article.id }}">report</a>
            </div>
            <h2>{{ article.title }}</h2>
            <div class="group-news-date">Announced on {{ article.createdAt | date('F d, Y') }}</div>
            <div class="group-news-article">
                {{ article.article | raw }}
            </div>
        </div>
        <a href="javascript:void(0);" class="show-more-news" rel="{{ article.id }}">Show More</a>
    {% else %}
        <p>No news articles yet... please come back later!</p>
    {% endfor %}
{% else %}
    <p>No news articles yet... please come back later!</p>
{% endif %}
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
<script type="text/javascript">
    $(function () {
        $('.show-more-news').click(function (e) {
            e.stopPropagation();

            var id = $(this).attr('rel');
            var h = $('#news-item-' + id)[0].scrollHeight;

            $('#news-item-' + id).animate({
                'height': h
            });
        });
    });
</script>
