{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'Groups - ' ~ group.name %}

{# block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ gamePage.game.name }}" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    {% if gamePage.openGraphOverride %}
        {% if gamePage.openGraphOverride.thumbnail %}
            {% set thumbUrl = media_path(gamePage.openGraphOverride.thumbnail) %}
            <meta property="og:image" content="{{ thumbUrl }}" />
        {% endif %}
        {% if gamePage.openGraphOverride.description %}
            <meta property="og:description" content="{{ gamePage.openGraphOverride.description | striptags }}" />
        {% endif %}
    {% endif %}
{% endblock #}

{# either set the custom background image, or leave it to false #}
{% if group.backgroundImage %}
    {% set customPageBackgroundImage = media_path(group.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% set inviteThumb = app.request.getScheme ~ '://' ~ app.request.getHost ~ '/bundles/spoutlet/images/groups/groups_og.jpg' %}

{% block page_background_image customPageBackgroundImage %}

{% block content %}
    <div class="std_2col">
        <div class="left">
            <div id="group-avatar">
                {% if group.groupAvatar %}
                    <img src="{{ media_path(group.groupAvatar, {'local': true}) | imagine_filter('image_thumb') }}" />
                {% else %}
                    [None Set]
                {% endif %}
            </div>
        </div>
        <div class="right">
            JOIN GROUP
            <a href="#" id="group-invite">Invite Friends</a>
        </div>
    </div>
    <div class="std_2col">
        <div class="right">
            <div class="widget-33">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ group.name }}
                    </div>
                </div>
                <div class="widget-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi velit. Sed placerat orci odio.
                </div>
            </div>
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
            {% if group.location and group.category == 'location' %}
                <input id="location-value" type="hidden" value="{{ group.location.getFormattedLocation }}" />
                <div id="google-map-location"></div>
            {% endif %}
        </div>
        <div class="left">
            <div class="widget-66" id="featured-content">
                <div class="featured-content-header">
                    <a href="javascript:void(0);" id="group-news" class="active">News</a>
                    <a href="javascript:void(0);" id="group-about">About</a>
                    <a href="javascript:void(0);" id="group-events">Event Calendar</a>
                    <a href="javascript:void(0);" id="group-photos">Photo Gallery</a>
                    <a href="javascript:void(0);" id="group-videos">Videos</a>
                    <div style="clear: left;"></div>
                </div>
                <div class="widget-content">
                    <div id="content-group-news" class="featured-content-category active" style="height: 260px;">
                        {% include 'SpoutletBundle:Group:_news.html.twig' %}
                    </div>
                    <div id="content-group-about" class="featured-content-category" style="height: 260px;">
                        {% include 'SpoutletBundle:Group:_about.html.twig' %}
                    </div>
                    <div id="content-group-events" class="featured-content-category" style="height: 260px;">
                        {% include 'SpoutletBundle:Group:_events.html.twig' %}
                    </div>
                    <div id="content-group-photos" class="featured-content-category" style="height: 260px;">
                        {% include 'SpoutletBundle:Group:_photos.html.twig' %}
                    </div>
                    <div id="content-group-videos" class="featured-content-category" style="height: 260px;">
                        {% include 'SpoutletBundle:Group:_videos.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/jquery.mCustomScrollbar.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>

    {% if group.location and group.category == 'location' %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=true"></script>
        <script type="text/javascript" src="/bundles/spoutlet/js/jquery.groupsmaps.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#google-map-location').groupsmap({
                    address : $('#location-value').val()
                });
            });
        </script>
    {% endif %}
    <script type="text/javascript">
        $(function () {

            $('#group-invite').click(function () {
                FB.ui({
                    method: 'send',
                    name: "You are invited to the group {{ group.name | raw }}",
                    link: 'http://demo.alienwarearena.com/',
                    description: "Check out Alienware Arena's Groups! Join a wide variety of gamer related communities and share your thoughts on your favorite topics.",
                    image: '{{ inviteThumb }}'
                });
            });

            $(".featured-content-header a").click(function() {
                var current = $('.featured-content-header a.active').attr('id');
                var id = $(this).attr('id');
                $('.featured-content-header a.active').removeClass('active');
                $(this).addClass('active');
                $('.featured-content-category#content-'+current).fadeOut('fast', function () {
                    $(this).delay(500);
                    $('.featured-content-category#content-'+id).fadeIn();
                    $('.featured-content-category#content-'+id).mCustomScrollbar('update');
                });
            });

            $('.featured-content-category').mCustomScrollbar();
        });
    </script>

{% endblock %}
