<div>
    {% if userIsAdminOrOwner %}
        <a href='{{ path('group_add_video', {'id' : group.id }) }}'>Add Video</a>
    {% endif %}
    {% set reportContentType = 'GroupVideo' %}
    {% if groupVideos | length > 0 %}
        <div id="theater-screen-wrapper">
            <div id="theater_screen" style="width:600px; height:350px;"></div>
        </div>
        <ul id="videos-wrapper">
        {% for video in groupVideos %}

                <li>
                    {% if userIsAdminOrOwner %}
                        <a href="{{ path('group_delete_video', { 'id' : group.id, 'videoId' : video.id })}}" onclick="return confirm('Are you sure you want to delete this video?');">delete</a> |
                        <a href="{{ path('group_edit_video', { 'id' : group.id, 'videoId' : video.id })}}">edit</a> |
                    {% endif %}
                    <a href="javascript:void(0);" class="report-content" report-data="{{ video.id }}">report</a>
                    <a href="javascript:void(0);" youtube-data="{{ video.youTubeVideoId }}" style="border: none;" class="youtube-link">
                        <img src="{{ video.youTubeThumb }}" alt="{{ video.title }}" style="border: 1px solid #4a4a4a"  {% if loop.first %} class="active-video" {% endif %} />
                    </a>
                    <a href="javascript:void(0);" youtube-data="{{ video.youTubeVideoId }}" class="youtube-link">{{ video.title }}</a>
                </li>
        {% endfor %}
    {% else %}
        <p>No videos yet... please come back later!</p>
    {% endif %}
</div>
{% include 'SpoutletBundle::_reportContentPopup.html.twig' %}
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/swfobject.js') }}"></script>
<script type="text/javascript">
    var GamePage = {

    };

    GamePage.initializeMovie = function(youtubeVideoId) {
        var par = {};
        par.flashvars = "startMovie="+youtubeVideoId;
        par.flashvars += "&startCue=none";
        par.flashvars += "&startParameterMovie=";
        par.flashvars += "&videoTitle=";
        par.flashvars += "&displayWelcome=no";
        par.flashvars += "&displayAlert=no";
        par.flashvars += "&alertText=";
        par.flashvars += "&muteOnStart=yes";
        par.allowScriptAccess = "always";
        par.wmode = "transparent";
        var att = { data:"{{ asset('bundles/spoutlet/swf/games_trailers_player.swf') }}", width:"600", height:"350", id:"theater_screen", name:"theater_screen"};
        var id = "theater_screen";

        // temporarily disable, because the autostart is annoying
        var myytplayer = swfobject.createSWF(att, par, id);
    };

    GamePage.initializeMediaGallery = function() {

    };

    jQuery(document).ready(function() {

        $('.youtube-link').click(function () {
           var youtubeId = $(this).attr('youtube-data');
           $('.youtube-link').find('img').removeClass('active-video');
           $(this).find('img').addClass('active-video');
           GamePage.initializeMovie(youtubeId);
        });

        if($('.youtube-link').length > 0) {
            GamePage.initializeMovie($('.youtube-link').first().attr('youtube-data'));
        }
    });

</script>
