{% form_theme form theme %}

{% set email_error = '' %}
{% set password_error = '' %}

{% for error in errors %}
    {% if error.messageTemplate == 'fos_user.email.blank' or error.messageTemplate == 'fos_user.email.already_used' or error.messageTemplate == 'fos_user.email.invalid' %}
        {% set email_error = error.messageTemplate|pd_trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.password.blank' or error.messageTemplate == 'passwords_do_not_match' or error.messageTemplate == 'password_too_short' %}
        {% set password_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
{% endfor %}

<h1>Create Your Campsite Account</h1>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form form-horizontal">

    {{ form_row(form.name) }}

    {{ form_label(form.email) }}
    <div class="form_error">
        {{ email_error }}
    </div>
    {{ form_widget(form.email) }}

    <div class="form_error">
        {{ password_error }}
    </div>
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <div>
        <div style="display:none;">{{ form_rest(form) }}</div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="button btn btn-primary" formnovalidate />
    </div>

</form>
