{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <h1>Edit Event: {{ event.name }}</h1>

    <form action="{{ path('group_event_edit', {'groupSlug': group.slug, 'eventId': event.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {% if event.active == true %}
            <div class="cancel-event-container" style="padding-left: 40px;">
                <a href="javascript:void(0);" class="cancel-event" event-name="{{ event.name }}" data-path="{{ path('group_event_cancel', { 'eventId' : event.id }) }}">Cancel Event</a>
            </div>
        {% else %}
            <div class="activate-event-container" style="padding-left: 40px;">
                <a href="javascript:void(0);" class="activate-event" event-name="{{ event.name }}" data-path="{{ path('group_event_activate', { 'eventId' : event.id }) }}">Activate Event</a>
            </div>
        {% endif %}

        {% include 'EventBundle:GroupEvent:_form.html.twig' %}

        <div class="form-actions" style="float: left;">
            <button type="submit" class="btn btn-primary" formnovalidate>Update</button>
            <button id="cancel" class="btn btn-primary" rel="{{ path('group_show', { 'slug': group.slug }) }}#events" style="margin-left: 10px;">Cancel</button>
        </div>
    </form>

    <div id="cancel-event-dialog" title="Cancel Event" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><span id="cancel-text">Are you sure you want to cancel '{0}'?</span></p>
    </div>

    <div id="activate-event-dialog" title="Activate Event" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><span id="activate-text">Are you sure you want to activate '{0}'?</span></p>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {

            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });

            jQuery('input.datetime-picker').datetimepicker({
                dateFormat: 'yy-mm-dd',
                showSecond: true
            });

            $('.cancel-event').click(function () {
                var eventname = $(this).attr('event-name');
                var path = $(this).attr('data-path');
                var text = $('#cancel-text').text().replace('{0}', eventname);

                $('#cancel-text').text(text);
                $('#cancel-event-dialog').dialog({
                    modal: true,
                    resizable: false,
                    movable: false,
                    height: 150,
                    buttons: {
                        "Yes": function() {
                            document.location = path;
                        },
                        "No": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $('.activate-event').click(function () {
                var eventname = $(this).attr('event-name');
                var path = $(this).attr('data-path');
                var text = $('#activate-text').text().replace('{0}', eventname);

                $('#activate-text').text(text);
                $('#activate-event-dialog').dialog({
                    modal: true,
                    resizable: false,
                    movable: false,
                    height: 150,
                    buttons: {
                        "Yes": function() {
                            document.location = path;
                        },
                        "No": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            });

        });
    </script>

{% endblock %}
