{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/group/css/groups.css') }}" />
{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="std_2col" style="padding: 0;">
    <div class="left">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% else %}
                <img src="{{ asset('bundles/spoutlet/images/groups/groups_main_banner.jpg') }}" />
            {% endif %}
        </div>
    </div>
    <div class="right"></div>
</div>
<div class="std_1col" style="padding: 0;">
    <div class="groups-sub-nav-wrapper">
        {% include 'GroupBundle:Group:_subNav.html.twig' %}
    </div>
</div>

<div class="widget-100">
    <div class="widget-header">
        <div class="widget-title">Events</div>
    </div>
    <div class="widget-content">
        <div class="text">
            <table style="width: 100%;border-spacing: 2px;border-collapse:inherit;" class="tablesorter">
                <thead>
                    <tr>
                        <th style="width:15%; color:#FFF;">Event Title</th>
                        <th style="width:15%; color:#FFF;">Event Dates</th>
                        <th style="width:15%; color:#FFF;">Submitted By</th>
                        <th style="width:15%; color:#FFF;">Submitted On</th>
                        <th style="width:15%; color:#FFF;">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in pendingApprovals %}
                    <tr class="eventListGroup_lan">
                        <td>
                            <a href="{{ event | pd_link }}" target="_blank">{{ event.name }}</a>
                        </td>
                        <td>
                            {{ event.startsAt | date('M j, Y') }} - {{ event.endsAt | date('M j, Y') }}
                        </td>
                        <td>
                            {{ event.user.username }}
                        </td>
                        <td>
                            {{ event.createdAt | date('M j, Y') }}
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="approve-event" event-name="{{ event.name }}" data-path="{{ path('group_event_approve', { 'groupSlug': event.group.slug, 'eventId' : event.id }) }}">Approve</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <em>There are no events!</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget-footer">&nbsp;</div>
</div>
<div id="approve-event-dialog" title="Approve Event" style="display:none; ">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><span id="approve-text">Are you sure you want to approve '{0}' to display on your group?</span></p>
</div>

<script type="text/javascript">
    $('.approve-event').click(function () {
        var eventname = $(this).attr('event-name');
        var path = $(this).attr('data-path');
        var text = $('#approve-text').text().replace('{0}', eventname);

        $('#approve-text').text(text);
        $('#approve-event-dialog').dialog({
            modal: true,
            resizable: false,
            movable: false,
            height: 200,
            width: 320,
            buttons: {
                "Yes": function() {
                    document.location = path;
                },
                "No": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

{% endblock %}

