{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
{% endblock %}

{% block content %}

{% set site = get_current_site() %}

<div class="std_2col" style="padding: 0;">
    <div class="left">
        <div id="group-avatar">
            {% if group.groupAvatar %}
                <img src="{{ media_path(group.groupAvatar) }}" />
            {% else %}
                <img src="{{ asset('bundles/spoutlet/images/groups/groups_main_banner.jpg') }}" />
            {% endif %}
        </div>
    </div>
    <div class="right"></div>
</div>
<div class="std_1col" style="padding: 0;">
    {% include 'SpoutletBundle:Group:_subNav.html.twig' %}
</div>

<div class="widget-100">
    <div class="widget-header">
        <div class="widget-title">Events</div>
    </div>
    <div class="widget-content">
        <table style="width: 100%;" class="table table-striped table-bordered tablesorter">
            <tbody><tr>
                <th style="width:15%;">Action</th>
                <th style="width:15%;">Event Name</th>
                <th style="width:15%;">Type</th>
                <th style="width:15%;">Dates</th>
                <th style="width:15%;">Username</th>
                <th style="width:15%;">Created</th>
            </tr>
            {% for event in pendingApprovals %}
                <tr class="eventListGroup_lan">
                    <td>
                        <a href="javascript:void(0);" class="approve-event" event-name="{{ event.name }}" data-path="{{ path('group_event_approve', { 'groupSlug': event.group.slug, 'eventId' : event.id }) }}">Approve</a>
                    </td>
                    <td>
                        <a href="{{ event | pd_link }}" target="_blank">{{ event.name }}</a>
                    </td>
                    <td>
                        {% set type = (event.online) ? 'Online' : 'Location' %}
                        {{ type }}
                    </td>
                    <td>
                        From {{ event.startsAt | date('m/d/Y') }} to {{ event.endsAt | date('m/d/Y') }}
                    </td>
                    <td>
                        {{ event.user.username }}
                    </td>
                    <td>
                        {{ event.createdAt | date('m/d/Y') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        <em>There are no event!</em>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="widget-footer">&nbsp;</div>
</div>
<div id="approve-event-dialog" title="Approve Event" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><span id="approve-text">Are you sure you want to approve '{0}' to display on your group?</span></p>
</div>

<script type="text/javascript">
    $('.approve-event').click(function () {
        var eventname = $(this).attr('event-name');
        var path = $(this).attr('data-path');
        var text = $('#approve-text').text().replace('{0}', eventname);

        $('#approve-text').text(text);
        $('#approve-event-dialog').dialog({
            modal: true,
            resizable: false,
            movable: false,
            height: 150,
            buttons: {
                "Yes": function() {
                    document.location = path;
                },
                "No": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

{% endblock %}
