{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

<div class="col_fifth">
    <a href="{{ path('entry_set_new', {'registrationId': event.entrySetRegistration.id, 'entrySetId': 'new'}) }}" class="btnLg2">Create New List</a>

    {% if event.entrySets|length > 0 %}
        <h2 class="widgetHeader">Lists</h2>
        <ul class="scrollableWidget">
            {% for entrySet in event.entrySets %}
                <li class="spcr-l3 padtop padbtm borderBtm">
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if event.htmlPages|length > 0 %}
        <div class="rowBx card ctr spcr-b2 spcr-t midtxt">
            <h2 class="ctr">Documents</h2>
            {% for page in event.htmlPages %}
                <hr class="small-margin"/>
                <a href="{{ path('page_view', {'id': page.id}) }}" class="blu">{{ page.title }}</a><br/>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.externalUrl|default or event.online|default %}
        {% set userNoun = 'participant' %}
        {% set userVerb = 'participating' %}
    {% else %}
        {% set userNoun = 'attendee' %}
        {% set userVerb = 'attending' %}
    {% endif %}

    {% if not event.external %}

        {% set attendeeLimit = 200 %}
        {% set totalAttendeeSize = event.attendees|length %}
        {% set attendeeList = event.attendeesAlphabetical(attendeeLimit) %}

        {% if not (event.isUserAttending(app.user)) %}
            <h2 class="widgetHeader">{{ totalAttendeeSize }} {{ userNoun }}{% if event.attendees|length != 1 %}s{% endif %}</h2>
        {% else %}
            <h3 class="left">You and {{ (totalAttendeeSize-1) }} other {% if totalAttendeeSize == 2 %}person{% else %}people{% endif %} are {{ userVerb }}</h3>
            <hr class="small-margin clr">
        {% endif %}

        <ul class="spcr-b3">
            <li class="spcr-t7 spcr-l3">
                <a href="{{ path('profile', {'userId': event.user.id}) }}"><h3 class="blu midtxt">{{ event.user.name }} (Organizer)</h3></a>
            </li>
            {% for member in attendeeList %}
                {% if member.id != event.user.id %}
                    <li class="spcr-t7 spcr-l3"><a href="{{ path('profile', {'userId': member.id}) }}"><h3 class="blu">{{ member.name }}</h3></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if totalAttendeeSize > attendeeLimit %}
            <a href="{{ path('group_event_attendees', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="blu">View All Attendees</a>
        {% endif %}
    {% endif %}

</div>

<div class="col_three_fifths">

    <h2 class="ctr">{{ event.name }}</h2>

    {% set numImages = event.rotatorImages|length %}

    {% if numImages > 0 %}
        <div class="intro">
            <div id="slideshow" class="pics">

                {% for image in event.rotatorImages %}

                <div class="unicusSlides">
                    <img src="{{  media_path(image) }}" width="644" height="340"/>
                </div>

                {% endfor %}

            </div>
            {% if numImages > 1 %}
                <ul id="bullets"></ul> <!-- nav bullets -->
            {% endif %}
         </div>

        <script type="text/javascript">
            $(function() {
                $('#slideshow').cycle({
                    fx:     'scrollHorz',
                    speed:  400,
                    timeout: 6000,
                    cleartypeNoBg: true,
                    pager:  '#bullets',
                    pagerAnchorBuilder: function paginate(idx, el) {
                        return '<a class="service' + idx + '" href="#" >&bull;</a>';
                    }
                });
            });
        </script>
    {% endif %}

    {% if event.content|default %}
        {{ event.content|raw }}
    {% endif %}

    {# For now -- get session schedule or first entrySet -- need to implement list chooser #}
    {% if event.sessions | length > 0 %}
        <h2 class="left">Session Schedule</h2><a href="{{ path('event_session_schedule', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="blue right">View All</a>

            {% for date,sessions in event.sessionsByDate %}
            <table class="clr tblStyle sessions spcr-b fillWidth tablesorter">
                <thead>
                    <tr class="date">
                        <th>{{ date }}</th>
                        <th>Room</th>
                        <th>Session Name</th>
                    </tr>
                </thead>
                {% set i=0 %}
                <tbody>
                    {% for evtSession in sessions %}
                        {% set i=i+1 %}
                        <tr{% if i%2 %} class="fill"{% endif %}>
                            <td>{% if evtSession.startsAt|default %}{{ evtSession.timeRangeString }}{% endif %}</td>
                            <td>{% if evtSession.room %}{{ evtSession.room }}{% endif %}</td>
                            <td><a href="{{ path('event_session', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': evtSession.id}) }}">{{ evtSession.name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
    {% elseif event.entrySets | length > 0 %}
        {% set entrySet = event.entrySets[0] %}
        <h2 class="left">{{ entrySet.name }}</h2><a href="{{ entrySet | pd_link }}" class="right btn spcr-b3">View All {{ entrySet.type | capitalize }}s</a>
        <table class="tblStyle spcr-b fillWidth">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Votes</th>
                </tr>
            </thead>

            <tbody>
                {% set i=0 %}
                {% for entry in entrySet.popularEntries %}
                    {% set i=i+1 %}
                    <tr{% if i%2 %} class="fill"{% endif %}>
                        <td><a href="{{ entry | pd_link }}">{{ entry.name }}</a></td>
                        <td>{{ entry.numVotes }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">There are no {{ entrySet.type }}s yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>

<div class="col_fifth">

    {% if (not event.isUserAttending(user)) and (not event.isUserWatching(user)) %}
        <a href="{{ path('watch_event', {'eventId': event.id, 'eventType': 'group'}) }}" class="btnLg2">Follow This Event</a>
    {% endif %}

    {% if not event.external %}
        
        {# Hybrid Event #}
        {% if event.externalUrl|default %} 
            <a href="{{ event.externalUrl }}" class="btnLg2" target="_blank">Register to Attend</a>
            {% if not event.isUserAttending(user) %}
                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Participate Online</a>
            {% endif %}

        {# Campsite Event #}
        {% elseif not event.isUserAttending(user) %}
            {% if event.registrationOption == constant('\\Platformd\\EventBundle\\Entity\\Event::REGISTRATION_ENABLED') %}
                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Register to Attend</a>
            {% else %}
                <h2 class="ctr spcr-b2">Registration Closed</h2>
            {% endif %}
        {% endif %}

    {# External Event #}
    {% else %}

        {% if event.externalUrl|default %} 
            <a href="{{ event.externalUrl }}" class="btnLg2" target="_blank">View Event Website</a>
        {% else %}
            The organizer has not yet added a link to the event. 
        {% endif %}

    {% endif %}

    {% if event.sessions | length > 0 %}
        <a href="{{ path('event_session_schedule', event.linkableRouteParameters) }}" class="btnLg2">Session Schedule</a>
    {% endif %}

    <div style="display:inline-block;">
        <div class="fb-like left" data-href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': event.id}) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button left spcr-l3 spcr-t8" data-hashtags="{{ group.hashtag }},{{ event.hashtag }}">Tweet</a>
    </div>
    <div class="clear"></div>

    {% if event.startsAt|default or event.location|default or event.fullAddress|default %}
        <div class="event-details ctr spcr-b">
 
            {% if event.startsAt|default %}
                 <h2>When:</h2>
                 {{ event.DateAndTime|raw }}
                 {% if event.location|default %}
                     <hr class="small-margin"/>
                 {% endif %}
            {% endif %}

            {% if event.location|default or event.fullAddress|default %}
                <h2>Where:</h2>
                {% if event.location|default %} {{ event.location }}<br/> {% endif %}
                {% if event.fullAddress|default %}
                    <a href="http://maps.google.com/?q={{ event.fullAddress }}" target="_blank" class="blu">{{ event.htmlFormattedAddress|raw}}</a>
                {% endif %}
            {% endif %}

        </div>
    {% endif %}

    <a href="{{ path('recommend_sponsor_list', {'rec_type': 'group', 'rec_id': event.id}) }}" class="btnLg2">Recommend a Sponsor ></a>
    <div class="spcr-t"></div>

    <form action="{{ path('invite_user') }}" method="post">
        <h3>Recommend a Friend</h3>
        <input type="text" placeholder="Enter email address..." name="userEmail" style="width:70%" class="left"/>
        <input type="hidden" name="scope" value="event"/>
        <input type="hidden" name="containerId" value="{{ event.id }}"/>
        <input type="submit" value=">" class="left" style="padding:8px;"/>
        <div class="clr"></div>
    </form>

    {% if is_granted('ROLE_ADMIN') %}
    
        <form action="{{ path('invite_user', {'force': 1}) }}" method="post">
            <h3>Add a User</h3>
            <input type="text" placeholder="Enter email address..." name="userEmail" style="width:70%" class="left"/>
            <input type="hidden" name="scope" value="event"/>
            <input type="hidden" name="containerId" value="{{ event.id }}"/>
            <input type="submit" value=">" class="left redButton" style="padding:8px;"/>
            <div class="clr"></div>
        </form>

    {% endif %}

    {% if event.sponsors|length > 0 %}
        {% include 'IdeaBundle::sidebar_sponsors.html.twig' %}
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/admin/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('table.tablesorter').tablesorter();
        });
    </script>
{% endblock %}