<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript" src="/themes/ideacontest/spoutlet/js/gmaps_custom.js"></script>

<script type="text/javascript">
    var groupsArray = [];

    $(function () {

        {% for group in groups %}

            singleGroup = [];
            singleGroup['name'] = '{{ group.name }}';
            singleGroup['lat'] = '{{ group.location.latitude }}';
            singleGroup['long'] = '{{ group.location.longitude }}';
            singleGroup['city'] = '{{ group.location.city }}';
            singleGroup['address1'] = '{{ group.location.address1 }}';
            singleGroup['address2'] = '{{ group.location.address2 }}';
            singleGroup['stateProvince'] = '{{ group.location.stateProvince }}';
            singleGroup['metroArea'] = '{{ group.location.metroArea }}';
            singleGroup['url'] = '{{ group.url }}';

            groupsArray.push(singleGroup);
        {% endfor %}
    });
</script>

<div id="map">
    <h2 class="spcr-b2">Find a Group Near You</h2>

    <input id="map-location-search" type="text" placeholder="Enter your location" autocomplete="off">

    <div id="map-canvas"></div>
</div>