{% extends "FOSUserBundle::layout.html.twig" %}

{% block title 'platformd.user.login.title' | trans %}

{% block fos_user_content %}
<h2>{{ 'platformd.user.login_header' | trans }}</h2>

<div class="login_page_interstitial interstitial">

<form action="{{ path("_fos_user_security_check") }}" method="post" class="form">

    {% if error %}
        <div class="form-msg-error">{{ error }}</div>
    {% endif %}

    <div class="form_row">
        <label for="username">{{ 'security.login.username_or_email'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" class="form-txt" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div class="form_row">
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" class="form-txt" id="password" name="_password" />
    </div>

    {#
        hidden for now - just for simplicity
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    #}

    {# a glorious hack to control the redirect if it's not stored in the session #}
    {# redirects back to the homepage of the user's locale #}
    {% if not app.session.get('_security.target_path') %}
        <input type="hidden" name="_target_path" value="{{ (app.session.locale == 'en') ? '/' : '/'~app.session.locale }}" />
    {% endif %}

    <input type="submit" id="_submit" class="button" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>

</div>
{% endblock fos_user_content %}
