{% extends "FOSUserBundle::layout.html.twig" %}

{% block title 'platformd.user.login.title' | pd_trans %}

{% block fos_user_content %}
<div id="login-flash" class="xnotices session-flash" style="display:none;">
    <div class="notice successNotice">
        <div class="pad">
            <div class="pad2">
                <div class="pad3">
                    <div class="pad4">
                        <h3 id="notice-type">{{ 'platformd.flash.success_title'|trans }}</h3>
                        <p id="notice-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="std_2col">
    <div class="left">
        <div id="loginArea">
            <h2>{{ 'platformd.user.login_header' | pd_trans }}</h2>
            <form action="{{ login_check_path() }}" method="post" class="form form-horizontal">
                {% if error %}
                    <div class="error">
                        <div class="title">{{ 'platformd.user.register.oops' | pd_trans }}</div>
                        <div class="message text">We're sorry, but there was a problem logging in:
                            <ul>
                                <li>{{ error | pd_trans }}</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="login">
                    <table class="tbl">
                        <tbody>
                            <tr>
                                <th align="right">{{ 'platformd.user.login.username' | pd_trans }}</th>
                                <td>
                                    <div class="pad" style="width:180px;">
                                        <input id="login-username" name="_username" type="text" maxlength="255" value="" class="form-txt" required="required">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th align="right">{{ 'platformd.user.login.password' | pd_trans }}</th>
                                <td>
                                    <div class="pad" style="width:180px;">
                                        <input id="login-password" name="_password" type="password" maxlength="255" value="" class="form-txt" required="required">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="left">
                                    <input type="submit" id="_submit" class="button btn btn-primary login-button" name="_submit" value="{{ 'platformd.user.login.sign_in' | pd_trans }}" />
                                    <input name="cookie_login" id="cookie_login" type="checkbox" class="remember-me">
                                    <label style="font-weight:bold;vertical-align:bottom;" for="cookie_login">{{ 'platformd.user.login.remember' | pd_trans }}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="info">
                        <div class="forgot">
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'platformd.user.login.forgot_password' | pd_trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <a href="{{ path('contact') }}">{{ 'platformd.user.login.need_help' | pd_trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'platformd.user.login.not_a_member_join' | pd_trans }}</a>
                        </div>
                        <p>
                            {{ 'platformd.user.login.password_message' | pd_trans | format(path('contact')) | raw }}
                        </p>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var qs = location.search.substring(1);
        var a = [];
        var msg = '';
        var params = qs.split("&");
        for(var i = 0; i < params.length; i++) {
            var p = params[i].split("=")[1];
            if (p == 'reg') {
                msg = "{{ 'platformd.user.register.confirmed_success'|trans|raw }}";
            }

            if (p == 'pr') {
                msg = "{{ 'resetting.check_email'|trans({}, 'FOSUserBundle')| raw }}";
            }
        }
        if(msg != '') {
            $('#notice-message').text(msg);
            $('#login-flash').fadeIn();
        }
    });
</script>
{% endblock fos_user_content %}


