<div id="report-content-dialog-{{ reportContentType }}" class="report-wrapper" style="display: none;" title="{{ 'content_reporting.report_content' | trans }}">
    {% if app.user is null %}
        <div style="height: 120px;">
            {{ 'content_reporting.must_be_logged_in' | trans }}
        </div>
        <button id="close-dialog-{{ reportContentType }}" style="float: right;">{{ 'content_reporting.cancel' | trans }}</button>
    {% elseif can_user_report() == false %}
        <div style="height: 120px;">
            {{ 'content_reporting.once_per_hour' | trans }}
        </div>
        <button id="close-dialog-{{ reportContentType }}" style="float: right;">{{ 'content_reporting.cancel' | trans }}</button>
    {% else %}
        <input type="hidden" id="report-id-{{ reportContentType }}" />
        <input type="hidden" id="content-type-{{ reportContentType }}" value="{{ reportContentType }}" />
        <div style="height: 120px;">
            <div id="report-response" style="display:none;">
            {{ 'content_reporting.report_success' | trans }}
            </div>
            <div id="report-options">
                <input class="report-option" type="radio" name="reason" value="inappropriate_content"> {{ 'content_reporting.inappropriate_content' | trans }} <br />
                <input class="report-option" type="radio" name="reason" value="spam"> {{ 'content_reporting.spam' | trans }} <br />
                <input class="report-option" type="radio" name="reason" value="violates_intellectual_property"> {{ 'content_reporting.violates_intellectual_property' | trans }} <br />
                <input class="report-option" type="radio" name="reason" value="individual_harrassing_me"> {{ 'content_reporting.individual_harrassing_me' | trans }}
            </div>
        </div>
        <button id="submit-report-{{ reportContentType }}">{{ 'content_reporting.submit' | trans }}</button>
        <button id="close-dialog-{{ reportContentType }}" style="float: right;">{{ 'content_reporting.cancel' | trans }}</button>
    {% endif %}
</div>
<script type="text/javascript">
    $(function () {

        $('.content-report-dialog-wrapper').detach();

        var reportDialog = $('#report-content-dialog-{{ reportContentType }}').dialog({
            autoOpen: false,
            modal: true,
            height: 200,
            width: 350,
            draggable: false,
            resizable: false,
            dialogClass: 'content-report-dialog-wrapper',
            close: function (e, ui) {

            }
        });

        $('.report-content').click(function () {
            var reportId = $(this).attr('report-data');
            $('#report-id-{{ reportContentType }}').val(reportId);

            $('.report-option').prop('checked', false);
            $('#report-response').hide();
            $('#report-options').show();
            $('#close-dialog-{{ reportContentType }}').text('{{ "content_reporting.close" | trans }}');
            $('#submit-report-{{ reportContentType }}').show();
            reportDialog.dialog('open');
        });

        $('#submit-report-{{ reportContentType }}').click(function () {
            $('#report-options').fadeOut();
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : $('#report-id-{{ reportContentType }}').val(),
                    'Reason' : $('input:radio[name=reason]:checked').val(),
                    'ContentType' : $('#content-type-{{ reportContentType }}').val()
                }),
                contentType: 'json',
                success: function(data) {
                    $('#report-response').text(data.messageForUser);
                    $('#report-response').fadeIn();
                    $('#close-dialog-{{ reportContentType }}').text('OK');
                    $('#submit-report-{{ reportContentType }}').hide();
                }
            })

        });

        $('#close-dialog-{{ reportContentType }}').click(function () {
            reportDialog.dialog('close');
        });

        $('#report-content-dialog-{{ reportContentType }}').each(function() {
            if (!$(this).parent().hasClass('content-report-dialog-wrapper')) {
                $(this).detach();
            }
        });
    });
</script>
