<div class="wide-950">
    <div id="footer">
        <ul class="nav">
            <li><a href="{{ path('contact') }}">{{ 'platformd.layout.bottom_menu.contact_us' | trans }}</a></li>
            <li><a rel="nofollow" href="{{ path('privacy') }}">{{ 'platformd.layout.bottom_menu.privacy_policy' | trans }}</a></li>
            <li><a rel="nofollow" href="{{ path('terms_conditions') }}">{{ 'platformd.layout.bottom_menu.terms_and_conditions' | trans }}</a></li>
            {% if app.session.locale == 'en' %}
            <li><a href="http://steamcommunity.com/groups/alienwarearena" target="_blank">{{ 'platformd.layout.bottom_menu.steam_community' | trans }}</a></li>
            <li><a href="http://www.xfire.com/communities/alienwarearena/" target="_blank">{{ 'platformd.layout.bottom_menu.xfire_community' | trans }}</a></li>
            {% endif %}

            {% if 'alienware.social.facebook_url' | trans or 'alienware.social.twitter_url' | trans %}
                <li style="border-right: none; padding-top: 3px;">
                    {% if 'alienware.social.facebook_url' | trans %}
                        <a href="{{ 'alienware.social.facebook_url' | trans }}" target="_blank"><img src="{{ asset('bundles/spoutlet/images/icons/icon-fb-14.png') }}" alt="{{ 'alienware.social.follow_on_facebook' }}" /></a>
                    {% endif %}
                    {% if 'alienware.social.twitter_url' | trans %}
                        <a href="{{ 'alienware.social.twitter_url' | trans }}" target="_blank"><img src="{{ asset('bundles/spoutlet/images/icons/icon-tw-14.png') }}" alt="{{ 'alienware.social.follow_on_twitter' }}" /></a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <div class="right">
            <a target="_blank" href="{{ 'platformd.layout.bottom_menu.link_url' | trans }}">{{ 'platformd.layout.bottom_menu.link' | trans }}</a>
        </div>
        <div style="clear:both;"></div>
        <div class="legal">
            {{ 'platformd.layout.bottom_menu.copyright_2012' | trans }}
        </div>
    </div>
</div>