<div class="wide-950">
    <div id="footer">
        <ul class="nav">
            <li><a href="http://www.alienwarearena.com/pages/contact.php">{{ 'platformd.layout.bottom_menu.contact_us' | trans }}</a></li>
            <li><a rel="nofollow" href="{{ path('privacy') }}">{{ 'platformd.layout.bottom_menu.privacy_policy' | trans }}</a></li>
            <li><a rel="nofollow" href="{{ path('terms_conditions') }}">{{ 'platformd.layout.bottom_menu.terms_and_conditions' | trans }}</a></li>
            <li><a href="http://steamcommunity.com/groups/alienwarearena" target="_blank">{{ 'platformd.layout.bottom_menu.steam_community' | trans }}</a></li>
            <li><a href="http://www.xfire.com/communities/alienwarearena/" target="_blank">{{ 'platformd.layout.bottom_menu.xfire_community' | trans }}</a></li>
        </ul>
        <div class="right">
            <a target="_blank" href="http://lt.dell.com/lt/lt.aspx?CID=59747&amp;LID=1511112&amp;DGC=SM&amp;DGSeg=DHS&amp;DURL=http://alienware.com/">{{ 'platformd.layout.bottom_menu.kick_ass_rig' | trans }}</a>
        </div>
        <div class="legal">
            {{ 'platformd.layout.bottom_menu.copyright_2012' | trans }}
        </div>
    </div>
</div>