{# global forms override file #}
{% extends 'form_div_layout.html.twig' %}

{# adds some classes to labels #}
{% block generic_label %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-lbl'}) %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ id|trans([], 'forms') }}
        {% if required %}
            <span class="required">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock %}

{# adds a class to the errors #}
{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="form-msg-error">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block text_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-txt'}) %}

    {{ block ('field_widget') }}
{% endspaceless %}
{% endblock text_widget %}

{% block email_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-txt'}) %}

    {{ block ('field_widget') }}
{% endspaceless %}
{% endblock email_widget %}

{% block password_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-txt'}) %}

    {{ parent() }}
{% endspaceless %}
{% endblock password_widget %}

{# give a form_row class to all form row divs #}
{% block field_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_errors(form) }}
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {% if form.get('help') %}
            <p class="help-block">
                {{ form.get('help') }}
            </p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block knp_media_row %}
    <div class="file-upload">
        {{ form_row(form.fileObject) }}

        {% if form.get('mediaObject') %}
            <img src="{{ media_path(form.get('mediaObject')) }}" />
        {% endif %}
    </div>
{% endblock %}