{% set facebookLink = site_link('FACEBOOK') %}
{% set twitterLink = site_link('TWITTER') %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
$(".featured-content-header a").click(function() {
        var id = $(this).attr("id");
        $(".featured-content-header a.active").removeClass("active");
        $(this).addClass("active");
        $(".featured-content-category").removeClass('active');
        $(".featured-content-category#featured-content-"+id).addClass('active');

        // show the widget footer
        $('.widget-footer a.featured-footer-link').hide();
        $(".widget-footer #featured-footer-"+id).show();
});
});
//]]>
</script>
<div id="header">
    <div id="topHeader">
        <div class="wide-950">
            <div class="left">
                {% include 'SpoutletBundle::region.html.twig' %}
            </div>
            <div class="right">
                <div class="links">
                    <ul>
                        {% if facebookLink or twitterLink %}
                            <li>
                                <strong>{{ 'follow_us' | trans }}</strong>
                            </li>
                            <li class="separator">
                                {% if facebookLink %}{{ facebookLink | raw }}{% endif %}
                                {% if twitterLink %}{{ twitterLink | raw }}{% endif %}
                            </li>
                        {% endif %}

                        <li class="separator">
                            {% include 'SpoutletBundle::user.html.twig' %}
                        </li>
                        <li class="separator"><a href="{{ path('about') }}">{{ "platformd.layout.top_menu.about" | trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ "platformd.layout.top_menu.contact" | trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('default_index') }}" id="header-home-link">&nbsp;</a>
</div>
