{% set facebookLink = site_link('FACEBOOK') %}
{% set twitterLink = site_link('TWITTER') %}
{% set instagramLink    = site_link('INSTAGRAM') %}
{% set socialMediaStrip = site_link('SOCIAL_MEDIA_STRIP') %}
<div id="header">
    <div id="topHeader">
        <div class="wide-950">
            <div class="left">
                {% include 'SpoutletBundle::region.html.twig' %}
            </div>
            <div class="right">
                <div class="links">
                    <ul>
                        {% if facebookLink or twitterLink %}
                            <li>
                                <strong>{{ 'follow_us' | trans }}</strong>
                            </li>
                            <li class="separator">
                                {% if facebookLink %}{{ facebookLink | raw }}{% endif %}
                                {% if twitterLink %}{{ twitterLink | raw }}{% endif %}
                                {% if instagramLink %}{{ instagramLink | raw }}{% endif %}
                            </li>
                        {% endif %}

                        {% if socialMediaStrip -%}

                            <li class="separator">
                               {{ socialMediaStrip | raw }}
                            </li>

                        {%- endif -%}

                        <li class="separator">
                        {% render url('_main_user_strip') with {}, {'standalone': true } %}
                        </li>
                        <li class="separator"><a href="{{ path('about') }}">{{ "platformd.layout.top_menu.about" | trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ "platformd.layout.top_menu.contact" | trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('default_index') }}" id="header-home-link">&nbsp;</a>
</div>
