<!DOCTYPE html>
<html>
    {% set _isFrontPage = app.request.get('_route') == 'default_index' %}
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% if eventSession|default %}
                    {{ eventSession.name }}
                {% elseif idea|default %}
                    {{ idea.name }}
                {% elseif entrySet|default %}
                    {{ entrySet.name }}
                {% elseif event|default %}
                    {{ event.name }}
                {% elseif group|default %}
                    {{ group.name }}
                {% else %}
                    Campsite
                {% endif %}
            {% endblock %}
        </title>

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '/ckeditor/';
        </script>

        <link rel="shortcut icon" type="image/png" href="{{ asset('/bundles/spoutlet/images/favicon.ico') }}">

        {# Here we include assets for the current active theme #}
        {# {% include '::theme_' ~ site.theme ~ '_assets.html.twig' ignore missing %} #}
        {% include 'SpoutletBundle::base_assets.html.twig' %}

        {#{{ block('javascripts') }}#}
        {#{{ block('stylesheets') }}#}

    </head>
    <body>
        <noscript>For optimal site interaction, please turn javascript on in your browser. For Firefox, go to Tools &rsaquo; Options &rsaquo; Content. For Internet Explorer, go to Tools &rsaquo; Internet Options &rsaquo; Security &rsaquo; Internet &rsaquo; Custom Level &rsaquo; Enable Active Scripting.<br>Otherwise, please visit our <a href="#sitemap">sitemap</a> for easier navigation.</noscript>

        {% embed 'IdeaBundle::social_scripts.html.twig' %}{% endembed %}

        {% set feedbackKey = app.request.attributes.get('_route') %}

        {% if feedbackKey in feedback_ids|keys and feedback_ids[feedbackKey] %}
            <a href="{{ path('entry_set_view', {'entrySetId': feedback_ids[feedbackKey] }) }}">
                <div class="card feedback"><h3 class="blu">Feedback</h3></div>
            </a>
        {% endif %}

        <div id="wrapper-ht">

            {%  block header %}
                {% embed 'SpoutletBundle::header.html.twig' %}{% endembed %}
                {% embed 'SpoutletBundle::navigation.html.twig' %}{% endembed %}
            {%  endblock %}

            <div id="content">

                {% block pre_content_nav %}{% endblock %}

                {% render url('_flash_message') %}
                <script type="text/javascript">
                    $('.notice').draggable();
                </script>

                <div class="clear"></div>

                {% include 'IdeaBundle:Idea:breadcrumbs.html.twig' %}

                {% block content %}
                {% endblock %}

                <br class="clr">

            </div>
            <div class="push"></div> <!-- needed for sticky footer -->
        </div><!-- end wrapper-ht -->

        {% include 'SpoutletBundle::footer.html.twig' %}
    </body>
</html>
