<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/ckeditor/';
		</script>
 
        {% block stylesheets %}
		    {% stylesheets
		        'bundles/spoutlet/css/*'
		        'bundles/comment/css/comments.css'
		        'ckeditor/skins/kama/editor.css'
		        filter='cssrewrite'
		        output='css/packed/layout.css'
		    %}
		    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
        {% endblock %}


        {% block javascripts %}
		    {% javascripts
		        'bundles/spoutlet/js/*'
		        'bundles/spoutlet/alt_js/*'
		        'bundles/comment/js/comments.js'
		        'ckeditor/ckeditor.js'
		        'ckeditor/config.js'
		        'ckeditor/lang/en.js'
		        output='js/packed/layout.js'
		    %}
		    <script type="text/javascript" src="{{ asset_url }}"></script>
		    {% endjavascripts %}
        {% endblock %}

        <title>
            {%- if block('title') -%}
                {{ block('title') }} | {{ 'platformd.layout.title_suffix' | trans }}
            {%- else -%}
            {{ 'platformd.layout.default_title' | trans }}
            {%- endif -%}
        </title>

		<script type="text/javascript">

		    $(document).ready(function(){
		        $("ul.sf-menu").supersubs({
		            minWidth:   12,   // minimum width of sub-menus in em units
		            maxWidth:   27,   // maximum width of sub-menus in em units
		            extraWidth: 1     // extra width can ensure lines don't sometimes turn over
		                              // due to slight rounding differences and font-family
		        }).superfish({
					delay:		150
				});           // call supersubs first, then superfish, so that subs are
		                              // not display:none when measuring. Call before initialising
		                              // containing tabs for same reason.

		    });
		</script>
		<script type="text/javascript">

			$(document).ready(function(){
				$('#toggleRegion').click(function(){
				$('#selectRegion').toggle();
				$('#selectLanguage').hide();
				});

				$('#toggleLanguage').click(function(){
				$('#selectLanguage').toggle();
				$('#selectRegion').hide();
				});
			});
		</script>

        {% if not app.debug %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-1256003-21']);
              _gaq.push(['_setDomainName', '.alienwarearena.com']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}
	</head>
	<body>
		<div id="omni">
	        <div id="page">
	            <div class="background-takeover" id="custom_background_top">
	                <div class="background-takeover" id="custom_background_bot">
	                    <div id="header">
	                    	{% include 'SpoutletBundle::header.html.twig' %}
	                    </div>
	                    <div id="mainNav-wrapper">
	                        {% include 'SpoutletBundle::navigation.html.twig' %}
	                    </div>
	                    <div id="content">
                            {% block pre_content_nav %}{% endblock %}

                            {#
                                Messy, but taken from the old site
                                To show a flash message, set the "flash" block
                                to your actual message. Then set the "flash_type"
                                block to: success, warning, or error

                                This also works out of the box for "error"
                                session flashes - given an "error" type and
                                the message is dumped out with some markup
                            #}

                            {% if block('flash_type') or app.session.hasFlash('error') %}
                                {% set flashType = block('flash_type') ? block('flash_type') : 'error' %}
                                <div class="xnotices">
                                    <div class="{{ flashType }}Notice notice">
                                        <div class="pad">
                                            <div class="pad2">
                                                <div class="pad3">
                                                    <div class="pad4">
                                                        {% if app.session.hasFlash('error') %}
                                                            <h3>{{ 'platformd.flash.error_title' | trans }}</h3>

                                                            <p>
                                                                {{ app.session.getFlash('error') | trans }}
                                                            </p>
                                                        {% else %}
                                                            {{ block('flash') }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

	                    	{% block content %}{% endblock %}
	                    </div>
	                    <div class="ad_728x90 ad">
                            <a href="{{ path('microsoft') }}">
	                            <img src="{{ 'platformd.layout.page_content.ad_url' | trans }}" />
                            </a>
	                    </div>
	                    {% include 'SpoutletBundle::footer.html.twig' %}
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>
