<!DOCTYPE HTML>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/ckeditor/';
		</script>

        {% block open_graph %}{% endblock %}

        {# This can never be overriden using the multitheme feature #}
        {# If you want to add css or js for only one theme, use the theme specific assets template #}
        {# Commented out pending investigation of potential bug. Using an include file like this breaks
            additional stylesheets included on individual pages in a stylesheets block #}
        {# {% include 'SpoutletBundle::base_assets.html.twig' %} #}

        {% block stylesheets %}
            {% stylesheets
                'plugins/jquery.ad-gallery/jquery.ad-gallery.css'
                'bundles/spoutlet/css/forms.css'
                'bundles/spoutlet/css/style.css'
                'bundles/spoutlet/css/superfish-aw.css'
                'bundles/spoutlet/css/thickbox.css'
                'bundles/spoutlet/css/custom-theme/jquery-ui-1.8.16.custom.css'
                'bundles/spoutlet/css/account-registration.css'
                'bundles/spoutlet/css/default.css'
                'bundles/spoutlet/css/legal.css'
                'bundles/spoutlet/css/new.css'
                'bundles/comment/css/comments.css'
                'bundles/spoutlet/css/comments.css'
                'ckeditor/skins/kama/editor.css'
                'bundles/spoutlet/css/jquery.mCustomScrollbar.css'
                'bundles/spoutlet/css/qtip.css'
		        filter='cssrewrite'
		        output='css/packed/layout.css'
		    %}
		    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts
                'bundles/spoutlet/js/ie8.js'
                'bundles/spoutlet/js/jquery-1.7.2.min.js'
                'bundles/spoutlet/js/jquery-ui-1.8.16.custom.min.js'
                'bundles/spoutlet/js/jquery.ajaxfileupload.js'
                'bundles/spoutlet/js/jquery.cycle.all.js'
                'bundles/spoutlet/js/jquery.dropshadow.js'
                'bundles/spoutlet/js/jquery.qtip.min.js'
                'bundles/spoutlet/js/jquery.simplemodal.js'
                'bundles/spoutlet/js/jquery.simpletip.js'
                'bundles/spoutlet/js/jquery.truncate.min.js'
                'bundles/spoutlet/js/progressbar.js'
                'bundles/spoutlet/js/superfish.js'
                'bundles/spoutlet/js/supersubs.js'
                'bundles/spoutlet/js/custom.js'
                'bundles/spoutlet/js/google-dfp.js'
                'bundles/spoutlet/js/jquery.countdown.min.js'
                'bundles/spoutlet/js/jquery.ddslick.min.js'
                'bundles/spoutlet/js/jstz.min.js'
		        'bundles/spoutlet/alt_js/*'
		        'bundles/comment/js/comments.js'
                'bundles/spoutlet/js/jquery.timeago.min.js'
                'ckeditor/ckeditor.js'
                'ckeditor/config.js'
                'ckeditor/lang/en.js'
                'plugins/jquery.ad-gallery/jquery.ad-gallery.js'
                'bundles/spoutlet/js/jquery.blockUI.js'
		        output='js/packed/layout.js'
		    %}
		    <script type="text/javascript" src="{{ asset_url }}"></script>

		    {% endjavascripts %}
        {% endblock %}

        {% if app.user is not null and app.user.adminLevel == "ROLE_SUPER_ADMIN" %}
            <script type="text/javascript">
                CKEDITOR.config.customConfig = '/ckeditor/config.admin.js';
            </script>
        {% endif %}

        {{ vichgeo_include_js() }}
        {{ vichgeo_include_css() }}

        {# Here we include assets for the current active theme #}
        {% include '::' ~ site.theme ~ '_assets.html.twig' ignore missing %}

        <title>
            {%- if block('title') -%}
                {{ block('title') }} | {{ 'platformd.layout.title_suffix' | trans }}
            {%- else -%}
            {{ 'platformd.layout.default_title' | trans }}
            {%- endif -%}
        </title>

		<script type="text/javascript">

		    $(document).ready(function(){
                $('a[href^="http://"]').not('a[href*=alienwarearena]').attr('target','_blank');
                $('a[href*="alienwarearena"]').attr('target','');

		        $("ul.sf-menu").supersubs({
		            minWidth:   12,
		            maxWidth:   27,
		            extraWidth: 1
		        }).superfish({
					delay:		150
				});

                var width = 0;
                $('ul.sf-menu').children().each(function(){
                    width += ($(this).width() + 10);
                });
                $('#nav-wrapper').width(width);

                $("ul.sf-menu-account").supersubs({
                    minWidth:   12,
                    maxWidth:   27,
                    extraWidth: 1
                }).superfish({
                    delay:      150
                });
		    });
		</script>
		<script type="text/javascript">

			$(document).ready(function(){
				$('#toggleRegion').click(function(e){
                    e.preventDefault();

				    $('#selectRegion').toggle();
				    $('#selectLanguage').hide();
				});

				$('#toggleLanguage').click(function(e){
                    e.preventDefault();

				    $('#selectLanguage').toggle();
				    $('#selectRegion').hide();
				});
			});
		</script>
        {% include 'SpoutletBundle:Default:_prep_google_dfp.html.twig' %}
        {% include 'SpoutletBundle::_analytics.html.twig' %}
	</head>
	<body class="site-{{ app.session.locale }}">
        {% if facebook_app_id %}
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script>
          // assume we are already logged in
          FB.init({appId: '{{ facebook_app_id }}', xfbml: true, cookie: true});
        </script>
        {% endif %}

		<div id="omni">
            {# big line to add a background-image if the page_background_image block has been set #}
	        <div id="page"{{ (block('page_background_image') ? (' style="background-image: url(\'%url%\');"'|replace({'%url%': block('page_background_image')})) : '') | raw }}>
	            <div class="background-takeover" id="custom_background_top">
	                <div class="background-takeover" id="custom_background_bot">
	                    <div id="header">
	                    	{% include 'SpoutletBundle::header.html.twig' %}
	                    </div>
	                    <div id="mainNav-wrapper">
	                        {% include 'SpoutletBundle::navigation.html.twig' %}
	                    </div>
	                    <div id="content-wrapper">
                            <div id="content-background">
                                <div id="content">
                                    {% block pre_content_nav %}{% endblock %}

                                    {#
                                        Messy, but taken from the old site
                                        To show a flash message, set the "flash" block
                                        to your actual message. Then set the "flash_type"
                                        block to: success, warning, or error

                                        This also works out of the box for "error"
                                        and "success"session flashes - given an "error"
                                        type and the message is dumped out with
                                        some markup

                                        Also, yes, I know this is hideous...
                                    #}

                                    {% if app.session.hasFlash('error') %}
                                        {% set sessionFlashType = 'error' %}
                                    {% elseif (app.session.hasFlash('success')) %}
                                        {% set sessionFlashType = 'success' %}
                                    {% else %}
                                        {% set sessionFlashType = block('flash_type') %}
                                    {% endif %}

                                    {% if  sessionFlashType %}
                                        <div class="xnotices">
                                            <div class="{{ sessionFlashType }}Notice notice">
                                                <div class="pad">
                                                    <div class="pad2">
                                                        <div class="pad3">
                                                            <div class="pad4">
                                                                {#
                                                                    funny, I had to set this as a variable - concatenating
                                                                    and translating the string all in one line was a fail
                                                                #}
                                                                {% set flashTitleKey = 'platformd.flash.'~sessionFlashType~'_title' %}
                                                                <h3>
                                                                    {{ flashTitleKey | trans }}
                                                                </h3>

                                                                {% if app.session.getFlash(sessionFlashType) %}
                                                                    <p>
                                                                        {{ app.session.getFlash(sessionFlashType) | trans }}
                                                                    </p>
                                                                {% else %}
                                                                    {{ block('flash') }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
	                    {% include 'SpoutletBundle:Default:_dealsAdBottom.html.twig' %}
                        {% if block('legal_footer') %}
                            <div class="legalese">
                                {{ block('legal_footer') }}
                            </div>
                        {% endif %}
	                    {% include 'SpoutletBundle::footer.html.twig' %}
	                </div>
	            </div>
	        </div>
	    </div>

        <!-- omniture -->
        <script language="JavaScript" type="text/javascript" src="/omniture/s_code{% if app.debug %}_dev{% endif %}.js "></script>
        <script language="JavaScript" type="text/javascript">
            s_dell.pageName="";
            s_dell.events="";
            s_dell.prop29="3rd party sites";
            s_dell.prop49="c=us&l=en&s=gen";
            var s_code=s_dell.t();if(s_code)document.write(s_code);
        </script>
        <!-- end omniture -->

        <!-- mediaplex -->
        <script language="javascript" type="text/javascript">
            <!--
            var page_url = escape(document.URL);
            var ref_url = escape(document.referrer);

            var mpt = new Date();
            var mpts = mpt.getTimezoneOffset() + mpt.getTime();

            if (window.location.protocol == "https:"){
                document.write("<iframe src=\"https:\/\/secure.img-cdn.mediaplex.com\/0\/12309\/universal.html?page_name=us_content&mpt=" + mpts + "&url=" + page_url + "&ref=" + ref_url + "\" HEIGHT=1 WIDTH=1 FRAMEBORDER=0><\/iframe>");
            } else {
                document.write("<iframe src=\"http:\/\/img-cdn.mediaplex.com\/0\/12309\/universal.html?page_name=us_content&mpt=" + mpts + "&url=" + page_url + "&ref=" + ref_url + "\" HEIGHT=1 WIDTH=1 FRAMEBORDER=0><\/iframe>");
            }
            // -->
        </script>
        <!-- end mediaplex -->

	</body>
</html>
