<div id="nav-wrapper"> <!-- begin navbar -->
    <div id="nav">
        <ul class="sf-menu sf-js-enabled sf-list" id="nav-list">
            <li><a href="{{ path('about') }}">About</a></li>
            {% block menu_items %}
                <li><a href="{{ path('sponsors') }}">Sponsors</a></li>
                <li><a href="{{ path('global_events_index') }}">Speak</a></li>
                <li><a href="{{ path('global_events_index') }}">Volunteer</a></li>
                <li><a href="{{ path('contact') }}">Contact Us</a></li>
            {% endblock %}

            {% set _isOwner = false %}
            {% set _canDelete = false %}
            {% set menu_scope = 'other' %}
            {% if app.request.get('sessionId')|default %}
                {% set menu_scope = 'session' %}
                {% if eventSession|default %}
                    {% set _isOwner = (eventSession.event.user == app.user) or (is_granted('ROLE_ADMIN')) %}
                {% endif %}
            {% elseif app.request.get('entryId')|default %}
                {% set menu_scope = 'entry' %}
                {% set _key = app.request.get('entryId') %}
                {% set _key2 = app.request.get('entrySetId') %}
                {% if idea|default %}
                    {% set _isOwner = canEdit|default %}
                    {% set _canDelete = _isOwner %}
                {% endif %}
            {% elseif app.request.get('entrySetId')|default %}
                {% set menu_scope = 'entry_set' %}
                {% set _key = app.request.get('entrySetId') %}
                {% if entrySet|default %}
                    {% if entrySet.entrySetRegistration.scope == "EventBundle:GroupEvent" %}
                        {% if event|default %}
                            {% set _isOwner = (event.user == app.user) or (is_granted('ROLE_ADMIN')) %}
                        {% endif %}
                    {% elseif entrySet.entrySetRegistration.scope == "GroupBundle:Group" %}
                        {% if group|default %}
                            {% set _isOwner = (group.owner == app.user) or (is_granted('ROLE_ADMIN')) %}
                        {% endif %}
                    {% endif %}
                    {% set _canDelete = _isOwner %}
                {% endif %}
            {% elseif app.request.get('eventId')|default %}
                {% set menu_scope = 'event' %}
                {% set _key = app.request.get('eventId') %}
                {% set _key2 = app.request.get('groupSlug') %}
                {% if event|default %}
                    {% set _isOwner = (event.user == app.user) or (is_granted('ROLE_ADMIN')) %}
                    {% set _canDelete = _isOwner and (event.entrySets|length == 0) %}
                    {% set _canContact = _isOwner and (event.registrationOption == "REGISTRATION_ENABLED") and (event.approved == true) %}
                    {% set _isPrivate = event.private %}
                    {% if event.entrySetRegistration|default %}
                        {% set _regId = event.entrySetRegistration.id %}
                    {% endif %}
                {% endif %}
            {% elseif (app.request.get('groupSlug')|default) or (app.request.get('slug')|default) %}
                {% set menu_scope = 'group' %}
                {% set _key = app.request.get('groupSlug')|default ? app.request.get('groupSlug') : app.request.get('slug')%}
                {% if group|default %}
                    {% set _isOwner = (group.owner == app.user) %}
                    {% set _isAdmin = is_granted('ROLE_ADMIN') %}
                    {% set _canDelete = (_isOwner or _isAdmin) and (group.entrySets|length == 0) and (group.numEvents == 0) %}
                    {% if  group.entrySetRegistration|default %}
                        {% set _regId = group.entrySetRegistration.id %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% set _here = app.request.get('_route') %}
            {% if app.user and (menu_scope != 'other') %}
                <li class="more" id="settingsLink">
                    <a>{{ 'platformd.layout.main_menu.settings' | pd_trans }}</a>
                    <ul id="settingsList">

                        {% if menu_scope == 'group' %}

                            {% if _isOwner or _isAdmin %}
                                <li><a href="{{ path('group_edit', {'slug': _key}) }}">Edit Group Details</a></li>
                                <li><a href="{{ path('idea_admin_event', {'groupSlug': _key}) }}">Create Event</a></li>

                                {% if group is defined %}
                                    <li><a href="{{ path('page_new', {'scope': 'group', 'containerId': group.id}) }}">Create Page</a></li>
                                {% endif %}

                                {% if _regId|default %}
                                    <li><a href="{{ path('entry_set_new', {'registrationId': _regId, 'entrySetId': 'new'}) }}">Create List</a></li>

                                    {% if group is defined %}
                                        <li><a href="{{ path('sponsors', {'scope': 'group', 'containerId': group.id}) }}">Manage Sponsors</a></li>
                                    {% endif %}
                                {% endif %}

                                {% if not group.isPublic %}
                                    <li><a href="{{ path('group_applications', { 'slug': _key }) }}">Member Approvals</a></li>
                                {% endif %}

                            {% endif %}

                            {% if group is defined %}
                                <li><a href="{{ path('group_new', {'parentGroupId': group.id}) }}">Create Sub Group</a></li>
                            {% endif %}

                            {% if not _isOwner %}

                                {% if group is defined and group.isMember(user) %}
                                    <li><a href="{{ path('group_leave', {'slug': group.slug}) }}" onclick="return confirm('Are you sure you want to leave this group?');">Leave Group</a></li>

                                {% elseif group is defined and group.isUserWatching(user) %}
                                    <li><a href="{{ path('unwatch_group', {'groupId': group.id}) }}" onclick="return confirm('Are you sure you want to stop watching this group?');">Stop Watching Group</a></li>
                                {% endif %}

                            {% endif %}

                            {% if _canDelete %}
                                <li><a href="{{  path('group_delete', {'slug': _key }) }}" onclick="return confirm('Are you sure you want to delete this group?');">Delete Group</a></li>
                            {% endif %}

                        {% elseif menu_scope == 'event' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('idea_admin_event', {'eventId': _key, 'groupSlug': _key2}) }}">Edit Event Details</a></li>
                                <li><a href="{{ path('page_new', {'scope': 'event', 'containerId': event.id}) }}">Create Page</a></li>
                                {% if _regId|default %}
                                    <li><a href = "{{ path('entry_set_new', {'registrationId': _regId, 'entrySetId': 'new'}) }}">Create List</a></li>
                                    <li><a href="{{ path('event_session_create', {'eventId': _key, 'groupSlug': _key2}) }}">Create Session</a></li>
                                    <li><a href="{{ path('group_event_attendees', {'eventId': _key, 'groupSlug': _key2}) }}">Manage Attendees</a></li>
                                    <li><a href="{{ path('sponsors', {'scope': 'event', 'containerId': event.id}) }}">Manage Sponsors</a></li>
                                    <li><a href="{{ path('idea_admin_images', {'groupSlug': _key2, 'eventId': _key}) }}">Manage Images</a></li>
                                {% endif %}

                                {% if _isPrivate %}
                                    <li><a href="{{ path('idea_admin_member_approvals', {'groupSlug': _key2, 'eventId': _key}) }}">Membership Approvals</a></li>
                                {% endif %}

                            {% endif %}

                            {% if (event.user != user) %}

                                {% if event.isUserAttending(user) %}
                                    <li><a href="{{ path('group_event_unregister', {'groupSlug': _key2, 'eventId': _key}) }}" onclick="return confirm('Are you sure you want to leave this event?');">Leave Event</a></li>

                                {% elseif event.isUserWatching(user) %}
                                    <li><a href="{{ path('unwatch_event', {'eventId': _key}) }}" onclick="return confirm('Are you sure you want to stop watching this event?');">Stop Watching Event</a></li>
                                {% endif %}

                            {% endif %}

                            {% if _canDelete %}
                                <li><a href="{{ path("group_event_delete", {"eventId": _key, "groupSlug": _key2}) }}" onclick="return confirm('Are you sure you want to delete this event?');">Delete Event</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'entry_set' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('entry_set_edit', {'entrySetId': _key}) }}">Edit List Details</a></li>
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{ path('entry_set_delete', {'entrySetId': _key}) }}" onclick="return confirm('Are you sure you want to delete this list?');">Delete List</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'entry' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('idea_edit_form', {'entryId': _key, 'entrySetId': _key2}) }}">Edit Entry Details</a></li>
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{ path('idea_delete', {'entryId': _key, 'entrySetId': _key2}) }}" onclick="return confirm('Are you sure you want to delete this entry?');">Delete Entry</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'session' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('event_session_edit', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id}) }}">Edit Session</a></li>
                                <li><a href="{{ path('event_session_delete', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id}) }}" onclick="return confirm('Are you sure you want to delete this session?');">Delete Session</a></li>
                            {% endif %}
                        {% endif %}

                    </ul>
                </li>
            {% endif %}

            {% if not app.user %}
                <li><a href="{{ path('fos_user_registration_register') }}">Join Campsite Now &rsaquo;</a></li>
            {% endif %}

        </ul>

    </div> <!-- end nav -->
</div> <!-- end nav-wrapper -->


<script type="text/javascript">
    $(document).ready(function(){
        $("ul.sf-list").supersubs({
            minWidth:    10,   // minimum width of submenus in em units
            maxWidth:    27,   // maximum width of submenus in em units
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over
            // due to slight rounding differences and font-family
        }).superfish({
            delay:      150,
            animation:  {opacity:'show',height:'show'},
            speed:      'fast'
        });

        if ($('ul#settingsList li').length < 1) {
            $('#settingsLink').hide();
        }
    });
</script>