<div id="mainNav">
    <div class="wide-950">
        <div id="nav-wrapper">
            <ul class="sf-menu sf-js-enabled sf-shadow" id="nav">
                <li><a href="{{ path('default_index') }}">{{ 'platformd.layout.main_menu.home' | trans }}</a></li>
                <li>{{ site_link('ALIENWARE_LINK') }}</li>

                {% if site_has_feature('GAMES_NAV_DROP_DOWN') %}
                    <li class="more">
                        <a class="blue">{{ 'games' | trans }}</a>
                        <ul>
                            <li><a href="http://alienwarearena.com/game/bf3/">Battlefield 3</a></li>
                            <li><a href="http://alienwarearena.com/game/lol/">League of Legends</a></li>
                            <li><a href="http://alienwarearena.com/game/sc2/">Starcraft II</a></li>
                            <li><a href="http://alienwarearena.com/game/rift/">Rift</a></li>
                            {% if site_has_feature('GAMES') -%}
                                <li><a href="{{ path('game_page_list') }}">{{ 'more_games' | trans }}</a></li>
                            {%- endif %}
                        </ul>
                    </li>
                {% elseif site_has_feature('GAMES') %}
                    <li><a href="{{ path('game_page_list') }}">{{ 'games' | trans }}</a></li>
                {% endif %}

                <li>{{ site_link('EVENTS') | raw }}</a></li>

                {% if site_has_feature('NEWS') %}
                    <li><a href="{{ path('news') }}">{{ 'platformd.layout.main_menu.news' | trans }}</a></li>
                {% else %}
                    <li class="more">
                        <a class="blue">{{ 'platformd.layout.main_menu.news' | trans }}</a>
                        <ul>
                            <li><a href="http://www.alienwarearena.com/articles/">Articles</a></li>
                            <li><a href="http://www.alienwarearena.com/news/">Announcements</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if site_has_feature('SWEEPSTAKES') %}
                    <li><a href="/sweepstakes">{{ 'platformd.layout.main_menu.sweeps' | trans }}</a></li>
                {% endif %}

                {% if site_has_feature('VIDEO') or site_has_feature('WALLPAPER') %}
                    <li class="more">
                        <a class="blue">{{ 'platformd.layout.main_menu.media' | trans }}</a>
                        <ul>
                            {% if site_has_feature('VIDEO') %}
                                <li><a href="http://video.alienwarearena.com/">{{ 'platformd.layout.main_menu.video' | trans }}</a></li>
                            {% endif %}
                            {% if site_has_feature('WALLPAPER') %}
                                <li><a href="/pages/wallpapers">{{ 'platformd.layout.main_menu.wallpapers' | trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if site_has_feature('DEALS') %}
                    <li><a href="{{ path('deal_list') }}"><span style="color: #ff5711;padding-right: 2px;">{{ 'deals_new' | trans }}</span>{{ 'deals' | trans }}</a></li>
                {% endif %}

                {% if site_has_feature('FORUMS') %}
                    <li><a href="/forums">{{ 'platformd.layout.main_menu.forums' | trans }}</a></li>
                {% endif %}

                {% if site_has_feature('ARP') %}
                    <li><a href="/arp">{{ 'platformd.layout.main_menu.arp' | trans }}</a></li>
                {% endif %}

                <li><a href="{{ path('microsoft') }}">{{ 'platformd.layout.main_menu.microsoft' | trans }}</a></li>
                <li class="last"><a>&nbsp;</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
