{% if (app.session.locale == 'zh') %}
    {% set localeName = 'platformd.layout.region.china' | trans %}
{% elseif (app.session.locale == 'ja') %}
    {% set localeName = 'platformd.layout.region.japan' | trans %}
{% else %}
    {% set localeName = 'platformd.layout.region.usa_canada' | trans %}
{% endif %}

<div class="to_alienware" id="regionLink">
    <a class="grey" href="#" id="toggleRegion" onclick=
    "s_objectID=&quot;http://www.alienwarearena.com/#_1&quot;;return this.s_oc?this.s_oc(e):true"
    name="toggleRegion">{{ 'platformd.layout.region.region' | trans }} {{ localeName }} <span class="change">{{ 'platformd.layout.region.change' | trans }}</span></a>
</div>

<div style="display:none;" id="selectRegion">
    <p>{{ 'platformd.layout.region.change_region' | trans }}</p>

    <ul>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/4/?return=%2F">{{ 'platformd.layout.region.global' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/1/?return=%2F">{{ 'platformd.layout.region.usa_canada' | trans }}&nbsp;<img src="/bundles/spoutlet/images/us.png" />&nbsp;<img src="/bundles/spoutlet/images/ca.png" /></a></li>
        <li>
        <a href="http://www.alienwarearena.com/cmd/default/set-region/2/?return=%2F">{{ 'platformd.layout.region.malasia_singapore' | trans }}&nbsp;<img src="/bundles/spoutlet/images/my.png" />&nbsp;<img src="/bundles/spoutlet/images/sg.png" /></a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/3/?return=%2F">{{ 'platformd.layout.region.america_latina' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/5/?return=%2F">{{ 'platformd.layout.region.europe' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/3/?return=%2F">{{ 'platformd.layout.region.china' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/5/?return=%2F">{{ 'platformd.layout.region.japan' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-region/7/?return=%2F">{{ 'platformd.layout.region.india' | trans }}&nbsp;<img src="/bundles/spoutlet/images/in.png" /></a></li>
    </ul>
    <p>{{ 'platformd.layout.region.change_language' | trans }}</p>
    <ul>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-language/1/?return=%2F">{{ 'platformd.layout.region.english' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-language/2/?return=%2F">{{ 'platformd.layout.region.espanol' | trans }}</a></li>
    </ul>
</div>