<div class="to_alienware" id="regionLink">
    <a class="grey" href="#" id="toggleRegion" onclick=
    "s_objectID=&quot;http://www.alienwarearena.com/#_1&quot;;return this.s_oc?this.s_oc(e):true"
    name="toggleRegion">{{ 'platformd.layout.region.region' | trans }} {{ ('platformd.layout.region.'~app.session.locale) | trans  }} <span class="change">{{ 'platformd.layout.region.change' | trans }}</span></a>
</div>

<div style="display:none;" id="selectRegion">
    <p>{{ 'platformd.layout.region.change_region' | trans }}</p>

    <ul>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/4/?return=%2F">{{ 'platformd.layout.region.global' | trans }}</a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/1/?return=%2F">{{ 'platformd.layout.region.en_US' | trans }}&nbsp;<img src="/bundles/spoutlet/images/us.png" />&nbsp;<img src="/bundles/spoutlet/images/ca.png" /></a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/2/?return=%2F">{{ 'platformd.layout.region.en_SG' | trans }}&nbsp;<img src="/bundles/spoutlet/images/my.png" />&nbsp;<img src="/bundles/spoutlet/images/sg.png" /></a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/3/?return=%2F">{{ 'platformd.layout.region.es' | trans }}</a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/5/?return=%2F">{{ 'platformd.layout.region.en_GB' | trans }}</a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/cmd/default/set-region/7/?return=%2F">{{ 'platformd.layout.region.en_IN' | trans }}&nbsp;<img src="/bundles/spoutlet/images/in.png" /></a>
        </li>
        <li>
            <a href="http://www.alienwarearena.com/anz">{{ 'platformd.layout.region.en_AU' | trans }}&nbsp;<img src="/bundles/spoutlet/images/au.png" />&nbsp;<img src="/bundles/spoutlet/images/nz.png" /></a>
        </li>
        {#<li>
            <a href="{{ path('default_index', {'_locale': 'zh'}) }}">{{ 'platformd.layout.region.zh' | trans }}&nbsp;<img src="/bundles/spoutlet/images/cn.png" /></a>
        </li>#}
        <li>
            <a href="{{ path('default_index', {'_locale': 'ja'}) }}">{{ 'platformd.layout.region.ja' | trans }}&nbsp;<img src="/bundles/spoutlet/images/jp.png" /></a>
        </li>
    </ul>
    {% if app.session.locale != 'ja' and app.session.locale != 'zh' %}
    <p>{{ 'platformd.layout.region.change_language' | trans }}</p>
    <ul>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-language/1/?return=%2F">{{ 'platformd.layout.region.english' | trans }}</a></li>
        <li><a href="http://www.alienwarearena.com/cmd/default/set-language/2/?return=%2F">{{ 'platformd.layout.region.espanol' | trans }}</a></li>
    </ul>
    {% endif %}
</div>
