{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	Logged in as <strong><a href="{{ path('accounts_profile') }}">{{ app.user.username }}</a></strong>
	<li class="separator"><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
	<li class="separator"><a href="{{ path('accounts_index') }}">Account</a></li>
{% else %}
	<li class="separator"><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
	<li class="separator"><a href="{{ path('fos_user_registration_register') }}">Join</a></li>
{% endif %}
{% for key, message in app.session.getFlashes() %}
	<div class="{{ key }}">
		{{ message|trans({}, 'FOSUserBundle') }}
	</div>
{% endfor %}

{% block fos_user_content %}
{% endblock fos_user_content %}