{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{{ 'platformd.layout.top_menu.logged_in_as' | trans({
    '%username%': app.user.username,
    '%route%': path('accounts_profile', { 'username': app.user.username } )
}) | raw }}
	<li class="separator"><a href="{{ path('_fos_user_security_logout') }}">{{ 'platformd.layout.top_menu.sign_out' | trans }}</a></li>
	<li class="separator"><a href="{{ path('accounts_index') }}">{{ 'platformd.layout.top_menu.account' | trans }}</a></li>

    {% if is_granted("ROLE_ADMIN") %}
    <li class="separator"><a href="{{ path('admin_index') }}">{{ "platformd.layout.top_menu.admin" | trans }}</a></li>
    {% endif %}
{% else %}
	<li class="separator"><a href="http://alienwarearena.com/account/login?return={{ app.request.uri | url_encode }}">{{ 'platformd.layout.top_menu.sign_in' | trans }}</a></li>
	<li class="separator"><a href="{{ path('fos_user_registration_register') }}">{{ 'platformd.layout.top_menu.join' | trans }}</a></li>
{% endif %}
