{% if groups | length > 0 %}
    {% for group in groups %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('group_show', { slug: group.slug}) }}">
                    {% if group.thumbNail %}
                    <img class="media-thumb" src="{{ media_path(group.thumbNail) }}" alt="{{ group.name }}" title="{{ group.name }}" />
                    {% else %}
                    <img class="media-thumb" src="/bundles/spoutlet/images/alienwarelogothumb-140x85.png" alt="{{ group.name }}" title="{{ group.name }}" />
                    {% endif %}
                    <div class="thumbnail-vote-caption">
                        <a href="javascript:void(0);" class="quick-vote-link" media-data="{{ group.id }}">Quick Vote</a>
                    </div>
                </a>
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('group_show', { slug: group.slug}) }}">{{ group.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
