{% if groups | length > 0 %}
    {% for group in groups %}
        <div class="group-list-item">
            <a href="{{ path('group_show', { slug: group.slug}) }}" target="_blank">
                {% if group.thumbNail %}
                <img src="{{ media_path(group.thumbNail) }}" alt="{{ group.name }}" title="{{ group.name }}" />
                {% else %}
                <img src="/bundles/spoutlet/images/alienwarelogothumb-140x85.png" alt="{{ group.name }}" title="{{ group.name }}" />
                {% endif %}
            </a>
            <a href="{{ path('group_show', { slug: group.slug}) }}" class="group-index-link" title="{{ group.name }}" target="_blank">
                {{ group.name }}
            </a>
            <div class="details">
                <div class="item-detail">Members: {{ group.members.count }}</div>
                <div class="item-detail">Organizer: {{ group.owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'Staff' : group.owner.username }}</div>
            </div>
        </div>
    {% endfor %}
{% endif %}
