{% if medias | length > 0 %}
    {% for media in medias %}
        {% set isFirstInRow = (loop.index - 1) is divisibleby(4) or loop.first  %}
        <div class="gallery-media-thumb-wrapper{% if isFirstInRow %} first{% endif %}">
            <div class="gallery-media-thumb">
                <a href="{{ path('gallery_media_show', { id: media.id }) }}">
                    <img class="media-thumb" title="{{ media.title }}" src="{{ media_path(media.image, {'local': true}) | imagine_filter('media_photo_thumb') }}" />
                    {% if app.user is not null %}
                        {% if media.hasUserVoted(app.user) == false and contest.isVotable %}
                            <div class="thumbnail-vote-caption">
                                <a href="javascript:void(0);" class="quick-vote-link" media-data="{{ media.id }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="thumbnail-vote-caption">
                            <a href="http://alienwarearena.com/account/login?return={{ ("http://" ~  app.request.headers.get('Host') ~ path('contest_vote', { 'slug': contest.slug }) ~ '?vote=' ~ media.id) | url_encode }}">{{ 'galleries.quick_vote_caption' | trans }}</a>
                        </div>
                    {% endif %}
                </a>
            </div>
            <div style="width:135px;">
                <a class="media-title" href="{{ path('gallery_media_show', { id: media.id }) }}">{{ media.title }}</a>
                <div>by: <a href="{{ cevo_account_link(media.author.username) }}">{{ media.author.username }}</a></div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% include 'SpoutletBundle:Gallery:_quickVoteJavascript.html.twig' %}
