{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'contests.index_page_title' | trans %}

{% block content %}
<h2 style="color:#fff;">{{ 'contests.index_page_title_long' | trans }}</h2>
<div class="styled-select">
    <select id="filter-select">
        <option value="image">Images</option>
        <option value="group">Groups</option>
        <option value="expired">Expired</option>
    </select>
</div>
<div class="contest-list">
{% include "SpoutletBundle:Contest:_contests.html.twig" with {"contests": contests} %}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#filter-select').change(function () {
                var val = $(this).val();
                $.ajax({
                    url: '{{ path('contest_filter') }}' + '/' + val,
                    success: function (html) {
                        $('.contest-list').html(html);
                    }
                });
            });
        });
    </script>
{% endblock %}
