{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'contests.index_page_title' | trans %}

{% block content %}
{% for contest in contests %}
<div class="contest-wrapper">
    <h2><a href="{{ path('contest_show', {slug: contest.slug}) }}">{{ contest.name }}</a></h2>
    <h6>{{ 'contests.entry_period' | trans }}: {{ contest.submissionStart | date('M d, Y')}} - {{ contest.submissionEnd | date('M d, Y')}}
        <br />
        {{ 'contests.vote_period' | trans }}: {{ contest.votingStart | date('M d, Y')}} - {{ contest.votingEnd | date('M d, Y')}}
    </h6>
</div>
{% else %}
<p>{{ 'contests.no_contest' | trans }}</p>
{% endfor %}
{% endblock %}
