{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<div class="std_1col" >
    {% include 'SpoutletBundle:Contest:_links.html.twig' %}
</div>
<div class="std_2col">
    <div class="left">
        <div class="widget-66">
            <div class="widget-header">
                <div class="widget-title">
                    {{ contest.name }}
                </div>
            </div>
            <div class="widget-content">
                <div>
                    {{ contest.entryInstructions | raw }}
                </div>
            </div>
        </div>
        <div style="width:100%;padding:15px 0 15px 0;text-align:center;">
            <a class="{% if not canVote %}disabled-button{% else %}btn{% endif %}" id="vote-now" href="{{ path('contest_vote', {slug: contest.slug})}}">{{ 'contests.show_page_vote_now' | trans }}</a>
        </div>
    </div>
    <div class="right">
        <div class="widget-33">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'contests.show_page_instructions' | trans }}
                </div>
            </div>
            <div class="widget-content">
                <div id="contest-instructions">
                    <ol>
                        {% include 'SpoutletBundle:Contest:_steps.html.twig' with { 'contest' : contest } %}
                        {% if (instructions is not empty)  %}
                            {% for instruction in instructions %}
                            <li>
                                <span class="item controlled-spacing">{{ instruction | raw }}</span>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                    <div class="form-msg-error" id="contest_error" style="display:none;margin-left:0;width:auto;"></div>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if isEligible %}
                            <div style="padding-top: 10px;">
                                <form id="contest-entry-form" method="post" action="{{ path('contest_enter', {slug: contest.slug}) }}">
                                    <input type="checkbox" id="contest-agree" name="contest-agree" /><span style="margin-left: 5px;">{{ agreeText | raw }}</span>
                                    <div style="text-align:center;">
                                        <button type="submit" formnovalidate style="margin-top: 10px;">{{ 'contests.show_page_enter_contest' | trans }}</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if isEntered %}
                        {% if (contest.submissionEnd | date('Y-m-d H:i:s')) > ('now' | date('Y-m-d H:i:s')) %}
                            <div style="text-align:center;">
                                <button id="btn-submit-photos" style="margin-top: 10px;">{{ 'contests.show_page_submit_photos' | trans }}</button>
                            </div>
                        {% else %}
                            <p style="text-align: center;"><em>This contest is no longer available</em></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contest-terms-modal-content" class="modal-content" style="display: none">
    <h3>{{ 'contests.show_page_official_rules' | trans }}</h3>
    {{ contest.rules | raw }}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/jquery.mCustomScrollbar.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.mCustomScrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.resize.min.js') }}"></script>
    <script type="text/javascript">
        window.Sweeps = {
            renderError: function(msg) {

                $('#contest_error').html(msg).show();
            }
        };

        $(function () {
            if($('#vote-now').hasClass('disabled')) {
                $('#vote-now').click(function (e) {
                    e.preventDefault();
                });
            }

            $('#btn-submit-photos').delegate('','click change',function(){
                window.location = '{{ path('contest_submit', {slug: contest.slug}) }}';
                return false;
            });

            $('#contest-official-rules').click(function() {
                $.modal($('#contest-terms-modal-content'), {
                    overlayClose: true
                });

                return false;
            });

            // on submit of the form, make sure that both of the checkboxes are checked
            $('#contest-entry-form').submit(function() {
                if (!$('#contest-agree').is(':checked')) {
                    Sweeps.renderError('{{ 'contests.enter_page_you_must_agree' | trans }}');

                    return false;
                }

                return true;
            });

            //$('.modal-content').scrollable();
        });
    </script>
{% endblock %}
