{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<h3 class="contest-header" style="text-align:center;">{{ contest.name }}</h3>
<div style="text-align:center;">
    {% include 'SpoutletBundle:Contest:_enterVoteLinks.html.twig' %}
</div>
<div class="std_1col" style="text-align: center;">
    <img src="{{ media_path(contest.banner) }}" alt="{{ contest.name }}" />
</div>
<div class="std_2col">
    <div class="left">
        <div class="widget-66">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'contests.show_page_overview' | trans }}
                </div>
            </div>
            <div class="widget-content">
                <div>
                    {{ contest.entryInstructions | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="widget-33">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'contests.show_page_instructions' | trans }}
                </div>
            </div>
            <div class="widget-content">
                <div id="contest-instructions">
                    <ul>
                        {% include 'SpoutletBundle:Contest:_steps.html.twig' with { 'contest' : contest } %}
                        {% if (instructions is not empty)  %}
                            {% for instruction in instructions %}
                            <li>
                                <span class="step-number">{{ 'deal_instructions_step' | trans}} {{ loop.index + 1 }}:</span>
                                <span class="item controlled-spacing">{{ instruction | raw }}</span>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {% if isEligible %}
                    <div style="padding-top: 10px;">
                        <form method="post" action="{{ path('contest_enter', {slug: contest.slug}) }}">
                            <input type="checkbox" id="contest-agree" name="contest-agree" /><span style="margin-left: 5px;">{{ agreeText | raw }}</span>
                            <div style="text-align:center;">
                                <button type="submit" formnovalidate style="margin-top: 10px;">Enter Contest</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contest-terms-modal-content" class="modal-content" style="display: none">
    <h3>{{ 'contests.show_page_official_rules' | trans }}</h3>
    {{ contest.rules | raw }}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#contest-official-rules').click(function() {
                $.modal($('#contest-terms-modal-content'), {
                    overlayClose: true
                });

                return false;
            });
        });
    </script>
{% endblock %}
