{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<div class="xnotices" id="flash-publish-success" style="display:none;">
    <div class="successNotice notice">
        <div class="pad">
            <div class="pad2">
                <div class="pad3">
                    <div class="pad4">
                        <h3>{{ 'galleries.submit_photo_publish_success' | trans }}</h3>
                        <p>{{ 'galleries.submit_photo_publish_message' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="std_2col">
    <div class="left">
        <h3>{{ 'galleries.submit_photo_page_header' | trans }}</h3>
        {% if entriesLeft > 0 %}
            {% if not submissionEnded %}
                <form action="{{ path('contest_submit', {slug: contest.slug}) }}" method="post" {{ form_enctype(form) }}>
                    {% include 'SpoutletBundle:Gallery:_submitImageForm.html.twig' %}
                    <input type="hidden" id="entries-left" value="{{ entriesLeft }}" />
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save Photos</button>
                        <button id="cancel" class="btn btn-primary" rel="{{ path('contest_show', { slug: contest.slug }) }}" style="margin-left: 10px;">Cancel</button>
                    </div>
                </form>
            {% else %}
                <p>{{ 'contests.submit_page_submission_ended' | trans }}</p>
            {% endif %}
        {% else %}
        <p>{{ 'contests.submit_page_entry_max_reached' | trans }}</p>
        {% endif %}
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>

{% if medias | length > 0 %}
<div class="std_2col" id="publish-media">
    <div class="left">
        <p>
            <span style="font-weight:bold;">{{ 'galleries.submit_photo_step2' | trans }}</span>
            {{ 'galleries.submit_photo_step2_detail' | trans }}
        </p>
        <div id="media-form" class="form-horizontal">
            <ul id="media-form-errors">
            </ul>
            <div class="span11">
                <div class="control-group ">
                    <label class="control-label" for="media-title">{{ 'galleries.submit_photo_image_name' | trans }}</label>
                    <div class="controls">
                        <input type="text" id="media-title" name="media-title" required="required" maxlength="255" class="photo-title form-txt">
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label" for="media-description">{{ 'galleries.submit_photo_image_desc' | trans }}</label>
                    <div class="controls">
                        <textarea id="media-description" name="media-description" required="required" maxlength="512" class="photo-description"></textarea>
                    </div>
                </div>
                <div id="platformd_spoutletbundle_gallery_media_galleries">
                    <div class="control-group ">
                        <label class="control-label">{{ 'galleries.submit_photo_image_galleries' | trans }}</label>
                        <div class="controls">
                            {% for gallery in galleries %}
                                <label class="checkbox">
                                    <input class="gallery-checkbox" type="checkbox" id="gallery-{{ gallery.id }}" name="gallery-{{ gallery.id }}" value="{{ gallery.id }}" />
                                    {{ gallery.name }}
                                </label>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div id="gallery-submit-image-groups">
                    <div class="control-group ">
                        <label class="control-label">{{ 'galleries.submit_photo_groups' | trans }}</label>
                        <div class="controls">
                        {% if groups | length > 0 %}
                            {% for group in groups %}
                                <label class="checkbox">
                                    <input class="group-checkbox" type="checkbox" id="group-{{ group.id }}" name="group-{{ group.id }}" value="{{ group.id }}" />
                                    {{ group.name }}
                                </label>
                            {% endfor %}
                        {% else %}
                            <p style="margin-top: 7px;">You are not a member of any groups at this time.</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <input type="hidden" id="media-id" name="media-id" />
            </div>
        </div>
        <div class="form-actions">
            <button id="publish-photo" class="btn btn-primary" formnovalidate>{{ 'galleries.submit_photo_button_publish' | trans}}</button>
        </div>
    </div>
    <div class="right">
        {% for media in medias %}
            <div class="gallery-media-wrapper">
                <img title="{{ media.title }}" id="media-{{ media.id }}" class="gallery-media" data-title={{ media.title }} data-id="{{ media.id }}" src="{{ media_path(media.image, {'local': true}) | imagine_filter('image_thumb') }}" />
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'SpoutletBundle:Contest:_formJavascript.html.twig' %}
    <script type="text/javascript">
        $(function() {

            var t;

            var clearForm = function() {
                $('#media-title').val('');
                $('#media-description').val('');
                $('input:checkbox').removeAttr('checked');
                $('#media-form-errors').empty();
                var mediaCount = $('.gallery-media').length;

                if(mediaCount == 0) {
                    var url = "{{ path('gallery_share_photo') }}";
                    window.location = url;
                }
            }

            var hideFlash = function () {

                clearTimeout(t);

                t = window.setTimeout(function() {

                    $('.xnotices').fadeOut();
                }, 10000);
            }

            $('#publish-photo').click(function () {
                var url = '{{ path('gallery_publish_photo') }}';

                var galleries = [];

                $('.gallery-checkbox').each(function () {
                    if($(this).is(':checked')) {
                        galleries.push($(this).val());
                    }
                });

                var media = {
                    'id' : $('#media-id').val(),
                    'title' : $('#media-title').val(),
                    'description' : $('#media-description').val(),
                    'galleries' : galleries,
                };

                $.ajax({
                    type: 'post',
                    url: url,
                    data: JSON.stringify(media),
                    contentType: 'application/json',
                    success: function(data) {
                        if(data.success) {
                            $('#flash-publish-success').fadeIn();
                            $('#media-' + $('#media-id').val()).parent().remove();
                            clearForm();
                            hideFlash();
                        } else {
                            $('#media-form-errors').empty();
                            if(data.errors.length > 0) {
                                $.each(data.errors, function(i, item) {
                                    $('#media-form-errors').append('<li class="media-publish-error">' + item + '</li>');
                                });
                            }
                        }
                    }
                });
            });

            $('.gallery-media').click(function () {
                $('.gallery-media').removeClass('active');
                $(this).addClass('active');
                var title = $(this).attr('data-title');
                var id = $(this).attr('data-id');
                $('#media-title').val(title);
                $('#media-id').val(id);
            });

            $('.gallery-media').qtip({
                style: {
                    border: {
                        width: 2,
                        radius: 5 },
                        padding: 10,
                        tip: true,
                        name: 'dark'
                    },
                    position: {
                        corner: {
                            tooltip: 'leftMiddle',
                            target: 'rightMiddle'
                    }
                }
            });

            $('.gallery-media').hover(
                function () {

                    $(this).addClass('active');
                },
                function () {
                    var selected = $('#media-id').val();
                    var current = $(this).attr('data-id');

                    if(current == selected) {
                        return;
                    }
                    $(this).removeClass('active');
                }
            );

            hideFlash();


            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
