{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<div class="std_1col" >
    {% include 'SpoutletBundle:Contest:_links.html.twig' %}
</div>
<h3 class="contest-header">{{ contest.name }}</h3>
<div class="std_2col">
    <div class="left">
        <div id="contest-voting-rules">
            {{ contest.voteInstructions | raw }}
        </div>
        <div id="contest-entries">

            {% if contest.category == 'image' %}
                {% include "SpoutletBundle:Contest:_medias.html.twig" with { "medias" : medias} %}
            {% elseif contest.category == 'group' %}
                {% include "SpoutletBundle:Contest:_groups.html.twig" with { "groups" : groups} %}
            {% endif %}
        </div>
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>

{% include 'SpoutletBundle:Gallery:_quickVotePopup.html.twig' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/groups.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.expander.min.js') }}"></script>
    <script src="{{ asset('bundles/spoutlet/js/jquery.truncate.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('.gallery-media-thumb').hover(function() {
                $(this).find('div.thumbnail-vote-caption').stop(false,true).fadeIn(200);
            },
            function() {
                $(this).find('div.thumbnail-vote-caption').stop(false,true).fadeOut(200);
            });
        });

        $(function () {
            $('.media-title').truncate({
                width: 115,
            });
            $('#contest-voting-rules').expander({
                slicePoint:       600,
                expandText:       "{{ 'platformd.show_more' | trans }}",
                userCollapseText: "{{ 'platformd.show_less' | trans }}",
            });
        });
    </script>
{% endblock %}
