{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<h3 class="contest-header">{{ contest.name }}</h3>
{% include 'SpoutletBundle:Contest:_enterVoteLinks.html.twig' %}
<div class="std_2col">
    <div class="left">
        <div id="contest-voting-rules">
            {{ contest.voteInstructions | raw }}
        </div>
    </div>
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.expander.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#contest-voting-rules').expander({
                slicePoint:       600,
                expandText:       "{{ 'platformd.show_more' | trans }}",
                userCollapseText: "{{ 'platformd.show_less' | trans }}",
            });
        });
    </script>
{% endblock %}
