{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title contest.name %}

{% block content %}
<div class="std_1col" >
    {% include 'SpoutletBundle:Contest:_links.html.twig' %}
</div>
<div class="std_1col">
    <h2 style="text-align:center;color:#fff;">{{ 'contests.winners_page_congrats' | trans }}</h2>
    <div id="contest-entries">
        <table>
            <tr>
        {% for winner in winners %}
                <td style="padding: 0 17px 0 0;text-align:center;">
                    <a href="{{ path('gallery_media_show', {id : winner.id}) }}">
                        <img src="{{ media_path(winner.image, {'local': true}) | imagine_filter('media_contest_winner') }}" alt="{{ winner.title }}" style="border:1px solid #6C6C6C;" />
                    </a>
                    <div style="font-size: 14px;">
                        {{ loop.index | add_ordinal_suffix }} {{ 'contests.place' | trans }}: <a href="{{ path('accounts_profile', {username: winner.author.username}) }}">{{ winner.author.username }}</a>
                    </div>
                </td>
        {% else %}
        <tr>
            <td><p>{{ 'contests.no_winners' | trans }}</p></td>
        </tr>
        {% endfor %}
            </tr>
        </table>
    </div>
</div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/galleries.css') }}" />
{% endblock %}
