{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title event.name %}

{% block content %}

    <div id="event-contact-page">

        <div class="std_2col" style="min-height: 500px; margin-top: 10px;">
            <div class="left">
                <div class="widget-66">
                    <div class="widget-header" style="padding-bottom:10px;">
                        <div class="widget-title">
                            <div id="event-contact-title">{{ 'platformd.events.event_contact.title' | pd_trans }}</div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <form id="event-contact-form" action="{{ path('group_event_contact', event.linkableRouteParameters) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                            {{ form_widget(form) }}
                            <div class="form-actions right" >
                                <input type="submit" id="preview" class="btn" formnovalidate value="Preview"/>
                                <input type="submit" id="submit" class="btn" formnovalidate value="Send"/>
                                <a class="btnLg" href="{{ path('group_event_attendees', {'eventId': event.id, 'groupSlug': group.slug}) }}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="right">

                <div class="widget-33" id="event-details-widget" style="height: auto;">
                    <div class="widget-header">
                        <div class="widget-title">{{ event.attendeeCount }} {{ 'platformd.events.event_contact.attending' | pd_trans }}</div>
                    </div>
                    <div class="widget-content">

                        <div id="event-attendee-list">
                            <hr class="small-margin"/>
                            <div class="event-attendee">
                                <div class="event-hover-div"></div>
                                {% if get_avatar_url(event.user, 48) != false %}
                                    <img src="{{ asset(get_avatar_url(event.user, 48)) }}" alt="{{ event.user.name }}" />
                                {% endif %}
                                <a href="javascript:void(0);"><span class="username hidden">{{ event.user.username }}</span>{{ event.user.name }}</a>
                                <span id="event-host-tag">Event Host</span>
                            </div>
                            {% for attendee in event.attendees %}
                                {% if event.user != attendee %}
                                    <hr class="small-margin"/>
                                    <div class="event-attendee">
                                        <div class="event-hover-div"></div>
                                        {% if get_avatar_url(attendee, 48) != false %}
                                            <img src="{{ asset(get_avatar_url(attendee, 48)) }}" alt="{{ attendee.name }}" />
                                        {% endif %}
                                        <a href="javascript:void(0);"><span class="username hidden">{{ attendee.username }}</span>{{ attendee.name }}</a>
                                    </div>
                                {% endif %}
                            {% else %}
                            {% endfor %}
                            <hr class="small-margin"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#preview').click(function(){
                $('#event-contact-form').attr('action', '{{ path('group_event_email_preview', event.linkableRouteParameters) }}');
                $('#event-contact-form').attr('target', '_blank');
            });

            $('#submit').click(function(){
                $('#event-contact-form').attr('action', '{{ path('group_event_contact', event.linkableRouteParameters) }}');
                $('#event-contact-form').removeAttr('target');
            });

            $('#cancel').click(function(e){
                e.preventDefault();
                var url = {% if event.externalUrl %}'{{ path("group_show", { "slug": group.slug }) ~ "#events" }}'{% else %}'{{ event | pd_link }}'{% endif %};
                document.location.href = url;
            });

            $('.event-attendee').hover(function() {
                $(this).children('.event-hover-div').show();
            },
            function() {
                $(this).children('.event-hover-div').hide();
            });

            $('.event-attendee').click(function() {
                var username = $.trim($(this).find('.username').text());
                var recipients = [];

                if ($('#email_users').val()) {
                    recipients = $('#email_users').val().split(',');
                }

                if ($.inArray(username, recipients) < 0) {
                    if ($('#email_users').val()) {
                        $('#email_users').val($('#email_users').val() + ',' + username);
                    } else {
                        $('#email_users').val(username);
                    }

                }

            });

        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'EventBundle::_css_assets.html.twig' %}
{% endblock %}
