{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <div id="contentLft">
        <h1 class="ctr">{{ event.name }}</h1>
        <div id="eventSummary">

            {% set numImages = event.rotatorImages|length %}

            {% if numImages > 0 %}
                <div class="intro">
                    <div id="slideshow" class="pics">

                        {% for image in event.rotatorImages %}

                        <div class="unicusSlides">
                            <a href="#">
                                <img src="{{  media_path(image) }}" width="644" height="340"/>
                            </a>
                        </div>

                        {% endfor %}

                    </div>
                    {% if numImages > 1 %}
                        <ul id="bullets"></ul> <!-- nav bullets -->
                    {% endif %}
                 </div>

                <script type="text/javascript">
                    $(function() {
                        $('#slideshow').cycle({
                            fx:     'scrollHorz',
                            speed:  400,
                            timeout: 6000,
                            cleartypeNoBg: true,
                            pager:  '#bullets',
                            pagerAnchorBuilder: function paginate(idx, el) {
                                return '<a class="service' + idx + '" href="#" >&bull;</a>';
                            }
                        });
                    });
                </script>
            {% endif %}

            {{ event.content | raw }}
        </div>

        {# For now -- get first entrySet -- need to implement list chooser #}
        {% if event.sessions | length > 0 %}
            <h2 class="left">Sessions</h2><a href="{{ path('event_session_schedule', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="blue right">View All</a>

            <table class="clr sessions">
                {% for date,sessions in event.sessionsByDate %}
                    <tr class="date">
                        <td colspan="2">
                            {{ date }}
                        </td>
                    </tr>
                    {% set i=0 %}
                    {% for evtSession in sessions %}
                        {% set i=i+1 %}
                        <tr{% if i%2 %} class="fill"{% endif %}>
                            <td>{% if evtSession.startsAt|default %}{{ evtSession.timeRangeString }}{% endif %}</td>
                            <td><a href="{{ path('event_session', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': evtSession.id}) }}">{{ evtSession.name }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% elseif event.entrySets | length > 0 %}
        {% set entrySet = event.entrySets[0] %}
            <h2 class="left">{{ entrySet.name }}</h2><a href="{{ entrySet | pd_link }}" class="right btn">View All {{ entrySet.type | capitalize }}s</a>
            <table class="tblStyle">

                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Votes</th>
                    </tr>
                </thead>

                <tbody>
                    {% set i=0 %}
                    {% for entry in entrySet.popularEntries %}
                        {% set i=i+1 %}
                        <tr{% if i%2 %} class="fill"{% endif %}>
                            <td><a href="{{ entry | pd_link }}">{{ entry.name }}</a></td>
                            <td>{{ entry.numVotes }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">There are no {{ entrySet.type }}s yet</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% endif %}

    </div>

    <div id="contentRt">

        {% set userNoun = 'attendee' %}
        {% set userVerb = 'attending' %}

        {% if event.externalUrl|default or not event.isUserAttending(user) %}
            <div id="registrationBanner">
                {% if event.externalUrl|default %}

                    <a href="{{ event.externalUrl }}" class="btnLg2" target="_blank">Register to Attend</a>
                    {% if not event.isUserAttending(user) %}
                        <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Join Discussion</a>
                    {% endif %}
                    {% set userNoun = 'contributor' %}
                    {% set userVerb = 'contributing' %}

                {% elseif not event.isUserAttending(user) %}
                    <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Attend Event</a>
                {% endif %}
            </div>
        {% endif %}

        <h2 class="widgetHeader">Event Details</h2>
        <table id="eventDetails" class="tblStyle spcr-b3">
            {% if event.startsAt %}
                <tr>
                    <td width="25%"><strong>When:</strong></td>
                    <td width="75%">{{ event.DateAndTime|raw }}</td>
                </tr>
            {% endif %}
            {% if event.location %}
                <tr>
                    <td width="25%"><strong>Where:</strong></td>
                    <td width="75%">{{ event.location }}</td>
                </tr>
                <tr>
                    <td width="25%"><strong>Address:</strong></td>
                    <td><a href="http://maps.google.com/?q={{ event.address1 }}, {{ event.address2 }}">{{ event.address1 }}<br/>{{ event.address2 }}</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                        <div id="event-location-map">{{ vichgeo_map_for('location', event) }}</div>
                    </td>
                </tr>
            {% endif %}
        </table>

        {% if event.entrySets | length > 0 %}
             <h2 class="widgetHeader">Lists</h2>
             <ul class="scrollableWidget spcr-b3">
                {% for entrySet in event.entrySets %}
                    <li class="spcr-t spcr-l3">
                        <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if event.sponsors|length > 0 %}
            <h2 class="widgetHeader">Sponsors</h2>
            <ul class="spcr-b3">
                {% for sponsor in event.sponsors %}
                    <div class="sponsorImageBox">
                        <a href="{{ sponsor.url }}"><img src="{{ media_path(sponsor.image) }}"></a>
                    </div>
                {% endfor %}
            </ul>
            <div class="clr"></div>
        {% endif %}
        
        {% if not (event.isUserAttending(app.user)) %}
            <h2 class="widgetHeader">{{ event.attendees|length }} {{ userNoun }}{% if event.attendees|length != 1 %}s{% endif %}</h2>
        {% else %}
            <h3 class="left">You and {{ event.attendees|length - 1 }} other {% if event.attendees|length == 2 %}person{% else %}people{% endif %} are {{ userVerb }}</h3>
            <hr class="clr">
        {% endif %}
        <ul class="spcr-b3">
            <li class="spcr-t spcr-l3">
                <a href="{{ path('profile', {'userId': event.user.id}) }}"><h3 class="blu midtxt">{{ event.user.name }} (Organizer)</h3></a>
            </li>
        {% for member in event.attendees %}
            {% if member.id != event.user.id %}
                <li class="spcr-t spcr-l3">
                    <a href="{{ path('profile', {'userId': member.id}) }}"><h3 class="blu">{{ member.name }}</h3></a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>

{% endblock %}
