{% if comments | length > 0 %}
    {% for commentArray in comments %}
        {% set comment = commentArray[0] %}

        {% if (loop.index - 1) % 5 == 0 %}<div class="comment-group" id="comment-group-{{ (loop.index - 1) / 5 }}" style="display:none;">{% endif %}

        {% if comment.parent is null and comment.deleted == false %}
            {% include 'SpoutletBundle:Comments:_comment.html.twig' with { 'comment': comment } %}
        {% endif %}

        {% if (loop.index) % 5 == 0 or loop.last %}</div>{% endif %}
    {% endfor %}
{% else %}
    <div class="comment-group" id="comment-group-0" style="display:none;"></div>
{% endif %}

{% if app.session.locale == "es" or app.session.locale == "zh" or app.session.locale == "ja" %}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.timeago.{{ app.session.locale }}.js"></script>
{% endif %}

<script type="text/javascript">

    $(function () {

        $('html').click(function() {
            $('.choices').hide();
            $('.report-options').hide();
         });

        $('.comment-at').timeago();
        $('.replied-at').timeago();
        $('.author-link > a').truncate({width: 84});

        toggleEdit = function(element, id, text) {
            if(element.find('.comment-edit-textarea').length == 0) {
                element.text('');
                element.append("<textarea class='comment-edit-textarea' id='comment-edit-" +  id + "' required='required' />");
                element.append("<button class='comment-edit-btn' type='submit' id='comment-edit-save-" + id + "'>{{ 'platformd.comment.submit' | pd_trans }}</button>");

                element.append("<button class='comment-edit-btn' style='margin-left: 10px;' type='cancel' id='comment-edit-cancel-" + id + "'>{{ 'platformd.comment.cancel' | pd_trans }}</button>");

                $('#comment-edit-cancel-' + id).click(function () {
                   toggleEdit(element, id, text);
                });

                $('#comment-edit-save-' + id).click(function () {
                    var comment = {
                        'id' : id,
                        'body': $('#comment-edit-' + id).val()
                    };
                    $.ajax({
                        url: '{{ path('comments_edit') }}',
                        type: 'post',
                        data: JSON.stringify(comment),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if(data.success) {
                                element.html(data.details);
                                if($('#comment-errors-' + id).is(':visible')) {
                                    $('#comment-errors-' + id).fadeOut();
                                }
                            } else {
                                $('#comment-errors-' + id).text(data.details);
                                $('#comment-errors-' + id).fadeIn();
                            }

                        }
                    });
                });

                $('#comment-edit-' + id).val(text);
            } else {
                htmlText = text.replace(/(\r\n|\n\r|\r|\n)/g, "<br>");
                element.html(htmlText);
                if($('#comment-errors-' + id).is(':visible')) {
                    $('#comment-errors-' + id).fadeOut();
                }
            }
        }
    });
</script>
