<div class="comment-wrapper">
    <input type="hidden" id="comment-{{ comment.id }}" value="{{ comment.id }}" />
    <div class="comment-author">
        <img src="{{ asset(get_avatar_url(comment.author)) }}" alt="{{ comment.author.username }}" />
        <div class="author-link"><a href="{{ cevo_account_link(comment.author.username) }}">{{ comment.author.username }}</a></div>
        <div class="author-level">Level 7</div>
        <div class="level-img"><div>5477 ARP</div></div>
    </div>
    <div class="comment-body">
        <p>{{ comment.body }}</p>
    </div>
    <div class="comment-footer">
        <div class="comment-vote">
            <div style="display:inline-table;">
                <span>10</span>
                <a href="javascript:void(0);" class="comment-voting-button up" id="comment-voting-vote-up"></a>
            </div>
            <div style="display:inline-table;">
                <span>1</span>
                <a href="javascript:void(0);" class="comment-voting-button down" id="comment-voting-vote-down"></a>
            </div>
        </div>
        <div class="comment-at" title="{{ comment.createdAt | date }}"></div>

        <div class="options" data-id="{{ comment.id }}">
            <div class="choices" id="choices-{{ comment.id }}">
                <ul>
                    <li><a href="javascript:void(0);">Report</a></li>
                    <li><a href="javascript:void(0);">Edit</a></li>
                    <li><a href="javascript:void(0);">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="comment-replies-wrapper" id="replies-{{ comment.id }}">
    <div class="comment-tri"></div>
    <div class="comment-replies">
        <input type="text" /><a href="javascript:void(0);" data-id="{{ comment.id }}">Reply</a>
    </div>
</div>
