<a name="comments" />
<div class="comments">

{% if thread.comments | length > 0 %}
    {% for comment in thread.comments %}
        {% if comment.parent is null and comment.deleted == false %}
        <div id="post-id-{{ comment.id }}">
            <div class="comment-wrapper">
                <input type="hidden" id="comment-{{ comment.id }}" value="{{ comment.id }}" />
                <div class="comment-author">
                    <img src="{{ asset(get_avatar_url(comment.author)) }}" alt="{{ comment.author.username }}" />
                    <div class="author-link"><a href="{{ path('accounts_profile', {'username': comment.author.username }) }}">{{ comment.author.username }}</a></div>
                    <div class="author-level">Level 7</div>
                    <div class="level-img"><div>5477 ARP</div></div>
                </div>
                <div class="comment-body">
                    <p>{{ comment.body }}</p>
                </div>
                <div class="comment-footer">
                    <div class="comment-vote">
                        <div style="display:inline-table;">
                            <span>10</span>
                            <a href="javascript:void(0);" class="comment-voting-button up" id="comment-voting-vote-up"></a>
                        </div>
                        <div style="display:inline-table;">
                            <span>1</span>
                            <a href="javascript:void(0);" class="comment-voting-button down" id="comment-voting-vote-down"></a>
                        </div>
                    </div>
                    <div class="comment-at" title="{{ comment.createdAt | date }}"></div>

                    <div class="options" data-id="{{ comment.id }}">
                        <div class="choices" id="choices-{{ comment.id }}">
                            <ul>
                                <li class="report-li" data-id="{{ comment.id }}"><a href="javascript:void(0);">Report</a></li>
                                <li><a href="javascript:void(0);">Edit</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>
                            <div class="report-options" id="report-options-{{ comment.id }}">
                                <ul>
                                    <li><a href="#" class="report-link" data-id="{{ comment.id }}" data-reason="inappropriate_content">Inappropriate content</a></li>
                                    <li><a href="#" class="report-link" data-id="{{ comment.id }}" data-reason="spam">Spam</a></li>
                                    <li><a href="#" class="report-link" data-id="{{ comment.id }}" data-reason="violates_intellectual_property">Violates intellectual property</a></li>
                                    <li><a href="#" class="report-link" data-id="{{ comment.id }}" data-reason="individual_harrassing_me">Harassment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-replies-wrapper" id="replies-{{ comment.id }}">
                <div class="comment-tri"></div>
                <div class="comment-replies">
                    <input type="text" /><a href="javascript:void(0);" data-id="{{ comment.id }}">Reply</a>
                </div>

                {% for reply in comment.replies %}
                    {% if reply.deleted == false %}
                        <div class="comment-reply{% if loop.index > 3 %} hidden{% endif %}" id="post-id-{{ reply.id }}">
                            <img src="{{ asset(get_avatar_url(reply.author)) }}" alt="{{ reply.author.username }}" />
                            <div class="reply-body">
                                <a href="{{ path('accounts_profile', {'username': reply.author.username }) }}">{{ reply.author.username }}</a>{{ reply.body }}
                            </div>
                            <div class="comment-footer">
                                <div class="replied-at" title="{{ reply.createdAt | date }}"></div>
                                <div class="options more-replies" data-id="{{ reply.id }}">
                                    <div class="choices" id="choices-{{ reply.id }}">
                                        <ul>
                                            <li class="report-li" data-id="{{ reply.id }}"><a href="#"class="report">Report</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="report-options" id="report-options-{{ reply.id }}">
                                        <ul>
                                            <li><a href="#" class="report-link" data-id="{{ reply.id }}" data-reason="inappropriate_content">Inappropriate content</a></li>
                                            <li><a href="#" class="report-link" data-id="{{ reply.id }}" data-reason="spam">Spam</a></li>
                                            <li><a href="#" class="report-link" data-id="{{ reply.id }}" data-reason="violates_intellectual_property">Violates intellectual property</a></li>
                                            <li><a href="#" class="report-link" data-id="{{ reply.id }}" data-reason="individual_harrassing_me">Harassment</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if comment.replies | length > 3 %}
                <div class="more-comments" id="more-comments-{{ comment.id }}">
                    <a href="javascript:void(0);" class="more-comments-link" id="more-comments-{{ comment.id }}" data-id="{{ comment.id }}">More Replies</a>
                </div>
            {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<script type="text/javascript">
    $(function () {

        $('html').click(function() {
            $('.choices').hide();
            $('.report-options').hide();
         });

        $('.options').click(function (event) {
            event.stopPropagation();
            $('.choices').hide();
            $('.report-options').hide();
            var id = $(this).attr('data-id');
            $('#choices-' + id).toggle('fast');
        });

        $('.report-li').click(function (event) {
            event.stopPropagation();
            event.preventDefault();
            var id = $(this).attr('data-id');
            $('#report-options-' + id).toggle('fast');
        });

        $('.choices').click(function (event) {
            event.stopPropagation();
        });

        $('.report-options').click(function (event) {
            event.stopPropagation();
        });

        $('.more-comments-link').click(function () {
            var commentId = $(this).attr('data-id');
            $('#more-comments-' + commentId).hide();
            $('#replies-' + commentId + ' > .hidden').hide().removeClass('hidden').fadeIn();
        });

        $('.comment-at').timeago();
        $('.replied-at').timeago();

        $('.report-link').click(function (event) {
            event.preventDefault();
            var contentId = $(this).attr('data-id');
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : contentId,
                    'Reason' : $(this).attr('data-reason'),
                    'ContentType' : "Comment"
                }),
                contentType: 'json',
                success: function(data) {
                    if(data.success) {
                        $('#post-id-' + contentId).fadeOut();
                    } else {
                        alert(data.messageForUser);
                    }
                }
            })
        });
    });
</script>
