{% for comment in thread['comments'] %}
    <div class="comment-wrapper">
        <input type="hidden" id="comment-{{ comment['id'] }}" value="{{ comment['id'] }}" />
        <div class="comment-author">
            <img src="{{ asset(get_avatar_url(comment['author'])) }}" alt="{{ comment['author'].username }}" />
            <div class="author-link"><a href="{{ path('accounts_profile', {'username': comment['author'].username }) }}">{{ comment['author'].username }}</a></div>
            <div class="author-level">Level 7</div>
            <div class="level-img"><div>5477 ARP</div></div>
        </div>
        <div class="comment-body">
            <p>{{ comment['body'] }}</p>
        </div>
        <div class="comment-footer">
            <div class="comment-vote">
                <div style="display:inline-table;">
                    <a href="javascript:void(0);" class="comment-voting-button up" id="comment-voting-vote-up"></a>
                </div>
                <div style="display:inline-table;">
                    <a href="javascript:void(0);" class="comment-voting-button down" id="comment-voting-vote-down"></a>
                </div>
            </div>
            <div class="comment-at" title="{{ comment['created_at'] | date }}"></div>

            <div class="options" data-id="{{ comment['id'] }}">
                <div class="choices" id="choices-{{ comment['id'] }}">
                    <ul>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-replies-wrapper" id="replies-{{ comment['id'] }}">
        <div class="comment-tri"></div>
        <div class="comment-replies">
            <input type="text" /><a href="#">Reply</a>
        </div>
        {% if comment['replies'] | length > 0 %}
            {% for reply in comment['replies'] %}
                <div class="comment-reply">
                    <img src="{{ asset(get_avatar_url(reply['author'])) }}" alt="{{ reply['author'].username }}" />
                    <div class="reply-body">
                        <a href="{{ path('accounts_profile', {'username': reply['author'].username }) }}">{{ reply['author'].username }}</a>{{ reply['body'] }}
                    </div>
                    <div class="comment-footer">
                        <div class="replied-at" title="{{ reply['created_at'] | date }}"></div>
                        <div class="options" data-id="{{ reply['id'] }}">
                            <div class="choices" id="choices-{{ reply['id'] }}">
                                <ul>
                                    <li><a href="javascript:void(0);">Report</a></li>
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="more-comments">
        <a href="javascript:void(0);" class="more-comments-link" id="more-comments-{{ comment['id'] }}" data-id="{{ comment['id'] }}">More Replies</a>
    </div>
{% endfor %}
<script type="text/javascript">
    $(function () {
        $('.options').click(function () {
            var id = $(this).attr('data-id');
            $('#choices-' + id).toggle('fast');
        });

        $('.more-comments-link').click(function () {
            var commentId = $(this).attr('data-id');
            $.ajax({
                url: '{{ path('comments_replies', {commentId: 1}) }}',
                method: 'get',
                success: function(html) {
                    $('#replies-' + commentId).append(html);
                    $('.replied-at').timeago();
                    $('.options.more-replies').click(function () {
                        var id = $(this).attr('data-id');
                        $('#choices-' + id).toggle('fast');
                    });
               }
            });
        });

        $('.comment-at').timeago();
        $('.replied-at').timeago();
    });
</script>
