{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

<a id="comments"></a>

<div data-logged-in="true">
    <h3 class="add-comment">{{ 'platformd.comment.add_your_comment' | pd_trans | raw }}</h3>
    <textarea id="new-comment-body" name="new-comment-body" required="required"></textarea>
</div>

<div data-logged-in="false">
    <p>{{ 'platformd.comment.login_to_comment' | pd_trans({ '%login_url%' : login_link("http://" ~ app.request.headers.get('Host') ~ permalink) }) | raw }}</p>
</div>

<div class="comment-sorting">
    <label for="comment-sort-method">{{ 'platformd.comment.sort_by' | pd_trans }}</label>
    <select name="comment-sort-method" id="comment-sort-method">
        <option value="recent" selected>{{ 'platformd.comment.sort_by_newest' | pd_trans }}</option>
        <option value="votes">{{ 'platformd.comment.sort_by_votes' | pd_trans }}</option>
        <option value="oldest">{{ 'platformd.comment.sort_by_oldest' | pd_trans }}</option>
    </select>
</div>
<div data-logged-in="true">
    <div class="comment-form-submit" style="text-align: right;">
        <button id="new-comment-submit" class="btn btn-primary" type="submit">{{ 'platformd.comment.add_comment' | pd_trans }}</button>
    </div>
</div>
<div class="comments">
    {% include 'SpoutletBundle:Comments:_comments.html.twig' %}
</div>
<div id="more-comments-loader" data-offset="0" data-increment="5">
    <img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />
</div>

<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.blockUI.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.jeditable.min.js') }}"></script>

<script type="text/javascript">

    function oldestSorter(a, b) {
        return a.getAttribute('data-posted').localeCompare(b.getAttribute('data-posted'));
    };

    function recentSorter(a, b) {
        return b.getAttribute('data-posted').localeCompare(a.getAttribute('data-posted'));
    };

    function votesSorter(a, b) {
        return parseInt(a.getAttribute('data-votes')) < parseInt((b.getAttribute('data-votes'))) ? 1 : -1;
    };

    function sortPosts() {
        var method = $('#comment-sort-method').val();

        switch(method) {
        case 'recent':
            sorter = recentSorter;
            break;
        case 'oldest':
            sorter = oldestSorter;
            break;
        case 'votes':
            sorter = votesSorter;
            break;
        default:
            return false;
        }

        var sortedDivs = $(".post-wrapper").toArray().sort(sorter);
        $(".comments").html('');

        var i = 0;
        $.each(sortedDivs, function (index, value) {
            if (i % 5 == 0) {
                $('.comments').append($('<div class="comment-group" id="comment-group-' + (i/5) + '" style="display:none;"></div>'));
            }
            $('.comment-group:last').append(value);
            i++;
        });

        setupListeners();
        $('#more-comments-loader').html('<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />').hide();
        $('.no-more-comments').removeClass('no-more-comments');
        $('.comment-group:first').fadeIn();
    }

    function updateContent() {
        if (user_is_logged_in) {
            $('[data-logged-in="true"]').show();
            $('[data-logged-in="false"]').hide();
        } else {
            $('[data-logged-in="true"]').hide();
            $('[data-logged-in="false"]').show();
        }

        if (is_admin) {
            $('[data-comment-admin="true"]').show();
            $('[data-comment-admin="false"]').hide();
        } else {
            $('[data-comment-admin="true"]').hide();
            $('[data-comment-admin="false"]').show();
        }
    }

    var commentRequestInProgress      = false;
    var commentReplyRequestInProgress = false;

    $(function () {

        updateContent();

        $('[data-comment-owner="'+user_id+'"]').show();

        setupListeners();
        loadMorePosts();

        $('.comment-sorting select').change(function() {
            sortPosts();
        });

        $('#new-comment-submit').click(function () {

            if (commentRequestInProgress) return;

            if ($('#new-comment-body').val() == "") {
                return false;
            }

            $('.thread').block({message: null});

            var comment = {
                'thread' : '{{ thread.id }}',
                'body' : $('#new-comment-body').val(),
                'parent' : 0
            };

            commentRequestInProgress = true;

            $.ajax({
                url: '{{ path('comments_new') }}',
                type: 'post',
                data: JSON.stringify(comment),
                controlstentType: 'application/json',
                success: function (html, status, req) {
                    $('.comment-group:first').prepend(html);
                    if (!$('.comment-group:first').is(':visible')) {
                        $('.comment-group:first').fadeIn();
                    }
                    $('.comment-at').timeago();
                    sortPosts();
                    updateContent();
                    $('.thread').unblock();
                    $('#new-comment-body').val('');
                    $('.comment-count').text(parseInt($('.comment-count').text())+1);
                    commentRequestInProgress = false;
                }
            });
        });
    });

    function loadMorePosts() {
        if ($('.comment-wrapper:last').hasClass('no-more-comments')) {
            return false;
        }

        if ($('.comment-wrapper:last').is(':visible') || $('.post-wrapper').length == 0) {
            $('.comment-wrapper:last').addClass('no-more-comments');
            $('#more-comments-loader').html('{{ "platformd.comment.no_more_posts" | pd_trans }}');
            $('#more-comments-loader').show();
            return false;
        }

        $('#more-comments-loader').show();
        $('.comment-group:hidden:first').fadeIn(400, function() {
            $('#more-comments-loader').hide();
        });
    }

    function setupListeners()
    {
        $('.comment-reply-link').click(function() {
            $('.choices').hide();
            var id = $(this).attr('data-id');
            $('#replies-'+id+' > .comment-tri').removeClass('hidden');
            $('#comment-replies-'+id).slideDown();
            $('#reply-text-'+id).focus();
            $('#replies-'+id+' > .first').removeClass('first');
        });

        $('.comment-replies textarea').keyup(function() {
            $(this).css('height', '1px');
            $(this).css('height', (parseInt($(this).prop('scrollHeight')))+"px");
        });

        $('.options').off('click').on('click', function (event) {
            event.stopPropagation();
            $('.choices').hide();
            $('.report-options').hide();
            var id = $(this).attr('data-id');
            $('#choices-' + id).toggle('fast');
            window.getSelection().removeAllRanges();
        });

        $('.report-options-link').off('click').on('click', function (event) {
            event.stopPropagation();
            var id = $(this).attr('data-id');
            $('#report-options-' + id).toggle('fast');
        });

        $('.choices').click(function (event) {
            event.stopPropagation();
        });

        $('.report-options').click(function (event) {
            event.stopPropagation();
        });

        $('.more-comments-link').click(function () {
            var commentId = $(this).attr('data-id');
            $('#more-comments-' + commentId).hide();
            $('#replies-' + commentId + ' > .hidden').hide().removeClass('hidden').fadeIn();
        });

        $('.comment-post-reply-link').click(function () {
            if (commentReplyRequestInProgress) return;

            var id = $(this).attr('data-id');
            if ($('#reply-text-' + id).val() == "") {
                return false;
            }

            $('.thread').block({message: null});
            var reply = {
                'thread' : '{{ thread.id }}',
                'body' : $('#reply-text-' + id).val(),
                'parent' : id
            };

            commentReplyRequestInProgress = true;

            $.ajax({
                url: '{{ path('comments_new') }}',
                type: 'post',
                data: JSON.stringify(reply),
                contentType: 'application/json',
                success: function (html, status, req) {
                    $('#reply-text-'+id).val('');
                    $('#comment-replies-'+id).slideUp();
                    $('#replies-' + id).append(html);
                    $('.replied-at').timeago();
                    sortPosts();
                    updateContent();
                    $('.thread').unblock();
                    $('.comment-count').text(parseInt($('.comment-count').text())+1);
                    commentReplyRequestInProgress = false;
                }
            });
        });

        $('.comment-report-link').click(function (event) {
            $('.thread').block({message: null});
            var contentId = $(this).attr('data-id');
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : contentId,
                    'Reason' : $(this).attr('data-reason'),
                    'ContentType' : "Comment"
                }),
                contentType: 'application/json',
                success: function(data) {
                    if(data.success) {
                        $('#post-id-' + contentId).fadeOut();
                    } else {
                        alert(data.messageForUser);
                    }
                    $('.choices').hide();
                    $('.report-options').hide();
                    $('.thread').unblock();
                }
            })
        });

        $('.edit-options-link').click(function (event) {
            var contentId = $(this).attr('data-id');
            toggleEdit($('#comment-body-' + contentId), contentId, $('#comment-body-' + contentId).text());
            $('#choices-' + contentId).toggle('fast');
        });

        $('.delete-link').click(function (event) {

            $('.choices').hide();

            var answer = confirm("{{ 'platformd.comment.delete_confirm' | pd_trans }}")
            if (!answer){
                return false;
            }

            $('.thread').block({message: null});
            var commentId = $(this).attr('data-id');
            $.ajax({
                url: '{{ path('comments_delete') }}',
                type: 'post',
                data: JSON.stringify({
                    'commentId' : commentId
                }),
                contentType: 'application/json',
                success: function(html, status, req) {
                    $('#post-id-' + commentId).fadeOut();
                    $('.thread').unblock();
                }
            })
        });

        $('.comment-voting-button').click(function () {
            var commentId = $(this).attr('data-id');
            var voteType  = $(this).attr('data-votetype');
            $('#comment-wrapper-' + commentId).block({message: null});
            $.ajax({
                url: '{{ path('comments_vote')}}',
                type: 'post',
                data: JSON.stringify({
                    'id' : commentId,
                    'voteType' : voteType,
                    'contentType' : 'Comment'
                }),
                contentType: 'json',
                success: function(data) {
                    if(data.success) {
                        $('#comment-upvotes-'+commentId).html(data.messageForUser.up);
                        $('#comment-downvotes-'+commentId).html(data.messageForUser.down);
                    } else {
                        if (data.messageForUser == "FORCE_LOGIN_TO_VOTE") {
                            document.location.href='{{ login_link("http://" ~ app.request.headers.get('Host') ~ permalink) }}';
                        } else {
                            alert(data.messageForUser);
                        }
                    }
                    $('#comment-wrapper-' + commentId).unblock();
                }
            })
        });

        $(window).scroll(function() {
            if($(window).scrollTop() >= $(document).height() - $(window).height()) {
                loadMorePosts();
            }
        });
    }

</script>
{% endblock %}
