<div class="thread">
    <h3>Add Your Comment</h3>
    <textarea id="new-comment-body" name="new-comment-body" required="required"></textarea>
    <div class="comment-sorting">
        <label for="comment-sort-method">Sort by: </label>
        <select name="comment-sort-method" id="comment-sort-method">
            <option value="votes"{% if method is not defined or method == "votes" %} selected{% endif %}>Votes</option>
            <option value="recent"{% if method is defined and method == "recent" %} selected{% endif %}>Most Recent</option>
            <option value="oldest"{% if method is defined and method == "oldest" %} selected{% endif %}>Oldest</option>
        </select>
    </div>
    <div class="comment-form-submit">
        <button id="new-comment-submit" type="submit">Add Comment</button>
    </div>
    <div class="comments">
        <a href="#comments"></a>
        {% include 'SpoutletBundle:Comments:_comments.html.twig' with { 'comments' : comments} %}
    </div>
    <div id="more-comments-loader" data-offset="{{ offset }}" data-increment="5">
        <img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />
    </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.blockUI.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.jeditable.min.js') }}"></script>

<script type="text/javascript">
    $(function () {

        $('.comment-sorting select').change(function() {
            $('.thread').block({message: null});
            var data = {
                'thread' : '{{ thread }}',
                'method' : $('#comment-sort-method').val(),
                'commentLimit' : '{{ offset }}'
            };
            $.ajax({
                url: '{{ path('comments_sort_thread') }}',
                type: 'post',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (html, status, req) {
                    $('.thread').html(html);
                    $('.thread').unblock();
                }
            });
        });

        $('#new-comment-submit').click(function () {
            $('.thread').block({message: null});

            var comment = {
                'thread' : '{{ thread }}',
                'body' : $('#new-comment-body').val(),
                'parent' : 0,
                'commentCount' : parseInt($('#more-comments-loader').attr('data-offset'))
            };
            $.ajax({
                url: '{{ path('comments_new') }}',
                type: 'post',
                data: JSON.stringify(comment),
                controlstentType: 'application/json',
                success: function (html, status, req) {
                    $('.thread').html(html);
                    $('.thread').unblock();
                    $('#new-comment-body').val('');
                }
            });
        });
    });

    var ajaxRequestSent;

    $(window).scroll(function() {

        if($(window).scrollTop() >= $(document).height() - $(window).height()) {

            if ($('.comment-wrapper:last').hasClass('no-more-comments')) {
                console.log('no more comments');
                return false;
            }

            if (ajaxRequestSent) {
                console.log('already requested');
                return false; // don't make another request, let the current one complete, or
                // ajax.abort(); // stop the current request, let it run again
            }

            console.log('no request in progress');
            ajaxRequestSent = loadMorePosts();
            console.log('request complete');
        }
    });

    function loadMorePosts()
    {
        console.log('loading more posts...');
        $('#more-comments-loader').show();
        var offset = parseInt($('#more-comments-loader').attr('data-offset'));
        var increment = parseInt($('#more-comments-loader').attr('data-increment'));
        return $.ajax({
            url: '{{ path('comments_update_thread') }}',
            type: 'post',
            data: JSON.stringify({
                'threadId' : '{{ thread }}',
                'increment' : increment,
                'offset' : offset
            }),
            contentType: 'json',
            success: function(data)
            {
                if(data.message == "no_more_comments") {
                    console.log('no more comments, setting no-more-comments class.');
                    $('#more-comments-loader').html('No more posts to show.');
                    $('.comment-wrapper:last').addClass('no-more-comments');
                } else if(data.message == "error") {
                    console.log('error received whilst loading - ' + data.details);
                    $('#more-comments-loader').html('An error has occurred during loading.');
                } else {
                    console.log('appending comments...');
                    $(".comments").append(data);
                    $('#more-comments-loader').hide();
                }

                ajaxRequestSent = false;
            }
        });
    }

</script>
