{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<div class="game-page-form">

    {{ form_errors(form) }}

        <div class="span11">

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {{ form_widget(form.groupAvatar) }}
            {{ form_row(form.isPublic) }}

            <div id="category" class="styled-select">
                {{ form_row(form.category) }}
            </div>

            <div id="group-location-controls" style="display:none;">
                <strong>City / Metro Area</strong>
                {{ form_widget(form.location.city) }}
                <strong>State / Province</strong>
                {{ form_widget(form.location.state_province) }}
            </div>

            <p><input type="checkbox" id="has-parent">This group belongs to a parent group</input></p>
            <div id="group-parent-controls" style="display:none;">
                {{ form_row(form.parent) }}
            </div>

            <p><input type="checkbox" id="has-children">This group has sub groups</input></p>
            <div id="group-children-controls" style="display:none;">
                {{ form_row(form.children) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div id="admin-options" style="margin-top:15px;">
                <h2 style="margin-bottom: 15px;">Admin Options</h2>

                {{ form_row(form.slug) }}

                {% if form.sites is defined %}
                    {{ form_row(form.sites) }}
                    {{ form_row(form.allLocales) }}
                {% endif %}

                {% if form.deleted is defined %}
                    {{ form_row(form.deleted) }}
                {% endif %}

                {% if form.featured is defined %}
                    {{ form_row(form.featured) }}
                {% endif %}
            </div>
            {% endif %}

        </div>
    {{ form_widget(form._token) }}
</div>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
<script type="text/javascript">
    $(function () {

        $('input#platformd_groupbundle_grouptype_name').css('width', '300px');

        var parentField   = $('#platformd_groupbundle_grouptype_parent');
        var childrenField = $('#platformd_groupbundle_grouptype_children');
        var hasParent     = $('#has-parent');
        var hasChildren   = $('#has-children');

        // If the group already has a parent set, prepare the form accordingly
        if (parentField.val() !== null) {
            hasParent.prop('checked', true);
            setParentControls();
        // Otherwise make sure the 'None' option is selected
        } else {
            parentField.children(':first-child').attr('selected','');
        }
        // If the group already has children set, prepare the form accordingly
        if (childrenField.val() !== null) {
            hasChildren.prop('checked', true);
            setChildrenControls();
        }

        if ($('.control-group.error').length > 0) {
            $('html, body').animate({
                scrollTop: ($('.control-group.error').first().offset().top) - 100
            }, 400);
        }

        $('#cancel').delegate('','click change',function(){
            window.location = $(this).attr('rel');
            return false;
        });

        setCategoryControls();
        $('#platformd_groupbundle_grouptype_category').change(setCategoryControls);
        hasParent.click(setParentControls);
        hasChildren.click(setChildrenControls);

        function setCategoryControls() {
            if($('#platformd_groupbundle_grouptype_category').val() == 'topic') {
                $('#group-location-controls').slideUp();
            } else {
                $('#group-location-controls').slideDown();
            }
        }
        function setParentControls() {
            if ($('#has-parent').prop('checked')) {
                $('#group-parent-controls').slideDown();
            } else {
                $('#group-parent-controls').slideUp();
                $('#platformd_groupbundle_grouptype_parent').children(':first-child').attr('selected',''); // Select the 'None' entry
            }
        }
        function setChildrenControls() {
            if ($('#has-children').prop('checked')) {
                $('#group-children-controls').slideDown();
            } else {
                $('#group-children-controls').slideUp();
                $('#platformd_groupbundle_grouptype_children').val('');
            }
        }
    });

</script>
