{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{% set showAdminOpts = form.sites is defined or form.deleted is defined or form.featured is defined or form.discussionsEnabled is defined %}

<div class="game-page-form">
    {{ form_errors(form) }}

        <div class="span11">

            {{ form_row(form.name) }}

            <div class="styled-select">
                {{ form_row(form.category) }}
            </div>
            <div id="group-location-controls">
                {{ form_widget(form.location) }}
            </div>
            {{ form_row(form.isPublic) }}
            {{ form_row(form.description) }}

            <div id="admin-options" style="margin-top:15px;">

                {% if showAdminOpts %}
                    <h2 style="margin-bottom: 15px;">Admin Options</h2>
                    {{ form_row(form.slug) }}
                {% endif %}

                {% if form.sites is defined %}
                    {{ form_row(form.sites) }}
                    {{ form_row(form.allLocales) }}
                {% endif %}

                {% if form.deleted is defined %}
                    {{ form_row(form.deleted) }}
                {% endif %}

                {% if form.featured is defined %}
                    {{ form_row(form.featured) }}
                {% endif %}

            </div>

        </div>
    {{ form_widget(form._token) }}
</div>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
<script type="text/javascript">
    $(function () {

        $('input#platformd_groupbundle_grouptype_name').css('width', '300px');

        if ($('.control-group.error').length > 0) {
            $('html, body').animate({
                scrollTop: ($('.control-group.error').first().offset().top) - 100
            }, 400);
        }

    });
</script>
