{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'Edit Group Page' %}

{% block content %}

    <h1>Edit Group</h1>

    <form action="{{ path('group_update', { 'slug': group.slug }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        {% include 'GroupBundle:Group:_form.html.twig' with {
        'form': edit_form
        } %}

        <div class="form-actions" style="float: left;">
            <input type="submit" value="{{ 'save' | trans({}, 'admin') }}" formnovalidate>
            <input type="button" id="cancel" value="Cancel" rel="{{ group | pd_link }}">
            {% set numEntrySets =  group.entrySets|length %}
            {% set numEvents =  group.numEvents %}
            {% if numEntrySets > 0 or numEvents > 0 %}
                <input type="button" class="spcr-l greyButton" value="Delete Disabled" title="A Group must not contain any lists or events in order to be deleted. This Group contains {{ numEntrySets }} lists and {{ numEvents }} events."></input>
            {% else %}
                <a href="{{ path('group_delete', { 'slug': group.slug }) }}">
                    <input type="button" value="Delete" class="spcr-l redButton" onclick="return confirm('Are you sure you want to delete this group?');">
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            var groupType = $('#platformd_groupbundle_grouptype_category').val();

            if(groupType == 'topic') {
                $('#group-location-controls').hide();
            }

            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });

            $('#platformd_groupbundle_grouptype_category').change(function () {
                var groupType = $(this).val();
                if(groupType == 'topic') {
                    $('#group-location-controls').fadeOut();
                } else {
                    $('#group-location-controls').fadeIn();
                }
            });
        });
    </script>
{% endblock %}
