{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}All Groups{% endblock %}

{% block content %}
  <div id="contentLft">	
			<a href="#" class="step1 btnLg2 bdr3">
				Step 1: Sign Up
			</a>
			<a href="#" class="step2 btnLg2 bdr3">
				Step 2: Login
			</a>		
			
			<br class="clr">
			
      {% if featuredGroups|length > 0 %}			      
        <div class="group-collection">
          <h4 class="groups-category-header">{{ 'platformd.groups.index.featured_groups' | pd_trans }}</h4>
            <div id="featured-groups">
             {% for group in featuredGroups %}
               <div class="group-list-item">
                 <a href="{{ path('group_show', { slug: group[0].slug}) }}">
                  {% if group[0].thumbNail %}
                    <img src="{{ media_path(group[0].thumbNail) }}" alt="{{ group[0].name }}" title="{{ group[0].name }}" />
                  {% else %}
                    <div class="default-group-thumbnail"></div>
                  {% endif %}
                 </a>
                 <a href="{{ path('group_show', { slug: group[0].slug}) }}" class="group-index-link" title="{{ group[0].name }}">
                 {{ group[0].name }}
                 </a>
               <div class="details">
                <div class="item-detail">{{ 'platformd.groups.index.members' | pd_trans }}: {{ group['memberCount'] }}</div>
                <div class="item-detail">{{ 'platformd.groups.index.organizer' | pd_trans }}: {{ group[0].owner.adminLevel == 'ROLE_SUPER_ADMIN' ? 'platformd.groups.index.staff' | pd_trans : group[0].owner.username }}</div>
                <div class="report-group-caption">
                <a href="javascript:void(0);" class="report-group" report-data="{{ group[0].id }}">{{ 'platformd.groups.index.report_group' | pd_trans }}</a>
                </div>
              </div>
            </div>
             {% endfor %}
         </div>
         </div>
			{% endif %}
			
			 <div class="row featGrp">
				<h1>Featured Groups</h1>
			
				<ul class="scrollable" id="scrollable-topic-groups">
				  <span class='items'>
		
					</span>
				</ul>
			 <div id="scroll-actions" style="margin-top: 0px;">
            <a id="topic-prev" class="prev browse" style="float: left;">{{ 'platformd.groups.index.previous' | pd_trans }}</a>
            <a id="topic-next" class="next browse" style="float: right;">{{ 'platformd.groups.index.see_more' | pd_trans }}</a>
       </div>
		</div>
			
			<hr class="clr">
	    <div id="mapGrp">
				<h1>Find a Group Near You</h1>			
		      <input id="map-location-search" type="text" size="50" placeholder="Enter your location" autocomplete="off">		       	
				  <iframe width="680" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;q=1355+Sansome+St,+San+Francisco,+CA&amp;ie=UTF8&amp;hq=&amp;hnear=1355+Sansome+St,+San+Francisco,+California+94111&amp;gl=us&amp;t=m&amp;z=14&amp;ll=37.802716,-122.403427&amp;output=embed"></iframe>

				<!-- <div id="map-canvas"></div> -->

				<!-- <script type="text/javascript">
				    var groupsArray = [];
				
				    $(function () {				        
			            singleGroup = [];
			            singleGroup['name'] = 'San Francisco Data Mining Camp';
			            singleGroup['lat'] = '37.7749295';
			            singleGroup['long'] = '-122.4194155';
			            singleGroup['city'] = 'San Francisco';
			            singleGroup['address1'] = '';
			            singleGroup['address2'] = '';
			            singleGroup['stateProvince'] = 'CA';
			            singleGroup['metroArea'] = 'San Francisco Bay Area';
			            singleGroup['url'] = '/san-francisco-data-mining-camp/';
			
			            groupsArray.push(singleGroup);
			        
			            singleGroup = [];
			            singleGroup['name'] = 'Romans for Data Mining';
			            singleGroup['lat'] = '41.8929163';
			            singleGroup['long'] = '12.4825199';
			            singleGroup['city'] = 'Rome';
			            singleGroup['address1'] = '';
			            singleGroup['address2'] = '';
			            singleGroup['stateProvince'] = '';
			            singleGroup['metroArea'] = 'Rome';
			            singleGroup['url'] = '/romans-for-data-mining/';
			
			            groupsArray.push(singleGroup);
			            });
				</script> -->
			</div> <!-- end mapGrp -->
					
			<div class="row">
				<h1>Find Groups by Topic</h1>
			
				<input id="#" size="50" placeholder="Enter topic" autocomplete="off" type="text">
				
				 <table summary="Upcoming Event Dates" class="tblStyle">
				    <thead>
				        <tr>
				            <th>Group</th>
				            <th>Topic</th>
				        </tr>
				    </thead>
				    <tbody>
				    
				    </tbody>
			    </table>				
			</div> <!-- end row -->	
			
		</div> <!-- end contentLft -->
		
				
		<div id="contentRt">
			<div class="cBx1">
				<a href="#" class="step3 btnLg2 bdr3">
					Step 3: Register
				</a>
				
				<hr class="spcr-t4">
				
				<h2>{{ 'platformd.groups.index.welcome_new' | pd_trans }}</h2>
	
			    <table summary="New Groups" class="tblStyle">
          <tbody>
          {% for recentGroup in recentGroups %}
            <tr class="fill">
               <td><a href="{{ path('group_show', { 'slug': recentGroup.slug }) }}">{{ recentGroup.name }}</a></td>
            </tr>  
          {% else %}
              <p>{{ 'platformd.groups.index.no_groups_found' | pd_trans }}</p>
          {% endfor %}
          
			    </tbody>
          </table>
				
				<p><a href="{{ path('group_new') }}" target="_blank" class="btn right smtxt spcr-b">{{ 'platformd.groups.index.create_group' | pd_trans }} </a></p>
				
				<hr class="clr">
				
				<h2>{{ 'platformd.groups.index.most_popular' | pd_trans }}</h2>
	
			    <table summary="Most Popular Groups" class="tblStyle">
		      <tbody>
          {% for popularGroup in popularGroups %}
            <tr class="fill">
               <td><a href="{{ path('group_show', { 'slug': popularGroup['slug'] }) }}">{{ popularGroup['group_name'] }}</a></td>
            </tr>  
          {% else %}
              <p>{{ 'platformd.groups.index.no_groups_found' | pd_trans }}</p>
          {% endfor %}      
			    </tbody>
          </table>
	
			</div> <!-- end cBx1 -->
		</div> <!-- end contentRt -->		
		<br class="clr">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.tools.min.js"></script>
    <script type="text/javascript">

        var topicGroups    = {{ topicGroups | raw }};
        var locationGroups = {{ locationGroups | raw }};
        var topicGroupsLoaded   = 0;
        var locationGroupsLoaded   = 0;
        var basePath       = '{{  path('default_index') }}';

        $(function () {
            $('.reg-source').click(function() {
                addSourceInfo(this, '{{ regSourceData | base64_encode }}');
            });

            initGroups();

            $('#scrollable-location-groups').scrollable({
                next: '#location-next',
                prev: '#location-prev',
            });
            $('#scrollable-topic-groups').scrollable({
                next: '#topic-next',
                prev: '#topic-prev',
            });

            $('#location-next').click(function() {
                loadNextGroupsAjax('location');
            });

            $('#topic-next').click(function() {
                loadNextGroupsAjax('topic');
            });

            $('.group-index-link').truncate();
            $('.item-detail').truncate({width:130});
            $('.widget-item .news-ellipse').truncate();

        });

        function initGroups() {
            loadNextGroupsAjax('topic', 16);
            loadNextGroupsAjax('location', 16);
        }

        function loadNextGroupsAjax(type, num) {
          
            if(typeof(num)==='undefined') num = 8;

            scrollContainer = null;

            if (type == 'location') {
                list = locationGroups;
                scrollContainer = '#scrollable-location-groups .items';
                groupsLoaded = locationGroupsLoaded;
            } else if (type == 'topic') {
                list = topicGroups;
                scrollContainer = '#scrollable-topic-groups .items';
                groupsLoaded = topicGroupsLoaded;
            } else {
                return;
            }
            
            var currDiv = null;
            var baseDiv = $('<div class="items-wrapper"></div>');

            for (var i = 0; i < num; i++) {

                var index = groupsLoaded + i;

                if(list.length <= groupsLoaded + i)
                {
                    groupsLoaded+=i;
                    updateCounts(type, groupsLoaded);
                    return;
                }
                if (i % 8 == 0) {
                    currDiv = baseDiv.clone();
                    currDiv.appendTo(scrollContainer);
                }

                if (list[index].thumbnail) {
                    image = '<img src="' + list[index].thumbnail + '" alt="' + list[index].name + '" title="' + list[index].name + '" />';
                } else {
                    image = '<div class="default-group-thumbnail"></div>';
                }

                ownerName = list[index].owner.adminLevel ? '{{ 'platformd.groups.index.staff' | pd_trans }}' : list[index].owner.username;

                currDiv.append('<div class="group-list-item"> \
                    <a href="' + basePath + list[index].slug + '"> \
                        ' + image + ' \
                    </a> \
                    <a href="' + basePath + list[index].slug + '" class="group-index-link" title="' + list[index].name + '"> \
                        ' + list[index].name + ' \
                    </a> \
                    <div class="details"> \
                        <div class="item-detail">{{ 'platformd.groups.index.members' | pd_trans }}: ' + list[index].memberCount + '</div> \
                        <div class="item-detail">{{ 'platformd.groups.index.organizer' | pd_trans }}: ' + ownerName + '</div> \
                        <div class="report-group-caption"> \
                            <a href="javascript:void(0);" class="report-group" report-data="' + list[index].id + '">{{ 'platformd.groups.index.report_group' | pd_trans }}</a> \
                        </div> \
                    </div> \
                </div>');
            }

            groupsLoaded+=num;

            updateCounts(type, groupsLoaded);
            $('.group-index-link').truncate();
        }

        function updateCounts(type, groupsLoaded) {
            if (type == 'location') {
                locationGroupsLoaded = groupsLoaded;
            } else if (type == 'topic') {
                topicGroupsLoaded = groupsLoaded;
            }
        }

    </script>

{% endblock %}
