{% extends 'IdeaBundle::group_layout.html.twig' %}


{% block title %}
    {{ group.name }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script id="addJS">
        jQuery(document).ready(function($) {
            // Please note that autoHeight option has some conflicts with options like imageScaleMode, imageAlignCenter and autoScaleSlider
            // it's recommended to disable them when using autoHeight module
            $('#content-slider-1').royalSlider({
                autoHeight: true,
                arrowsNav: false,
                fadeinLoadedSlide: false,
                controlNavigationSpacing: 0,
                controlNavigation: 'tabs',
                imageScaleMode: 'none',
                imageAlignCenter:false,
                loop: false,
                loopRewind: true,
                numImagesToPreload: 6,
                keyboardNavEnabled: true,
                usePreloader: false,
                autoPlay: {
                    enabled: true,
                    pauseOnHover: true,
                    delay: 5000
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <!-- royalslider code start -->
    <div class="content-slider-bg">
        <div id="content-slider-1" class="royalSlider contentSlider rsDefault">

            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-find.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Find
                </span>
            </div>
            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-organize.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Organize
                </span>
            </div>
            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-join.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Join
                </span>
            </div>
            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-speak.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Speak
                </span>
            </div>
            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-sponsor.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Sponsor
                </span>
            </div>
            <div>
                <a href="/" target="_blank"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/ss-volunteer.jpg') }}" alt="" width="740" height="341"></a>
                <span class="rsTmb">
                    Volunteer
                </span>
            </div>

        </div>
    </div> <!-- end royalslider -->

    <hr>

    {% if nextEvent %}
        <div class="cBxLft">
            <h2 class="blu"><a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}">{{ nextEvent.name }}</a></h2>


            <table summary="Next Event" class="tblStyle">
                <tbody>
                <tr>
                    <td width="25%"><strong>DATE:</strong></td>
                    <td width="75%">{{ nextEvent.DateRangeString }}</td>
                </tr>
                <tr>
                    <td width="25%"><strong>TIME:</strong></td>
                    <td width="75%">{{ nextEvent.startsAt|date('g:i a') }} - {{ nextEvent.endsAt|date('g:i a') }}</td>
                </tr>
                {% if not nextEvent.getOnline %}
                    <tr>
                        <td width="25%"><strong>LOCATION:</strong></td>
                        <td width="75%">
                            {{ nextEvent.location }}<br>
                            {{ nextEvent.address1 }}<br>
                            {{ nextEvent.address2 }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="25%">{{ nextEvent.attendeeCount }} attendee{% if nextEvent.attendeeCount != 1 %}s{% endif %}</td>
                    <td width="75%%">
                        {% if not (nextEvent.isUserAttending(app.user)) %}
                            <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}" class="btnTny right">Attend</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        {% if not nextEvent.getOnline %}
            <div class="cBxRt">
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                <div id="event-location-map">{{ vichgeo_map_for('location', nextEvent) }}</div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% set sidebar = true %}
{% block sidebar %}
    <div id="contentRt">

        <div class="rowBx">
            {{ group.description | raw }}
        </div>

        {% if group.entrySets | length > 0 %}
            <h2 class="spnsrBar" style="margin-top:20px">Group Lists</h2>
            <ul class="scrollableSidebarWidget">
                {% for entrySet in group.entrySets %}
                <li class="scrollableSidebarWidgetItem">
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu" style="margin-top:5px;">{{ entrySet.name }}</h3></a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}



        {% if groupEvents %}
            <h2 class="spnsrBar" style="margin-top:20px">More Events</h2>
            <ul class="scrollableSidebarWidget">
                {% for event in groupEvents %}
                    <li class="scrollableSidebarWidgetItem">
                        <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt"><h3 class="blu" style="margin-top:5px;">{{ event.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2 class="spnsrBar" style="margin-top:20px">Organizer</h2>
        <a href="{{ path('profile', {userId: group.owner.id}) }}"><h3 class="blu" style="margin-top:5px">{{ group.owner.name }}</h3></a>

        <h2 class="spnsrBar" style="margin-top:20px">{{ group.members|length }} Member{% if group.members|length > 1 %}s{% endif %}</h2>
        <ul class="scrollableSidebarWidget">
            {% for member in group.members %}
                <li class="scrollableSidebarWidgetItem">
                    <a href="{{ path('profile', {'userId': member.id}) }}"><h3 class="blu" style="margin-top:5px">{{ member.name }}</h3></a>
                </li>
            {% else %}
                There are no members of this group yet.
            {% endfor %}
        </ul>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
