{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

    <div id="contentLft">
        <h2 class="left spcr-t">{{ group.name }}</h2>
        <br/><br/>
        {% include 'GroupBundle:Group:_subNav.html.twig' %}
        
        <div class="rowBx">
            {{ group.description | raw }}
        </div>

    </div>

    <div id="contentRt">

        {% if group.entrySets | length > 0 %}
            <h2 class="stepBar">Group Lists</h2>
            <div class="scrollableSidebarWidget">
                {% for entrySet in group.entrySets %}
                <div class="scrollableSidebarWidgetItem">
                    <h2>{{ entrySet.name }}</h2>
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}" class="btnTny left marginlft">View Ideas</a>
                    {% if group.isMember(app.user) or group.isOwner(app.user) %}
                        {# <a href="{{ path('idea_create_form', {'groupSlug': group.slug, 'eventId': event.id, 'entrySetId': entrySet.id}) }}" class="btnTny left marginlft">Propose {{ entrySet.type | capitalize }}</a> #}
                        <a href="{{ path('idea_create_form', {'entrySetId': entrySet.id}) }}" class="btnTny left marginlft">Add Idea</a>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if nextEvent %}
        <h2 class="stepBar"><a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}">{{ nextEvent.name }}</a></h2>
        <table summary="Next Event" class="tblStyle">
            <tbody>
            <tr>
                <td width="25%"><strong>DATE:</strong></td>
                <td width="75%">{{ nextEvent.DateRangeString }}</td>
            </tr>
            <tr>
                <td width="25%"><strong>TIME:</strong></td>
                <td width="75%">{{ nextEvent.startsAt|date('g:i a') }} - {{ nextEvent.endsAt|date('g:i a') }}</td>
            </tr>
            {% if not nextEvent.getOnline %}
                <tr>
                    <td width="25%"><strong>LOCATION:</strong></td>
                    <td width="75%">
                        {{ nextEvent.location }}<br>
                        {{ nextEvent.address1 }}<br>
                        {{ nextEvent.address2 }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                        <div id="event-location-map">{{ vichgeo_map_for('large_location', nextEvent) }}</div>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td width="25%">{{ nextEvent.attendeeCount }} attendee{% if nextEvent.attendeeCount != 1 %}s{% endif %}</td>
                <td width="75%%">
                    {% if nextEvent.isUserAttending(app.user) or nextEvent.getUser() == app.user %}
                        <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}" class="btnTny right">View Event</a>

                    {% else %}
                        <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}" class="btnTny right" onclick=
                        "{% if not group.isOwner(app.user) and not group.isMember(app.user) %}
                                    return confirm('In order to register for this event, you must be a member of its group. Press OK to join group.');
                                {% endif %}">Attend Event</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        {% endif %}

        {% if groupEvents %}
        <h2 class="stepBar">More Events</h2>
        <div class="scrollableSidebarWidget">
            {% for event in groupEvents %}
                <div class="scrollableSidebarWidgetItem">
                    <div class="left">
                        <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt">{{ event.name }}</a><br>
                        {{ event.DateRangeString | default("Ongoing Event") }} | {% if event.getOnline %}Online Event{% else %}{{ event.location }}{% endif %}
                    </div>
                    <div class="right">
                        {% if event.isUserAttending(app.user) or event.getUser() == app.user %}
                            <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnTny">View Event</a>
                        {% else %}
                            <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnTny" onclick=
                                "{% if not group.isOwner(app.user) and not group.isMember(app.user) %}
                                    return confirm('In order to register for this event, you must be a member of its group. Press OK to join group.');
                                {% endif %}" >Attend Event</a>
                        {% endif %}
                    </div>
                    <div class="clr"></div>
                </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if pastEvents %}
        <h2 class="stepBar">Past Events</h2>
            <div class="scrollableSidebarWidget">
                {% for event in pastEvents %}
                    <div class="scrollableSidebarWidgetItem">
                        <div class="left">
                            <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt">{{ event.name }}</a><br>
                            {{ event.DateRangeString }} | {% if event.getOnline %}Online Event{% else %}{{ event.location }}{% endif %}
                        </div>
                        <div class="right">
                            <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnTny">View Event</a>
                        </div>
                        <div class="clr"></div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="stepBar">{{ group.members|length }} Member{% if group.members|length > 1 %}s{% endif %}</h2>
        <div class="scrollableSidebarWidget">
            {% for member in group.members %}
                <div class="scrollableSidebarWidgetItem">
                    <a href="{{ path('profile', {'username': member.username}) }}">{{ member.name }}</a>
                </div>
            {% else %}
                There are no members of this group yet.
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
