{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

    <h2 class="left">{{ group.name }}</h2>
    <br/><hr/>

    {% include 'GroupBundle:Group:_subNav.html.twig' %}

    <p>{{ group.description | striptags }}</p><br/>

    <h2 class="left">Events</h2>

    {% if is_granted('ROLE_ADMIN') or group.isOwner(app.user) %}
        <a href="{{ path('idea_admin_event', {'groupSlug': group.slug}) }}" class="left spcr-l2 btn">Create Event</a>
    {% endif %}

    <br/><hr/>

    {% if group.events|length > 0 %}
        {% for event in group.events %}
            <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventSlug': event.slug }) }}">{{ event.name }}</a>
             - {{ event.content|truncate(120) }}<br/><hr/>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
