{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title group.name %}

{% block content %}

    {% if group.events|length > 0 %}
        {% for event in group.events %}
            <a href="{{ path('idea_index', { 'groupSlug': group.slug, 'eventSlug': event.slug }) }}">{{ event.name }}</a>
             - {{ event.content | truncate(120) }}<br>
        {% endfor %}
    {% endif %}
    <br/>
    <a href="{{ path('idea_admin_event', {'groupSlug': group.slug}) }}">Create a new Event</a>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
