{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block title %}
    {{ group.name }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if locationGroups|default %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script type="text/javascript" src="/themes/ideacontest/spoutlet/js/gmaps_custom.js"></script>

        <script type="text/javascript">
            var groupsArray = [];

            $(function () {

                {% for curGroup in locationGroups %}
                singleGroup = [];
                singleGroup['name'] = '{{ curGroup.name }}';
                singleGroup['lat'] = '{{ curGroup.latitude }}';
                singleGroup['long'] = '{{ curGroup.longitude }}';
                singleGroup['city'] = '{{ curGroup.city }}';
                singleGroup['address1'] = '{{ curGroup.address1 }}';
                singleGroup['address2'] = '{{ curGroup.address2 }}';
                singleGroup['stateProvince'] = '{{ curGroup.stateProvince }}';
                singleGroup['metroArea'] = '{{ curGroup.metroArea }}';
                singleGroup['url'] = '{{ path(curGroup.urlRouteName, curGroup.urlRouteParams, true) }}';

                groupsArray.push(singleGroup);
                {% endfor %}
            });
        </script>
    {% endif %}
    <script id="addJS">
        jQuery(document).ready(function($) {
            // Please note that autoHeight option has some conflicts with options like imageScaleMode, imageAlignCenter and autoScaleSlider
            // it's recommended to disable them when using autoHeight module
            $('#content-slider-1').royalSlider({
                autoHeight: true,
                arrowsNav: false,
                fadeinLoadedSlide: false,
                controlNavigationSpacing: 0,
                controlNavigation: 'tabs',
                imageScaleMode: 'none',
                imageAlignCenter:false,
                loop: false,
                loopRewind: true,
                numImagesToPreload: 6,
                keyboardNavEnabled: true,
                usePreloader: false,
                autoPlay: {
                    enabled: true,
                    pauseOnHover: true,
                    delay: 5000
                }
            });
        });
    </script>
{% endblock %}

{% block group_content %}

    <div id="contentLft">
        {% if group.slides | default | length > 0 %}
            <div class="content-slider-bg">
                <div id="content-slider-1" class="royalSlider contentSlider rsDefault">
                    {% for slide in group.slides %}

                        <div>
                            <a href="{{ slide.url }}" target="_blank"><img class="sliderImage" src="{{ media_path(slide.image) }}"></a>
                            <span class="rsTmb">
                                {{ slide.text }}
                            </span>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <hr/>
        {% endif %}

        <div class="rowBx">
            {{ group.description | raw }}
            <div class="clr"></div>
        </div>
        <hr/>

        {% if locationGroups|default %}
        <div id="map">
            <h2>Find a Group Near You</h2>
            <input id="map-location-search" type="text" size="50" placeholder="Enter your location" autocomplete="off">
            <div id="map-canvas" style="width:730px;height:320px"></div>
        </div>
        {% endif %}

        {% if nextEvent %}
            <div class="cBxLft">
                <h2 class="left">
                    <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}" class="blue">{{ nextEvent.name }}</a>
                </h2>
                {% if not (nextEvent.isUserAttending(app.user)) %}
                    <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': nextEvent.id}) }}" class="btn right">{% if nextEvent.externalUrl %}Join Discussion{% else %}Attend{% endif %}</a>
                {% endif %}
                <div class="clr"></div>

                <table class="tblStyle">
                    <tbody>
                    <tr>
                        <td width="20%"><strong>When:</strong></td>
                        <td width="80%">{{ nextEvent.DateAndTime|raw }}</td>
                    </tr>
                    {% if not nextEvent.getOnline %}
                        <tr>
                            <td><strong>Where:</strong></td>
                            <td>{{ nextEvent.location }}</td>
                        </tr>
                        <tr>
                            <td><strong>Address:</strong></td>
                            <td><a href="http://maps.google.com/?q={{ nextEvent.address1 }}, {{ nextEvent.address2 }}">{{ nextEvent.address1 }}<br/>{{ nextEvent.address2 }}</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2">{{ nextEvent.attendeeCount }} attendee{% if nextEvent.attendeeCount != 1 %}s{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cBxRt">
                {% if not nextEvent.getOnline %}
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                    <div id="event-location-map">{{ vichgeo_map_for('large_location', nextEvent) }}</div>
                {% elseif groupEvents %}
                    <h2 class="widgetHeader">More Upcoming Events</h2>
                    <ul class="scrollableWidget">
                        {% for event in groupEvents %}
                            <li class="spcr-t7 spcr-l3">
                                <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt"><h3 class="blu">{{ event.name }}</h3></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('group_events', {'slug': group.slug}) }}" class="blue right">All Events</a>
                {% elseif group.entrySets|length > 0 %}
                    <h2 class="widgetHeader">Lists</h2>
                    <ul class="scrollableWidget">
                        {% for entrySet in group.entrySets %}
                            <li class="spcr-t7 spcr-l3">
                                <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                            </li>
                        {% endfor %}
                    </ul>
                {% elseif pastEvents|length > 0 %}
                    <h2 class="widgetHeader">Past Events</h2>
                    <ul class="scrollableWidget">
                        {% for event in pastEvents %}
                            <li class="spcr-t7 spcr-l3">
                                <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt"><h3 class="blu">{{ event.name }}</h3></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('group_events', {'slug': group.slug}) }}#past" class="blue right">See All</a>
                {% endif %}

            </div>
        {% endif %}
    </div>
    <div id="contentRt">

        {% if not group.isMember(user) %}
            <div id="registrationBanner">
                <a href="{{ path('group_join', {'slug': group.slug}) }}" class="btnLg2">Join This Group</a>
            </div>
        {% endif %}

        {% if groupEvents %}{% set renderMoreEvents = true %}{% else %}{% set renderMoreEvents = false %}{% endif %}
        {% if group.entrySets|length > 0 %}{% set renderEntrySets = true %}{% else %}{% set renderEntrySets = false %}{% endif %}
        {% if pastEvents|length > 0 %}{% set renderPastEvents = true %}{% else %}{% set renderPastEvents = false %}{% endif %}
        {% if group.sponsors|length > 0 %}{% set renderSponsors = true %}{% else %}{% set renderSponsors = false %}{% endif %}
        {% if group.children|length > 0 %}{% set renderChildrenGroups = true %}{% else %}{% set renderChildrenGroups = false %}{% endif %}
        {% if group.parent|default %}{% set renderParentGroup = true %}{% else %}{% set renderParentGroup = false %}{% endif %}

        {% if nextEvent %}
            {% if nextEvent.getOnline %}
                {% if groupEvents %}
                    {% set renderMoreEvents = false %}
                {% elseif group.entrySets|length > 0 %}
                    {% set renderEntrySets = false %}
                {% elseif pastEvents|length > 0 %}
                    {% set renderPastEvents = false %}
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="spcr-t spcr-b2">
            <div class="fb-like left" data-href="{{ path('group_show', {'slug': group.slug}) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button left spcr-l3 spcr-t8" data-hashtags="{{ group.hashtag }}">Tweet</a>
        </div>

        <div class="clr"></div>

        {% if renderSponsors %}
            {% include 'IdeaBundle::sidebar_sponsors.html.twig' %}
        {% endif %}

        {% if renderMoreEvents %}
            <h2 class="widgetHeader">More Upcoming Events</h2>
            <ul class="scrollableWidget spcr-b3">
                {% for event in groupEvents %}
                    <li class="spcr-t7 spcr-l3">
                        <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt"><h3 class="blu">{{ event.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('group_events', {'slug': group.slug}) }}" class="blue right">All Events</a>
        {% endif %}

        {% if renderPastEvents %}
            <h2 class="widgetHeader">Past Events</h2>
            <ul class="scrollableWidget spcr-b3">
                {% for event in pastEvents %}
                    <li class="spcr-t7 spcr-l3">
                        <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventId': event.id }) }}" class="midtxt"><h3 class="blu">{{ event.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('group_events', {'slug': group.slug}) }}#past" class="blue right">See All</a>
        {% endif %}

        {% if renderEntrySets %}
            <h2 class="widgetHeader">Lists</h2>
            <ul class="scrollableWidget spcr-b3">
                {% for entrySet in group.entrySets %}
                    <li class="spcr-t7 spcr-l3">
                        <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><h3 class="blu">{{ entrySet.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if renderChildrenGroups %}
            <h2 class="widgetHeader">Regional Groups</h2>
            <ul class="scrollableWidget spcr-b3">
                {% for child in group.children %}
                    <li class="spcr-t7 spcr-l3">
                        <a href="{{ child | pd_link }}"><h3 class="blu">{{ child.name }}</h3></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if renderParentGroup %}
            <h2 class="widgetHeader">Parent Group</h2>
            <div class="spcr-b3 spcr-l3">
                <a href="{{ group.parent | pd_link }}" ><h3 class="blu">{{ group.parent.name }}</h3></a>
            </div>
        {% endif %}

        <h2 class="widgetHeader">{{ group.members|length }} Member{% if group.members|length > 1 %}s{% endif %}</h2>
        <a href="{{ path('profile', {userId: group.owner.id}) }}"><h3 class="blu spcr-t spcr-l3 midtxt">{{ group.owner.name }} (Organizer)</h3></a>
        <ul class="spcr-b3">
            {% for member in group.members %}
                {% if member.id != group.owner.id %}
                    <li class="spcr-t7 spcr-l3">
                        <a href="{{ path('profile', {'userId': member.id}) }}"><h3 class="blu">{{ member.name }}</h3></a>
                    </li>
                {% endif %}
            {% else %}
                There are no members of this group yet.
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
