{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

    <div id="row1">
        <h2 class="left spcr-t">{{ group.name }}</h2>
        <br/><hr/>

        {% include 'GroupBundle:Group:_subNav.html.twig' %}

        <p>{{ group.description | striptags }}</p><br/>
    </div>
    <div id=row2>

        <div class="cBx1">
            <h2 class="left">Events</h2>
            <br/><hr/>
            <div id="events">
                {% for event in group.events %}
                    <a href="{{ path('group_event_view', { 'groupSlug': group.slug, 'eventSlug': event.slug }) }}">{{ event.name }}</a>
                     - {{ event.content|striptags|truncate(175) }}<br/><hr/>
                {% else %}
                    There are no events in this group yet.
                {% endfor %}
            </div>
        </div>

        <div class="cBx2">
            <h2 class="left">Members</h2>
            <br/><hr/>
            <div id="members">
                {% for member in group.members %}
                    - {{ member.name }}<br/>
                {% else %}
                    There are no members of this group yet.
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'GroupBundle:Group:_css_assets.html.twig' %}
{% endblock %}
