{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<h1>Game list</h1>

<table class="zebra-striped bordered-table tablesorter">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Category</th>
            <th>Facebookfanpageurl</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for game in entities %}
        <tr>
            <td><a href="{{ path('admin_game_edit', { 'id': game.id }) }}">{{ game.id }}</a></td>
            <td>{{ game.name }}</td>
            <td>{{ game.slug }}</td>
            <td>{{ game.category }}</td>
            <td>{{ game.facebookFanpageUrl }}</td>
            <td>
                <a href="{{ path('admin_game_edit', { 'id': game.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn primary" href="{{ path('admin_game_new') }}">
    Create a new entry
</a>
{% endblock %}