{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Find Groups' %}

{% block content %}
<h1>Find Groups</h1>
<div style="width: 750px;">
    <form action="{{ path('admin_group_find') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {% include 'SpoutletBundle:GroupAdmin:_findForm.html.twig' %}
        <div style="margin-left: 160px">
            <button type="submit" class="btn btn-primary" formnovalidate>Search</button>
            <a href="{{ path('admin_group_find') }}" class="btn btn-primary" style="margin-left: 20px;">Clear</a>
        </div>
    </form>
    <div class="row-fluid" style="margin-left: 160px;">
        <p>Search Results: {{ results | length }}</p>

        <table class="table table-striped table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Region</th>
                    <th>Created At</th>
                    <th>Group Type</th>
                    <th>Organizer</th>
                    <th>Members</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for group in results %}
                    {% set isPublicLabel = group.isPublic ? 'Public' : 'Private' %}
                    <tr>
                        <td><a href="{{ path('admin_group_show', { id: group.id }) }}">{{ group.name }}</a></td>
                        <td>
                            {% if group.allLocales %}
                                <span>All Sites</span>
                            {% else %}
                                {% for site in group.sites %}
                                    <span>[{{ site.name }}]</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ group.createdAt | date('m/d/Y') }}</td>
                        <td>{{ group.category }}</td>
                        <td>{{ group.owner.username }}</td>
                        <td>{{ group.members | length }}</td>
                        <td>{{ isPublicLabel}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            No groups found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
