{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title group.name ~ ' | Admin'  %}

{% block content %}
<h1>{{ group.name }}</h1>

<div style="width: 500px">
    <table class="table table-striped table-bordered tablesorter">
        <tbody>
            <tr>
                <td>Region:</td>
                <td>
                    {% if group.allLocales %}
                        <span>All Sites</span>
                    {% else %}
                        {% for site in group.sites %}
                            <span>[{{ site.name }}]</span>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Created At</td>
                <td><div title="{{ group.createdAt | date }}">{{ group.createdAt | date('m/d/Y') }}</div></td>
            </tr>
            <tr>
                <td>Group Type:</td>
                <td>{{ group.category }}</td>
            </tr>
            <tr>
                <td>Organizer:</td>
                <td>{{ group.owner.username }}</td>
            </tr>
            <tr>
                <td>Members:</td>
                <td>{{ group.members | length }}</td>
            </tr>
            <tr>
                <td>URL:</td>
                <td>
                    {% for site in group.sites %}
                        <div><a href="http://{{ site.subdomain }}.alienwarearena.com{{ group | pd_link }}">{{ site.name }}</a></div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
