{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title group.name ~ ' | Admin'  %}

{% block content %}
<h1>{{ group.name }}</h1>

<div style="width: 700px;padding-bottom: 50px;">

    <table>
        <tbody>
            <tr>
                <td style="width: 100px;">Region:</td>
                <td style="width: 250px;">
                    {% if group.allLocales %}
                        <span>All Sites</span>
                    {% else %}
                        {% for site in group.sites %}
                            <span>[{{ site.name }}]</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td style="width: 100px;">Membership:</td>
                <td style="width: 250px;">{{ group.members | length }}</td>

            </tr>
            <tr>
                <td style="width: 100px;">Created At:</td>
                <td style="width: 250px;"><div title="{{ group.createdAt | date }}">{{ group.createdAt | date('m/d/Y') }}</div></td>
                <td style="width: 100px;">Group Type:</td>
                <td style="width: 250px;text-transform: capitalize">{{ group.category }}</td>
            </tr>
            <tr colspan="2">
                <td style="width: 100px;">Organizer:</td>
                <td style="width: 250px;">{{ group.owner.username }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h4 style="border-bottom: 1px solid #EEE;">Content Report</h4>
<div>
    <div class="row-fluid first">
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="group-metrics-from">Starts Date</label>
                <div class="controls">
                    <input type="text" id="group-metrics-from" name="group-metrics-from">
                </div>
            </div>
        </div>
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="group-metrics-thru">Ends Date</label>
                <div class="controls">
                    <input type="text" id="group-metrics-thru" name="group-metrics-thru">
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" id="generate-report" class="btn btn-primary" formnovalidate="">Generate Report</button>
    </div>
    <div id="results" style="display: none;">
        <table>
            <tr>
                <td style="width: 100px;">Videos:</td>
                <td><span id="video-results"></span></td>
            </tr>
            <tr>
                <td style="width: 100px;">Images:</td>
                <td><span id="image-results"></span></td>
            </tr>
            <tr>
                <td style="width: 100px;">News:</td>
                <td><span id="news-results"></span></td>
            </tr>
            <tr>
                <td style="width: 100px;">Comments:</td>
                <td><span id="comment-results"></span></td>
            </tr>
            <tr>
                <td style="width: 100px;">Likes:</td>
                <td><span id="like-results"></span></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#group-metrics-thru').datepicker();
            $('#group-metrics-from').datepicker();
            $('#generate-report').click(function() {
                $.ajax({
                    url: '{{ path('admin_group_content_report', {id: group.id}) }}' + getDateFilterParams(),
                    action: 'post',
                    data: JSON.stringify({ from: $('#group-metrics-from').val(), thru: $('#group-metrics-thru').val() }),
                    dataType: 'json',
                    success: function(data) {
                        if(data[0].success) {
                            $('#video-results').text(data[0].results.videos);
                            $('#image-results').text(data[0].results.images);
                            $('#news-results').text(data[0].results.news);
                            $('#comment-results').text(data[0].results.comments);
                            $('#like-results').text(data[0].results.likes);
                            $('#results').fadeIn();
                        } else {
                            $('#results').text('An error occured fetching the results');
                            $('#results').fadeIn();
                        }
                    },
                    error: function() {
                        alert('an error occured.');
                    }
                });
            });

            var getDateFilterParams = function() {
                if($('#group-metrics-from').val() != '' && $('#group-metrics-thru').val() != '') {
                    return '?from=' + $('#group-metrics-from').val() + '&thru=' + $('#group-metrics-thru').val();
                }

                return '';
            };
        });
    </script>
{% endblock %}
