{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<h1>
    {{ 'platformd.giveaway.admin.create' | trans }}
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form giveawayForm">

    {{ form_errors(form) }}

    <legend>a) Details</legend>

    <div class="row-fluid first">
        <div class="span6">
            {{ form_row(form.name) }}
            {{ form_row(form.game) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.externalUrl) }}
            {{ form_row(form.bannerImageFile, {'help': 'platformd.events.admin.banner_note'}) }}
            <div class="control-group">
            <label for="group-auto-complete" class="control-label">Group</label>
                <div class="controls">
                    <input type="text" id="group-auto-complete" name="group-auto-complete" {% if group is not null %}value="{{ group.name }}"{% endif %}/>
                </div>
            </div>
            {% if group is not null %}
                {{ form_row(form.group, {value : group.id}) }}
            {% else %}
                {{ form_row(form.group) }}
            {% endif %}
        <div class="span6">
            {{ form_row(form.sites) }}
            {{ form_row(form.status) }}
            {{ form_row(form.testOnly) }}
            {{ form_row(form.giveawayType) }}
        </div>
    </div>

    <div>
        <legend>b) Redemption Instructions</legend>
        {{ form_errors(form.redemptionInstructionsArray) }}

        <ol class="input">
            {% include 'GiveawayBundle:Giveaway:_defaultSteps.html.twig' with {'giveaway': giveaway} %}
            {% for redemptionForm in form.redemptionInstructionsArray %}
                <li>
                    {{ form_widget(redemptionForm) }}
                </li>
            {% endfor %}
        </ol>

        <div class="help-block input">{{ 'platformd.giveaway.admin.redemption_instructions_note' | trans }}</div>
        {{ form_widget(form.redemptionInstructionsArray) }}
    </div>

    <legend>c) Restrictions</legend>
    <div class="game-page-form">
        <div class="alert alert-info help" style="width: 600px;"><i class="icon-info-sign" style="padding-right: 10px;"></i>{{ form.ruleset.vars.help | raw }}</div>
        <ul class="restrictions-list clearfix row-fluid rules" data-prototype="{{ form_widget(form.ruleset.rules.vars.prototype)|e }}">
            {# see the CSS file this explanation #}
            <li class="dummy"></li>
            {% for rule in form.ruleset.rules %}
                <li class="span5 restriction-li existing-restriction">{{ form_widget(rule) }}</li>

                {% if loop.index is even %}
                    <li class="clear"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <legend>d) Description</legend>

    <div class="form_row">
        {{ form_errors(form.content) }}
        {{ form_label(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    <div style="display: none;">
        {{ form_row(form.ruleset) }}
        {{ form_label(form.ruleset.rules) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" style="margin-top:15px;" class="btn btn-primary" value="{{ "platformd.giveaway.admin.save_giveaway" | trans }}" formnovalidate />
</form>
<script type="text/javascript">
    $(function () {
        $('#group-auto-complete').autocomplete({
            source: '{{ path('admin_group_autocomplete') }}',
            minLength: 3,
            select: function(event, ui) {
                $(this).val(ui.item.label);
                $('#giveaway_group').val(ui.item.value);
                event.preventDefault();
            }
        });
    });
</script>
