<h1>
    {{ 'platformd.giveaway.admin.create' | trans }}
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form giveawayForm">

    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}

    <div class="form_row">
        {{ form_label(form.slug) }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug) }}
    </div>

    <div class="form-help">
        This field will be generated automatically if left blank. It's format
        should be lowercase letters and dashes, without any http (e.g. my-new-giveaway).
        This becomes *part* of the URL for this item.
    </div>

    {{ form_row(form.locale) }}


    {{ form_row(form.status) }}

    <div class="form_row redemption-instructions-inputs">
        {{ form_label(form.redemptionInstructionsArray) }}
        {{ form_errors(form.redemptionInstructionsArray) }}

        <ol class="normal-margin">
            {% include 'GiveawayBundle:Giveaway:_defaultSteps.html.twig' with {'giveaway': giveaway} %}
            {% for redemptionForm in form.redemptionInstructionsArray %}
                <li>
                    {{ form_widget(redemptionForm) }}
                </li>
            {% endfor %}
        </ol>
        {{ form_widget(form.redemptionInstructionsArray) }}
    </div>

    <div class="form-help">{{ 'platformd.giveaway.admin.redemption_instructions_note' | trans }}</div>

    {{ form_row(form.bannerImageFile) }}
    <div class="form-help">{{ 'platformd.events.admin.banner_note' | trans }}</div>

    <div class="form_row">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="button" value="{{ "platformd.giveaway.admin.save_giveaway" | trans }}" formnovalidate />
</form>
