{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.giveaway.admin.title" | trans }}{% endblock %}

{% block content %}

<h1>{{ "platformd.giveaway.admin.title" | trans }}</h1>


<table class="zebra-striped bordered-table tablesorter">
    <thead>
        <tr>
            <th>{{ "platformd.giveaway.giveaway" | trans }}</th>
            <th>{{ "tenant_site" | trans({}, 'admin') }}</th>
            <th>{{ 'url' | trans }}</th>
            <th>{{ "giveaway_status" | trans({}, 'forms') }}</th>
            <th>{{ "platformd.help.actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for giveaway in giveaways %}
        <tr>
            <td><a href="{{ path('admin_giveaway_edit', { 'id' : giveaway.id }) }}">{{ giveaway.name }}</a></td>
            <td>{{ giveaway.locale | site_name }}</td>
            <td>
                {% set giveawayUrl = url('giveaway_show', {'slug': giveaway.slug, '_locale': giveaway.locale }) %}
                <a href="{{ giveawayUrl }}" target="_blank">{{ giveawayUrl }}</a>
            </td>
            <td>
                {{ giveaway.statusText | trans }}
            </td>
            <td>
                <a href="{{ path('admin_giveaway_edit', {"id" : giveaway.id}) }}">{{ "edit" | trans  }}</a>
                |
                <a href="{{ path('admin_giveaway_pool_index', {"giveaway" : giveaway.id}) }}">{{ "platformd.giveaway.admin.manage_pools" | trans  }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn primary" href="{{ path('admin_giveaway_new') }}" style="margin-right:10px;">{{ "platformd.giveaway.admin.create" | trans }}</a>

{% endblock %}
