{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.giveaway.admin.title" | trans }}{% endblock %}

{% block content %}

<h1>Key Giveaways</h1>

<div class="pull-left filter-form-wrapper">
    <form action="{{ path('admin_giveaway_metrics') }}" method="GET">
        {{ form_widget(form.giveaway) }}
        From {{ form_widget(form.startDate) }}
        To {{ form_widget(form.endDate) }}
        <button type="submit" class="btn btn-primary" formnovalidate style="margin-top:-9px;">Filter</button>
    </form>
</div>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Giveaway</th>
            <th>Total Keys</th>
            <th>Total Assigned</th>
            <th>Keys Left</th>
            {% for site in sites %}
                <th>{{ site }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for metric in metrics %}
        <tr>
            <td>{{ metric.name }}</td>
            <td>{{ metric.total }}</td>
            <td>{{ metric.assigned }}</td>
            <td>{{ metric.remaining }}</td>
            {% for site in sites %}
                <td>
                    {% if site in metric.sites|keys %}{{ metric.sites[site] }}{% else %}0{% endif %}
                </td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ 4 + (sites | length) }}">
                There are no giveaways matching this criteria.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
