{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<h1>
    Edit/Create Sweepstakes
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form sweepstakesForm form-horizontal">

{{ form_errors(form) }}

    <fieldset>
        <legend>a) Basic Information</legend>
        <div class="row-fluid first">
            <div class="span6">
                {{ form_row(form.name) }}
                {{ form_row(form.game) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.externalUrl) }}
                {{ form_row(form.testOnly) }}

            </div>
            <div class="span6">
                {{ form_row(form.sites) }}
                <div style="margin-bottom: 10px; border: 1px solid #ddd; padding: 5px; width: 340px;">
                    The current time of the server is <b>{{ '' | date('Y-m-d H:i') }}</b>
                    <br/>
                    Enter the below times in the timezone of the server. Then choose
                    the timezone that you'd like these times to be displayed in to the user.
                </div>
                {{ form_row(form.starts_at) }}
                {{ form_row(form.ends_at) }}
                {{ form_row(form.timezone) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>b) Images</legend>
        <div class="row-fluid first">
            <div class="span6">
                {{ form_row(form.bannerImageFile, {'help': 'platformd.events.admin.banner_note'}) }}
                {{ form_row(form.generalImageFile) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
            <legend>c) Rules</legend>
            <div class="form_row">
                {{ form_label(form.officialRules) }}
                {{ form_errors(form.officialRules) }}
                {{ form_widget(form.officialRules) }}
            </div>
    </fieldset>
    <fieldset>
        <legend>d) Restrictions</legend>
        <div class="game-page-form">
            <div class="alert alert-info help" style="width: 600px;"><i class="icon-info-sign" style="padding-right: 10px;"></i>{{ form.ruleset.vars.help | raw }}</div>
            <ul class="restrictions-list clearfix row-fluid rules" data-prototype="{{ form_widget(form.ruleset.rules.vars.prototype)|e }}">
                {# see the CSS file this explanation #}
                <li class="dummy"></li>
                {% for rule in form.ruleset.rules %}
                    <li class="span5 restriction-li existing-restriction">{{ form_widget(rule) }}</li>

                    {% if loop.index is even %}
                        <li class="clear"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </fieldset>
    <fieldset>
        <legend>e) Content</legend>
            <div class="form_row">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
    </fieldset>

<div style="display: none;">
    {{ form_row(form.ruleset) }}
    {{ form_label(form.ruleset.rules) }}
</div>

{{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="{{ "save" | trans }}" formnovalidate />

</form>
