{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<h1>
    Edit/Create Sweepstakes
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form sweepstakesForm form-horizontal">

{{ form_errors(form) }}

    <fieldset>
        <legend>a) Basic Information</legend>
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(form.name) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.externalUrl) }}
                {{ form_row(form.testOnly) }}
                <div class="control-group">
                <label for="group-auto-complete" class="control-label">Link to a Group</label>
                    <div class="controls">
                        <input type="text" id="group-auto-complete" name="group-auto-complete" {% if group is not null %}value="{{ group.name }}"{% endif %}/>
                        <p class="alert alert-info help"><i class="icon-info-sign"></i>
                            Leave blank or or type in the group name.
                        </p>
                    </div>
                </div>
                {% if group is not null %}
                    {{ form_row(form.group, {value : group.id}) }}
                {% else %}
                    {{ form_row(form.group) }}
                {% endif %}
                {{ form_row(form.hidden) }}

            </div>
            <div class="span6">
                {{ form_row(form.sites) }}
                {{ form_row(form.startsAt) }}
                {{ form_row(form.endsAt) }}
                {{ form_row(form.timezone) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>b) Content</legend>
        {{ form_row(form.content) }}
        {{ form_row(form.backgroundImage) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.hasOptionalCheckbox) }}

        <div id="optional-checkbox-label" style="display:none">
            {{ form_row(form.optionalCheckboxLabel) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>c) Questions</legend>
        <div class="row-fluid">
            <div id="question-fields-list" data-prototype="{{ form_widget(form.questions.vars.prototype) | e }}">
            {% for questionField in form.questions %}
                <div>
                    {{ form_errors(questionField) }}
                    {{ form_widget(questionField) }}
                </div>
            {% endfor %}
            </div>

            <div class="span1">&nbsp;</div>
            <div class="span11">
                <div><a href="#" id="add-another-question" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add another (Max 5)</a></div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>d) Rules</legend>
        {{ form_row(form.officialRules) }}
    </fieldset>

    <fieldset>
        <legend>e) Status</legend>
        {{ form_row(form.published) }}
    </fieldset>

    <div style="display:none;">
        {{ form_rest(form) }}
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ "save" | trans }}" formnovalidate />
    </div>
</form>
<script type="text/javascript">

    var questionCount = '{{ form.questions | length }}';
    var questionIndex = questionCount;
    var questionList = $('#question-fields-list');

    $(function () {

        if ($('.has-optional-checkbox').is(':checked')) {
            $('#optional-checkbox-label').slideDown();
        }

        questionList.find('div.control-group').each(function() {
            addDeleteLink($(this));
        });

        $('#add-another-question').click(function(e) {
            e.preventDefault();

            if (questionCount >= 5) { return false; }

            questionCount++;
            questionIndex++;
            var newWidget = questionList.attr('data-prototype');
            newWidget = newWidget.replace(/\$\$name\$\$/g, questionIndex);
            var newDiv = $('<div></div>').html(newWidget);
            newDiv.appendTo($('#question-fields-list'));
            addDeleteLink($(newDiv));
            return false;
        });

        $('#group-auto-complete').autocomplete({
            source: '{{ path('admin_group_autocomplete') }}',
            minLength: 3,
            select: function(event, ui) {
                $(this).val(ui.item.label);
                $('#sweepstakes_group').val(ui.item.value);
                event.preventDefault();
            }
        });

        $('.has-optional-checkbox').change(function() {
            if ($(this).is(':checked')) {
                $('#optional-checkbox-label').slideDown();
            } else {
                $('#optional-checkbox-label').slideUp();
            }
        });
    });

    function addDeleteLink($div) {
        var $removeFormA = $('<a href="#" style="margin-left:10px;">&times;</a>');
        $div.find('.controls').append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $div.remove();
            questionCount--;
        });
    }
</script>
