{% form_theme form 'SpoutletBundle:Admin:bootstrapForm.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}

<h1>
    Edit/Create Sweepstakes
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form sweepstakesForm">

    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}

    {{ form_row(form.slug) }}

    {{ form_row(form.locale) }}

    <div style="margin-bottom: 10px; border: 1px solid #ddd; padding: 5px; width: 340px;">
        The current time of the server is <b>{{ '' | date('Y-m-d H:i') }}</b>
        <br/>
        Enter the below times in the timezone of the server. Then choose
        the timezone that you'd like these times to be displayed in to the user.
    </div>
    {{ form_row(form.starts_at) }}
    {{ form_row(form.ends_at) }}
    {{ form_row(form.timezone) }}

    {{ form_row(form.allowedCountries) }}
    {{ form_row(form.minimumAgeRequirement) }}

    {{ form_row(form.bannerImageFile, {'help': 'platformd.events.admin.banner_note'}) }}
    {{ form_row(form.generalImageFile) }}

    <div class="form_row">
        {{ form_label(form.officialRules) }}
        {{ form_errors(form.officialRules) }}
        {{ form_widget(form.officialRules, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    <div class="form_row">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="{{ "save" | trans }}" formnovalidate />
</form>
