{% extends 'SpoutletBundle::layout.html.twig' %}
{% set sidebar = false %}
{% block title %}{% if user == app.user %}My Profile{% else %}{{ user.name }}{% endif %}{% endblock %}


{% block content %}

    <div id="user-username" class="spcr-b2">Hello, {{ user.name }}</div>
    <div class="profile-leftcol">
        <ul>
            <li><a href="{{ path('profile', {'userId': user.id}) }}">Profile</a></li>
            <li><a href="{{ path('accounts_settings') }}">Settings</a></li>
            <li><a href="{{ path('accounts_groups') }}">Groups</a></li>
            <li><a href="{{ path('accounts_events') }}">Events</a></li>
        </ul>
    </div>

    <div class="profile-rightcol bdrLft">

    {% block profile_content %}
    {% endblock %}

    </div>

{% endblock %}
