{% for reply in replies %}
    <div class="comment-reply{% if loop.index > 3 %} hidden{% endif %}">
        <img src="{{ asset(get_avatar_url(reply['author'])) }}" alt="{{ reply['author'].username }}" />
        <div class="reply-body">
            <a href="{{ path('accounts_profile', {'username': reply['author'].username }) }}">{{ reply['author'].username }}</a>{{ reply['body'] }}
        </div>
        <div class="comment-footer">
            <div class="replied-at" title="{{ reply['created_at'] | date }}"></div>
            <div class="options" data-id="{{ reply['id'] }}">
                <div class="choices" id="choices-{{ reply['id'] }}">
                    <ul>
                        <li><a href="#">Report</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

