{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'deals' | trans %}

{% block content %}

    {% if mainDeal %}
        {% include 'SpoutletBundle:Deal:_dealHeaderCountdown.html.twig' with { 'deal': mainDeal } %}
    {% endif %}

    <div class="deal-list-page">
        <h1>{{ 'deals' | trans }}</h1>

        <ul class="featured-deals">
            {% for deal in featuredDeals %}
                <li>
                    <a href="{{ deal | pd_link }}">
                        {% if deal.thumbnailLarge %}
                        <img src="{{ media_path(deal.thumbnailLarge, {'local': true}) | imagine_filter('game_list_logo') }}" alt="{{ deal.name }}" />
                        {% else %}
                        <img src="{{ 'bundles/spoutlet/images/alienwarelogothumb.png' | imagine_filter('game_list_logo') }}" alt="{{ deal.name }}" />
                        {% endif %}
                    </a>

                    <br/>

                    <a href="{{ deal | pd_link }}">
                        {{ deal.name }}
                    </a>

                    {# todo - run this through the KnpTimeBundle #}
                    {{ 'time_remaining' }}
                </li>
            {% endfor %}
        </ul>

        <ul class="all-deals">
            {% for deal in allDeals %}
            <li>
                {{ deal | pd_link_full(deal.name) }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="clear">&nbsp;</div>

{% endblock %}
