{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title deal.name ~ ' '~ ('deal' | trans) %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ deal.name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    {% if deal.openGraphOverride %}
        {% if deal.openGraphOverride.thumbnail %}
            <meta property="og:image" content="{{ deal.openGraphOverride.thumbnail | media_path }}" />
        {% endif %}
        {% if deal.openGraphOverride.description %}
            <meta property="og:description" content="{{ deal.openGraphOverride.description | striptags }}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
<div id="deals-wrapper">
    {% if userAlreadyRedeemed %}
    <div class="xnotices">
        <div class="successNotice notice">
            <div class="pad">
                <div class="pad2">
                    <div class="pad3">
                        <div class="pad4">
                            <h3>{{ 'platformd.flash.success_title' | trans }}</h3>
                            <p>{{ 'deal_redeem_success_code' | trans}}{{ dealCode | replace({"'":"", ",":""}) }}</p>
                            <p>{{ 'deal_redeem_success' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'SpoutletBundle:Deal:_dealHeaderCountdownShow.html.twig' %}

        <div id="deal-details-wrapper">
            <div id="deal-features-instructions">
                <table id="features-instructions" style="border-spacing: 3px;">
                    <thead>
                        <tr>
                            <th class="deals-features-col-header">
                                {{ deal.name }}</th>
                            <th class="deals-instructions-col-header">
                                {{ 'deal_instructions_table_header' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="deals-features-col">
                                {% if deal.description %}
                                    {{ deal.description | raw }}
                                {% endif %}
                                {% if deal.websiteUrl %}
                                <div id="deal-websiteurl">
                                    <a href="{{ deal.websiteUrl }}" {% if deal.visitWebsiteButton %} style="background: url('{{ media_path(deal.visitWebsiteButton)}}') no-repeat; display: block; width: 224px; height: 43px; margin: 0px auto;" {% endif %} target="_blank"></a>
                                </div>
                                {% endif %}
                            </td>
                            <td class="deals-instructions-col">
                                <div id="deal-actions">
                                    {% if userAlreadyRedeemed %}
                                        <p id="deal-redeem-success">{{ 'deal_redeem_success_bottom' | trans({'%account_link%': path('accounts_deals')}) | raw }}</p>
                                    {% elseif deal.hasExpired %}
                                        <p id="deal-show-expired">{{ 'deal_show_expired' | trans }}</p>

                                    {% elseif not hasKeys %}
                                        <p id="deal-show-nokeys">{{ 'deal_redeem_no_keys_left' | trans }}</p>
                                    {% else %}

                                        <form action="{{ path('deal_redeem', { "slug" : deal.slug }) }}" method="post">

                                            <div id="deal-countries-wrapper">
                                                <div id="deal-countries">
                                                    <select id="deal-country" name="deal-country">
                                                        {% for countryCode, countryName in allowedCountries %}
                                                            <option value="{{countryCode}}">{{ countryName }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input id="selected-country" type="hidden" name="selected-country" />
                                                </div>
                                            </div>

                                            <button type="submit" id="deal-redeem-button">
                                                {% if deal.claimCodeButton %}
                                                    <img src="{{ media_path(deal.claimCodeButton) }}" />
                                                {% else %}
                                                    {{ "CLAIM CODE NOW" }}
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                                <div id="deal-instructions">
                                    <ul>
                                        {% include 'SpoutletBundle:Deal:_steps.html.twig' with {'deal': deal} %}
                                        {% if  (redemptionSteps is not empty)  %}
                                        {% for redemptionStep in redemptionSteps %}
                                        <li>
                                            <span class="step-number">{{ 'deal_instructions_step' | trans}} {{ loop.index + 1 }}:</span>
                                            <span class="item controlled-spacing">{{ redemptionStep | raw }}</span>
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <div id="deals-recommend">
                                    <div class="fb-like" data-send="false" data-width="350" data-show-faces="false" data-colorscheme="dark" data-action="like"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if (deal.mediaGalleryMedias | length) > 0 %}
            <div id="deal-screenshots">
                {% for media in deal.mediaGalleryMedias %}
                    {% set url = media_path(media) %}
                    <a href="{{ url }}" target="_blank">
                        <img src="{{ media_path(media, {'local': true}) | imagine_filter('image_thumb') }}" data-url="{{ url }}" />
                    </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if deal.legalVerbiage %}
            <div id="legal-verbiage">
                {{ deal.legalVerbiage }}
            </div>
            {% endif %}
        </div>

        <div class="std_2col">
            <div class="right">&nbsp;</div>
            <div class="left">
                <div class="deals-comments">
                    {% render "FOSCommentBundle:Thread:showFlat" with {"id": deal.threadId } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/deals.css') }}" />

    {% if deal.bottomColor %}
    <style type="text/css">
        #deal-details-wrapper { background-image: linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -o-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -moz-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -webkit-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -ms-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
    </style>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var endsAt = new Date($('#deal-ends-date').val());
            $('#time-left').countdown({
                until: endsAt,
                timezone: 0,
                compact: false,
                layout: $('#time-left').html()
            });

            $('.deals-timeleft').fadeIn();

            {# had problems with dd slick... so I removed it... if you can get it working for this page quickly... then great! - chris #}
            $('#deal-country').ddslick({
                width: 223,
                height: 215,
                onSelected: function(data) {
                    $('#selected-country').val(data.selectedData.value);
                } });

            $('#deal-country').ddslick({

            });

            var galleries = $('.media-gallery').adGallery({
                loader_image: '{{ asset('plugins/jquery.ad-gallery/loader.gif') }}',
                display_next_and_prev: false,
                display_back_and_forward: true,
                slideshow: {
                    enable: false,
                    autostart: false,
                    speed: 5000,
                    stop_on_scroll: false
                },
                effect: 'fade'
            });

            // we actually grab the thumbnails, and remove the adgallery behavior
            // this allows them to be clean, and we can do whatever next
            // this is done because adgallery normally loads the image in the larger view
            // but we don't even have the larger view
            var mediaGalleryAnchors = $('.media-gallery .ad-thumb-list a');
            mediaGalleryAnchors.unbind('click');
        });
    </script>

{% endblock %}
