{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title deal.name ~ ' '~ ('deal' | trans) %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ deal.name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    {% if deal.openGraphOverride %}
        {% if deal.openGraphOverride.thumbnail %}
            <meta property="og:image" content="{{ deal.openGraphOverride.thumbnail | media_path }}" />
        {% endif %}
        {% if deal.openGraphOverride.description %}
            <meta property="og:description" content="{{ deal.openGraphOverride.description | striptags }}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="deals-wrapper">
        {% include 'SpoutletBundle:Deal:_dealHeaderCountdown.html.twig' %}

        <div id="deal-features-instructions">
            <table id="features-instructions" style="border-spacing: 3px;">
                <thead>
                    <tr>
                        <th class="deals-features-col-header">
                            {{ deal.name }}</th>
                        <th class="deals-instructions-col-header">
                            {{ 'deal_instructions_table_header' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="deals-features-col">
                            {% if deal.description %}
                                {{ deal.description | raw }}
                            {% endif %}
                            {% if deal.websiteUrl %}
                            <div id="deal-websiteurl">
                                <a href="{{ deal.websiteUrl }}" {% if deal.visitWebsiteButton %} style="background: url('{{ media_path(deal.visitWebsiteButton)}}') no-repeat; display: block; width: 224px; height: 43px; margin: 0px auto;" {% endif %} target="_blank"></a>
                            </div>
                            {% endif %}
                        </td>
                        <td class="deals-instructions-col">
                            <div id="deal-actions">
                                {% if userAlreadyRedeemed %}
                                    <p>{{ 'deal_redeem_success' | trans }}</p>
                                    <p class="notice-data">{{ 'deal_redeem_code' | trans }}: {{ dealCode }}</p>
                                {% elseif deal.hasExpired %}
                                    <p>{{ 'deal_show_expired' | trans }}</p>
                                {% else %}
                                <div id="deal-countries">
                                    <select id="deal-countries">
                                        {% for country in countries %}
                                            <option>{{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a href="{{ path('deal_redeem', { "slug" : deal.slug }) }}" id="deal-redeem-button" {% if deal.claimCodeButton %} style="background: url('{{ media_path(deal.claimCodeButton) }}') no-repeat; border: none;" {% endif %}>{% if deal.claimCodeButton is null %}CLAIM CODE NOW {% endif %}</a>
                                {% endif %}
                            </div>
                            <div id="deal-instructions">
                                <ul>
                                    {% include 'SpoutletBundle:Deal:_steps.html.twig' with {'deal': deal} %}
                                    {% if  (redemptionSteps is not empty)  %}
                                    {% for redemptionStep in redemptionSteps %}
                                    <li>
                                        <span class="step-number">{{ 'deal_instructions_step' | trans}} {{ loop.index + 1 }}:</span>
                                        <span class="item controlled-spacing">{{ redemptionStep | raw }}</span>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div id="deals-recommend">
                                <div class="fb-like" data-send="false" data-width="350" data-show-faces="false" data-colorscheme="dark" data-action="like"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if (deal.mediaGalleryMedias | length) > 0 %}
        <div id="deal-screenshots">
            {% for media in deal.mediaGalleryMedias %}
                {% set url = media_path(media) %}
                <a href="{{ url }}" target="_blank">
                    <img src="{{ media_path(media, {'local': true}) | imagine_filter('image_thumb') }}" data-url="{{ url }}" />
                </a>
            {% endfor %}
        </div>
        {% endif %}
        {% if deal.legalVerbiage %}
        <div id="legal-verbiage">
            {{ deal.legalVerbiage }}
        </div>
        {% endif %}

        <div class="std_2col">
            <div class="right">&nbsp;</div>
            <div class="left">
                {% render "FOSCommentBundle:Thread:showFlat" with {"id": deal.threadId } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/deals.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.smoothdivscroll-1.2-min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var endsAt = new Date($('#deal-ends-date').val());
            $('#time-left').countdown({
                until: endsAt,
                compact: false,
                layout: $('#time-left').html()
            });

            $('.deals-timeleft').fadeIn();
            $('#deal-countries').ddslick({
                width: 223,
                selectText: 'SELECT YOUR COUNTRY',
            });

            var galleries = $('.media-gallery').adGallery({
                loader_image: '{{ asset('plugins/jquery.ad-gallery/loader.gif') }}',
                display_next_and_prev: false,
                display_back_and_forward: true,
                slideshow: {
                    enable: false,
                    autostart: false,
                    speed: 5000,
                    stop_on_scroll: false
                },
                effect: 'fade'
            });

            // we actually grab the thumbnails, and remove the adgallery behavior
            // this allows them to be clean, and we can do whatever next
            // this is done because adgallery normally loads the image in the larger view
            // but we don't even have the larger view
            var mediaGalleryAnchors = $('.media-gallery .ad-thumb-list a');
            mediaGalleryAnchors.unbind('click');
        });
    </script>

{% endblock %}
