{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title deal.name ~ ' '~ ('deal' | trans) %}

{% block open_graph %}
    {% if deal.openGraphOverride and deal.openGraphOverride.thumbnail and deal.openGraphOverride.thumbnail.filename %}
        {% set openGraphImage = deal.openGraphOverride.thumbnail %}
    {% elseif deal.thumbnailLarge %}
        {% set openGraphImage = deal.thumbnailLarge %}
    {% endif %}
    {% if deal.openGraphOverride and deal.openGraphOverride.description %}
        {% set openGraphDescription = deal.openGraphOverride.description | striptags %}
    {% elseif deal.description %}
        {% set openGraphDescription = deal.description | striptags | trim %}
    {% endif %}
    {% if openGraphDescription is defined and openGraphDescription|length > 140 %}
        {% set openGraphDescription = openGraphDescription | slice(0, 139) ~ '…' %}
    {% endif %}

    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ deal.name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    {% if openGraphImage is defined -%}
        <meta property="og:image" content="{{ openGraphImage | media_path }}" />
    {% endif -%}
    {% if openGraphDescription is defined -%}
        <meta property="og:description" content="{{ openGraphDescription }}" />
    {% endif %}

{% endblock %}

{% block content %}

{% if dealCode %}
    {% set dealCode = dealCode | replace({"'":"", ",":""}) %}
{% endif %}

<div id="deals-wrapper">
    {% if userAlreadyRedeemed %}
    <div class="xnotices">
        <div class="successNotice notice">
            <div class="pad">
                <div class="pad2">
                    <div class="pad3">
                        <div class="pad4">
                            <h3>{{ 'platformd.flash.success_title' | trans }}</h3>
                            <p>{{ 'deal_redeem_success_code' | trans}}</p>
                            <p>
                                {%- if dealCodeIsUrl -%}
                                    <a href='{{ dealCode | raw }}' target='_blank'>{{ dealCode | wrap | raw }}</a>
                                {%- else -%}
                                    {{ dealCode | replace({"'":"", ",":""}) }}
                                {%- endif -%}
                            </p>
                            <p>{{ 'deal_redeem_success' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'SpoutletBundle:Deal:_dealHeaderCountdownShow.html.twig' %}

        <div id="deal-details-wrapper">

            <div class="std_2col" style="padding: 0 0 15px 0">
                <div class="left">
                    <div class="widget-66">
                        <div class="widget-header">
                            <div class="widget-title">
                                {{ deal.name }}
                            </div>
                        </div>
                        <div class="widget-content">
                            <div id="deal-description">
                                {% if deal.description %}
                                    {{ deal.description | raw }}
                                {% endif %}
                                {% if deal.websiteUrl %}
                                <div id="deal-websiteurl">
                                    <a href="{{ deal.websiteUrl }}" {% if deal.visitWebsiteButton %} style="background: url('{{ media_path(deal.visitWebsiteButton)}}') no-repeat; display: block; width: 224px; height: 43px; margin: 0px auto;" {% endif %} target="_blank"></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="widget-33" style="height: auto;">
                        <div class="widget-header">
                            <div class="widget-title">
                                {{ 'deal_instructions_table_header' | trans }}
                            </div>
                        </div>
                        <div class="widget-content">
                            <div id="deal-actions">
                                {% if userAlreadyRedeemed %}
                                    <p id="deal-redeem-success">{{ 'deal_redeem_success_bottom' | trans({'%account_link%': path('accounts_deals')}) | raw }}</p>
                                {% elseif deal.hasExpired %}
                                    <p id="deal-show-expired">{{ 'deal_show_expired' | trans }}</p>
                                {% elseif not hasKeys %}
                                    <p id="deal-show-nokeys">{{ 'deal_redeem_no_keys_left' | trans }}</p>
                                {% elseif is_granted('ROLE_USER') %}
                                    <a id="deal-redeem-link" href="{{ path('deal_redeem', { "slug" : deal.slug }) }}">
                                        {% if deal.claimCodeButton %}
                                            <img src="{{ media_path(deal.claimCodeButton) }}" />
                                        {% else %}
                                            {{ "CLAIM CODE NOW" }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                            <div id="deal-instructions">
                                <ul>
                                    {% include 'SpoutletBundle:Deal:_steps.html.twig' with {'deal': deal} %}
                                    {% if  (redemptionSteps is not empty)  %}
                                    {% for redemptionStep in redemptionSteps %}
                                    <li>
                                        <span class="step-number">{{ 'deal_instructions_step' | trans}} {{ loop.index + 1 }}:</span>
                                        <span class="item controlled-spacing">{{ redemptionStep | raw }}</span>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div id="deals-recommend">
                        <div class="fb-like" data-send="false" data-width="300" data-show-faces="false" data-colorscheme="dark" data-action="like"></div>
                    </div>
                </div>
            </div>
            {% if (deal.mediaGalleryMedias | length) > 0 %}
            <div id="deal-screenshots">
                {% for media in deal.mediaGalleryMedias %}
                    {% set url = media_path(media) %}

                    <img src="{{ url }}" data-url="{{ url }}" {% if loop.first %}class="first"{% endif %} />
                {% endfor %}
            </div>
            {% endif %}
            {% if deal.legalVerbiage %}
            <div id="legal-verbiage">
                {{ deal.legalVerbiage }}
            </div>
            {% endif %}
        </div>

        <div class="std_2col">
            <div class="right">&nbsp;</div>
            <div class="left">
                <div class="deals-comments">
                    {% render "FOSCommentBundle:Thread:showFlat" with {"id": deal.threadId } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/deals.css') }}" />

    {% if deal.bottomColor %}
    <style type="text/css">
        #deal-details-wrapper { background-image: linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -o-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -moz-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -webkit-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -ms-linear-gradient(bottom, {{ deal.bottomColor }} 8%, #000000 58%); }
    </style>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var endsAt = new Date($('#deal-ends-date').val());
            $('#time-left').countdown({
                until: endsAt,
                timezone: 0,
                compact: false,
                layout: $('#time-left').html()
            });

            $('.deals-timeleft').fadeIn();
        });
    </script>

{% endblock %}
