{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Content Report Admin' %}

{% macro getContentReportTable(items, manage, deletedContent) %}

    <table id="content-reports">

        <tr><th id="content-report-content">Content</th><th>Complaints</th><th id="content-report-action">Reporters</th>
            {% if manage or deletedContent %}
                <th id="content-report-action">Action</th>
            {% endif %}
        </tr>

        {% for item in items %}
            <tr>
                <td>
                    {% if item[0].getContentType == 'GroupVideo' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug() }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Video (external YouTube link)</h1>
                        <div><a href="http://www.youtube.com/watch?v={{ item[0].youTubeVideoId }}" target='_blank'>Watch Video</a></div>

                    {% elseif item[0].getContentType == 'GroupImage' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug() }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Image</h1>
                        <div><img src="{{ media_path(item[0].image, {'local': true}) | imagine_filter('game_show_logo') }}" alt="{{ item[0].title }}" /></div>

                    {% elseif item[0].getContentType == 'GroupNews' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug() }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Article</h1>
                        <div>{{ item[0].article }}</div>

                    {% elseif item[0].getContentType == 'Group' %}
                        <h1>Group</h1>
                        <div><a href="{{ path('group_edit', { 'id' : item[0].getId() }) }}">{{ item[0].name }}</a></div>

                    {% endif %}
                </td>
                <td>
                    <div style="color: red; font-weight: bold;">{{ item[0].contentReports.count }}</div>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Username</th><th>Reason</th><th>Date</th>
                        </tr>
                        {% for report in item[0].contentReports %}
                            <tr>
                                <td>{{ report.reporter.username }}</td>
                                <td>{{ report.reason }}</td>
                                <td>{{ report.reportedAt | date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                {% if manage and item[0].contentReports.count > 0 %}
                    <td>
                        <div id="remove-content"><a href="{{ path('admin_content_reports_remove_content', { "contentReportId" : item[0].contentReports[0].id }) }}">Confirm Removal</a></div>
                        <div id="hide-complaint"><a href="{{ path('admin_content_reports_hide_complaint', { "contentReportId" : item[0].contentReports[0].id }) }}">Reactivate Content</a></div>
                    </td>
                {% elseif deletedContent %}
                    <td>
                        <div><a href="{{ path('admin_content_reports_reinstate_content', { "contentReportId" : item[0].contentReports[0].id }) }}">Reinstate Content</a></div>
                    </td>
                {% endif %}
            </tr>

        {% else %}
            <tr>
                <td colspan="4">No new reports.</td>
            </tr>
        {% endfor %}

    </table>

{% endmacro %}

{% block content %}

<h1>Content Reports</h1>

<h2>Options</h2>

<p>
    {% if mode == "manage" %}
        <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "archived" }) }}">View archived complaints</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "deletedContent" }) }}">View removed content</a></li>
        </ul>
    {% elseif mode == "archived" %}
         <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "manage" }) }}">View new complaints</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "deletedContent" }) }}">View removed content</a></li>
        </ul>
    {% elseif mode == "deletedContent" %}
         <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "manage" }) }}">View new complaints</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "archived" }) }}">View archived complaints</a></li>
        </ul>
    {% endif %}
</p>

<p>{{ _self.getContentReportTable(allReports, mode == "manage", mode == "deletedContent") }}</p>

{% endblock %}
