{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Content Report Admin' %}

{% macro getContentReportTable(items, manage, deletedContent, contests) %}

    <table id="content-reports">

        <tr><th id="content-report-content">Content</th><th>Complaints</th><th id="content-report-action">Reporters</th>
            {% if manage or deletedContent %}
                <th id="content-report-action">Action</th>
            {% endif %}
        </tr>

        {% for item in items %}
            <tr>
                <td>
                    {% if item[0].getContentType == 'GroupEvent' %}

                        <h1>Title</h1>
                        <div>{{ item[0].name }}</div>
                        <h1>Time</h1>
                        <div>{{ item[0].dateRangeString }}</div>
                        <h1>Where</h1>
                        <div>{{ item[0].online ? "Online" : item[0].location ~ ", " ~ item[0].address }}</div>
                        <h1>Details</h1>
                        <div>{{ item[0].content }}</div>

                    {% elseif item[0].getContentType == 'GroupVideo' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug(), '_locale' : item.locale }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Video (external YouTube link)</h1>
                        <div><a href="http://www.youtube.com/watch?v={{ item[0].youTubeVideoId }}" target='_blank'>Watch Video</a></div>

                    {% elseif item[0].getContentType == 'GroupImage' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug(), '_locale' : item.locale }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Image</h1>
                        <div><img src="{{ item[0].image.filename | imagine_filter('game_show_logo') }}" alt="{{ item[0].title }}" /></div>

                    {% elseif item[0].getContentType == 'GroupNews' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug(), '_locale' : item.locale }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Article</h1>
                        <div>{{ item[0].article }}</div>
                    {% elseif item[0].getContentType == 'GroupDiscussion' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].group.getSlug() }) }}">{{ item[0].group.name }}</a></div>
                        <h1>Discussion Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Content</h1>
                        <div>{{ item[0].content }}</div>

                    {% elseif item[0].getContentType == 'GroupDiscussionPost' %}

                        <h1>Group</h1>
                        <div><a href="{{ path('group_show', { 'slug' : item[0].groupDiscussion.group.getSlug() }) }}">{{ item[0].groupDiscussion.group.name }}</a></div>
                        <h1>Discussion Post Id</h1>
                        <div>{{ item[0].id }}</div>
                        <h1>Message</h1>
                        <div>{{ item[0].content }}</div>

                    {% elseif item[0].getContentType == 'GalleryMedia' %}

                        <h1>Title</h1>
                        <div>{{ item[0].title }}</div>
                        <h1>Uploaded By</h1>
                        <div>{{ item[0].author.username }}</div>

                        {% if item[0].getCategory == 'image' %}

                            <h1>Image</h1>
                            <div>
                                <img src="{{ item[0].image | imagine_filter('game_show_logo') }}" alt="{{ item[0].title }}" />
                                {% if item[0].getContestEntry is not null %}
                                <p class="alert alert-info help" style="margin-top:10px;"><i class="icon-info-sign"></i>
                                    This image is part of a contest.
                                </p>
                                {% endif %}
                            </div>

                        {% elseif item[0].getCategory == 'video' %}

                            <h1>Video (external YouTube link)</h1>
                            <div><a href="http://www.youtube.com/watch?v={{ item[0].youtubeId }}" target='_blank'>Watch Video</a></div>

                        {% endif %}

                    {% elseif item[0].getContentType == 'Group' %}
                        <h1>Group</h1>
                        <div>
                            <a href="{{ path('group_edit', { 'slug' : item[0].getSlug() }) }}">{{ item[0].name }}</a>
                            {% if item[0].id in contests %}
                            <p class="alert alert-info help" style="margin-top:10px;"><i class="icon-info-sign"></i>
                                This group is part of a contest.
                            </p>
                            {% endif %}
                        </div>

                    {% elseif item[0].getContentType == 'Comment' %}

                        <h1>Thread</h1>
                        <div><a href="{{ change_link_domain(item[0].thread.permalink | absolute_url, item.fullDomain) }}" target="_blank">Click to view thread</a></div>
                        <h1>Comment</h1>
                        <div>{{ item[0].body }}</div>
                        <h1>Author</h1>
                        <div>{{ item[0].author.username }}</div>

                    {% elseif item[0].getContentType == 'YoutubeVideo' %}
                        <h1>YouTube Video (external link)</h1>
                        <div>{{ item[0].title }}</div>
                        <div><a href="http://www.youtube.com/watch?v={{ item[0].youtubeId }}" target='_blank'>Watch Video</a></div>

                    {% endif %}

                </td>
                <td>
                    <div style="color: red; font-weight: bold;">{{ item[0].contentReports.count }}</div>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Username</th><th>Reason</th><th>Date</th>
                        </tr>
                        {% for report in item[0].contentReports %}
                            <tr>
                                <td>{{ report.reporter.username }}</td>
                                <td>{{ report.reason }}</td>
                                <td>{{ report.reportedAt | date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                {% if manage and item[0].contentReports.count > 0 %}
                    <td>
                        <div id="remove-content"><a href="{{ path('admin_content_reports_remove_content', { "contentReportId" : item[0].contentReports[0].id }) }}">Confirm Removal</a></div>
                        <div id="hide-complaint"><a href="{{ path('admin_content_reports_hide_complaint', { "contentReportId" : item[0].contentReports[0].id }) }}">Reactivate Content</a></div>
                    </td>
                {% elseif deletedContent %}
                    <td>
                        <div><a href="{{ path('admin_content_reports_reinstate_content', { "contentReportId" : item[0].contentReports[0].id }) }}">Reinstate Content</a></div>
                    </td>
                {% endif %}
            </tr>

        {% else %}
            <tr>
                <td colspan="4">No new reports.</td>
            </tr>
        {% endfor %}

    </table>

{% endmacro %}

{% block content %}

<h1>Content Reports</h1>

<h2>Options</h2>

<p>
    {% if mode == "manage" %}
        <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "archived" }) }}">View reinstated content</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "deletedContent" }) }}">View removed content</a></li>
        </ul>
    {% elseif mode == "archived" %}
         <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "manage" }) }}">View new complaints</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "deletedContent" }) }}">View removed content</a></li>
        </ul>
    {% elseif mode == "deletedContent" %}
         <ul>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "manage" }) }}">View new complaints</a></li>
            <li><a href="{{ path('admin_content_reports_with_mode', { 'mode' : "archived" }) }}">View reinstated content</a></li>
        </ul>
    {% endif %}
</p>

<p>{{ _self.getContentReportTable(allReports, mode == "manage", mode == "deletedContent", contests) }}</p>

{% endblock %}
