{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Find Images' %}

{% block content %}
<h1>Find Images</h1>
<div style="width: 750px;">
    <form action="{{ path('admin_image_find') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {% include 'SpoutletBundle:GalleryAdmin:_findForm.html.twig' %}
        <div style="margin-left: 160px">
            <button type="submit" class="btn btn-primary" formnovalidate>Search</button>
            <a href="{{ path('admin_image_find') }}" class="btn btn-primary" style="margin-left: 20px;">Clear</a>
        </div>
    </form>
</div>
    <div>
        <p>Search Results: {{ results | length }} <span style="margin-left: 20px;"><a href="{{ path('admin_image_summary') }}">Export</a></span></p>

        <table class="table table-striped table-bordered tablesorter">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>URL</th>
                    <th>Owner</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Upload Date</th>
                    <th>Country</th>
                    <th>Likes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for image in results %}
                    <tr>
                        <td><img src="{{ image.image.filename | imagine_filter('game_show_logo') }}" alt="{{ image.title }}" /></td>
                        <td><a href="{{ path('gallery_media_show', { id : image.id }) }}">{{ path('gallery_media_show', { id : image.id }) }}</a></td>
                        <td>{{ image.author.username }}</td>
                        <td>{{ image.author.firstname }}</td>
                        <td>{{ image.author.lastname }}</td>
                        <td>{{ image.createdAt | date('m/d/Y') }}</td>
                        <td>{{ image.author.country }}</td>
                        <td>{% if image.id in upVotes|keys %}{{ upVotes[image.id] }}{% else %}0{% endif %}</td>
                        <td>
                            {% if image.deleted != true  %}
                            <a href="{{ path('admin_delete_media', { id : image.id }) }}">Remove from site</a>
                            {% endif %}
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">
                            No images found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
