{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.admin.news.heading" | trans }}{% endblock %}

{% block content %}
<div id="admin-news">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ "platformd.admin.news.heading" | trans }}
            </div>
        </div>

        <div class="widget-content">
            <table width="100%">
                <thead>
                    <tr>
                        <th>{{ "platformd.admin.news.title" | trans }}</th>
                        <th>{{ "platformd.help.actions" | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in news %}
                    <tr>
                        <td><a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}">{{ item.title }}</a></td>
                        <td>
                            <a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}">{{ "platformd.admin.news.edit" | trans }}</a> - 
                            <a href="{{ path('NewsBundle_admin_delete', { "id" : item.id }) }}" class="delete_link">{{ "platformd.admin.news.delete" | trans }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if news.haveToPaginate %}
                {{ pagerfanta(news, 'default', {'routeName' : 'NewsBundle_admin_index'}) }}
            {% endif %}
        </div>

    </div>


    <div class="widget-footer">
        <a class="aw-link" href="{{ path('NewsBundle_admin_new') }}" style="margin-right:10px;">{{ "platformd.admin.news.create" | trans }}</a>
        <div class="clear"></div>
    </div>

</div>
<div style="width:100%;text-align:right;padding-top:20px;"></div>

<script type="text/javascript">
    jQuery(function($) {
        $("a.delete_link").bind("click", function(event) {
            if (!confirm("{{ 'platformd.admin.news.delete_confirm' | trans }}")) {
                event.stopPropagation();
                event.preventDefault();
            }

            console.log($("<form />", { "method":"post", "action":$(this).attr("href")}).submit().remove());
        })     
    });
</script>
{% endblock %}
