{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.admin.news.heading" | trans }}{% endblock %}

{% block content %}

<h1>{{ "platformd.admin.news.heading" | trans }}</h1>

<table class="zebra-striped bordered-table tablesorter">
    <thead>
        <tr>
            <th>{{ "platformd.admin.news.title" | trans }}</th>
            <th>{{ "tenant_site" | trans }}</th>
            <th>{{ 'url' | trans }}</th>
            <th>{{ "platformd.events.event_listings.published" | trans }}</th>
            <th>{{ "platformd.help.actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in news %}
        <tr>
            <td><a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}">{{ item.title }}</a></td>
            <td>{{ item.locale | site_name }}</td>
            <td>
                {% set newsUrl = url('news_show', {'slug': item.slug, '_locale': item.locale }) %}
                <a href="{{ newsUrl }}">{{ newsUrl }}</a>
            </td>
            <td>
                <i>
                {% if item.published%}
                    published
                {% else %}
                    unpublished
                {% endif %}
                </i>
            </td>
            <td>
                <a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}">{{ "platformd.admin.news.edit" | trans }}</a> -
                <a href="{{ path('NewsBundle_admin_delete', { "id" : item.id }) }}" class="delete_link">{{ "platformd.admin.news.delete" | trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn primary" href="{{ path('NewsBundle_admin_new') }}">{{ "platformd.admin.news.create" | trans }}</a>

{% if news.haveToPaginate %}
    {{ pagerfanta(news, 'default', {'routeName' : 'NewsBundle_admin_index'}) }}
{% endif %}

<script type="text/javascript">
    jQuery(function($) {
        $("a.delete_link").bind("click", function(event) {
            if (!confirm("{{ 'platformd.admin.news.delete_confirm' | trans }}")) {
                event.stopPropagation();
                event.preventDefault();

                return false;
            }

            $("<form />", { "method":"post", "action":$(this).attr("href")})
                .appendTo(jQuery('body'))
                .submit()
                .remove()
            ;
        })     
    });
</script>
{% endblock %}
