{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.news.admin.heading" | trans }}{% endblock %}

{% block content %}

<h1>{{ "platformd.news.admin.heading" | trans }}</h1>

{% if news.haveToPaginate %}
    {# Warning: when using pagerfanta, make sure to specify the routeName otherwise pagerfanta will try to guess it #}
    {# which is very resource intensive and can increase page load time by 5 seconds !!! #}
    {{ pagerfanta(news, 'twitter_bootstrap', {
        'routeName': 'NewsBundle_admin_siteList',
        'routeParams': { 'site': site.id }
    }) }}
{% endif %}

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>{{ "platformd.news.admin.title" | trans }}</th>
            <th>{{ "tenant_site" | trans({}, 'admin') }}</th>
            <th>{{ 'url' | trans }}</th>
            <th>{{ "published_status" | trans }}</th>
            <th style="width:90px;">{{ "platformd.help.actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in news %}
        <tr>
            <td><a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}">{{ item.title }}</a></td>
            <td>
                {% for site in item.sites %}
                    {{ site.name -}}
                    {{- loop.last ? '' : ',' }}
                {% endfor %}
            </td>
            <td>
                <a href="{{ url('news_show', {'slug': item.slug, '_locale': site.defaultLocale }) }}">{{ url('news_show', {'slug': item.slug, '_locale': site.defaultLocale }) }}</a>
            </td>
            <td>
                {% if item.published%}
                    <span class="label label-success">Published</span>
                {% else %}
                    <span class="label label-warning">Unpublished</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary btn-mini" href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}"><i class="icon-th-list icon-white"></i> {{ "platformd.news.admin.edit" | trans }}</a>
                    <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('NewsBundle_admin_edit', { "id": item.id }) }}"><i class="icon-pencil"></i> {{ "platformd.news.admin.edit" | trans }}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if news.haveToPaginate %}
    {# Warning: when using pagerfanta, make sure to specify the routeName otherwise pagerfanta will try to guess it #}
    {# which is very resource intensive and can increase page load time by 5 seconds !!! #}
    {{ pagerfanta(news, 'twitter_bootstrap', {
        'routeName': 'NewsBundle_admin_siteList',
        'routeParams': { 'site': site.id }
    }) }}
{% endif %}

<a class="btn btn-primary" href="{{ path('NewsBundle_admin_new') }}">{{ "platformd.news.admin.create" | trans }}</a>

<script type="text/javascript">
    jQuery(function($) {
        $("a.delete_link").bind("click", function(event) {
            if (!confirm("{{ 'platformd.news.admin.delete_confirm' | trans }}")) {
                event.stopPropagation();
                event.preventDefault();

                return false;
            }

            $("<form />", { "method":"post", "action":$(this).attr("href")})
                .appendTo(jQuery('body'))
                .submit()
                .remove()
            ;
        })
    });
</script>
{% endblock %}
