<form method="post" action="{{ route }}" class="form">
    {{ form_row(form.title) }}

    <div class="form_row">
        {{ form_label(form.body) }}
        {{ form_errors(form.body) }}
        {{ form_widget(form.body, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="button" value="{{ "platformd.news.admin.save_news" | trans }}" formnovalidate />
</form>