{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

<form method="post" action="{{ route }}" class="form-horizontal" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <legend>Basic Information</legend>
    <div class="row-fluid first">
        <div class="span6">
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.type) }}
            {{ form_row(form.postedAt) }}
            {{ form_row(form.overrideUrl) }}
        </div>

        <div class="span6">
            {{ form_row(form.sites) }}
            {{ form_row(form.game) }}
        </div>
    </div>

    <div id="news-images">
        <legend>Images</legend>
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(form.image) }}
                {{ form_row(form.thumbnail) }}
            </div>
        </div>
    </div>

    <legend>Content</legend>
    <div class="row-fluid">
        <div class="span10">
            {{ form_row(form.blurb) }}
            {{ form_row(form.body) }}
        </div>
    </div>

    {{ form_row(form.tags) }}

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ "platformd.news.admin.save_news" | trans }}" formnovalidate />
    </div>
</form>

<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.tagsinput.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $('#news_tags').watermark('Separate tags with commas');
        $('#news_tags').tagsInput();

        if ($("select.news-type option:selected").val() == 'news') {
            $('#news-images').hide();
        }

        $('select.news-type').change(function() {
            if ($("select.news-type option:selected").val() == 'article') {
                $('#news-images').slideDown();
            } else {
                $('#news-images').slideUp();
            }
        });
    });

</script>
