{% form_theme form 'SpoutletBundle:Admin:bootstrapForm.html.twig' 'SpoutletBundle:Admin:normalLabel.html.twig' %}

<form method="post" action="{{ route }}" class="form">
    {{ form_row(form.title) }}

    {{ form_row(form.slug) }}

    {{ form_row(form.locale) }}

    {{ form_row(form.postedAt) }}
    {{ form_row(form.overrideUrl) }}
    {{ form_row(form.blurb) }}

    <div class="form_row">
        {{ form_label(form.body) }}
        {{ form_errors(form.body) }}
        {{ form_widget(form.body, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn primary" value="{{ "platformd.admin.news.save_news" | trans }}" formnovalidate />
</form>