<h1>{{ 'platformd.user.request_reset.title' | trans }}</h1>

<p>
    {{ 'platformd.user.request_reset.help_message' | trans }}
</p>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

<p>
    {{ 'platformd.user.request_reset.spam_message' | trans }}
</p>
