{% extends 'UserBundle::accountLayout.html.twig' %}

{% form_theme form _self %}

{% block file_label %}
{% endblock %}

{% block user_avatar_row %}
     <div class="avatar-block">
    {{ form_row(form.media) }}
    {% if form.all.value and not form.all.value.isSelected %}
        <a href="{{ path('user_avatar_toggle_selection', {'id': form.all.value.id}) }}">{{ 'platformd.user.account_settings.Select avatar'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
    {% if form.all.value and not form.all.value.isApproved %}
        {{ 'platformd.user.account_settings.waiting for approval'|trans({}, 'FOSUserBundle') }}
    {% endif %}
    </div>
{% endblock %}

{% block content %}

<h2>{{ 'platformd.user.account_settings'|trans({}, 'FOSUserBundle') }}</h2>

<form action="{{ path('user_avatar_update') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form">
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(form.userAvatars) }}
    {{ form_errors(form.userAvatars) }}
    {{ form_rest(form) }}

    <a href="#" id="user-avatar-add">{{ 'platformd.user.account_settings.Add an avatar'|trans({}, 'FOSUserBundle') }}</a>

    <div>
        <input type="submit" class="button" value="{{ 'platformd.user.account_settings.change_avatar.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
        $('#user-avatar-add').click(function(event) {
            event.preventDefault();
            var div = $('#account_settings_userAvatars');
            var prototype = div.data('prototype');
            var row = $(prototype.replace(/\$\$name\$\$/g, div.children().length));

            div.append(row);
        });
    });
</script>
{% endblock content %}
