{# give a form_row class to all form row divs #}
{% block field_row %}
{% spaceless %}
<div class="control-group {% if errors|length > 0 %}error{% endif %}">
    {{ form_label(form, label|default(null)) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}

        {% if form.get('help') %}
        <p class="help-block">
            {{ form.get('help') }}
        </p>
        {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block knp_media_row %}
{{ form_row(form.fileObject) }}
{% endblock %}

{# special errors block for form errors - at the top of the form, for example #}
{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<div class="alert alert-error" style="display: inline-block;">
    {% for error in errors %}
    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
    <br/>
    {% endfor %}
</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block generic_label %}
{% set attr = attr|merge({'class': ''}) %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': 'required'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': 'control-label'}) %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}</label>
{% endspaceless %}
{% endblock %}