{% extends "form_div_layout.html.twig" %}

{# give a form_row class to all form row divs #}
{% block field_row %}
{% spaceless %}
<div class="control-group {% if errors|length > 0 %}error{% endif %}">
    {{ form_label(form, label|default(null)) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}

        {% if form.get('help') %}
        <p class="alert alert-info help">
            <i class="icon-info-sign"></i>
            {{ form.get('help') | trans | raw }}
        </p>
        {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}

    {% for error in errors %}
        <div class="help-inline">
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {% endfor %}

    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{# special errors block for form errors - at the top of the form, for example #}
{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<div class="help-inline">
{#<div class="alert alert-error" style="display: inline-block;">#}
    {% for error in errors %}
    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
    <br/>
    {% endfor %}
</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block generic_label %}
{% set attr = attr|merge({'class': ''}) %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': 'required'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': 'control-label'}) %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {% if required %}
            <span class="required">*</span>
        {% endif %}
        {{ label|trans }}
    </label>
{% endspaceless %}
{% endblock %}

{# adds our little icon to the front #}
{% block url_widget %}
    <div class="input-prepend">
        <span class="add-on">
            <i class="icon-share-alt"></i>
        </span>
    </div>
    {% set type = type|default('url') %}
    {{ block('field_widget') }}
{% endblock %}

{# the first part is overriden to give us checkboxes that look schweet in bootstrap#}
{% block choice_widget %}
{% spaceless %}
    {% if expanded and multiple %}
        {% for child in form %}
            <label class="checkbox">
                {{ form_widget(child) }}
                {{ child.get('label') | trans }}
            </label>
        {% endfor %}
    {% elseif expanded and not multiple %}
        <table style="display:inline-table;position:relative;top:5px;">
            <tr>
            {% for child in form %}
                <td style="vertical-align:top;">
                    <label class="radio">
                        {{ form_widget(child) }}
                        {{ child.get('label') | trans }}
                    </label>
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        {# this side is untouched #}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value="">{{ empty_value|trans }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('widget_choice_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('widget_choice_options') }}
        </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block _giveaway_translations_row %}

 <div class="translation-collection form_row" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <a href="#" class="add-translation-to-collection btn btn-primary">Add content for specific region</a>
    </div>
{% endblock %}

{% block giveaway_translation_label %}
{% endblock giveaway_translation_label %}

{% block giveaway_translation_widget %}
    <div class="collection-item">
        <a href="#" class="translation-collection-remove-link">[x]</a>
        <div>
            <div style="display: inline-table; width: 500px;">
                {{ form_row(form.name) }}
                {{ form_row(form.locale) }}

                {{ form_row(form.backgroundImage) }}
                {% if form.get('mediaObjects') %}
                    {% set objPath = media_path(form.get('mediaObjects'), {'type': 'background'}) %}

                    {% if ends_with(objPath, '.png') or ends_with(objPath, '.jpg') or ends_with(objPath, '.jpeg') or ends_with(objPath, '.gif') %}
                        <img src="{{ objPath }}" style="width: 200px; margin: -10px 0 10px 160px;" />
                    {% endif %}
                {% endif %}

            {{ form_row(form.removeBackgroundImage) }}

                {{ form_row(form.backgroundLink) }}

                {{ form_row(form.bannerImageFile) }}

                {% if form.get('mediaObjects') %}
                    {% set objPath = media_path(form.get('mediaObjects'), {type: "banner"}) %}

                    {% if ends_with(objPath, '.png') or ends_with(objPath, '.jpg') or ends_with(objPath, '.jpeg') or ends_with(objPath, '.gif') %}
                        <img src="{{ objPath }}" style="width: 200px; margin: -10px 0 10px 160px;" />
                    {% endif %}
                {% endif %}

                {{ form_row(form.removeBannerImage) }}

            </div>

            <div style="display: inline-table; width: 400px;">
                {{ form_label(form.redemptionInstructionsArray) }}
                {{ form_errors(form.redemptionInstructionsArray) }}

                <ol class="input">
                    {% include 'GiveawayBundle:Giveaway:_defaultSteps.html.twig' with {'giveaway': form.all.value} %}
                    {% for redemptionForm in form.redemptionInstructionsArray %}
                        <li>
                            {{ form_widget(redemptionForm) }}
                        </li>
                    {% endfor %}
                </ol>

                {{ form_widget(form.redemptionInstructionsArray) }}
            </div>
        </div>

        <div style="margin-top: 30px; width: 98%;">
            {{ form_row(form.content) }}
        </div>

    </div>
{% endblock %}
