{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}
Edit Event | {{ event.name }}
{% endblock %}

{% block content %}
<form action="{{ path('admin_events_edit', { 'id' : event.id }) }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_row(form.name) }}

    {{ form_row(form.ready) }}

    {{ form_row(form.published) }}

    {{ form_row(form.starts_at) }}

    {{ form_row(form.ends_at) }}

    {{ form_row(form.city) }}

    {{ form_row(form.metro_area) }}

    {{ form_row(form.country) }}

    <div class="form_row">
    {{ form_label(form.content) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_row(form.hosted_by) }}

    {{ form_row(form.game) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
{% endblock %}