{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.events.admin.title" | trans }}{% endblock %}

{% block content %}

<h1>{{ "platformd.events.event_listings.current_events" | trans }}</h1>

<table class="zebra-striped bordered-table tablesorter">
    <tbody>
        <tr>
            <th>{{ "platformd.events.event_listings.event" | trans }}</th>
            <th>{{ "tenant_site" | trans }}</th>
            <th>{{ 'url' | trans }}</th>
            <th>{{ "platformd.events.event_listings.start_date" | trans }}</th>
            <th>{{ "platformd.events.event_listings.games" | trans }}</th>
            <th>{{ "platformd.events.event_listings.published" | trans }}</th>
            {% if app.user.isSuperAdmin %}
                <th>{{ "platformd.help.actions" | trans }}</th>
            {% endif %}
        </tr>
        {% for event in events %}
        <tr class="eventListGroup_online">
            <td><a href="{{ path('admin_events_edit', { 'id' : event.id }) }}">{{ event.name }}</a></td>
            <td>{{ event.locale | site_name }}</td>
            <td>
                {% set eventUrl = url('events_detail', {'slug': event.slug, '_locale': event.locale }) %}
                <a href="{{ eventUrl }}">{{ eventUrl }}</a>
            </td>
            <td title="{{ event.startsAt|date }}">
                {{ event.startsAt|date('M') }}
                <span class="dateEmphasis"><strong>{{ event.startsAt|date('d') }}</strong></span>
            </td>
            <td>{{ event.game }}</td>
            <td>
                <i>
                {% if event.published%}
                    published
                {% else %}
                    unpublished
                {% endif %}
                </i>
            </td>
            <td>
                {% if not event.published %}
                    <a href="{{ path('admin_event_approve', { "id" : event.id })  }}">{{ "platformd.events.admin.approve" | trans }}</a>
                {% else %}
                    <a href="{{ path('admin_event_unpublish', { "id" : event.id }) }}">{{ "platformd.events.admin.unpublish" | trans }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn primary" href="{{ path('admin_events_new') }}" >{{ "platformd.events.admin.create" | trans }}</a>
{% endblock %}
