{% form_theme form 'SpoutletBundle:Admin:bootstrapForm.html.twig' %}

<h1>
    {% if (form.get('value').id) %}
        {% set title = 'platformd.events.admin.new_title' %}
    {% elseif (form.get('value').published) %}
        {% set title = 'platformd.events.admin.published_title' %}
    {% else %}
        {% set title = 'platformd.events.admin.unpublished_title' %}
    {% endif %}

    {{ title | trans }}
</h1>

<form action="{{ route }}" method="post" {{ form_enctype(form) }} class="form">

    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}

    {{ form_row(form.slug) }}

    {{ form_row(form.locale) }}

    {{ form_row(form.starts_at) }}

    {{ form_row(form.ends_at) }}

    {{ form_row(form.location) }}

    {{ form_row(form.city) }}

    {{ form_row(form.country) }}

    {{ form_row(form.hosted_by) }}

    {{ form_row(form.game) }}
    
    {{ form_row(form.url_redirect) }}

    {{ form_row(form.bannerImageFile, {
        'help': 'platformd.events.admin.banner_note'
    }) }}

    <div class="form_row">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'ckeditor' } }) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn primary" value="{{ "platformd.events.admin.save_event" | trans }}" formnovalidate />
</form>
