<div class="widget-item">
    <div class="picture">
        <a href="{{ 'post.author.id' }}"><img src="{{ 'post.author.avatar' }}"></a>
    </div>
    <div class="title">
        <a href="{{ 'post.link' }}">{{ 'post.title' }}</a>
    </div>
    <div class="about widget-item-subtext">
        <span class="who">{{ 'post.auther.username' }}</span>
        <span class="when">{{ 'post.createdAt' }}</span>
    </div>
    <div class="clear"></div>
</div>