<div class="widget-33" id="hs-widget" style="height: auto;">
    <div class="widget-header" style="height: 36px;">
        <div class="widget-title" style="width: 200px; float: left;">
            {{ 'platformd.layout.page_content.photo_gallery' | trans }}<br />
        </div>
        <div class="widget-icon"><img src="/bundles/spoutlet/images/photo-icon.png" /></div>
        <div class="clear"></div>
    </div>
    {# height is a hack for positioning  - see featuredContent.html.twig #}
    <div class="widget-content" style="height: {% if height is defined %}{{ height }}{% else %}252px;{% endif %}">
        <div id="photoArray">

        </div>
        <div id="caption"></div>
        <script type="text/javascript">
            $(document).ready(function(){
                $.ajax({
                    url: '{{ path('gallery_featured_media_feed') }}',
                    method: 'GET',
                    success: function (data, s, xhr) {
                        if (data.success && data.media) {
                            for(var i = 0; i < data.media.length; i++) {
                                var item = data.media[i];
                                $('#photoArray').append(
                                    '<a class="photo-item" href="' + item.url + '" alt="' + item.caption + '"><img src="' + item.thumbnail + '" /></a>'
                                );
                            }

                            var opts = {
                                fx:     'fade',
                                speed:   300,
                                timeout: 3000,
                                next: data.linkable ? '' : '#photoArray',
                                allowPagerClickBubble: data.linkable,
                                pagerAnchorBuilder: function(idx, slide) {
                                    // return sel string for existing anchor
                                    console.log(idx);
                                    return '.photo-item';
                                },
                                pause:   1,
                                before: function() {
                                    $('#caption').html('').fadeOut(300);
                                },
                                after: function() {
                                    $('#caption').html(this.getAttribute('alt')).fadeIn(300);
                                }
                            };

                            $('#photoArray').cycle(opts);
                        }

                    }
                });
            });
        </script>
    </div>
    <div class="widget-footer">
        <a href="{{ path('gallery_index') }}" class="aw-link" id="more-news-link">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
    </div>
</div>

