<div style="padding-top:0;" class="right_section">
    <div class="widget-33" id="hs-widget">
        <div class="widget-header" style="height: 27px;">
            <div class="widget-title" style="width: 175px; float: left;">
                {{ 'platformd.layout.page_content.photo_gallery' | trans }}<br />
            </div>
            <div class="widget-icon"><img src="/bundles/spoutlet/images/photo-icon.png" /></div>
            <div class="clear"></div>
        </div>
        {# height is a hack for positioning  - see featuredContent.html.twig #}
        <div class="widget-content normalized" style="height: 252px;">
            {% if app.session.locale == 'ja' %}
                {% set caption = 'ALIENWARE ARENA in アイ・カフェ AKIBA PLACE' %}
                <div id="photoArray">
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage1-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage2-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage3-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage4-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage5-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage6-thumb.jpg') }}" alt="{{ caption }}" />
                    <img src="{{ asset('bundles/spoutlet/images/homepage-images/homepage7-thumb.jpg') }}" alt="{{ caption }}" />
                </div>
                <h4 class="caption" style="text-align: center; margin-top: 10px;">ALIENWARE ARENA <br/> in アイ・カフェ AKIBA PLACE</h4>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('#photoArray').cycle({
                            fx:     'fade',
                            speed:   300,
                            timeout: 3000,
                            next:   '#photoArray',
                            pause:   1
                        });
                    });
                </script>
            {% else %}
                <img src="{{ asset('images/gallery/gallery.'~app.session.locale~'.jpg') }}" width="290" />
            {% endif %}
        </div>
        <div class="widget-footer" style="height: 19px;">
            {#
                removed for now
                <a href="http://www.tbd.com/photos/alienwarearena/" class="aw-link">{{ 'platformd.layout.page_content.view_all' | trans }}</a>
                <div class="clear"></div>
            #}
        </div>
    </div>
</div>