 <div id="homepage-gallery" class="ad-gallery">
  <div class="ad-image-wrapper">
  </div>
  
  <div class="ad-controls">
  </div>
  
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        {% for index, banner in banners %}
        <li>
          <a href="{{ media_path(banner, { "size" : "banner" }) }}">
            <img src="{{ media_path(banner) }}" class="image{{ index }}" data-url="{{ banner.url }}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
/**
 * Todo : move this in a global javascript file
 */
jQuery(function($) {

  var galleries = $('.ad-gallery').adGallery({
    width: 635,
    height: 183,
    loader_image: '{{ asset('plugins/jquery.ad-gallery/loader.gif') }}',
    display_next_and_prev: false,
    slideshow: {
        enable: true,
        autostart: true,
        speed: 7000,
        stop_on_scroll: false // Should the slideshow stop if the user scrolls the thumb list?
    },
    callbacks: {
      afterImageVisible: function() {
        var 
          current = this.images[this.current_index].thumb,
          url = $("img[src='" + current + "']").data("url");
        
        /** 
         * Redirects user to a specific URL
         * 
         * @param event
         */
        function handleFullsizeClick(event) {
          event.stopPropagation();
          event.preventDefault();

          window.location = url;
        }
        
        if (url) {
          $("div.ad-image img").css("cursor", "pointer").bind("click", handleFullsizeClick);
        } else {
          $("div.ad-image img").css("cursor", "default").unbind("unclick", handleFullsizeClick);
        }
      }
    }
  });
})
</script>