<div class="widget-66" id="featured-content">
	<div class="featured-content-header">
        <a href="javascript:void(0);" class="active" id="featured-all">{{ 'platformd.layout.page_content.featured' | trans }}</a>
        <a href="javascript:void(0);"id="featured-giveaways">{{ 'platformd.layout.page_content.giveaways' | trans }}</a>
        <a href="javascript:void(0);"id="featured-competition">{{ 'platformd.layout.page_content.competitions' | trans }}</a>
		<div style="clear: left;"></div>
	</div>
    {# explicit height is to force the left and right sides of homepage to have the same height. Not a good long-term solution, but it's an unnatural thing to force... #}
    <div class="widget-content" style="height: 260px;">

        {% if abstractEvents %}
        <div id="featured-content-featured-all" class="featured-content-category active">
            {% for abstractEvent in abstractEvents %}
            <div class="widget-item">
                <a class="widget-link" {{ abstractEvent | pd_link_target }} href="{{ abstractEvent | pd_link }}">{{ abstractEvent.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id="featured-content-featured-giveaways" class="featured-content-category">
            {% for abstractEvent in abstractEvents %}
            <div class="widget-item">
                <a class="widget-link" {{ abstractEvent | pd_link_target }} href="{{ abstractEvent | pd_link }}">{{ abstractEvent.name }}</a>
            </div>
            {% endfor %}
        </div>
        <div id="featured-content-featured-competition" class="featured-content-category">
            {% for abstractEvent in abstractEvents %}
            <div class="widget-item">
                <a class="widget-link" {{ abstractEvent | pd_link_target }} href="{{ abstractEvent | pd_link }}">{{ abstractEvent.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="widget-footer">
        {# here just for spacing #}
        <a href="#" id="featured-footer-featured-giveaways">&nbsp;</a>
        <a href="#" id="featured-footer-featured-competition">&nbsp;</a>
        <a href="{{ path('events_index') }}" class="aw-link" id="featured-footer-featured-all">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
        <div class="clear"></div>
    </div>
</div>
