<div class="widget-66" id="featured-content">
	<div class="featured-content-header">
        <a href="javascript:void(0);" class="active" id="featured-giveaways">{{ 'platformd.layout.page_content.giveaways' | trans }}</a>
        <a href="javascript:void(0);" id="featured-news">{{ 'platformd.layout.main_menu.news' | trans }}</a>
		<div style="clear: left;"></div>
	</div>
    {# explicit height is to force the left and right sides of homepage to have the same height. Not a good long-term solution, but it's an unnatural thing to force... #}
    <div class="widget-content" style="height: 260px;">

        {% if abstractEvents %}
        <div id="featured-content-featured-giveaways" class="featured-content-category active">
            {% for abstractEvent in abstractEvents %}
            <div class="widget-item">
                <a class="widget-link" {{ abstractEvent | pd_link_target }} href="{{ abstractEvent | pd_link }}">{{ abstractEvent.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div id="featured-content-featured-news" class="featured-content-category">
            {% for newsItem in news %}
                <div class="widget-item">
                    <a class="widget-link" {{ newsItem | pd_link_target }} href="{{ newsItem | pd_link }}">{{ newsItem.title }}</a>
                </div>
            {% else %}
                {{ 'no_news_currently' | trans }}
            {% endfor %}

        </div>
    </div>
    <div class="widget-footer">
        {# here just for spacing #}
        <a href="#" id="featured-footer-featured-giveaways">&nbsp;</a>

        <a href="{{ path('news') }}" class="aw-link" id="featured-footer-featured-news">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
        <div class="clear"></div>
    </div>
</div>
