<div class="widget-66" id="featured-content">
	<div class="featured-content-header">
        <a href="javascript:void(0);" class="active" id="featured-all">{{ 'platformd.layout.page_content.all_news' | trans }}</a>
        <a href="javascript:void(0);"id="featured-giveaways">{{ 'platformd.layout.page_content.giveaways' | trans }}</a>
        <a href="javascript:void(0);"id="featured-competition">{{ 'platformd.layout.page_content.competitions' | trans }}</a>
        <a href="javascript:void(0);"id="featured-other">{{ 'platformd.layout.page_content.other' | trans }}</a>
		<div style="clear: left;"></div>
	</div>
    {# explicit height is to force the left and right sides of homepage to have the same height. Not a good long-term solution, but it's an unnatural thing to force... #}
    <div class="widget-content" id="featured-content" style="height: 277px;">

        {% if all_events %}
        <div id="featured-content-featured-all" class="featured-content-category active">
            {% for event in all_events %}
            <div class="widget-item">
                <a class="widget-link" {{ event | pd_link_target }} href="{{ event | pd_link }}">{{ event.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if giveaways %}
            <div id="featured-content-featured-giveaways" class="featured-content-category">
            {% for giveaway in giveaways %}
            <div class="widget-item">
                <a class="widget-link" {{ giveaway | pd_link_target }} href="{{ giveaway | pd_link }}">{{ giveaway.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if competitions %}
            <div id="featured-content-featured-competition" class="featured-content-category">
            {% for competition in competitions %}
            <div class="widget-item">
                <a class="widget-link" {{ competition | pd_link_target }} href="{{ competition | pd_link }}">{{ competition.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if other %}
            <div id="featured-content-featured-other" class="featured-content-category">
            {% for item in other %}
            <div class="widget-item">
                <a class="widget-link" {{ item['target'] }} href="{{ item['link'] }}">{{ item['name'] }}</a>
            </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="widget-footer">
        {# here just for spacing #}
        <a href="#" class="featured-footer-link" id="featured-footer-featured-giveaways">&nbsp;</a>
        <a href="#" class="featured-footer-link" id="featured-footer-featured-competition">&nbsp;</a>
        <a href="{{ path('global_events_index') }}" class="aw-link featured-footer-link" id="featured-footer-featured-all">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
        <div class="clear"></div>
    </div>
</div>
