{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}

<div class="military">
    <div class="std_1col">
        <div style="background: url('{{ asset('bundles/spoutlet/images/military/bannerheader-950x120.jpg') }}') no-repeat; height: 120px;">
        </div>
    </div>
    <div id="sub-nav-wrapper military-sub-nav-wrapper">
        <div id="military-sub-nav">
            <ul>
                <li class="first"><a href="/groups/military" style="color: #ffffff;">Main</a></li>
                <li><a href="http://www.alienwarearena.com/forums/">Forums</a></li>
                <li><a href="http://www.dell.com/us/eep/p/military-gaming">Member Purchase Program</a></li>
            </ul>
        </div>
    </div>
    <div class="std_2col">
        <div class="right">
            <div class="widget-33">
                <div class="widget-header">
                    <div class="widget-title">
                        Purchase Program
                    </div>
                </div>
                <div class="widget-content" style="text-align: center;">
                    <a href="http://www.dell.com/us/eep/p/military-gaming" style="border: none;">
                        <img src="{{ asset('bundles/spoutlet/images/military/military_group_banner_280x250.jpg') }}" alt="Military Group" style="margin: 5px auto;" />
                    </a>
                </div>
                <div class="widget-footer">
                    <a href="http://www.dell.com/us/eep/p/military-gaming" class="aw-link" target="_blank">See More</a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="widget-33" style="padding-top: 0; margin-top: -10px;">
                <div class="widget-header">
                    <div class="widget-title">
                        Military Feed
                    </div>
                    <div class="widget-icon" style="margin-top: -35px;">
                        <img src="{{ asset('bundles/spoutlet/images/arp-icon.png') }}" />
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-item">
                        <a href="#youtube-player" youtube-data="lzKyxzYJX0U" class="youtube-feed">Battlefield 3 Tactics: Recon Class</a>
                    </div>
                    <div class="widget-item">
                        <a href="#youtube-player" youtube-data="KnJxTL7qSVE" class="youtube-feed">Battlefield 3 Tactics: Strike at Karkand</a>
                    </div>
                    <div class="widget-item">
                        <a href="http://www.alienwarearena.com/giveaway/battlefield-3-dog-tag-item-giveaway/">Battlefield 3 Dog Tag Key Giveaway</a>
                    </div>
                    <div class="widget-item">
                        <a href="#youtube-player" youtube-data="9iRYOQTiFZ8" class="youtube-feed">Alienware Mobile LAN Tour @ Comic Con 2011</a>
                    </div>
                </div>
            </div>
            <div class="widget-33" style="padding-top: 0; margin-top: -80px;">
                <div class="widget-header">
                    <div class="widget-title">
                        Latest Poll
                    </div>
                    <div class="widget-icon" style="margin-top: -35px;">
                        <img src="{{ asset('bundles/spoutlet/images/poll-icon.png') }}" />
                    </div>
                </div>
                <div class="widget-content">
                    <div id="wufoo-z7x3x5">
                    Fill out my <a href="http://igames.wufoo.com/forms/z7x3x5">online form</a>.
                    </div>
                    <script type="text/javascript">
                        var z7x3x5;(function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'igames',
                            'formHash':'z7x3x5',
                            'autoResize':true,
                            'height':'313',
                            'async':true,
                            'header':'show'
                        };
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try {
                                z7x3x5 = new WufooForm();
                                z7x3x5.initialize(options);
                                z7x3x5.display();
                            } catch (e) {

                            }
                        };
                            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                        })(document, 'script');
                    </script>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">
                        Military News
                    </div>
                </div>
                <div class="widget-content">
                    <div class="newsBlurb">
                        <h2>Alienware Arena Launches United States Armed Forces Group Page</h2>
                        <div class="article-content">
                            <div class="article-blurb">
                                <h6>Announced Wednesday, May 16, 2012</h6>
                                <p class="article-blurb-text">
                                    Alienware Arena is proud to announce the United States Armed Forces group page for those serving in the US military. With the launch of the United States Armed Forces group page, Alienware Arena members with a U.S. military background will have an exclusive place on Alienware Arena to call their own. Connect with other military service members, read and watch military related content, and find the latest Alienware/Dell updates on military related programs.
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="newsBlurb">
                        <h2>Dell's Military Discount Program</a></h2>
                        <div class="article-content">
                            <div class="article-blurb">
                                <h6>Announced Wednesday, May 7, 2012</h6>
                                <p class="article-blurb-text">
                                    In recognition of their service and sacrifice, Dell is making great offers on an array of PCs to all U.S. military personnel. Check out Dell’s military discount page for a list of the current discounts for military personnel. Make sure to check back regularly, as discount rates and discounted products continually change.
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="widget-footer">
                    &nbsp;
                </div>
            </div>
            <div style="text-align: center; padding: 40px;">
                <a name="youtube-player"></a>
                <div style="margin-left: -20px; width: 100%">
                    <div id="theater_screen" style="width:600px; height:350px;"></div>
                </div>
                <div id="theater_thumbs">
                    <div style="width: 138px; height: 83px; display: inline-table; text-align: left;">
                        <a href="#youtube-player" youtube-data="lzKyxzYJX0U" style="border: none;" class="youtube-link">
                        <img src="{{ asset('bundles/spoutlet/images/military/lzKyxzYJX0U_thumbnail.jpg') }}" alt="Battlefield 3 Tactics: Recon Class" style="border: 1px solid #4a4a4a" /></a>
                        <a href="#youtube-player" youtube-data="lzKyxzYJX0U" class="youtube-link">Battlefield 3 Tactics: Recon Class</a>
                    </div>
                    <div style="width: 138px; height: 83px; display: inline-table; padding-left: 10px; text-align: left;">
                        <a href="#youtube-player" youtube-data="KnJxTL7qSVE" style="border: none;" class="youtube-link">
                        <img src="{{ asset('bundles/spoutlet/images/military/KnJxTL7qSVE_thumbnail.jpg') }}" alt="Battlefield 3 Tactics: Strike at Karkand" style="border: 1px solid #4a4a4a" /></a><a href="#youtube-player" youtube-data="KnJxTL7qSVE" class="youtube-link">Battlefield 3 Tactics: Strike at Karkand</a>
                    </div>
                    <div style="width: 138px; height: 83px; display: inline-table; padding-left: 10px; text-align: left;">
                        <a href="#youtube-player" youtube-data="9iRYOQTiFZ8" style="border: none;" class="youtube-link">
                        <img src="{{ asset('bundles/spoutlet/images/military/9iRYOQTiFZ8_thumbnail.jpg') }}" alt="Alienware Mobile LAN Tour @ Comic Con 2011" style="border: 1px solid #4a4a4a" /></a><a href="#youtube-player" youtube-data="9iRYOQTiFZ8" class="youtube-link">Alienware Mobile LAN Tour @ Comic Con 2011</a>
                    </div>
                </div>
            </div>
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">
                        Photo Gallery
                    </div>
                </div>
                <div class="widget-content">
                    <div style="width: 100%; text-align: center">
                        <div id="prev"></div>
                        <div class="image_carousel">
                            <div id="military-carousel">
                                <img src="{{ asset('bundles/spoutlet/images/military/one_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/one.jpg') }}" />
                                <img src="{{ asset('bundles/spoutlet/images/military/two_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/two.jpg') }}" />
                                <img src="{{ asset('bundles/spoutlet/images/military/three_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/three.jpg') }}" />
                                <img src="{{ asset('bundles/spoutlet/images/military/four_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/four.jpg') }}" />
                                <img src="{{ asset('bundles/spoutlet/images/military/five_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/five.jpg') }}" />
                                <img src="{{ asset('bundles/spoutlet/images/military/six_thumbnail.jpg') }}" data-url="{{ asset('bundles/spoutlet/images/military/six.jpg') }}" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="next"></div>
                        </div>
                </div>
                <div class="widget-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="std_2col">
        <div class="right">&nbsp;</div>
        <div class="left">
            {% render "FOSCommentBundle:Thread:showFlatPaged" with {"id": 'custom-military-page', 'page': app.request.query.get('page', 1) } %}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/military.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/swfobject.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.carouFredSel-5.6.1-packed.js') }}"></script>
    <script type="text/javascript">
        var GamePage = {

        };

        GamePage.initializeMovie = function(youtubeVideoId) {
            var par = {};
            par.flashvars = "startMovie="+youtubeVideoId;
            par.flashvars += "&startCue=none";
            par.flashvars += "&startParameterMovie="; // + getMovieFromURL();
            par.flashvars += "&videoTitle=";
            par.flashvars += "&displayWelcome=no";
            par.flashvars += "&displayAlert=no";
            par.flashvars += "&alertText=";
            par.flashvars += "&muteOnStart=yes";
            par.allowScriptAccess = "always";
            par.wmode = "transparent";
            var att = { data:"{{ asset('bundles/spoutlet/swf/games_trailers_player.swf') }}", width:"600", height:"350", id:"theater_screen", name:"theater_screen"};
            var id = "theater_screen";

            // temporarily disable, because the autostart is annoying
            var myytplayer = swfobject.createSWF(att, par, id);
        };

        GamePage.initializeMediaGallery = function() {

        };

        jQuery(document).ready(function() {
            $('#page').css('background', 'url("/bundles/spoutlet/images/military/top_bg v2.jpg") center 164px no-repeat');

            GamePage.initializeMovie('lzKyxzYJX0U');
            $('#military-carousel').carouFredSel({
                width: 500,
                auto: false,
                next: '#next',
                prev: '#prev'
            });

            $('.image_carousel img').click(function () {
                window.open($(this).attr('data-url'));
            });

            $('.youtube-link').click(function () {
               var youtubeId = $(this).attr('youtube-data');
               GamePage.initializeMovie(youtubeId);
            });

            $('.youtube-feed').click(function () {
               var youtubeId = $(this).attr('youtube-data');
               GamePage.initializeMovie(youtubeId);
            });
        });
    </script>
{% endblock %}
