{% extends "UserBundle::accountLayout.html.twig" %}

{% block title %}{{ "platformd.help.help_page.contact_and_support" | trans }}{% endblock %}

{% block content %}
<div id="content" class="support">
    <div class="std_2col">
        <div class="right">
            <img class="left-ad" src="{{ 'platformd.layout.page_content.deals_add_url' | trans }}" />
        </div>
        <div class="left">
            <h2 id="contactUsSupport">{{ "platformd.help.help_page.contact_and_support" | trans | raw }}</h2>
            
            <p>{{ "platformd.help.help_page.contact_dell" | trans | raw }}</p>
            
            <p>{{ "platformd.help.help_page.contact_alienwarearena" | trans | raw }}</p>
            
            <p>{{ "platformd.help.help_page.regional_addresses" | trans }}</p>

            <ul>
                <li>{{ "platformd.help.help_page.regional_addresses_north_america" | trans }} - <a href="mailto:contact@alienwarearena.com">contact@alienwarearena.com</a></li>
                <li>{{ "platformd.help.help_page.regional_addresses_europe" | trans }} - <a href="mailto:europe@alienwarearena.com">europe@alienwarearena.com</a></li>
                <li>{{ "platformd.help.help_page.regional_addresses_latin_america" | trans }} - <a href="mailto:latam@alienwarearena.com">latam@alienwarearena.com</a></li>
            </ul>
            
            <p>{{ "platformd.help.help_page.questions" | trans }}</p>
        </div>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
