<div class="widget-66" id="videos" style="margin-top: 15px;">
    <div class="widget-header">
        <div class="widget-title">Videos</div>
    </div>
    <div class="widget-content">
        {% if videos %}
            {% for video in videos %}
                <div class="movie">
                    <div class="movie-thumb">
                        <a href="http://{{ host }}/video/movie/{{ video.id }}/"><img border="0" src="{{ video.thumb }}"></a>
                    </div>
                    <p class="movie-title"><a href="http://{{ host }}/video/movie/{{ video.id }}/">{{ video.name }}</a></p>
                    <p class="movie-views">Views: {{ video.views }}</p>
                    <p class="movie-rating">Rating: {{ video.rating }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="widget-footer">
        <a class="aw-link" href="http://video.alienwarearena.com">More Videos</a>
        <div class="clear"></div>
    </div>
</div>
