{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ 'wallpapers' | trans }}{% endblock %}

{% block content %}

    <div id="nav_wrapper">
        <h1 id="wallpapers">{{ 'wallpapers' | trans }}</h1>
        <p id="exclusive-designs">{{ 'exclusive_designs' | trans }}</p>
    </div>

    <div class="wrapitup">
        {% for wallpaper in wallpapers %}

            <div class="wp_container">
                <a class="aw_wp_click" href="{{ media_path(wallpaper.resolutionPack) }}" target="_blank">
                    <span>{{ 'click_to_download' | trans }}</span>
                </a>
                <a class="aw_wp" href="{{ media_path(wallpaper.resolutionPack) }}" target="_blank">
                    <img src="{{ media_path(wallpaper.thumbnail) }}" />
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/wallpapers.css') }}" />
{% endblock %}
