<div class="newsBlurb">
    <h2>
        <a class="controlled-spacing" href="{{ item | pd_link }}" {{ item is external ? 'target="_blank"' : '' }}>{{ item.title }}</a>
    </h2>
    <h6>
            {{ 'announced_date' | pd_trans({
                '%posted_date%': ('sweepstakes_date_format' | pd_trans(item.postedAtArray))
            })}}
        </h6>
    <div class="article-content">

        {% if item.image %}
        <div class="article-image">
            <a href="{{ item | pd_link }}"{{ item is external ? ' target="_blank"' : '' }}>
                <img src="{{ item.image.filename | imagine_filter('article_list')  }}" alt="{{ item.title }}" />
            </a>
        </div>
        {% endif %}

        <div class="article-blurb">


            <p class="article-blurb-text">
                {{ item.blurb | nl2br }}
            </p>
        </div>

        <div class="article-actions">
            {% if item is external %}
            <a href="{{ item | pd_link }}" target="_blank">{{ 'go_to_website' | pd_trans }}</a>
            {% else %}
            <a href="{{ item | pd_link }}">{{ 'read_more' | pd_trans }}</a>
            {% endif %}
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
</div>
