{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ news.title | trans }}{% endblock %}

{% block content %}
{# this whole thing was copied from the homepage template.... #}
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        <div class="newsPost">
            <h1>
                <a href="{{ news | pd_link }}" {{ news is external ? 'target="_blank"' : '' }}>{{ news.title }}</a>
            </h1>

            <h6>
                {{ 'announced_date' | trans({
                    '%posted_date%': ('sweepstakes_date_format' | trans(news.postedAtArray))
                })}}
            </h6>

            <div style="margin: 10px; 0;">
                {{ news.body | raw }}
            </div>

            {% render "FOSCommentBundle:Thread:showFlat" with {"id": news.commentThreadId } %}
        </div>
    </div>
</div>
{% endblock %}