{% extends "SpoutletBundle::_flashMessage.html.twig" %}
{% block type %}success{% endblock %}
{% block body %}
    <p>
        {{ 'platformd.giveaway.assigned.message' | trans }}
        <br/><br/>
        {{ 'platformd.giveaway.assigned.may_require_activation' | trans }}
    </p>

    <p class="notice-data">
        {{ 'platformd.giveaway.assigned.key' | trans }}: {{ data.promotion_assigned_key }}
    </p>

    {% if features.hasGroups %}
        <p>
            {% if data.promotion_group_slug %}
                {% if data.is_member_of_promotion_group %}
                    {{ 'deal_join_group_success' | trans | replace({'%link%': path('group_show', {'slug': data.promotion_group_slug}), '%group%': data.promotion_group_name}) | raw }}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
