{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'platformd.layout.main_menu.giveaways' | trans %}

{% block content %}
{% set defaultThumb = '/bundles/spoutlet/images/alienwarelogothumb-140x85.png' %}
<div class="std_2col">
    <div class="left">
        <div class="widget-66">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'platformd.giveaway.featured_giveaways' | trans }}
                </div>
            </div>

            <div class="widget-content">
                {% for giveaway in featured %}
                    {% set thumb = giveaway.thumbnail ? media_path(giveaway.thumbnail) : defaultThumb %}
                    <div class="deal-item">
                        <a href="{{ giveaway | pd_link }}">
                            <img src="{{ thumb }}" alt="{{ giveaway.name }}" />
                        </a>
                        <div><a class="deal-link" href="{{ giveaway | pd_link }}">{{ giveaway.name }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="widget-66" style="margin: 10px 0 0 0;">
            <div class="widget-header">
                <div class="widget-title">
                    {{ 'platformd.giveaway.all_giveaways' | trans }}
                </div>
            </div>

            <div class="widget-content">
                {% for giveaway in giveaways %}
                    {% set thumb = giveaway.thumbnail ? media_path(giveaway.thumbnail) : defaultThumb %}
                    <div class="deal-item">
                        <a href="{{ giveaway | pd_link }}">
                            <img src="{{ thumb }}" alt="{{ giveaway.name }}" />
                        </a>
                        <div><a class="deal-link" href="{{ giveaway | pd_link }}">{{ giveaway.name }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/deals.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
           $('.deal-link').truncate({ width: 225 });
        });
    </script>
{% endblock %}
