{% extends 'SpoutletBundle::layout.html.twig' %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ data.giveaway_name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    <meta property="og:description" content="{{ data.giveaway_content }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/giveaway.css') }}">
{% endblock %}

{% block title data.giveaway_name %}

{% if data.giveaway_background_image_path is not null %}
    {% set bgImage = data.giveaway_background_image_path %}
{% else %}
    {% set bgImage = "default" %}
{% endif %}

{% block page_background_image bgImage %}

{% block page_background_link data.giveaway_background_link %}

{% block content %}

    {% render url('_giveaway_flash_message', { 'giveawayId': data.giveaway_id }) with {}, {'standalone': true } %}

    <div class="std_1col">

        {% if data.giveaway_banner_image %}
            <div id="eventHeader" style="background:url('{{ data.giveaway_banner_image }}') no-repeat;"></div>
        {% endif %}
    </div><!-- std_1col -->

    <div class="std_2col">
        <div class="right">
            <div id="giveaway-getkey" class="widget-33">
                <div class="widget-header">
                    <div class="widget-title">{{ 'platformd.giveaway.redeem' | trans }}</div>
                </div>
                <div class="widget-content">
                    {%  if data.giveaway_show_keys %}
                        <h3 class="key-count">{{ "platformd.giveaway.show.availaible_keys" | trans({ "%%count%%" : data.giveaway_available_keys }) }}</h3>
                    {%  endif %}
                    {% render url('_giveaway_show_actions', { 'giveawayId': data.giveaway_id }) with {}, {'standalone': true } %}
                </div>
            </div>

            <div style="margin-top: 10px;">
                {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
            </div>

        </div><!-- right -->

        <div class="left">
            <div id="giveaway-info" class="widget-66">
                <div class="widget-header">
                    <div class="widget-title controlled-spacing">{{ data.giveaway_name }}</div>
                </div><!-- widget-header -->

                <div class="widget-content" id="giveaway-details">
                    {{ data.giveaway_content | raw }}

                </div><!-- giveaway-details -->

            </div><!-- giveaway-info -->

            {% if features.hasComments %}
                {% include 'SpoutletBundle:Comments:_thread.html.twig' with { 'thread' : data.giveaway_comment_thread_id, 'comments' : null, 'offset' : 0, 'permalink' : data.giveaway_comment_permalink } %}
            {% endif %}

        </div><!-- left -->

        <div class="clear">

        </div><!-- clear -->
    </div><!-- std_2col -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.machine-code-form').submit(function(e) {
                var $code = $(this).find('input[name=machine_code]');

                if (!$code.val()) {
                    e.preventDefault();
                    $(this).addClass('with-error');
                } else {
                    $(this).removeClass('with-error');
                }
            });
        });
    </script>
{% endblock %}
