{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/giveaway.css') }}">
{% endblock %}

{% block title giveaway.name %}

{# only use the flash if we have an assigned key #}
{% block flash_type %}{{ assignedKey ? 'success' : false }}{% endblock %}

{# only really need to populate this if we have an assigned key #}
{% block flash %}
    {% if assignedKey %}
        <h3>Success!</h3>

        <p>
            {{ 'platformd.giveaway.assigned.message' | trans }}
            <br/><br/>
            {{ 'platformd.giveaway.assigned.may_require_activation' | trans }}
        </p>

        <p class="notice-data">
            {# assignedKey.value #}
            {{ 'platformd.giveaway.assigned.key' | trans }}: {{ assignedKey.value }}
        </p>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="std_1col">

            {% if giveaway.bannerImage %}
                <div id="eventHeader" style="background:url('{{ asset(giveaway.webPath) }}') no-repeat;"></div>
            {% endif %}
        </div><!-- std_1col -->

        <div class="std_2col">
            <div class="right">
                <div id="giveaway-getkey" class="widget-33">
                    <div class="widget-header">
                        <div class="widget-title">{{ 'platformd.giveaway.redeem' | trans }}</div>
                    </div>
                    <div class="widget-content">
                        <h3>{{ "platformd.giveaway.show.availaible_keys" | trans({ "%%count%%" : available_keys }) }}</h3>
                        <div class="blueButton" id="buttonGetKey" style="width: 100px; margin: 0 auto; text-align: center;">
                            <a href="{{ path('giveaway_get_key', { "slug" : giveaway.slug }) }}">{{ 'platformd.giveaway.get_key' | trans }}</a>
                        </div>

                        <ol>
                            <li>
                                <span class="item">
                                    <a href="{{ path('fos_user_registration_register') }}">
                                        {{ 'platformd.create_account_or_login' | trans }}
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="item">
                                    <a href="{{ path('giveaway_get_key', { "slug" : giveaway.slug }) }}">
                                        {{ 'platformd.giveaway.get_key' | trans }}
                                    </a>
                                </span>
                            </li>
                            {% for redemptionStep in redemptionSteps %}
                            <li>
                                <span class="item">{{ redemptionStep | raw }}</span>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>

            </div><!-- right -->
            
            <div class="left">
                <div id="giveaway-info" class="widget-66">
                    <div class="widget-header">
                        <div class="widget-title">{{ giveaway.name }}</div>
                    </div><!-- widget-header -->

                    <div class="widget-content" id="giveaway-details">
                        {{ giveaway.content | raw }}
                    </div><!-- giveaway-details -->
                </div><!-- giveaway-info -->
            </div><!-- left -->
            
            <div class="clear">
            
            </div><!-- clear -->
        </div><!-- std_2col -->
    </div>
{% endblock %}