{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title giveaway.name %}

{% block content %}
    <div id="content">
        <div class="std_1col">
            <div id="giveawaytHeader">
                <img src="{{ giveaway.webPath }}" alt="{{ giveaway.name }}"/>
            </div>
        </div><!-- std_1col -->

        <div class="std_2col">
            <div class="right">
                <div id="giveaway-getkey" class="widget-33">
                    <div class="widget-header">
                        <div class="widget-title">Redeem</div>
                    </div>
                    <div class="widget-content">
                        <h3>{{ "platformd.giveaway.show.availaible_keys" | trans({ "%%count%%" : available_keys }) }}</h3>
                        <div class="blueButton" id="buttonGetKey">
                            <a href="#">GET KEY<br></a>
                        </div>            
                    </div>
                </div>

            </div><!-- right -->
            
            <div class="left">
                <div id="giveaway-info" class="widget-66">
                    <div class="widget-header">
                        <div class="widget-title">{{ giveaway.name }}</div>
                    </div><!-- widget-header -->

                    <div class="widget-content" id="giveaway-details">
                        {{ giveaway.content | raw }}
                    </div><!-- giveaway-details -->
                </div><!-- giveaway-info -->
            </div><!-- left -->
            
            <div class="clear">
            
            </div><!-- clear -->
        </div><!-- std_2col -->
    </div>
{% endblock %}