{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/giveaway.css') }}">
{% endblock %}

{% block title giveaway.name %}

{# only use the flash if we have an assigned key #}
{% block flash_type %}{{ assignedKey ? 'success' : false }}{% endblock %}

{# only really need to populate this if we have an assigned key #}
{% block flash %}
    {% if assignedKey %}
        <p>
            {{ 'platformd.giveaway.assigned.message' | trans }}
            <br/><br/>
            {{ 'platformd.giveaway.assigned.may_require_activation' | trans }}
        </p>

        <p class="notice-data">
            {# assignedKey.value #}
            {{ 'platformd.giveaway.assigned.key' | trans }}: {{ assignedKey.value }}
        </p>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="std_1col">

            {% if giveaway.bannerImage %}
                <div id="eventHeader" style="background:url('{{ asset(media_path(giveaway)) }}') no-repeat;"></div>
            {% endif %}
        </div><!-- std_1col -->

        <div class="std_2col">
            <div class="right">
                <div id="giveaway-getkey" class="widget-33">
                    <div class="widget-header">
                        <div class="widget-title">{{ 'platformd.giveaway.redeem' | trans }}</div>
                    </div>
                    <div class="widget-content">
                        {%  if giveaway.showKeys %}
                            <h3>{{ "platformd.giveaway.show.availaible_keys" | trans({ "%%count%%" : available_keys }) }}</h3>
                        {%  endif %}

                        {% if giveaway.allowKeyFetch and available_keys > 0 %}
                            <div class="blueButton" id="buttonGetKey" style="width: 100px; margin: 0 auto; text-align: center;">
                                <a href="{{ path('giveaway_get_key', { "slug" : giveaway.slug }) }}">{{ 'platformd.giveaway.get_key' | trans }}</a>
                            </div>
                            {% if giveaway.group is defined %}
                            <p>Yo Group Giveaway! hoooooo</p>
                            {% endif %}
                        {% endif %}

                        {% if giveaway.allowMachineCodeSubmit %}
                            <div style="margin-bottom: 10px;">
                                {% if is_granted('ROLE_USER') %}
                                    {% if can_user_apply_to_giveaway(giveaway) %}
                                        <form action="{{ path('giveaway_submit_machine_code', {'slug': giveaway.slug}) }}" method="POST" class="machine-code-form">
                                            <div class="form-error">{{ 'no_machine_code_submitted' | trans }}</div>
                                            <label for="machine_code_input">{{ 'machine_code' | trans }}</label>
                                            <input type="text" name="machine_code" id="machine_code_input" class="txt" />

                                            <input type="submit" class="button" value="{{ 'submit_machine_code' | trans }}">
                                        </form>
                                    {% else %}
                                        {{ 'platformd.sweepstakes.entered.message' | trans }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <ol>
                            {% include 'GiveawayBundle:Giveaway:_defaultSteps.html.twig' with {'giveaway': giveaway} %}
                            {% if  (redemptionSteps is not empty)  %}
                            {% for redemptionStep in redemptionSteps %}
                            <li>
                                <span class="item controlled-spacing">{{ redemptionStep | raw }}</span>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                </div>

            </div><!-- right -->

            <div class="left">
                <div id="giveaway-info" class="widget-66">
                    <div class="widget-header">
                        <div class="widget-title controlled-spacing">{{ giveaway.name }}</div>
                    </div><!-- widget-header -->

                    <div class="widget-content" id="giveaway-details">
                        {{ giveaway.content | raw }}

                    </div><!-- giveaway-details -->


                </div><!-- giveaway-info -->

                {% if site_has_feature('COMMENTS') %}
                    {% render 'SpoutletBundle:Comments:thread' with { 'threadId' : giveaway.slug, 'object' : giveaway } %}
                {% endif %}

            </div><!-- left -->

            <div class="clear">

            </div><!-- clear -->
        </div><!-- std_2col -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.machine-code-form').submit(function(e) {
                var $code = $(this).find('input[name=machine_code]');

                if (!$code.val()) {
                    e.preventDefault();
                    $(this).addClass('with-error');
                } else {
                    $(this).removeClass('with-error');
                }
            });
        });
    </script>
{% endblock %}
