{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title event.name %}

{% block content %}
<div id="content">
    <div class="std_1col">
        <div id="eventHeader" style="background:url(http://c578254.r54.cf2.rackcdn.com/header-giveaway-32-city-of-heroes-freedom-giveaway.en.jpg) no-repeat; height: 120px;"></div>
    </div>

    <div class="std_2col">
        <div class="right">
            <div class="widget-33" id="giveaway-getkey">
                <div class="widget-header">
                    <div class="widget-title">{{ 'platformd.events.event_show.register' | trans }}</div>
                </div>
                <div class="widget-content">
                    {% if app.user and app.user.events.contains(event) %}
                    <p>{{ 'You are registered to this event' | trans }}</p>
                    {% else %}
                    <p><a href="{{ path('events_register', { "slug": event.slug }) }}" class="button">{{ "platformd.events.event_show.register_event" | trans }}</a></p>
                    {% endif %}

                    {# this link is a bit useless since the "register for event" link will redirect to the login/register form anyway #}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ol>
                        <li><span class="item"><a href="{{ path('fos_user_registration_register') }}">{{ 'platformd.events.event_show.create_or_login' | trans }}</a></span></li>
                    </ol>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="left">
            <div class="widget-66" id="giveaway-info">
                <div class="widget-header">
                    <div class="widget-title">{{ event.name }}</div>
                </div>
                <div id="giveaway-details" class="widget-content">
                    <div>
                        <label for="starts_at">{{ 'platformd.events.event_listings.start_date' | trans }}</label>
                        <div id="starts_at">{{ event.startsAt|date }}</div>
                        <label for="ends_at">{{ 'platformd.events.event_listings.end_date' | trans }}</label>
                        <div id="ends_at">{{ event.endsAt|date }}</div>
                        <label for="location">{{ 'platformd.events.event_listings.location' | trans }}</label>
                        <div id="location">{{ event.city }}, {{ event.metroAreaName }}, {{ event.country }}</div>
                        <label for="hostedBy">{{ 'platformd.events.event_listings.hosted_by' | trans }}</label>
                        <div id="hostedBy">{{ event.hostedBy }}</div>
                        <label for="contentDetails">{{ 'platformd.events.event_listings.details' | trans }}</label>
                        <div id="contentDetails">{{ event.content }}</div>
                    </div>
                </div>
            </div>

            {% render "FOSCommentBundle:Thread:showFlat" with {"id": event.slug } %}

        </div>
    </div>

</div>
{% endblock %}