            <table>
                <tbody>
                    <tr>
                        <th style="width:121px;">{{ 'platformd.events.event_listings.start_date' | trans }}</th>
                        <th style="width:259px;">{{ 'platformd.events.event_listings.event' | trans }}</th>
                        <th style="width:212px;">{{ 'platformd.events.event_listings.games' | trans }}</th>
                        <th style="width:191px;">{{ 'platformd.events.event_listings.hosted_by' | trans }}</th>
                        <th style="width:133px;">{{ 'platformd.events.event_listings.location' | trans }}</th>
                    </tr>
                    {% if events|length == 0 %}
                    <tr>
                        <td style="text-align:center; padding:20px 0;" colspan="5">
                            {# basically a hack, in one case I need another message, that has an HTML anchor tag in it #}
                            {% if no_events_pre_message is defined %}
                                <p>
                                    {{ no_events_pre_message | raw }}
                                </p>
                            {% endif %}
                            <strong>{{ no_events_message | trans | raw }}</strong>
                        </td>
                    </tr>
                    {% else %}
                    {% for event in events %}
                    <tr class="eventListGroup_online">
                        <td style="width:121px;">
                            {{ 'sweepstakes_datetime_format' | trans(event.startsAtInTimezoneTranslationArray) }}
                        </td>
                        {# todo - refactor this next line somewhere else #}
                        <td style="width:259px;">
                           {{ event | pd_link_full(event.name) }}
                        </td>
                        <td style="width:212px;">
                            {% if event.game is defined %}
                                {{ event.game ? event.game : ('na'|trans) }}
                            {% else %}
                                {{ 'na'|trans }}
                            {% endif %}
                        </td>
                        <td style="width:191px;">
                            {% if event.hostedBy is defined %}
                                {{ event.hostedBy }}
                            {% else %}
                                {{ 'na'|trans }}
                            {% endif %}
                        </td>
                        <td style="width:133px;">
                            {% if event.location is defined %}
                                {{ event.location ? event.location : ('na'|trans) }}
                            {% else %}
                                {{ 'na'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
