            <table>
                <tbody>
                    <tr>
                        <th style="width:121px;">START DATE</th>
                        <th style="width:259px;">EVENT</th>
                        <th style="width:212px;">GAMES</th>
                        <th style="width:191px;">HOSTED BY</th>
                        <th style="width:133px;">LOCATION</th>
                    </tr>
                    {% if events|length == 0 %}
                    <tr>
                        <td style="text-align:center; padding:20px 0;" colspan="5">
                        <strong>{{ no_events_message | trans }}</strong></td>
                    </tr>
                    {% else %}
                    {% for event in events %}
                    <tr class="eventListGroup_online">
                        <td>
                            {{ event.startsAt|date('M') }}
                            <span class="dateEmphasis"><strong>{{ event.startsAt|date('d') }}</strong></span>
                        </td>
                        <td><a href="{{ path('events_detail', { 'slug' : event.slug }) }}">{{ event.name }}</a></td>
                        <td>{{ event.game }}</td>
                        <td>{{ event.hostedBy }}</td>
                        <td>{{ event.metroArea.label }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>