            <table>
                <tbody>
                    <tr>
                        <th style="width:121px;">{{ 'platformd.events.event_listings.start_date' | trans }}</th>
                        <th style="width:259px;">{{ 'platformd.events.event_listings.event' | trans }}</th>
                        <th style="width:212px;">{{ 'platformd.events.event_listings.games' | trans }}</th>
                        <th style="width:191px;">{{ 'platformd.events.event_listings.hosted_by' | trans }}</th>
                        <th style="width:133px;">{{ 'platformd.events.event_listings.location' | trans }}</th>
                    </tr>
                    {% if events|length == 0 %}
                    <tr>
                        <td style="text-align:center; padding:20px 0;" colspan="5">
                            {# basically a hack, in one case I need another message, that has an HTML anchor tag in it #}
                            {% if no_events_pre_message is defined %}
                                <p>
                                    {{ no_events_pre_message | raw }}
                                </p>
                            {% endif %}
                            <strong>{{ no_events_message | trans }}</strong>
                        </td>
                    </tr>
                    {% else %}
                    {% for event in events %}
                    <tr class="eventListGroup_online">
                        <td>
                            {{ event.startsAt|date('M') }}
                            <span class="dateEmphasis"><strong>{{ event.startsAt|date('d') }}</strong></span>
                        </td>
                        <td><a href="{{ path('events_detail', { 'slug' : event.slug }) }}">{{ event.name }}</a></td>
                        <td>{{ event.game }}</td>
                        <td>{{ event.hostedBy }}</td>
                        <td>{{ event.metroArea.label }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>