            <table>
                <tbody>
                    <tr>
                        <th style="width:121px;">{{ 'platformd.events.event_listings.start_date' | trans }}</th>
                        <th style="width:259px;">{{ 'platformd.events.event_listings.event' | trans }}</th>
                        <th style="width:212px;">{{ 'platformd.events.event_listings.games' | trans }}</th>
                        <th style="width:191px;">{{ 'platformd.events.event_listings.hosted_by' | trans }}</th>
                        <th style="width:133px;">{{ 'platformd.events.event_listings.location' | trans }}</th>
                    </tr>
                    {% if events|length == 0 %}
                    <tr>
                        <td style="text-align:center; padding:20px 0;" colspan="5">
                            {# basically a hack, in one case I need another message, that has an HTML anchor tag in it #}
                            {% if no_events_pre_message is defined %}
                                <p>
                                    {{ no_events_pre_message | raw }}
                                </p>
                            {% endif %}
                            <strong>{{ no_events_message | trans | raw }}</strong>
                        </td>
                    </tr>
                    {% else %}
                    {% for event in events %}
                    <tr class="eventListGroup_online">
                        <td>
                            {{ 'sweepstakes_datetime_format' | trans(sweepstakes.startsAtInTimezoneTranslationArray) }}
                        </td>
                        {# todo - refactor this next line somewhere else #}
                        <td><a href="
                        {%- if event.urlRedirect not in [''] -%}
                            {{  event.urlRedirect }}
                        {%- else -%}
                            {{-  path('events_detail', { 'slug' : event.slug }) -}}
                        {%- endif -%}
                        ">{{ event.name }}</a></td>
                        <td>{{ event.game }}</td>
                        <td>{{ event.hostedBy }}</td>
                        <td>{{ event.location }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>