
    {% block pre_topNav %}
        {# This is overridden in group_layout to use 'header-group' and the small logo #}
        <div id="header-campsite">
    {% endblock %}

    <div id="topNav">
        <ul>
            <li><a href="{{ path('default_index') }}">Home</a></li>
            {% if app.user is null %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'platformd.layout.top_menu.sign_in' | pd_trans }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Join Now</a></li>
            {% else %}
                <li><a href="{{ path('_fos_user_security_logout') }}">{{ 'platformd.layout.top_menu.sign_out' | pd_trans }}</a></li>
                <li><a href="{{ path('accounts_settings') }}">{{ 'platformd.layout.top_menu.account' | pd_trans }}</a></li>
            {% endif %}
            <li><a href="{{ path('global_events_index') }}">{{ 'platformd.layout.main_menu.events' | pd_trans }}</a></li>
            <li><a href="{{ path('groups') }}">{{ 'platformd.layout.main_menu.groups' | pd_trans }}</a></li>

            {% if group is defined and group is not null %}
                {% if event is defined and event is not null %}
                    {% if is_granted('ROLE_ADMIN') or event.user == (app.user) %}
                        <li><a href="{{ path('idea_admin', {'groupSlug': group.slug, 'eventId': event.id}) }}">Delete me --> Event Admin</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="{{ path('admin_index') }}">Site Admin</a></li>
            {% endif %}

            {% set feedbackKey = app.request.get('_route') %}
            {% if feedbackKey in feedback_ids|keys %}<li>
                <a class="feedback" href="{{ path('entry_set_view', {'entrySetId': feedback_ids[feedbackKey] }) }}">Feedback</a>
            </li>{% endif %}

        </ul>

        {% if app.user %}
            <ul>
                <li>Welcome, <a href="{{ path('profile', {'userId': app.user.id}) }}">{% if app.user.name %}{{app.user.name}}{% else %}{{app.user.username}}{% endif %}</a></li>
            </ul>
        {% endif %}

    </div>

    {% block banner %}
        {% if asset_exists('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'_large.jpg') %}
            <a href="{{ path('default_index') }}"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'_large.jpg') }}" alt="Campsite" id="brand"></a>
        {% else %}
            <a href="{{ path('default_index') }}"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'.jpg') }}" width="305" height="72" alt="Campsite" id="brand-campsite"></a>
            <div id="tagline-campsite">
                <span class="gry">share.</span>
                <span class="gry">learn.</span>
                <span class="gry">grow.</span>
            </div>
        {% endif %}
    {% endblock %}


    <br class="clr">

</div> <!-- end header -->

