<div id="header">

    <div id="topNav">
        <ul>
            {% if app.user is null %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'platformd.layout.top_menu.sign_in' | pd_trans }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Join Now</a></li>
            {% else %}
                <li><a href="{{ path('_fos_user_security_logout') }}">{{ 'platformd.layout.top_menu.sign_out' | pd_trans }}</a></li>
                <li><a href="{{ path('profile', {'username': app.user.username}) }}">Profile</a></li>
                <li><a href="{{ path('accounts_index') }}">{{ 'platformd.layout.top_menu.account' | pd_trans }}</a></li>
            {% endif %}
            {% block extra_user_controls %}
            {% endblock %}
            <li><a href="{{ path('default_index') }}">Home</a></li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="{{ path('admin_index') }}">Site Admin</a></li>
            {% endif %}
        </ul>

        {% if app.user %}
            <ul>
                <li>Welcome, <a href="{{ path('profile') }}">{% if app.user.name %}{{app.user.name}}{% else %}{{app.user.username}}{% endif %}</a></li>
            </ul>
        {% endif %}

    </div>

    {% block banner %}
        {% if asset_exists('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'_large.jpg') %}
            <a href="{{ path('default_index') }}"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'_large.jpg') }}" alt="Campsite" id="brand"></a>
        {% else %}
            <a href="{{ path('default_index') }}"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/logo_'~site.defaultLocale~'.jpg') }}" alt="Campsite" id="brand_small"></a>
            <img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/tagline.gif') }}" alt="" width="235" height="31" id="tagline">
        {% endif %}
    {% endblock %}


    <br class="clr">

</div> <!-- end header -->


