<!DOCTYPE html>
<html>
    {% set _isFrontPage = app.request.get('_route') == 'default_index' %}
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% if idea is defined and idea is not null %}
                    {{ idea.name }}
                {% elseif entrySet is defined and entrySet is not null %}
                    {{ entrySet.name }}
                {% elseif event is defined and event is not null %}
                    {{ event.name }}
                {% elseif group is defined and group is not null %}
                    {{ group.name }}
                {% else %}
                    Campsite
                {% endif %}
            {% endblock %}
        </title>

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '/ckeditor/';
        </script>

        <link rel="shortcut icon" type="image/png" href="{{ asset('themes/ideacontest/spoutlet/img/favicon.ico') }}">

        {# Here we include assets for the current active theme #}
        {% include '::theme_' ~ site.theme ~ '_assets.html.twig' ignore missing %}

        {{ block('javascripts') }}
        {{ block('stylesheets') }}

    </head>
    <body>
        <noscript>For optimal site interaction, please turn javascript on in your browser. For Firefox, go to Tools &rsaquo; Options &rsaquo; Content. For Internet Explorer, go to Tools &rsaquo; Internet Options &rsaquo; Security &rsaquo; Internet &rsaquo; Custom Level &rsaquo; Enable Active Scripting.<br>Otherwise, please visit our <a href="#sitemap">sitemap</a> for easier navigation.</noscript>

        <div id="wrapper-ht">

            {%  block header %}
                {% embed 'SpoutletBundle::header.html.twig' %}{% endembed %}
                {% embed 'SpoutletBundle::navigation.html.twig' %}{% endembed %}
            {%  endblock %}

            <div id="content">

                {% block pre_content_nav %}{% endblock %}

                {% render url('_flash_message') with {}, {'standalone': true } %}

                {%  for key, message in app.session.getFlashes() %}
                    {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': key, 'message': message } %}
                {% endfor %}

                <div class="clear"></div>

                {% if event|default %}
                    {% if event.private and not isAdmin %}
                        {% if app.user is null %}
                            This event is private. Please log in to view this page.<br/><br/>
                            <a href="{{ path('fos_user_security_login') }}"><input type="button" value="{{ 'platformd.layout.top_menu.sign_in' | pd_trans }}" class="btnMdm left"></a>
                            <a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Register" class="btnMdm left marginlft"></a>
                            {% set show = 'false' %}
                        {% elseif not event.isUserAttending(app.user) %}
                            This event is private. Please apply for access and an administrator will review your application. <br/><br/>
                            <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}"><input type="button" value="Apply Now"></a>
                            {% set show = 'false' %}
                        {% elseif attendance == 'pending' %}
                            This event is private. You have applied for access and are waiting for administrative approval.
                            {% set show = 'false' %}
                        {% elseif attendance == 'rejected' %}
                            This event is private. You have applied for access and have been denied.
                            {% set show = 'false' %}
                        {% else %}
                            {% set show = 'true' %}
                        {% endif %}
                    {% else %}
                        {% set show = 'true' %}
                    {% endif %}
                {% else %}
                    {% set show = 'true' %}
                {% endif %}

                {% if (show == 'true') or (_isFrontPage) %}
                    {% if sidebar|default %}
                        <div id="contentLft{% if _isFrontPage %}MP{% endif %}">
                    {% endif %}

                    {% if _isFrontPage %}
                        {% include 'IdeaBundle:Idea:breadcrumbs.html.twig' %}
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                    {% if sidebar|default %}
                        </div>
                        <div id="contentRt{% if _isFrontPage %}MP{% endif %}">
                        {% block sidebar %}
                            {% include 'IdeaBundle::sidebar.html.twig' %}
                        {% endblock %}
                        </div>
                    {% endif %}
                {% endif %}

                <br class="clr">
            </div>
            <div class="push"></div> <!-- needed for sticky footer -->
        </div><!-- end wrapper-ht -->

        {% include 'SpoutletBundle::footer.html.twig' %}
	</body>
</html>
