<div id="nav-wrapper"> <!-- begin navbar -->
    <div id="nav">
        <ul class="sf-menu sf-js-enabled sf-list" id="nav-list">
            <li><a href="{{ path('about') }}">About</a></li>

            {% set currentRoute = app.request.get('_route') %}

            {% if app.request.get('groupSlug')|default %}
                {% set group_id = app.request.get('groupSlug') %}
            {% elseif app.request.get('slug')|default %}
                {% set group_id = app.request.get('slug') %}
            {% endif %}

            {% if app.request.get('eventId')|default %}
                {% set event_id = app.request.get('eventId') %}
            {% endif %}

            {% if app.request.get('entrySetId')|default %}
                {% set entrySet_id = app.request.get('entrySetId') %}
                {% if entrySet|default is not empty %}
                    {% if entrySet.entrySetRegistration.scope == "EventBundle:GroupEvent" %}
                        {% if event|default %}
                            {% set event_id = event.id %}
                            {% set group_id = event.group.slug %}
                        {% endif %}
                    {% elseif entrySet.entrySetRegistration.scope == "GroupBundle:Group" %}
                        {% if group|default %}
                            {% set group_id = group.slug %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <li class="more">
                <a>Events</a>
                <ul>
                    <li><a href="{{ path('global_events_index') }}">All Events</a></li>
                    <li><a href="{{ path('accounts_events') }}">My Events</a></li>
                    {% if group_id is defined %}
                        <li><a href="{{ path('idea_admin_event', {'groupSlug': group_id, 'eventId': 'newEvent'}) }}">Create Event</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="more">
                <a>{{ 'platformd.layout.main_menu.groups' | pd_trans }}</a>
                <ul>
                    <li><a href="{{ path('groups') }}">All Groups</a></li>
                    <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
                    <li><a href="{{ path('group_new') }}">Create Group</a></li>
                </ul>
            </li>

            <li class="more">
                <a>{{ 'platformd.layout.main_menu.settings' | pd_trans }}</a>
                <ul>
                    <li><a href="{{ path('accounts_settings') }}">Account</a></li>

                    {% if group_id is defined %}
                        {% if group is defined %}
                            {% if group.owner == app.user %}
                                <li><a href="{{ path('group_edit', {'slug': group_id}) }}">Group</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if event_id is defined %}
                        {% if event is defined %}
                            {% if event.user == app.user %}
                                <li><a href="{{ path('idea_admin_event', {'groupSlug': group_id, 'eventId': event_id}) }}">Event</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if entrySet is defined %}
                        <li><a href="{{ path('entry_set_edit', {'entrySetId': entrySet.id}) }}">List</a></li>
                    {% endif %}
                </ul>
            </li>

            <li><a href="{{ path('contact') }}">Contact Us</a></li>

        </ul>

    </div> <!-- end nav -->
</div> <!-- end nav-wrapper -->


<script type="text/javascript">
    $(document).ready(function(){
        $("ul.sf-list").supersubs({
            minWidth:    10,   // minimum width of submenus in em units
            maxWidth:    27,   // maximum width of submenus in em units
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over
            // due to slight rounding differences and font-family
        }).superfish({
                    delay:      150,
                    animation:  {opacity:'show',height:'show'},
                    speed:      'fast'
                });

        $('.tablesorter').tablesorter();

        // clearing overlay defaults so they can be loaded in from css (div.blockOverlay)
        $.blockUI.defaults.overlayCSS = {};
        $.fn.qtip.defaults.style.classes = 'qtip-green qtip-shadow qtip-rounded';
    });
</script>