<div id="nav-wrapper"> <!-- begin navbar -->
    <div id="nav">
        <ul class="sf-menu sf-js-enabled sf-list" id="nav-list">
            <li><a href="{{ path('about') }}">About</a></li>

            <li class="more">
                <a>Events</a>
                <ul>
                    <li><a href="{{ path('global_events_index') }}">All Events</a></li>
                    <li><a href="{{ path('accounts_events') }}">My Events</a></li>
                </ul>
            </li>

            <li class="more">
                <a>{{ 'platformd.layout.main_menu.groups' | pd_trans }}</a>
                <ul>
                    <li><a href="{{ path('groups') }}">All Groups</a></li>
                    <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
                    <li><a href="{{ path('group_new') }}">Create Group</a></li>
                </ul>
            </li>

            <li><a href="{{ path('contact') }}">Contact Us</a></li>

        </ul>

    </div> <!-- end nav -->
</div> <!-- end nav-wrapper -->


<script type="text/javascript">
    $(document).ready(function(){
        $("ul.sf-list").supersubs({
            minWidth:    10,   // minimum width of submenus in em units
            maxWidth:    27,   // maximum width of submenus in em units
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over
            // due to slight rounding differences and font-family
        }).superfish({
                    delay:      150,
                    animation:  {opacity:'show',height:'show'},
                    speed:      'fast'
                });

        $('.tablesorter').tablesorter();

        // clearing overlay defaults so they can be loaded in from css (div.blockOverlay)
        $.blockUI.defaults.overlayCSS = {};
        $.fn.qtip.defaults.style.classes = 'qtip-green qtip-shadow qtip-rounded';
    });
</script>

<script type="text/javascript">
    //jkmegamenu.definemenu("anchorid", "menuid", "mouseover|click")
    jkmegamenu.definemenu("megaanchor1", "megamenu1", "mouseover");
    jkmegamenu.definemenu("megaanchor2", "megamenu2", "mouseover");
    jkmegamenu.definemenu("megaanchor3", "megamenu3", "mouseover");
    jkmegamenu.definemenu("megaanchor4", "megamenu4", "mouseover");
</script>