<div id="nav-wrapper"> <!-- begin navbar -->
    <div id="nav">
        <ul class="sf-menu sf-js-enabled sf-list" id="nav-list">
            <li><a href="{{ path('about') }}">About</a></li>

            {% set _isOwner = false %}
            {% set _canDelete = false %}
            {% set menu_scope = 'other' %}
            {% if app.request.get('entryId')|default %}
                {% set menu_scope = 'entry' %}
                {% set _key = app.request.get('entryId') %}
                {% set _key2 = app.request.get('entrySetId') %}
                {% if idea|default %}
                    {% set _isOwner = (idea.creator == app.user) or (is_granted('ROLE_ADMIN')) %}
                    {% set _canDelete = _isOwner %}
                {% endif %}
            {% elseif app.request.get('entrySetId')|default %}
                {% set menu_scope = 'entry_set' %}
                {% set _key = app.request.get('entrySetId') %}
                {% if entrySet|default %}
                    {% if entrySet.entrySetRegistration.scope == "EventBundle:GroupEvent" %}
                        {% if event|default %}
                            {% set _isOwner = (event.user == app.user) or (is_granted('ROLE_ADMIN')) %}
                        {% endif %}
                    {% elseif entrySet.entrySetRegistration.scope == "GroupBundle:Group" %}
                        {% if group|default %}
                            {% set _isOwner = (group.owner == app.user) or (is_granted('ROLE_ADMIN')) %}
                        {% endif %}
                    {% endif %}
                    {% set _canDelete = _isOwner %}
                {% endif %}
            {% elseif app.request.get('eventId')|default %}
                {% set menu_scope = 'event' %}
                {% set _key = app.request.get('eventId') %}
                {% set _key2 = app.request.get('groupSlug') %}
                {% if event|default %}
                    {% set _isOwner = (event.user == app.user) or (is_granted('ROLE_ADMIN')) %}
                    {% set _canDelete = _isOwner and (event.entrySets|length == 0) %}
                    {% set _canContact = _isOwner and (event.registrationOption == "REGISTRATION_ENABLED") and (event.approved == true) %}
                    {% if  event.entrySetRegistration|default %}
                        {% set _regId = event.entrySetRegistration.id %}
                    {% endif %}
                {% endif %}
            {% elseif (app.request.get('groupSlug')|default) or (app.request.get('slug')|default) %}
                {% set menu_scope = 'group' %}
                {% set _key = app.request.get('groupSlug')|default ? app.request.get('groupSlug') : app.request.get('slug')%}
                {% if group|default %}
                    {% set _isOwner = (group.owner == app.user) or (is_granted('ROLE_ADMIN')) %}
                    {% set _canDelete = _isOwner and (group.entrySets|length == 0) and (group.numEvents == 0) %}
                    {% if  group.entrySetRegistration|default %}
                        {% set _regId = group.entrySetRegistration.id %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <li class="more">
                <a>Events</a>
                <ul>
                    <li><a href="{{ path('global_events_index') }}">All Events</a></li>
                    <li><a href="{{ path('accounts_events') }}">My Events</a></li>
                    {% if group_id is defined %}
                        <li><a href="{{ path('idea_admin_event', {'groupSlug': group_id, 'eventId': 'newEvent'}) }}">Create Event</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="more">
                <a>{{ 'platformd.layout.main_menu.groups' | pd_trans }}</a>
                <ul>
                    <li><a href="{{ path('groups') }}">All Groups</a></li>
                    <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
                    <li><a href="{{ path('group_new') }}">Create Group</a></li>
                </ul>
            </li>

            {% set _here = app.request.get('_route') %}
            {% if app.user %}
                <li class="more">
                    <a>{{ 'platformd.layout.main_menu.settings' | pd_trans }}</a>
                    <ul>
                        {% if menu_scope == 'group' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('group_edit', {'slug': _key}) }}">Edit Group Details</a></li>
                                <li><a href="{{ path('idea_admin_event', {'groupSlug': _key}) }}">Create Event</a></li>
                                {% if _regId|default %}
                                    <li><a href = "{{ path('entry_set_new', {'registrationId': _regId, 'entrySetId': 'new'}) }}">Create List</a></li>
                                {% endif %}
                                {% if not group.isPublic %}
                                    <li><a href="{{ path('group_applications', { 'slug': _key }) }}">Member Approvals</a></li>
                                {% endif %}
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{  path('group_delete', {'slug': _key }) }}">Delete Group</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'event' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('idea_admin_event', {'eventId': _key, 'groupSlug': _key2}) }}">Edit Event Details</a></li>
                                {% if _regId|default %}
                                    <li><a href="{{ path('group_event_attendees', {'eventId': _key, 'groupSlug': _key2}) }}">Manage Attendees</a></li>
                                {% endif %}
                                {% if _canContact %}
                                    <li><a href="{{ path('group_event_contact', {'eventId': _key, 'groupSlug': _key2}) }}">Email Attendees</a></li>
                                {% endif %}
                                <li><a href = "{{ path('entry_set_new', {'registrationId': _regId, 'entrySetId': 'new'}) }}">Create List</a></li>
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{ path("group_event_delete", {"eventId": _key, "groupSlug": _key2}) }}">Delete Event</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'entry_set' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('entry_set_edit', {'entrySetId': _key}) }}">Edit List Details</a></li>
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{ path('entry_set_delete', {'entrySetId': _key}) }}">Delete List</a></li>
                            {% endif %}
                        {% elseif menu_scope == 'entry' %}
                            {% if _isOwner %}
                                <li><a href="{{ path('idea_edit_form', {'entryId': _key, 'entrySetId': _key2}) }}">Edit Entry Details</a></li>
                            {% endif %}
                            {% if _canDelete %}
                                <li><a href="{{ path('idea_delete', {'entryId': _key, 'entrySetId': _key2}) }}">Delete Entry</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            <li><a href="{{ path('contact') }}">Contact Us</a></li>

        </ul>

    </div> <!-- end nav -->
</div> <!-- end nav-wrapper -->


<script type="text/javascript">
    $(document).ready(function(){
        $("ul.sf-list").supersubs({
            minWidth:    10,   // minimum width of submenus in em units
            maxWidth:    27,   // maximum width of submenus in em units
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over
            // due to slight rounding differences and font-family
        }).superfish({
                    delay:      150,
                    animation:  {opacity:'show',height:'show'},
                    speed:      'fast'
                });

        $('.tablesorter').tablesorter();

        // clearing overlay defaults so they can be loaded in from css (div.blockOverlay)
        $.blockUI.defaults.overlayCSS = {};
        $.fn.qtip.defaults.style.classes = 'qtip-green qtip-shadow qtip-rounded';
    });
</script>