<div class="fos_user_user_show memberProfile">
    <div class="memberProfileLeft">

            <div class="profileAvatar_big"> 
                <img src="{{ user.avatar ? user.webPath : "/images/profile-default.png" }}" alt="{{ user.username }}" />
            </div>
        
        <div class="profileBloc">
            <h3>{{ "profile.show.friends" | trans({}, "FOSUserBundle") }}</h3>
        </div>
    </div>
    
    <div class="memberProfileRight">
        <h2>{{ "profile.show.title" | trans({ 
                "%username%": user.username,
                "%firstname%" : user.firstname,
                "%lastname%" : user.lastname
            }, 'FOSUserBundle') }}</h2>

        <div class="profileBloc">
            <h3>{{ "profile.show.signature" | trans({}, "FOSUserBundle") }}</h3>
        </div>
        
        <div class="profileBloc">
            <h3>{{ "profile.show.arena_reward_point_feed" | trans({}, "FOSUserBundle") }}</h3>
        </div>
        
        <div class="profileBloc">
            <h3>{{ "profile.show.chat_wall" | trans({}, "FOSUserBundle") }}</h3>
        </div>
        
        <div class="profileBloc">
            <h3>{{ "profile.show.my_rig" | trans({}, "FOSUserBundle") }}</h3>
        </div>
    </div>

    <hr class="clear" />
</div>
