{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{{ form_errors(form) }}
<div class="row-fluid">
    <div class="span6" style="width: 450px;">
        <div style="width:350px;">
            {{ form_row(form.thumb_file) }}
            {{ form_row(form.banner_file) }}
        </div>
        {{ form_row(form.url) }}
        {{ form_row(form.newWindow) }}
    </div>

    <div class="span6">
        {{ form_row(form.sites) }}
    </div>
</div>

<div>
    <input type="submit" value="Save" class="btn btn-primary" formnovalidate />
</div>
{{ form_rest(form) }}
