        {{ form_errors(form) }}

        {{ form_row(form.locale) }}

        <div class="form_row">
            {{ form_label(form.thumb_file) }}
            {{ form_errors(form.thumb_file) }}
            {{ form_widget(form.thumb_file) }}

            <div class="form-help">{{ 'platformd.homepage_banner.admin.thumb_note' | trans }}</div>
        </div>

        <div class="form_row">
            {{ form_label(form.banner_file) }}
            {{ form_errors(form.banner_file) }}
            {{ form_widget(form.banner_file) }}

            <div class="form-help">{{ 'platformd.homepage_banner.admin.banner_note' | trans }}</div>
        </div>

        {{ form_row(form.position) }}

        {{ form_row(form.url) }}

        <input type="submit" value="Submit" class="button" />
        {{ form_rest(form) }}
    