{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>banner</th>
                <th>url</th>
                <th>actions</th>
            </tr>
        </thead>
        
        <tbody>
        {% for banner in banners %}
            <tr>
                <td>{{ banner.id }}</td>
                <td>{{ banner.thumb }}</td>
                <td>{{ banner.url }}</td>
                <td><a href="{{ path('admin_homepage_banner_edit', { "id" : banner.id }) }}">edit</a> | <a href="{{ path('admin_homepage_banner_delete', { "id" : banner.id }) }}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}