{% if recommendations | length > 0 %}
    <table class="myStuffTable spcr-b">
        <thead>
            <tr>
                <th style="width: 80%;">Recommendations</th>
                <th>Actions</th>
            </tr>
        </thead>

        {% set i=0 %}
        {% for rec in recommendations %}

            {% if type == 'event' %}
                {% set recommended = rec.event %}
                {% if (not recommended.isUserWatching(user)) and (not recommended.isUserAttending(user)) %}
                    {% if recommended.getContentType == 'GlobalEvent' %}
                        {% set watchLink = path('watch_event', {'eventId': recommended.id, 'eventType': 'global'}) %}
                    {% else %}
                        {% set watchLink = path('watch_event', {'eventId': recommended.id}) %}
                    {% endif %}
                {% else %}
                    {% set watchLink = null %}
                {% endif %}

            {% elseif type == 'group' %}
                {% set recommended = rec.group %}
                {% if (not recommended.isUserWatching(user)) and (not recommended.isMember(user)) %}
                    {% set watchLink = path('watch_group', {'groupId': recommended.id}) %}
                {% else %}
                    {% set watchLink = null %}
                {% endif %}

            {% endif %}

            {% set i=i+1 %}

            <tr {% if i%2 %}class="fill"{% endif %}>
                <td>
                    <a href="{{ path("profile", {"userId": rec.referredBy.id}) }}" class="blu">{{ rec.referredBy.name }}</a> has recommended you to {{ rec.action }} <a href="{{ recommended | pd_link }}" class="blu">{{ recommended.name }}</a>
                </td>
                <td>
                    {% if watchLink|default %}
                        <a href="{{ watchLink }}" class="blu">Watch</a><br/>
                    {% endif %}
                    <a href="{{ path('dismiss_recommendation', {'recType': type, 'recId': rec.id}) }}" class="blu" onclick="return confirm('Are you sure you wish to dismiss this recommendation?');">Dismiss</a>
                </td>
            </tr>

        {% endfor %}

    </table>
{% endif %}