{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.events.admin.create" | trans }}{% endblock %}

{% block content %}

    <h1>New Event</h1>

    {% if existingEvents is defined and existingEvents|length > 0 %}
        <form action="{{ path('admin_events_new') }}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Import From Past Event (Optional): </label>
                <select id="existing_event_select" name="existing_event_select">
                    {% for existingEvent in existingEvents %}
                        <option value="{{ existingEvent.id }}">{{ existingEvent.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary" formnovalidate>Import</button>
            </div>
        </form>
    {% endif %}

    {% set post_route = (importedGlobalEvent) ? path('admin_events_new_import', {'id': importedGlobalEvent.id }) : path('admin_events_new') %}
    <form action="{{ post_route }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {% include 'EventBundle:GlobalEvent/Admin:_form.html.twig' %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#cancel').delegate('','click change',function(){
                window.location = $(this).attr('rel');
                return false;
            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/event/css/event.css') }}" />
{% endblock %}
