<div class="margin-bottom">
    {% if group is defined and group is not null %}
        > <a href="{{ path('group_show', {'slug': group.slug}) }}">{{ group.name | truncate(30) }}</a>
    {% endif %}
    {% if event is defined and event is not null %}
        > <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}">{{ event.name | truncate(30) }}</a>
    {% endif %}
    {% if entrySet is defined and entrySet is not null %}
        > <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}">{{ entrySet.name | truncate(30) }}</a>
    {% endif %}
    {% if idea is defined and idea is not null %}
        > <a href="{{ path('idea_show', {'entrySetId': entrySet.id, 'id': idea.id}) }}">{{ idea.name | truncate(30) }}</a>
    {% endif %}
</div>
