{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h1>{% if idea is defined %}Edit Your Idea{% else %}Submit Your Idea{% endif %}</h1>
    <form action="{% if idea is defined %}{{ path('idea_edit', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': idea.id}) }}{% else %}{{ path('idea_create', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}{% endif %}" method="post" id="submit" enctype="multipart/form-data">
        <label>Idea Title</label>
        <input type="text" name="title" {% if idea is defined %}value="{{ idea.name }}"{% endif %} tabindex="1" class="inPt">

        <label>Names of Additional Contributors</label>
        <textarea name="members" rows="6" tabindex="2"
            placeholder="Please use this format for names: First Last, First Last, etc&#8230;" class="inPt">{% if idea is defined %}{{ idea.members }}{% endif %}</textarea>

        <label>Idea Description</label>
        <textarea name="desc" rows="6" tabindex="3" class="inPt">{% if idea is defined %}{{ idea.description }}{% endif %}</textarea>

        {% if idea is defined %}
            {% set stage = idea.stage %}
        {% else %}
            {% set stage = "" %}
        {% endif %}

        <label>Idea Stage</label>
        <select name="stage" tabindex="4">
            <option value="Concept" {% if stage == "Concept" %}selected{% endif %}>Concept</option>
            <option value="Prototype" {% if stage == "Prototype" %}selected{% endif %}>Prototype</option>
            <option value="Beta" {% if stage == "Beta" %}selected{% endif %}>Beta</option>
            <option value="Startup" {% if stage == "Startup" %}selected{% endif %}>Startup</option>
            <option value="Growth" {% if stage == "Growth" %}selected{% endif %}>Growth</option>
            <option value="Profitable" {% if stage == "Profitable" %}selected{% endif %}>Profitable</option>
            <option value="Expansion" {% if stage == "Expansion" %}selected{% endif %}>Expansion</option>
        </select>

        <label>Is this idea for a course?</label>
        <input type="checkbox" name="forCourse" value="yes" tabindex="5" {% if idea is defined %}{% if idea.getForCourse %}checked="yes"{% endif %}{% endif %}>

        <label>If yes, please enter the name of your professors:</label>
        <input type="text" name="professors" class="inPt" tabindex="6" {% if idea is defined %} value="{{ idea.professors }}"{% endif %}>

        <label>Amount needed to start-up venture (optional):</label>
        <input type="text" name="amount" tabindex="7" {% if idea is defined %}value="{{ idea.amount }}"{% endif %}>

        <label>Suggested Categories</label>
        <textarea name="tags" rows="1" tabindex="8" placeholder="Tag list (tag1 tag2 tag3)" class="inPt">{% if idea is defined %}{{ idea.implodedTagString }}{% endif %}</textarea>

        <label class="right spcr-r2">Private Idea</label><br>
        <input type="checkbox" name="isPrivate" tabindex="9" class="right spcr-r2"{% if idea is defined %}{% if idea.isPrivate %}checked="yes"{% endif %}{% endif %}>
    </form>

    <br class="clr">

    <form action="{% if idea is defined %}{{ path('idea_show', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': idea.id}) }}{% else %}{{ path('group_event_view', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}{% endif %}" id="cancel"></form>

    {% if idea is defined %}
    <br>
    <form action="{{ path('idea_delete', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" id="delete">
        <input type="hidden" name="id" value='{{idea.id}}'>
    </form>
    {% endif %}

    <table>
        <input type="submit" class="right spcr-r2" value="{% if idea is defined %}Save Changes{% else %}Submit Idea{% endif %}" tabindex="8" onclick="document.forms['submit'].submit();">
        <input type="submit" class="right spcr-r" value="Cancel" onclick="document.forms['cancel'].submit();">
        {% if idea is defined %}<input type="submit" class="right spcr-r" value="Delete" onclick="document.forms['delete'].submit();">{% endif %}
    </table>
{% endblock %}
