{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <div id="contentLft">
        <span class = "lrgtxt left">{{ entrySet.name }} {% if showAllRounds == 'true' %}- All Rounds{% else %}{% if round > 1 %}- Round {{ round }}{% endif %}{% endif %}</span>

        <a href="{{ path('idea_create_form', {'entrySetId': entrySet.id}) }}">
            <input type="submit" value="Propose {{ entrySet.type | capitalize }}" class="right">
        </a>

        <div class="clr">
            {{ entrySet.description }}
        </div>

        <div class="left spcr-t5">

            {% if (entrySet.entries|length > 0) %}
            <form action="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'viewPrivate': viewPrivate, 'sortBy': sortBy, 'showAllRounds': showAllRounds, 'viewCompleted': viewCompleted}) }}" id='filterForm' method="get" class="left">
                <table>
                    <tr>
                        <td><input type="text" name="tag" tabindex="1" placeholder="Filter by tag" value="{{tag}}" /></td>
                        <td><input type="submit" value="Filter" class="btnMdm" /></td>
                        {% if tag %}<td style="padding-left: 5px"><a href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}"><input type="button" value="View All" class="btnMdm" /></a></td>{% endif %}
                    </tr>
                </table>
            </form>
            {% endif %}
        </div>

        <div class="spcr-t5 right socialWrapper">
            {% set hashtags = '' %}
            {% if group|default %}{% set hashtags = hashtags ~ group.hashtag %}{% endif %}
            {% if event|default %}{% set hashtags = hashtags ~ ',' ~ event.hashtag %}{% endif %}

            <a href="https://twitter.com/share" class="twitter-share-button right spcr-t8" data-hashtags="{{ hashtags }}">Tweet</a>
            <div class="fb-like right spcr-r3" data-href="{{ path('entry_set_view', {'entrySetId': entrySet.id}) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="clr"></div>

        {% if (entrySet.entries|length > 0) %} {# No entries in entrySet #}
            {% if app.user %}
                {% if viewPrivate %}
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'viewPrivate': false, 'sortBy': sortBy, 'showAllRounds': showAllRounds, 'viewCompleted': viewCompleted}) }}" class="blue">Public {{ entrySet.type | capitalize }}s</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <strong>
                        {% if isAdmin %}
                            Private {{ entrySet.type | capitalize }}s
                        {% elseif isJudge %}
                            Assigned {{ entrySet.type | capitalize }}s
                        {% else %}
                            My {{ entrySet.type | capitalize }}s
                        {% endif %}
                    </strong>

                {% else %}
                    <strong>Public {{ entrySet.type | capitalize }}s</strong>
                    &nbsp;|&nbsp;
                <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'viewPrivate': true, 'sortBy': sortBy, 'showAllRounds': showAllRounds, 'viewCompleted': viewCompleted}) }}" class="blue">
                    {% if isAdmin %}
                        Private {{ entrySet.type | capitalize }}s</a>
                    {% elseif isJudge %}
                        Assigned {{ entrySet.type | capitalize }}s</a>
                    {% else %}
                        My {{ entrySet.type | capitalize }}s</a>
                    {% endif %}
                {% endif %}
                &nbsp;&nbsp;
            {% endif %}

            {% if entrySet.type == constant('\\Platformd\\IdeaBundle\\Entity\\EntrySet::TYPE_TASK') %}
                {% if viewCompleted|default == false %}
                    <strong>View Incomplete</strong>
                    &nbsp;|&nbsp;
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'viewPrivate': viewPrivate, 'sortBy': sortBy, 'showAllRounds': showAllRounds, 'viewCompleted': true}) }}" class="blue">View Completed</a>
                {% else %}
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'viewPrivate': viewPrivate, 'sortBy': sortBy, 'showAllRounds': showAllRounds, 'viewCompleted': false}) }}" class="blue">View Incomplete</a>
                    &nbsp;|&nbsp;
                    <strong>View Completed</strong>
                {% endif %}
                &nbsp;&nbsp;
            {% endif %}

            {% if sortBy == 'vote' %}
                <strong>Sort By Votes</strong>
            {% else %}
                <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'sortBy': 'vote', 'viewPrivate': viewPrivate, 'showAllRounds': showAllRounds, 'viewCompleted': viewCompleted}) }}" class="blue">Sort By Votes</a>
            {% endif %}

            &nbsp;&nbsp;|&nbsp;&nbsp;

            {% if sortBy == 'createdAt' %}
                <strong>Sort By Newest</strong>
            {% else %}
                <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'sortBy': 'createdAt', 'viewPrivate': viewPrivate, 'showAllRounds': showAllRounds, 'viewCompleted': viewCompleted}) }}" class="blue">Sort By Newest</a>
            {% endif %}

            &nbsp;&nbsp;&nbsp;&nbsp;

            {% if round > 1 %}
                {% if showAllRounds == 'true' %}
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'sortBy': sortBy, 'viewPrivate': viewPrivate, 'showAllRounds': 'false'}) }}" class="blue">
                        Current Round
                    </a>
                {% else %}
                    <strong>Current Round</strong>
                {% endif %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% if showAllRounds == 'true' %}
                    <strong>All Rounds</strong>
                {% else %}
                    <a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'sortBy': sortBy, 'viewPrivate': viewPrivate, 'showAllRounds': 'true'}) }}" class="blue">
                        All Rounds
                    </a>
                {% endif %}
            {% endif %}

        {% endif %} {# No entries in entrySet #}

        <div class="card_list">
            {% for idea in ideas %}

                {% set show_idea = false %}
                {% if viewCompleted is not defined %}
                    {% set show_idea = true %}
                {% elseif viewCompleted == idea.completed %}
                    {% set show_idea = true %}
                {% endif %}

                {% if show_idea == true %}

                    <div class="card spcr-b3">
                        <div class="idea_left_column">
                            <div class="voteBx">
                                <p><strong class="lrgtxt">{{ idea.numFollowers }}</strong></p>
                                <form action = "{{ path('idea_follow', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="POST">
                                    <input type="hidden" name="id" value="{{idea.id}}">
                                    <input type="hidden" name="source" value="list">
                                    <input type="hidden" name="tag" value="{{ tag }}">
                                    <input type="submit" {% if app.user %}{% if not idea.isUserFollowing(app.user.username) %}class="btnTny fillWidth spcr-t7" value="Vote"{% else %}class="btnTinyer redButton fillWidth spcr-t7" value="Remove Vote"{% endif %}{% else %}class="btnTny fillWidth spcr-t7" value="Vote"{% endif %}>
                                </form>
                            </div>
                            <div class="clr"></div>

                            {# If this is a session list that belongs to an event, and we are an admin/event owner #}
                            {% if entrySet.type == constant('\\Platformd\\IdeaBundle\\Entity\\EntrySet::TYPE_SESSION') and event|default and isAdmin %}
                                {% if not idea.evtSession %}
                                    <form action="{{ path('event_session_create', {'groupSlug': group.slug, 'eventId': event.id, 'ideaId': idea.id}) }}" method="POST">
                                        <a href="javascript:void(0);" class="btnTny spcr-t7" onClick="$(this).closest('form').submit();">Create Session</a>
                                    </form>
                                {% else %}
                                    <a href="javascript:void(0);" class="btnTny greyButton spcr-t7">Session Scheduled</a>
                                {% endif %}
                            {# If this is a Task List and we are an admin/list owner/idea creator #}
                            {% elseif entrySet.type == constant('\\Platformd\\IdeaBundle\\Entity\\EntrySet::TYPE_TASK') and (isAdmin or idea.creator==app.user) %}
                                {% if not idea.completed %}
                                    <a href="{{ path('idea_complete', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" class="btnTny spcr-t7" style="padding:0;">Mark Complete</a>
                                {% else %}
                                    <a href="{{ path('idea_complete', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" class="btnTinyer redButton spcr-t7">Mark Incomplete</a>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="session">
                            <a href="{{ path('idea_show', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}">
                                <h3>{{ idea.name }}</h3>
                            </a>
                            <em class="tnytxt">{{ idea.dateTimeString }}</em><br/>
                            {{ idea.description|truncate(300) }}

                            {% if idea.tags|length > 0 %}
                                <br/>
                                <div class="kWords left">
                                    <ul>
                                        <li>Tags</li>
                                        {% for tag in idea.tags %}
                                            <li><a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'tag': tag.tagName}) }}">{{ tag.tagName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <span class="right tnytxt spcr-t">
                                Proposed by: <strong><a href="{{ path('profile', {'userId': idea.creator.id}) }}" class="blue">{{idea.creator.name}}</a></strong>{% if idea.members %}, {{idea.members}}{% endif %}
                            </span>

                        </div>
                        <div class="clr"></div>
                    </div>
                {% endif %}
            {% else %}
                <div class="left">
                    There are no {{ entrySet.type }}s yet. 
                    <a href="{{ path('idea_create_form', {'entrySetId': entrySet.id}) }}" class="blu">Propose one now!</a>
                </div> 
                <br/><br/><hr/>
            {% endfor %}
        </div>
    </div>
    <div id="contentRt">
        {% include 'IdeaBundle::sidebar.html.twig' %}
    </div>
{% endblock %}
