{% extends 'UserBundle::accountLayout.html.twig' %}

{% block profile_content %}

    {% if ownProfile or isAdmin %}
        <a href="{{ path('profile_edit', {'userId': user.id}) }}" class="btnLg right spcr-l">Edit Profile</a>
    {% endif %}
    {% if not ownProfile %}
        <a href="{{ path('contact_user', {'userId': user.id}) }}" class="btnLg right">Contact User</a>
    {% endif %}

    <h1>{{ user.name }}</h1>

    <table class="profileTable">
        <tbody>
            {% if user.title %}
                <tr>
                    <td>Title</td>
                    <td>{{ user.title }}</td>
                </tr>
            {% endif %}
            {% if user.organization %}
                <tr>
                    <td>Organization</td>
                    <td>{{ user.organization }}</td>
                </tr>
            {% endif %}
            {% if user.industry %}
                <tr>
                    <td>Industry</td>
                    <td>{{ user.industry }}</td>
                </tr>
            {% endif %}
            {% if user.aboutMe %}
                <tr>
                    <td>About</td>
                    <td>{{ user.aboutMe }}</td>
                </tr>
            {% endif %}
            {% if user.linkedIn %}
                <tr>
                    <td>LinkedIn</td>
                    <td><a href="{{ user.linkedIn }}" class="blu" target="_blank">{{ user.linkedIn }}</a></td>
                </tr>
            {% endif %}
            {% if user.twitterUsername %}
                {% if user.twitterUsername|slice(0,1) != '@' %}
                    {% set twitterName = '@' ~ user.twitterUsername %}
                {% else %}
                    {% set twitterName = user.twitterUsername %}
                {% endif %}
                <tr>
                    <td>Twitter</td>
                    <td><a href="http://twitter.com/{{ twitterName }}" class="blu" target="_blank">{{ twitterName }}</a></td>
                </tr>
            {% endif %}
            {% if user.website %}
                <tr>
                    <td>Website</td>
                    <td><a href="{{ user.website }}" class="blu" target="_blank">{{ user.website }}</a></td>
                </tr>
            {% endif %}
            {% if ownProfile or isAdmin %}
                <tr>
                    <td>Email address:</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% if user.professionalEmail %}
                    <tr>
                        <td>Professional Email</td>
                        <td>{{ user.professionalEmail }}</td>
                    </tr>
                {% endif %}
                {% if user.mailingAddress %}
                    <tr>
                        <td>Mailing Address</td>
                        <td>{{ user.mailingAddress }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
