{% extends 'UserBundle::accountLayout.html.twig' %}

{% block profile_content %}

    {% if ownProfile or isAdmin %}
        <a href="{{ path('profile_edit', {'userId': user.id}) }}" class="btnLg right spcr-l">Edit Profile</a>
    {% endif %}
    {% if not ownProfile %}
        <a href="{{ path('contact_user', {'userId': user.id}) }}" class="btnLg right">Contact User</a>
    {% endif %}

    <h1>{{ user.name }}</h1>

    {% if showProfile %}

        {% set i = 0 %}

        <table class="profileTable">
            <tbody>
                {% if user.title %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Title</td>
                        <td>{{ user.title }}</td>
                    </tr>
                {% endif %}
                {% if user.organization %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Organization</td>
                        <td>{{ user.organization }}</td>
                    </tr>
                {% endif %}
                {% if user.industry %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Industry</td>
                        <td>{{ user.industry }}</td>
                    </tr>
                {% endif %}
                {% if user.aboutMe %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>About</td>
                        <td>{{ user.aboutMe }}</td>
                    </tr>
                {% endif %}
                {% if user.linkedIn %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>LinkedIn</td>
                        <td><a href="{{ user.linkedIn }}" class="blu" target="_blank">{{ user.linkedIn }}</a></td>
                    </tr>
                {% endif %}
                {% if user.twitterUsername %}
                    {% if user.twitterUsername|slice(0,1) != '@' %}
                        {% set twitterName = '@' ~ user.twitterUsername %}
                    {% else %}
                        {% set twitterName = user.twitterUsername %}
                    {% endif %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Twitter</td>
                        <td><a href="http://twitter.com/{{ twitterName }}" class="blu" target="_blank">{{ twitterName }}</a></td>
                    </tr>
                {% endif %}
                {% if user.website %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Website</td>
                        <td><a href="{{ user.website }}" class="blu" target="_blank">{{ user.website }}</a></td>
                    </tr>
                {% endif %}
                {% if showPrivateInfo %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td colspan="2" class="ctr bld">Private Information</td>
                    </tr>
                    {% if user.tshirtSize %}
                        {% set i = i + 1 %}
                        <tr {% if i%2 %}class="fill"{% endif %}>
                            <td>T-Shirt Size:</td>
                            <td>{{ user.tshirtSize }}</td>
                        </tr>
                    {% endif %}
                    {% set i = i + 1 %}
                    <tr {% if i%2 %}class="fill"{% endif %}>
                        <td>Email address:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% if user.professionalEmail %}
                        {% set i = i + 1 %}
                        <tr {% if i%2 %}class="fill"{% endif %}>
                            <td>Professional Email</td>
                            <td>{{ user.professionalEmail }}</td>
                        </tr>
                    {% endif %}
                    {% if user.mailingAddress %}
                        {% set i = i + 1 %}
                        <tr {% if i%2 %}class="fill"{% endif %}>
                            <td>Mailing Address</td>
                            <td>{{ user.mailingAddress }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    {% else %}
        This profile is not available.
    {% endif %}
{% endblock %}
