{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <table class="tblStyle" id="profile">
        <tr>
            <td class="padrt"><strong>Username:</strong></td>
            <td> {{ user.username }} </td>
        </tr>
        <tr>
            <td class="padrt"><strong>Full Name:</strong></td>
            <td> {{ user.name }} </td>
        </tr>
        <tr>
            <td class="padrt"><strong>Email:</strong></td>
            <td> {{ user.email }} </td>
        </tr>
        {% if user.organization %}
        <tr>
            <td class="padrt"><strong>Organization:</strong></td>
            <td> {{ user.organization }} </td>
        </tr>
        {% endif %}
        {% if user.title %}
        <tr>
            <td class="padrt"><strong>Title:</strong></td>
            <td> {{ user.title }} </td>
        </tr>
        {% endif %}
        {% if user.industry %}
            <tr>
                <td class="padrt"><strong>Industry:</strong></td>
                <td> {{ user.industry }} </td>
            </tr>
        {% endif %}
        {% if user.affiliation %}
        <tr>
            <td class="padrt"><strong>Affiliation:</strong></td>
            <td> {{ user.affiliation }} </td>
        </tr>
        {% endif %}
        {% if user.eventRole %}
        <tr>
            <td class="padrt"><strong>Event Role:</strong></td>
            <td> {{ user.eventRole }} </td>
        </tr>
        {% endif %}

        <tr>
            <td class="padrt"><strong>Proposed Ideas:</strong></td>
            <td>
                {% for idea in user.ideas %}
                    {% set event = idea.getEvent %}
                    {% set group = event.getGroup %}
                    {% if idea.canUserView(app.user) %}<a href="{{ path('idea_show', {'groupSlug': group.getSlug, 'eventSlug': event.getSlug, 'id': idea.id}) }}">{{ event.name }} - {{ idea.name }}</a><br>{% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>

{% endblock %}
