{% block sidebar %}{% endblock %}
{% set sidebar = false %}
{% extends 'SpoutletBundle::layout.html.twig' %}
{% block title %}{% if ownProfile %}My{% else %}{{ user.username }}'s{% endif %} Profile{% endblock %}
{% block content %}
    <div id="user-username" class="spcr-b2">Hello, {{ user.name }}</div>
    <div class="profile-leftcol">
        <ul>
            <li><a href="{{ path('profile', {'userId': user.id}) }}">Settings</a></li>
            <li><a href="{{ path('groups') }}">Groups</a></li>
            <li><a href="{{ path('global_events_index') }}">Events</a></li>
        </ul>
    </div>

    <div class="profile-rightcol bdrLft">
        <a href="{{ path('profile_edit', {'userId': user.id}) }}" class="btnLg right">Edit Profile</a>

        <h1>Settings: Profile</h1>
        <hr>
        <div class="left">
            <form action="" method="" class="profl">
               <table summary="Personal Information" class="tblStyle">
                <tbody>
                    <tr>
                        <td width="185">Name:</td>
                        <td width="483">{{ user.name }}</td>
                    </tr>
                    <tr>
                      <td>Title</td>
                      <td> {% if user.title %}{{ user.title }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Organization</td>
                      <td> {% if user.organization %}{{ user.organization }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Industry</td>
                      <td> {% if user.industry %}{{ user.industry }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>About</td>
                      <td> {% if user.aboutMe %}{{ user.aboutMe }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Affiliation</td>
                      <td> {% if user.affiliation %}{{ user.affiliation }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Event Role</td>
                      <td>{% if user.eventRole %}{{ user.eventRole }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>LinkedIn</td>
                      <td> {% if user.linkedIn %}{{ user.linkedIn }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Twitter</td>
                      <td> {% if user.twitterUsername %}{{ user.twitterUsername }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Website</td>
                      <td> {% if user.website %}{{ user.website }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Professional Email</td>
                      <td> {% if user.professionalEmail %}{{ user.professionalEmail }}{% endif %} </td>
                    </tr>
                    <tr>
                      <td>Mailing Address</td>
                      <td> {% if user.mailingAddress %}{{ user.mailingAddress }}{% endif %} </td>
                    </tr>
                    <tr class="last">
                     <td>Email address:</td>
                     <td>{{ user.email }}</td>
                    </tr>
                </tbody>
               </table>
           </form>
        </div>

        <div class="right ctr">
           <img src="" alt=""><br>
           <a href="#" class="btn smtxt">Manage photos ›</a>
        </div>

        <div class="clr spcr-b"></div>

        <form action="#" method="POST" class="fos_user_change_password form form-horizontal">
            <fieldset class="label-full account-settings-section" id="account-settings-newsletter">
                <h1>Notifications</h1>

                <input id="subscription_settings_subscribedAlienwareEvents" name="subscription_settings[subscribedAlienwareEvents]" value="1" checked="checked" class="left" style="margin-top: 5px;" type="checkbox"><label for="subscription_settings_subscribedAlienwareEvents" class="left nrml">&nbsp;Subscribe to the Campsite eNewsletter.</label>

                <div class="clr spcr-b"></div>

                <input value="Submit" class="left" type="button">
                <a href="#" class="profile-cancelBtn left spcr-l3">Cancel</a>
            </fieldset>
        </form>

    </div> <!-- end col1 -->
	
  <br class="clr">
{% endblock %}
