{% extends 'SpoutletBundle::layout.html.twig' %}
{% block title %}{% if ownProfile %}My{% else %}{{ user.username }}'s{% endif %} Profile{% endblock %}
{% block content %}
  <div id="user-username" class="spcr-b2">Hello, {{ user.username }}</div>	
		<div class="col3">
			<ul>
				<li><a href="{{ path('profile', {'username': app.user.username}) }}">Settings</a></li>
				<li><a href="{{ path('groups') }}">Groups</a></li>
				<li><a href="{{ path('global_events_index') }}">Events</a></li>
			</ul>
		</div>

    <div class="col1 bdrLft"> 
			{% if ownProfile %}
                    <a href="{{ path('profile_edit', {'username': user.username}) }}" class="btnLg right">Edit Profile</a>
      {% endif %}			
			<h1>Settings: Profile</h1>			
			<hr>			
			<div class="left">
				<form action="" method="" class="profl">
				   <table summary="Personal Information" class="tblStyle">
				      <tbody><tr>
				         <td width="185">Name:</td>
				         <td width="483">{{ user.name }}</td>
				      </tr>				      
				      {% if user.title %}
                <tr>
                  <td>Title</td>
                  <td> {{ user.title }} </td>
                </tr>
              {% endif %}
              {% if user.organization %}
              <tr>
                  <td>Organization</td>
                  <td> {{ user.organization }} </td>
              </tr>
              {% endif %}
              {% if user.industry %}
                  <tr>
                      <td>Industry</td>
                      <td> {{ user.industry }} </td>
                  </tr>
              {% endif %}
              {% if user.aboutMe %}
                  <tr>
                      <td>About</td>
                      <td> {{ user.aboutMe }} </td>
                  </tr>
              {% endif %}
              {% if user.affiliation %}
              <tr>
                  <td>Affiliation</td>
                  <td> {{ user.affiliation }} </td>
              </tr>
              {% endif %}
              {% if user.eventRole %}
                  <tr>
                      <td>Event Role</td>
                      <td> {{ user.eventRole }} </td>
                  </tr>
              {% endif %}
              {% if user.linkedIn %}
                  <tr>
                      <td>LinkedIn</td>
                      <td> {{ user.linkedIn }} </td>
                  </tr>
              {% endif %}
              {% if user.twitterUsername %}
                  <tr>
                      <td>Twitter</td>
                      <td> {{ user.twitterUsername }} </td>
                  </tr>
              {% endif %}
              {% if user.website %}
                  <tr>
                      <td>Website</td>
                      <td> {{ user.website }} </td>
                  </tr>
              {% endif %}
              {% if user.professionalEmail %}
                <tr>
                  <td>Professional Email</td>
                  <td> {{ user.professionalEmail }} </td>
                </tr>
              {% endif %}
              {% if user.mailingAddress %}
                  <tr>
                      <td>Mailing Address</td>
                      <td> {{ user.mailingAddress }} </td>
                  </tr>
              {% endif %}
                            
				      <tr class="last">
				         <td>Email address:</td>
				         <td>{{ user.email }}</td>
				      </tr>
				   </tbody></table>			   
			   </form>
			</div>
		
			<div class="right ctr">
			   <img src="" alt=""><br>
			   <a href="#" class="btn smtxt">Manage photos ›</a>
			</div>
			
			<div class="clr spcr-b"></div>
			
			<form action="#" method="POST" class="fos_user_change_password form form-horizontal">
				<fieldset class="label-full account-settings-section" id="account-settings-newsletter">
					<h1>Notifications</h1>
					
					<input id="subscription_settings_subscribedAlienwareEvents" name="subscription_settings[subscribedAlienwareEvents]" value="1" checked="checked" class="left" style="margin-top: 5px;" type="checkbox"><label for="subscription_settings_subscribedAlienwareEvents" class="left nrml">&nbsp;Subscribe to the Campsite eNewsletter.</label>

					<div class="clr spcr-b"></div>
					
					<input value="Submit" class="left" type="button">
					<a href="#" class="btnBdr left spcr-l3">Cancel</a>
				</fieldset>
			</form>

		</div> <!-- end col1 -->
	
  <br class="clr">
{% endblock %}