{% extends 'UserBundle::accountLayout.html.twig' %}

{% block profile_content %}

    {% if ownProfile or isAdmin %}
        <a href="{{ path('profile_edit', {'userId': user.id}) }}" class="btnLg right">Edit Profile</a>
    {% endif %}

    <h1>{{ user.name }}</h1>
    <hr>
    <div class="left">
       <table summary="Personal Information" class="tblStyle">
        <tbody>
            {% if user.title %}
                <tr>
                  <td width="185">Title</td>
                  <td width="483"> {{ user.title }} </td>
                </tr>
            {% endif %}
            {% if user.organization %}
                <tr>
                  <td>Organization</td>
                  <td> {{ user.organization }}</td>
                </tr>
            {% endif %}
            {% if user.industry %}
                <tr>
                  <td>Industry</td>
                  <td> {{ user.industry }}</td>
                </tr>
            {% endif %}
            {% if user.aboutMe %}
                <tr>
                  <td>About</td>
                  <td> {{ user.aboutMe }}</td>
                </tr>
            {% endif %}
            {% if user.affiliation %}
                <tr>
                  <td>Affiliation</td>
                  <td> {{ user.affiliation }}</td>
                </tr>
            {% endif %}
            {% if user.eventRole %}
                <tr>
                  <td>Event Role</td>
                  <td>{{ user.eventRole }}</td>
                </tr>
            {% endif %}
            {% if user.linkedIn %}
                <tr>
                  <td>LinkedIn</td>
                  <td>{{ user.linkedIn }}</td>
                </tr>
            {% endif %}
            {% if user.twitterUsername %}
                <tr>
                  <td>Twitter</td>
                  <td> {{ user.twitterUsername }}</td>
                </tr>
            {% endif %}
            {% if user.website %}
                <tr>
                  <td>Website</td>
                  <td> {{ user.website }} </td>
                </tr>
            {% endif %}
            {% if ownProfile or isAdmin %}
                <tr>
                    <td>Email address:</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% if user.professionalEmail %}
                    <tr>
                      <td>Professional Email</td>
                      <td> {{ user.professionalEmail }} </td>
                    </tr>
                {% endif %}
                {% if user.mailingAddress %}
                    <tr>
                      <td>Mailing Address</td>
                      <td> {{ user.mailingAddress }} </td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
       </table>
    </div>
    <div class="clr spcr-b"></div>
{% endblock %}
