{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}
    <h1 class="idea-name">{{ eventSession.name }}</h1>

    <div class="socialWrapper">
        <div class="fb-like left" data-href="{{ path('event_session', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id}) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button left spcr-l3 spcr-t8" data-hashtags="{{ group.hashtag }},{{ event.hashtag }}">Tweet</a>
        <div class="clr"></div>
    </div>

    {#{% if eventSession.tags|length > 0 %}#}
        {#<div class="left kWords spcr-b2">#}
            {#<ul>#}
                {#<li>Tags</li>#}
                {#{% for tag in eventSession.tags %}#}
                    {#<li><a href="#">{{ tag.tagName }}</a></li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</div>#}
        {#<div class="clr"></div>#}
    {#{% endif %}#}

    <hr class="small-margin"/>
    {% if eventSession.speaker %}
        Speaker: <a href="{{ path('profile', {'userId': eventSession.speaker.id}) }}" class="blu">{{ eventSession.speaker.name }}</a><br/>
    {% endif %}
    {% if eventSession.room %}
        Room: {{ eventSession.room }}<br/>
    {% endif %}
    {{ eventSession.dateString }}<br/>
    {{ eventSession.timeRangeString }}<br/>
    {% if eventSession.slidesLink %}
        <a href="{{ eventSession.slidesLink }}" class="blue" target="_blank">Slides Available Here</a><br/>
    {% endif %}
    <hr class="small-margin"/>

    {{ eventSession.description | raw }}

{% endblock %}

