{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}
    <h2 class="event-name left">Session List</h2>
    {% if isAdmin %}<a href="{{ path('event_session_create', event.linkableRouteParameters) }}" class="btnLg right spcr-b3">Create Session</a>{% endif %}
    <div class="clr"></div>

    {% set eventSessions = event.sessionsByDate %}
    {% if eventSessions|length > 0 %}

        <table class="sessions">
            {% for date,sessions in eventSessions %}
                <tr class="date">
                    <td colspan="2">
                        {{ date }}
                    </td>
                </tr>
                {% set i=0 %}
                {% for eventSession in sessions %}
                    {% set i=i+1 %}
                    <tr{% if i%2 %} class="fill"{% endif %}>
                        <td>
                            {{ eventSession.timeRangeString }}
                        </td>
                        <td>
                            <a href="{{ eventSession | pd_link }}" class="blue">{{ eventSession.name }}</a><br/>
                            {{ eventSession.description | truncate(300) | striptags }}
                            {#{% if eventSession.tags|length > 0 %}#}
                                {#<div class="kWords">#}
                                    {#<ul>#}
                                        {#<li>Tags</li>#}
                                        {#{% for tag in eventSession.tags %}#}
                                            {#<li><a href="#">{{ tag.tagName }}</a></li>#}
                                        {#{% endfor %}#}
                                    {#</ul>#}
                                {#</div>#}
                            {#{% endif %}#}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <h3>There are no sessions yet.</h3>
    {% endif %}

{% endblock %}

