{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}

    <h1 class="idea-name left">{{ eventSession.name }}</h1>

    <div class="right">
        <div class="fb-like left" data-href="{{ path('event_session', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id}) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button left spcr-l3 spcr-t8" data-hashtags="{{ group.hashtag }},{{ event.hashtag }}">Tweet</a>
        <div class="clr"></div>
    </div>
    <hr class="smallmargin clr"/>

    <div>
        <div class="col_third">

            {% for speaker in eventSession.speakers %}
                <a href="{{ path('profile', {'userId': speaker.speaker.id}) }}"><h3 class="blu">{{ speaker.speaker.name }}</h3></a>
                <em>{{ speaker.role }}</em><br/>
                {{ speaker.biography }}<br/>
                {% if canEdit %}
                    <a href="{{ path('event_session_add_speaker', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id, 'userId': speaker.speaker.id} ) }}" class="blu">Edit</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{{ path('event_session_remove_speaker', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id, 'userId': speaker.speaker.id} ) }}" class="blu" onclick="return confirm('Are you sure you want to remove this speaker?');">Remove</a>
                {% endif %}
                <hr class="small-margin"/>
            {% endfor %}

            {% if canEdit %}
                <a href="{{ path('event_session_add_speaker', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id} ) }}" class="blu">+ Add a Speaker</a>
                <hr/>
            {% endif %}


            {% if eventSession.room %}
                <strong>Room: {{ eventSession.room }}</strong><br/>
            {% endif %}
            {{ eventSession.dateString }}<br/>
            {{ eventSession.timeRangeString }}<br/>

        </div>

        <div class="col_two_thirds borderLft" style="padding-left: 5px;">
            <strong>Description: </strong>{{ eventSession.description | raw }}
        </div>

    </div>

    <div class="spcr-t borderTop ctr">
        <div class="spcr-t">
            {% if eventSession.slidesLink|default %}
                <a href="{{ eventSession.slidesLink }}" class="btn" target="_blank">View Slides</a>
            {% endif %}
            {% if eventSession.publicNotesLink|default %}
                <a href="{{ eventSession.publicNotesLink }}" class="btn spcr-l" target="_blank">Public Notes</a>
            {% endif %}
            <a href="http://onenote.heroku.com/takenotes?title={{ eventSession.name }}&url={{ eventSession | pd_link | absolute_url }}&snippet={{ eventSession.description }}&section={{ eventSession.event.name }}" class="spcr-l" target="_blank"><img src="{{ asset('/bundles/spoutlet/images/takenote_button.png') }}"/></a>
        </div>
    </div>


{% endblock %}

