{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}
    <h1>{{ idea.name }}</h1>

    <div class="voteBx">
        <p><strong class="lrgtxt">{{ idea.numFollowers }}</strong><br>
            <span class="tnytxt gry">followers</span></p>
        <form action = "{{ path('idea_follow', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="POST">
              <input type="hidden" name="id" value="{{idea.id}}">
              <input type="hidden" name="source" value="detail">
              <input type="hidden" name="tag">
              <input type="submit" {% if app.user %}{% if not idea.isUserFollowing(app.user.username) %}class="btnTny" value="Follow"{% else %}class="btnTnyInv" value="Unfollow"{% endif %}{% else %}class="btnTny" value="Follow"{% endif %}>
        </form>
    </div>
    <div class="session">

        <div class="left kWords">
            <ul>
                <li>Tags</li>
                {% for tag in idea.tags %}
                    <li><a href="{{ path('idea_show_all', {'groupSlug': group.slug, 'eventSlug': event.slug, 'tag': tag.tagName}) }}">{{ tag.tagName }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <p class="right tnytxt">Proposed by: <a href="{{ path('profile', {'username': idea.creator.username}) }}">{{idea.creator.name}}</a>{% if idea.members %}, {{idea.members}}{% endif %}</p>

        <br class="clr">

        <div class="left">
            {% if idea.canUserView(app.user) %}{{ idea.description | nl2br }}
            {% else %}[This idea is private]
            {% endif %}
        </div>

        {% if canEdit %}
            <a href = "{{ path('idea_edit_form', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': idea.id}) }}" class="right">Edit</a>
        {% endif %}
        <br class="clr"><br>

        {% if idea.stage %}<hr/><strong>Idea Stage:</strong> {{ idea.stage }}<hr/>{% endif %}
        {% if idea.forCourse %}<strong>Course Professor(s):</strong> {{ idea.professors }}<hr/>{% endif %}
        {% if idea.amount %}<strong>Amount needed to start up venture:</strong> {{ idea.amount }}<hr/>{% endif %}

        <div style="padding-bottom: 15px">
            {% if (idea.getImage()) and (idea.canUserView(app.user)) %}
                <img src="{{ asset(idea.image.getWebPath()) }}" style="max-width:100%">

                {% if canEdit %}
                    <form action="{{ path('idea_image_delete', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post">
                        <input type="hidden" name="idea" value="{{ idea.id }}">
                        <input type="submit" value="Delete" class="btnTnyInv">
                    </form>
                {% endif %}

            {% elseif canEdit %}
                <a href="{{ path('idea_upload_form', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': idea.id}) }}">Add Image</a>
            {% endif %}
        </div>
        <div id="links" style="padding-bottom: 15px;float: left">
            {% if ((idea.links|length > 0) and (idea.canUserView(app.user)))%}
                <label class="midtxt" style="margin-top:20px">Additional Resources</label>
                {% for link in idea.links %}
                    <hr>
                    {% if canEdit %}
                        <form action="{{ path('idea_link_delete', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" class="left padrt">
                            <input type="hidden" name="idea" value="{{ idea.id }}">
                            <input type="hidden" name="link" value="{{ link.id }}">
                            <input type="submit" value="Remove" class="btnTnyInv">
                        </form>
                    {% endif %}
                    <a href="{{ link.url }}">{{ link.title }}</a> - {{ link.linkDescription }}<br>
                {% endfor %}
                <hr>
            {% endif %}

            {% if canEdit %}
                <a href = "{{ path('idea_add_link_form', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': idea.id}) }}" style="clear: both">Add Link</a>
            {% endif %}
        </div>
    </div>
    <br class="clr">

    {% if idea.canUserView(app.user) %}
        <div class="spcr-l2">

            <label class="midtxt">{{idea.comments.count}} Comments</label>
            {% for comment in idea.comments %}
                <hr>
                <a href="{{ path('profile', {'username': comment.user.username}) }}">{{ comment.user.name }}</a> commented on <em>{{ comment.timestamp }}</em>
                {% if canEdit %}
                    <form action="{{ path('idea_comment_delete', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" class="left padrt">
                        <input type="hidden" name="idea" value="{{ idea.id }}">
                        <input type="hidden" name="comment" value="{{ comment.id }}">
                        <input type="submit" value="Remove" class="btnTnyInv">
                    </form>
                {% endif %}
                <br>
                {{ comment.text }}
            {% endfor %}
            <hr>
        </div>

        {% if app.user %}

        <form action="{{ path('idea_comment', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" class="spcr-b2 right">
            <input type="hidden" name="idea" value="{{idea.id}}">
            <textarea name="comment" rows="6" tabindex="3" placeholder="Add a comment" class="comments"></textarea>
            <input type="submit" class="right" value="Post Comment">
            <br class="clr">
        </form>

        {% else %}
            <div class="spcr-l2">
                You must <a href="{{ path('login') }}">login</a> to join the discussion.<br/>
            </div>
        {% endif %}

        <br class="clr">
    {% endif %}

    <table class="paddedTable">
    <td>
        <form action = {{ path('group_event_view', {'groupSlug': group.slug, 'eventSlug': event.slug}) }} method="get">
            <input type="submit" value="Home">
        </form>
    </td>
    <td>
        <form action="{{ path('idea_show_all', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="get">
            <input type="submit" value="View Ideas">
        </form>
    </td>
    </table>


{% endblock %}

{% block sidebar %}
    {% if isVoting %}
    <h2>Judges' Sidebar</h2>
    <br>

    <table class="prevNext">
    <td>
        {% if previous is defined %}
        <form action="{{ path('idea_show', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': previous}) }}">
            <input type="submit" value="Previous">
        </form>
        {% endif %}
    </td>
    <td>
        {% if next is defined %}
        <form action="{{ path('idea_show', {'groupSlug': group.slug, 'eventSlug': event.slug, 'id': next}) }}">
            <input type="submit" value="Next">
        </form>
        {% endif %}
    </td>
    </table>
    <br>

    <form action="{{ path('idea_vote', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post">
        <input type="hidden" name="id" value='{{idea.id}}'>

        <table class = "paddedTable">
        {% for criteria in criteriaList %}
            <td><select name="{{criteria.id}}">
                {% for j in 0..5 %}
                    <option value={{ j }} {% if (values is defined) and (values[criteria.id] == j) %}selected{%endif%}>{{ j }}</option>
                {% endfor %}
                </select>
            </td>
            <td colspan="2"> {{criteria.description}}</td>
            </tr>
        {% endfor %}
        </table>

        <input type="submit" value="Submit Scores">
    </form>

    {% else %}
        {% include 'IdeaBundle::sidebar.html.twig' %}
    {% endif %}
{% endblock %}
