{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ idea.name }}</h1>

    <div class="voteBx">
        <p><strong class="lrgtxt">{{ idea.numFollowers }}</strong><br>
            <span class="tnytxt gry">vote{% if idea.numFollowers != 1 %}s{% endif %}</span></p>
        <form action = "{{ path('idea_follow', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="POST">
              <input type="hidden" name="id" value="{{idea.id}}">
              <input type="hidden" name="source" value="detail">
              <input type="hidden" name="tag">
              <input type="submit" {% if app.user %}{% if not idea.isUserFollowing(app.user.username) %}class="btnTny" value="Vote"{% else %}class="btnTny redButton" value="Remove Vote"{% endif %}{% else %}class="btnTny" value="Vote"{% endif %}>
        </form>
    </div>

    {% if sidebar %}<div class="session">{% else %}<div class="sessionWide">{% endif %}

        <div class="left kWords">
            <ul>
                <li>Tags</li>
                {% for tag in idea.tags %}
                    <li><a href="{{ path('entry_set_view', {'entrySetId': entrySet.id, 'tag': tag.tagName}) }}">{{ tag.tagName }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <p class="right tnytxt">Proposed by: <a href="{{ path('profile', {'userId': idea.creator.id}) }}">{{idea.creator.name}}</a>{% if idea.members %}, {{idea.members}}{% endif %}</p>

        <br class="clr">

        <div class="left">
            {% if idea.canUserView(app.user) %}{{ idea.description | nl2br }}
            {% else %}[This {{ entrySet.type }} is private]
            {% endif %}
        </div>
        <br class="clr"><br>

        {% if idea.stage %}<hr/><strong>Idea Stage:</strong> {{ idea.stage }}<hr/>{% endif %}
        {% if idea.forCourse %}<strong>Course Professor(s):</strong> {{ idea.professors }}<hr/>{% endif %}
        {% if idea.amount %}<strong>Amount needed to start up venture:</strong> {{ idea.amount }}<hr/>{% endif %}

        <div style="padding-bottom: 15px">
            {% if (idea.getImage()) and (idea.canUserView(app.user)) %}
                <img src="{{ asset(idea.image.getWebPath()) }}" style="max-width:100%">

                {% if canEdit %}
                    <form action="{{ path('idea_image_delete', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post">
                        <input type="hidden" name="idea" value="{{ idea.id }}">
                        <input type="submit" value="Delete Image" class="redButton" onclick="return confirm('Are you sure you want to delete this image?');">
                    </form>
                {% endif %}

            {% elseif canEdit %}
                <a href="{{ path('idea_upload_form', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}">Add Image</a>
            {% endif %}
        </div>
        <div id="links" style="padding-bottom: 15px;">
            {% if ((idea.links|length > 0) and (idea.canUserView(app.user)))%}
                <label class="midtxt" style="margin-top:20px">Additional Resources</label>
                {% for link in idea.links %}
                    <hr>
                    {% if canEdit %}
                        <form action="{{ path('idea_link_delete', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" class="left padrt">
                            <input type="hidden" name="idea" value="{{ idea.id }}">
                            <input type="hidden" name="link" value="{{ link.id }}">
                            <input type="submit" value="Remove" class="redButton" onclick="return confirm('Are you sure you want to delete this link?');">
                        </form>
                    {% endif %}
                    <a href="{{ link.url }}">{{ link.title }}</a> - {{ link.linkDescription }}<br>
                {% endfor %}
                <hr>
            {% endif %}

            {% if canEdit %}
                <a href = "{{ path('idea_add_link_form', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" style="clear: both">Add Link</a>
            {% endif %}
        </div>
    </div>
    <br class="clr">

    {% if idea.canUserView(app.user) %}
        <div class="spcr-l2">

            <label class="midtxt">{{idea.comments.count}} Comments</label>
            {% for comment in idea.comments %}
                <hr>
                <a href="{{ path('profile', {'userId': comment.user.id}) }}">{{ comment.user.name }}</a> commented on <em>{{ comment.timestamp }}</em>
                {% if canRemoveComments %}
                    <form action="{{ path('idea_comment_delete', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" class="left padrt">
                        <input type="hidden" name="idea" value="{{ idea.id }}">
                        <input type="hidden" name="comment" value="{{ comment.id }}">
                        <input type="submit" value="Remove" class="redButton" onclick="return confirm('Are you sure you want to delete this comment?');">
                    </form>
                {% endif %}
                <br>
                {{ comment.text }}
            {% endfor %}
            <hr>
        </div>

        {% if app.user %}

        <form action="{{ path('idea_comment', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" class="spcr-b2 right">
            <input type="hidden" name="idea" value="{{idea.id}}">
            <textarea name="comment" rows="6" tabindex="3" placeholder="Add a comment" class="comments"></textarea>
            <input type="submit" class="right" value="Post Comment">
            <br class="clr">
        </form>

        {% else %}
            <div class="spcr-l2">
                You must <a href="{{ path('login') }}">login</a> to join the discussion.<br/>
            </div>
        {% endif %}

        <br class="clr">
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% if sidebarState == constant('\\Platformd\\IdeaBundle\\Controller\\IdeaController::SIDEBAR_NONE') %}
        {% include 'IdeaBundle::sidebar.html.twig' %}
    {% else %}


    <br>
        {% if sidebarState == constant('\\Platformd\\IdeaBundle\\Controller\\IdeaController::SIDEBAR_JUDGE') %}
            <h2>Judges' Sidebar</h2>

		<form action="{{ path('idea_vote', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post">
		    <input type="hidden" name="id" value='{{idea.id}}'>

		    <table class = "paddedTable">
		    {% for criteria in criteriaList %}
		        <td><select name="{{criteria.id}}">
		            {% for j in 0..5 %}
		                <option value={{ j }} {% if (values is defined) and (values[criteria.id] == j) %}selected{%endif%}>{{ j }}</option>
		            {% endfor %}
		            </select>
		        </td>
		        <td colspan="2"> {{criteria.description}}</td>
		        </tr>
		    {% endfor %}
		    </table>

		    <input type="submit" value="Submit Scores">
		</form>

		{% elseif sidebarState == constant('\\Platformd\\IdeaBundle\\Controller\\IdeaController::SIDEBAR_ADMIN') %}
		    <h2>Admins' Sidebar</h2>

            {% if entrySet.allowedVoters | length > 0 %}
                <form action="{{ path('idea_admin_assign', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}

                   <button type="submit" name="submit" formnovalidate>Submit</button>
                </form>
            {% else %}
                You must <a href="{{ path('entry_set_edit', {'entrySetId': entrySet.id}) }}">add some judges</a> in order to assign any.
            {% endif %}
		{% endif %}

        <hr/>
		<table class="prevNext">
		<td>
		    {% if previous is defined %}
		    <form action="{{ path('idea_show', {'entrySetId': entrySet.id, 'entryId': previous}) }}">
		        <input type="submit" value="Previous">
		    </form>
		    {% endif %}
		</td>
		<td>
		    {% if next is defined %}
		    <form action="{{ path('idea_show', {'entrySetId': entrySet.id, 'entryId': next}) }}">
		        <input type="submit" value="Next">
		    </form>
		    {% endif %}
		</td>
		</table>

    {% endif %}

{% endblock %}
