{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <div class="col_third">
        <img class="sponsorLogoFill" src="{{ media_path(sponsor.image) }}"/>
        <h2>{{ sponsor.name }}</h2>
        <a href="{{ sponsor.url }}" class="blu">{{ sponsor.url }}</a><br/>
        {% if sponsor.creator == app.user or is_granted('ROLE_ADMIN') %}
        <div class="spcr-t">
            <a href="{{ path('sponsor_form', {'id': sponsor.id}) }}" class="btn">Edit</a>
            <a href="{{ path('sponsor_delete', {'id': sponsor.id}) }}" class="btn" onclick="return confirm('WARNING: This will delete the sponsor from Campsite permanently. There are {{sponsor.sponsorRegistrations|length}} groups or events associated to this sponsor. Are you sure you wish to delete it?');">Delete</a>
        </div>
        {% endif %}
    </div>

    {% if groups|length > 0 %}
    <div class="col_third ctr">
        <h2>Sponsored Groups</h2>
        {% for level,level_groups in groups %}
            {% for group in level_groups %}
                <a href="{{ path('group_show', {'slug': group.slug}) }}"><h3 class="blu midpad borderBtm">{{ group.name }}</h3></a>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    {% if events|length > 0 %}
    <div class="col_third ctr">
        <h2>Sponsored Events</h2>
        {% for level,level_events in events %}
            {% for event in level_events %}
                <a href="{{ path('group_event_view', {'groupSlug': event.group.slug, 'eventId': event.id}) }}"><h3 class="blu midpad borderBtm">{{ event.name }}</h3></a>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}