{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    {% if returnLink|default %}<a href="{{ returnLink }}" class="btnLg right spcr-l3">Back to {{ scope }}</a>{% endif %}

    {% if attachedSponsors %}

        {% set venue  = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::VENUE') %}
        {% set plat   = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::PLATINUM') %}
        {% set gold   = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::GOLD') %}
        {% set silver = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::SILVER') %}
        {% set bronze = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::BRONZE') %}
        {% set other  = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::OTHER') %}

        <h1 class="left">Remove Current Sponsors</h1>

        <div class="clear"></div>

        <div id="sponsorWrapper">

        {% for sponsor in attachedSponsors %}
        <div class="sponsorBx card">
            {% if sponsor.getLevel(scope, containerId) == venue %}
                {% set sponsorText = '<div class="sponsorLevelText venueText">VENUE</div>' %}
            {% elseif sponsor.getLevel(scope, containerId) == plat %}
                {% set sponsorText = '<div class="sponsorLevelText platText">PLATINUM</div>' %}
            {% elseif sponsor.getLevel(scope, containerId) == gold %}
                {% set sponsorText = '<div class="sponsorLevelText goldText">GOLD</div>' %}
            {% elseif sponsor.getLevel(scope, containerId) == silver %}
                {% set sponsorText = '<div class="sponsorLevelText silverText">SILVER</div>' %}
            {% elseif sponsor.getLevel(scope, containerId) == bronze %}
                {% set sponsorText = '<div class="sponsorLevelText bronzeText">BRONZE</div>' %}
            {% elseif sponsor.getLevel(scope, containerId) == other %}
                {% set sponsorText = '<div class="sponsorLevelText"></div>' %}
            {% endif %}

            <a href="{{ path('sponsor_remove', {'id': sponsor.id, 'scope': scope, 'containerId': containerId}) }}" onclick="return confirm('Are you sure you want to remove this sponsor from your {{ scope }}?');">
                <div class="sponsorImageBox"><img src="{{ media_path(sponsor.image) }}"></div>
                <h3 class="ctr">{{ sponsor.name }}</h3>
                {{ sponsorText |raw }}
                </div>
            </a>

        {% endfor %}

        </div>
        <div class="clr"></div>
        <hr/>

    {% endif %}

    {% if scope %}
        <h1 class="left">Add a New Sponsor to Your {{ scope | capitalize }}</h1>
    {% else %}
        <h1 class="left">All Sponsors</h1>
    {% endif %}
    
    <div class="clear"></div>

    <div id="sponsorWrapper">

        {% for sponsor in sponsors %}
            <div class="sponsorBx card">

                {% if scope %}
                    {% set sponsorLink = path('sponsor_add_form', {'id': sponsor.id, 'scope': scope, 'containerId': containerId}) %}
                {% else %}
                    {% set sponsorLink = path('sponsor_view', {'id': sponsor.id}) %}
                {% endif %}

                <a href="{{ sponsorLink }}">
                    <div class="sponsorImageBox">
                        <img src="{{ media_path(sponsor.image) }}">
                    </div>
                    <h3 class="ctr">{{ sponsor.name }}</h3>
                </a>

                {% if not scope and (sponsor.creator == app.user or is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('sponsor_form', {'id': sponsor.id, 'scope': scope, 'containerId': containerId}) }}" class="btnTny spcr-t8">Edit</a>
                    <a href="{{ path('sponsor_delete', {'id': sponsor.id, 'scope': scope, 'containerId': containerId}) }}" class="btnTny spcr-t8" onclick="return confirm('WARNING: This will delete the sponsor from Campsite permanently. There are {{sponsor.sponsorRegistrations|length}} groups or events associated to this sponsor. Are you sure you wish to delete it?');">Delete</a>
                {% endif %}
            </div>
        {% endfor %}

    </div>
    <div class="clr"></div>

{% endblock %}