{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}My Sponsorships | Campsite{% endblock %}

{% block profile_content %}

    {% if sponsorships | length > 0 %}
        <h2>My Sponsorships</h2>
        <hr class="smallmargin"/>

        {% for dept,dept_sponsorships in sponsorships %}

            <h2>{{ dept }}</h2>

            <table class="myStuffTable">

                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% set i = 0 %}
                    {% for sponsorship in dept_sponsorships %}

                        {% if sponsorship.event|default %}
                            {% set sponsored      = sponsorship.event %}
                            {% set sponsoredScope = 'event' %}
                            {% set sponsoredOwner = sponsored.user %}
                        {% elseif sponsorship.group|default %}
                            {% set sponsored      = sponsorship.group %}
                            {% set sponsoredScope = 'group' %}
                            {% set sponsoredOwner = sponsored.owner %}
                        {% endif %}

                        {% set status = sponsorship.status %}

                        {% if status == 'recommended' %}     {% set sponsorshipStatusLevel = 0 %}
                        {% elseif status == 'watching' %}    {% set sponsorshipStatusLevel = 1 %}
                        {% elseif status == 'considering' %} {% set sponsorshipStatusLevel = 2 %}
                        {% elseif status == 'sponsoring' %}  {% set sponsorshipStatusLevel = 3 %}
                        {% endif %}

                        {% set i = i+1 %}

                        <tr {% if i%2 %}class="fill"{% endif %}>
                            <td>
                                <a href="{{ sponsored | pd_link }}" class="blu">{{ sponsored.name }}</a>
                            </td>
                            <td>
                                {{ sponsorship.status | capitalize }}
                            </td>
                            <td style="width:200px;">
                                {% if sponsorshipStatusLevel < 1 %}
                                    <a href="{{ path('update_sponsorship_status', {'sponsorship_id': sponsorship.id, 'status': 'watching'}) }}" class="blu">Watch</a> | 
                                {% endif %}
                                {% if sponsorshipStatusLevel < 2 %}
                                    <a href="{{ path('update_sponsorship_status', {'sponsorship_id': sponsorship.id, 'status': 'considering'}) }}" class="blu">Consider</a> | 
                                {% endif %}
                                {% if sponsorshipStatusLevel < 3 %}
                                    <a href="{{ path('update_sponsorship_status', {'sponsorship_id': sponsorship.id, 'status': 'sponsoring'}) }}" class="blu">Sponsor</a>
                                {% endif %}
                                {% if sponsorshipStatusLevel == 3 %}
                                    <a href="{{ path('contact_user', {'userId': sponsoredOwner.id, 'type': 'sponsor', 'scope': sponsoredScope, 'containerId': sponsored.id }) }}" class="blu">Contact Organizer</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    {% else %}
        You do not have any sponsorships at the moment.
    {% endif %}

{% endblock %}