{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}My Entries{% endblock %}

{% block profile_content %}

    <h2>My Entries</h2>
    {% if entries | length > 0 %}
        <table class="myStuffTable">
            <tr>
                <td><strong>Entry</strong></td>
                <td><strong>List</strong></td>
            </tr>

            {% set i = 0 %}
            {% for entry in entries %}
                {% set i = i + 1 %}
                {% set parent = parents[entry.name] %}
                {% set entrySet = entry.entrySet %}
                <tr {% if i%2 %}class="fill"{% endif %}>
                    <td>
                        <a href="{{ path('idea_show', {'entrySetId': entrySet.id, 'entryId': entry.id}) }}">{{ entry.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path(entrySet.getLinkableRouteName(), entrySet.getLinkableRouteParameters()) }}">{{ parent.getName }} - {{ entrySet.name }}</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}

{% endblock %}