{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}

    <h2 class="spcr-b">
        <a href="{{ path('profile', {'userId': user.id}) }}" class="blue">{{ user.name }}</a>'s Registration Information for <a href="{{ event | pd_link }}" class="blue">{{ event.name }}</a>
    </h2>
    <hr/>

    {% for question, answer in answers %}
        <h3>{{ question }}</h3>
        {{ answer }}
        <hr/>

    {% endfor %}

{% endblock %}
