{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}Members by Country{% endblock %}

{% block content %}

<h1>Members by Country</h1>

<div class="pull-right">
    {{ form_widget(select) }}
</div>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Country</th>
            <th>Count</th>
            <th>Arena Opted In</th>
            <th>%</th>
            <th>Dell Opted in</th>
            <th>%</th>
            <th>New Users ({{ range }})</th>
        </tr>
    </thead>
    <tbody>
        {% for siteKey, siteData in sitesData %}
        <tr>
            <td>{{ siteKey | site_name }}</td>
            <td>{{ siteData.count }}</td>
            <td>{{ siteData.arenaOptIn }}</td>
            <td>{{ siteData.arenaOptInPercentage }}%</td>
            <td>{{ siteData.dellOptIn }}</td>
            <td>{{ siteData.dellOptInPercentage }}%</td>
            <td>{{ siteData.newUsers }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    jQuery(document).ready(function() {
        jQuery('#results_range').change(function() {
            window.location = '{{ path('user_metric_by_country') }}?results_range='+$(this).val();
        });
    });
</script>

{% endblock %}
