{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'games_and_trailers' | trans %}

{% block content %}

    {% if firstGame %}
        <div id="theater_screen" class="align_center" style="width:950px; height:393px;"></div>
    {% endif %}


    <div class="games-list-page">
        <div class="left">
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">{{ 'games_trailers.channel_header' | trans }}</div>
                </div>

                <div class="widget-content">
                    <p>{{ 'games_trailers.intro_text' | trans }}</p>

                    {% for category,gamePages in categorizedGames %}
                    <div class="movie-section">
                        <div class="movie-section-title">
                            {{ ('games_trailers.categories.'~category) | trans }}
                        </div>

                        {% for gamePage in gamePages %}
                            {% set url = gamePage | pd_link %}
                            <div class="movie">
                                <div class="movie-thumb">
                                    <a href="{{ url }}"{{ target_blank(gamePage) }}>
                                        {% if gamePage.game.logoThumbnail %}
                                        <img src="{{ media_path(gamePage.game.logoThumbnail, {'local': true}) | imagine_filter('game_list_logo') }}" alt="{{ gamePage.game.name }}" />
                                        {% else %}
                                        <img src="{{ 'bundles/spoutlet/images/alienwarelogothumb.png' | imagine_filter('game_list_logo') }}" alt="{{ gamePage.game.name }}" />
                                        {% endif %}
                                    </a>
                                </div>

                                <p class="movie-title">
                                    <a href="{{ url }}">{{ gamePage.game.name }}</a>
                                </p>

                                {% if gamePage.game.subcategories is not empty %}
                                    <p class="movie-views">
                                    {% for subcategory in gamePage.game.subcategories %}
                                        {{ (constant('Platformd\\SpoutletBundle\\Entity\\Game::GAME_SUBCATEGORY_LABEL_PREFIX')~subcategory) | trans -}}
                                        {{- loop.last ? '' : ', ' }}
                                    {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="clear"></div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

        <div class="right">
            <div class="game-feed widget-33">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ 'past_partnerships' | trans }}
                    </div>
                    <div class="widget-icon"><img src="{{ asset('bundles/spoutlet/images/photo-icon.png') }}" /></div>
                    <div class="clear"></div>
                </div>

                <div class="widget-content normalized">

                    <ul class="games">
                        {% for archive in archives %}
                            <li>
                                <a href="{{ archive | pd_link }}"{{ target_blank(archive) }}>{{ archive.game.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# temporarily disabled because the auto-play is annoying #}
    {% if firstGame %}
        <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/swfobject.js') }}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var par = {};
                par.flashvars = "startMovie={{ firstGame.youtubeIdTrailer1 }}";
                par.flashvars += "&startCue=none";
                par.flashvars += "&startParameterMovie="; // + getMovieFromURL();
                par.flashvars += "&videoTitle=";
                par.flashvars += "&displayWelcome=no";
                par.flashvars += "&displayAlert=no";
                par.flashvars += "&alertText=";
                par.allowScriptAccess = "always";
                par.wmode = "transparent";
                var att = { data:"{{ asset('bundles/spoutlet/swf/games_trailers_player.swf') }}", width:"950", height:"393", id:"theater_screen", name:"theater_screen"};
                var id = "theater_screen";
                myytplayer = swfobject.createSWF(att, par, id);

                var obj = swfobject.getObjectById('theater_screen');
            });
        </script>
    {% endif %}
{% endblock %}