{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title gamePage.game.name ~ ('games_and_trailers' | trans) %}

{% macro _renderButtonImage(buttonImageMedia, buttonImageUrl) %}
    <a href="{{ buttonImageUrl }}" target="_blank" class="game-button">
        <img src="{{ media_path(buttonImageMedia) }}" {# todo - have some text we can use as an alt #} />
    </a>
{% endmacro %}

{# either set the custom background image, or leave it to false #}
{% if gamePage.backgroundImage %}
    {% set customPageBackgroundImage = media_path(gamePage.backgroundImage) %}
{% else %}
    {% set customPageBackgroundImage = false %}
{% endif %}

{% block page_background_image customPageBackgroundImage %}

{% block content %}

    <div class="game-show-page">

        <div class="std_2col">
            <div class="right">
                <div class="split-ad">
                    <a href="#" onclick="alert('Left side!'); return false;" class="split-left"></a>
                    <a href="#" onclick="alert('Right side!'); return false;" class="split-right"></a>
                    <img src="http://placehold.it/298x150/000000/ffffff&text=Two+half+will+go+here+300x150" alt="ads" />
                </div>

                <div class="game-feed">
                    <h4>{{ 'game_feed' | trans }}</h4>
                    <ul>
                        <li><a href="#">item 1</a></li>
                        <li><a href="#">item 2</a></li>
                        <li><a href="#">item 3</a></li>
                    </ul>
                </div>

                {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
            </div>

            <div class="left">
                <h1>{{ gamePage.game.name }}</h1>

                {% if gamePage.logo %}
                    <div class="logo">
                        <img src="{{ media_path(gamePage.logo, {'local': true}) | imagine_filter('game_show_logo') }}" alt="{{ gamePage.game.name }}" />
                    </div>
                {% endif %}

                {% if gamePage.hasButtons %}
                    <div class="game-buttons">
                        {% if gamePage.buttonImage1 %}
                            {{ _self._renderButtonImage(gamePage.buttonImage1, gamePage.buttonUrl1) }}
                        {% endif %}

                        {% if gamePage.buttonImage2 %}
                            {{ _self._renderButtonImage(gamePage.buttonImage2, gamePage.buttonUrl2) }}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="content">
                    {{ gamePage.aboutGame | raw }}

                    {{ gamePage.keyFeature1 | raw }}
                    {{ gamePage.keyFeature2 | raw }}
                    {{ gamePage.keyFeature3 | raw }}
                </div>

                {% if gamePage.game.publisherLogos %}
                    <div class="publisher-logos">
                        <img src="{{ media_path(gamePage.game.publisherLogos) }}" alt="{{ gamePage.game.name }}" />
                    </div>
                {% endif %}
            </div>
            <div class="clear">&nbsp;</div>
        </div>

        <div class="std_1col">
            <div id="theater_screen" class="align_center" style="width:950px; height:393px;"></div>

            {% if (gamePage.mediaGalleryMedias | length) > 0 %}
            <div class="media-gallery ad-gallery">
                <h3>{{ 'media_gallery' | trans }}</h3>

                {#
                    Left off because we don't need the big image
                    <div class="ad-image-wrapper">
                    </div>

                    # left off because we don't need the controls
                    <div class="ad-controls">
                    </div>
                #}

                <div class="ad-nav{{ ((gamePage.mediaGalleryMedias | length) <= 4) ? ' no-scroll' : '' }}">
                    <div class="ad-thumbs">
                        <ul class="ad-thumb-list">
                            {% for media in gamePage.mediaGalleryMedias %}
                            <li{{ loop.last ? ' class="last"' : '' }}>
                                {% set url = media_path(media) %}
                                <a href="{{ url }}" target="_blank">
                                    <img src="{{ media_path(media, {'local': true}) | imagine_filter('image_thumb') }}" data-url="{{ url }}" />
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="clear">&nbsp;</div>

    </div>

{% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('plugins/jquery.ad-gallery/jquery.ad-gallery.css') }}" />
    {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/swfobject.js') }}"></script>

    <script type="text/javascript">
        var GamePage = {

        };

        GamePage.initializeMediaGallery = function() {
            var galleries = $('.media-gallery').adGallery({
                loader_image: '{{ asset('plugins/jquery.ad-gallery/loader.gif') }}',
                display_next_and_prev: false,
                display_back_and_forward: true,
                slideshow: {
                    enable: false,
                    autostart: false,
                    speed: 5000,
                    stop_on_scroll: false
                },
                effect: 'fade'
            });

            // we actually grab the thumbnails, and remove the adgallery behavior
            // this allows them to be clean, and we can do whatever next
            // this is done because adgallery normally loads the image in the larger view
            // but we don't even have the larger view
            var mediaGalleryAnchors = $('.media-gallery .ad-thumb-list a');
            mediaGalleryAnchors.unbind('click');
        };

        GamePage.initializeMovie = function() {
            var par = {};
            par.flashvars = "startMovie={{ gamePage.youtubeIdTrailer1 }}";
            par.flashvars += "&startCue=none";
            par.flashvars += "&startParameterMovie="; // + getMovieFromURL();
            par.flashvars += "&videoTitle=";
            par.flashvars += "&displayWelcome=no";
            par.flashvars += "&displayAlert=no";
            par.flashvars += "&alertText=";
            par.allowScriptAccess = "always";
            par.wmode = "transparent";
            var att = { data:"{{ asset('bundles/spoutlet/swf/games_trailers_player.swf') }}", width:"950", height:"393", id:"theater_screen", name:"theater_screen"};
            var id = "theater_screen";

            // temporarily disable, because the autostart is annoying
            //var myytplayer = swfobject.createSWF(att, par, id);
        };

        jQuery(document).ready(function() {
            GamePage.initializeMovie();
            GamePage.initializeMediaGallery();
        });
    </script>
{% endblock %}