{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'youtube.videos' | trans %}

{% block content %}

<div id="video-index">
    <div class="std_2col">
        <div class="left">
            <h1 class="content-title">{{ 'youtube.alienware_video_network' | trans }}</h1>
        </div>
        <div class="right">
            <a href="{{ path('youtube_submit') }}" class="btn">{{ 'youtube.submit_video' | trans }}</a>
        </div>
    </div>
    <div class="std_2col">
        <div class="left">
            {% if featuredVideo %}
                {% include 'VideoBundle:Youtube:_player.html.twig' with { 'youtubeId' : featuredVideo.youtubeId } %}
            {% endif %}
            <div class="videos-wrapper">
                <div class="widget-66">
                    <div class="featured-content-header">
                        <a href="javascript:void(0);" class="active" id="videos-category" data-tab="categories">{{ 'youtube.categories' | trans }}</a>
                        <a href="javascript:void(0);" id="videos-popular" data-tab="popular">{{ 'youtube.popular' | trans }}</a>
                        <a href="javascript:void(0);" id="videos-watched" data-tab="currently_watched">{{ 'youtube.recently_watched' | trans }}</a>
                        <div style="clear: left;"></div>
                    </div>
                    <div class="widget-content" id="video-content" style="min-height: 440px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="right">

            {%if featured|length > 0 %}
                <h3 class="featured-videos-header">{{ 'youtube.featured_videos' | trans }}</h3>
                {% for video in featured %}
                    <div class="video-thumb-wrapper {% if loop.index > 1 %}more{% endif %}">
                        <a href="{{ path('youtube_view', {'slug' : video.slug}) }}"><img src="{{ video.thumbnailSq }}" alt="{{ video.title }}" /></a>
                        <span class="video-duration">{{ video.formattedDuration }}</span>
                    </div>
                    <div class="more-videos-link">{{ video | pd_link_full(video.title) }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/video/css/youtube.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/js/video-js-3.2.0/video-js.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.more-videos-link a').truncate({width: 280});

            $('.videos-wrapper').block({
                message: '<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />',
                css: {
                    border: 'none',
                    background: 'transparent'
                }

            });

            $.ajax({
                url: '{{ path('youtube_tabs') }}' + '/categories',
                success: function (html) {
                    $('#video-content').html(html);
                    $('.more-videos-link a').truncate({width: 280});
                    $('.videos-wrapper').unblock();
                },
                error: function () {
                    $('.videos-wrapper').unblock();
                }
            });

            $(".featured-content-header a").click(function() {
                    var tab = $(this).attr("data-tab");
                    $('.videos-wrapper').block({
                        message: '<img src="{{ asset('bundles/spoutlet/images/loading.gif') }}" />',
                        css: {
                            border: 'none',
                            background: 'transparent'
                        }

                    });

                    $(".featured-content-header a.active").removeClass("active");
                    $(this).addClass("active");

                    $.ajax({
                        url: '{{ path('youtube_tabs') }}' + '/' + tab,
                        success: function (html) {
                            $('#video-content').html(html);
                            $('.more-videos-link a').truncate({width: 280});
                            $('.videos-wrapper').unblock();
                        },
                        error: function () {
                            $('.videos-wrapper').unblock();
                        }
                    });
            });
        });
    </script>
{% endblock %}
