{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

<h2 class="content-title">{{ 'youtube.submit_video' | pd_trans }}</h2>

<div class="std_1col">
    <p>{{ 'youtube.form.intro' | pd_trans }}</p>
    <p>{{ 'youtube.form.file_restrictions_title' | pd_trans }}</p>
    <ol>
        <li>{{ 'youtube.form.file_restrictions_1' | pd_trans }}</li>
        <li>{{ 'youtube.form.file_restrictions_2' | pd_trans }}</li>
        <li>{{ 'youtube.form.file_restrictions_3' | pd_trans }}</li>
    </ol>
    <p>{{ 'youtube.form.outtro' | pd_trans | format(path('terms_conditions'), '%s')  | raw }}</p>
</div>
<div class="std_2col">
    <div class="left">
        <div class="youtube-form-wrapper">
            <form action="{{ path('youtube_submit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {% include 'VideoBundle:Youtube:_form.html.twig' %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" formnovalidate>{{ 'submit' | pd_trans }}</button>
                    <button id="cancel" rel="{{ path('accounts_videos') }}" class="btn btn-primary" style="margin-left: 10px;" formnovalidate>{{ 'cancel' | pd_trans }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="right">
        <div class="video-thumb-wrapper" style="margin-top: 30px">
            <img id="youtube-thumb" />
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'VideoBundle::_css_assets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.xdr.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#cancel').delegate('','click change', function(){
                window.location = $(this).attr('rel');
                return false;
            });
        });
    </script>
{% endblock %}
