{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'youtube.videos' | pd_trans ~ ' - ' ~ video.title %}

{% set adminFeatureLinkText = video.featured ? 'youtube.unfeature_video' | pd_trans : 'youtube.feature_video' | pd_trans %}
{% set isAdmin = app.user ? (app.user.getIsOrganizer or app.user.getIsSuperAdmin) : false %}
{% set canEdit = isAdmin or (app.user == video.author) %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ video.title }}" />
    <meta property="og:type" content="video" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    <meta property="og:image" content="{{ video.thumbnailSq }}" />
    <meta property="og:description" content="{{ video.description }}" />
{% endblock %}

{% block content %}

<div class="std_2col">
    <div class="left">
        {% if features.hasSearch %}
            {% render url('search_form', {'category': 'video', 'watermark': 'platformd.search.form.default.all'}) %}
        {% endif %}

        {% include 'VideoBundle:Youtube:_player.html.twig' with { 'youtubeId' : video.youtubeId } %}
        {% if features.hasComments %}
            {% include 'SpoutletBundle:Comments:_commentsLoader.html.twig' with({ 'threadId': video.threadId }) %}
        {% endif %}
    </div>
    <div class="right">
        <div class="video-add">
            <span data-logged-in="true">
                <a href="javascript:void(0);" data-id="{{ video.id }}" class="vote-button" id="video-vote"><span id="video-points">{{ video.votes | length }}</span> {{ 'youtube.points' | trans }}<i></i></a>
            </span>
            <span data-logged-in="false">
                <a href="{{ login_link(app.request.uri) }}" data-id="{{ video.id }}" class="vote-button reg-source"><span id="video-points">{{ video.votes | length }}</span> {{ 'youtube.points' | trans }}<i></i></a>
            </span>
            <a href="{{ path('youtube_submit') }}" class="btn submit-video reg-source">{{ 'youtube.submit_video' | pd_trans }}</a>
        </div>
        <div class="video-social">
            <div class="fb-like"
                data-send="false"
                data-width="300"
                data-layout="button_count"
                data-show-faces="false"
                data-colorscheme="dark"
                style="vertical-align:top;zoom:1;*display:inline">
            </div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out the cool video - {{ video.title }}" data-url="{{ app.request.getUri }}" data-via="Alienware">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="widget-33" style="margin-top: 15px; height: auto;">
            <div class="widget-header" style="height:auto;background-color:#131313;margin:1px">
                <div class="widget-title">
                    {{ video.title }}
                </div>
            </div>
            <div class="widget-content">
                <div class="video-author">
                    <a class="author-avatar" href="{{ account_link(video.author.username) }}">
                        {% if get_avatar_url(video.author) != false %}
                            <img src="{{ asset(get_avatar_url(video.author)) }}" alt="{{ video.author.username }}" />
                        {% else %}
                            <div class="default-avatar avatar84"></div>
                        {% endif %}
                    </a>
                    <a class="author-name" href="{{ account_link(video.author.username) }}">{{ video.author.username }}</a>
                    <div class="video-date">{{ video.createdAt | date('date_format' | pd_trans) }}</div>
                    <div class="video-views">{{ video.views }} {{ 'youtube.views' | pd_trans }}</div>
                </div>
                <div class="video-description">
                    <p>{{ video.description | nl2br }}</p>
                </div>
                {% if video.galleries|length > 0 %}
                    <div class="video-categories">
                        <div class="video-category-heading">{{ 'youtube.categories' | pd_trans }}: </div>
                        <div class="video-category-categories">
                            {% for gallery in video.galleries if site in gallery.sites %}
                                <a href="{{ path('youtube_category', {'slug' : gallery.slug}) }}">{{ gallery.name(site.id) }}</a><br />
                            {% endfor %}
                        </div>
                        <div class="clear" />
                    </div>
                {% endif %}
                <div class="video-options">
                    <a class="video-report-options-link" data-id="{{ video.id }}" href="javascript:void(0);">{{ 'youtube.report' | pd_trans }}</a>
                    <span data-is-admin="true"> | <a href="javascript:void(0);" id="feature-video" data-id="{{ video.id }}" data-featured="{{ video.featured }}">{{ adminFeatureLinkText }}</a></span>
                    <span data-can-admin-video="true"> | <a href="{{ path('youtube_edit', {'slug' : video.slug}) }}">{{ 'edit' | trans }}</a></span>
                    <div class="video-report-options" id="video-report-options-{{ video.id }}">
                        <ul>
                            <li><a href="javascript:void(0);" class="video-report-link" data-id="{{ video.id }}" data-reason="inappropriate_content">{{ 'content_reporting.inappropriate_content' | pd_trans }}</a></li>
                            <li><a href="javascript:void(0);" class="video-report-link" data-id="{{ video.id }}" data-reason="spam">{{ 'content_reporting.spam' | pd_trans }}</a></li>
                            <li><a href="javascript:void(0);" class="video-report-link" data-id="{{ video.id }}" data-reason="violates_intellectual_property">{{ 'content_reporting.violates_intellectual_property' | pd_trans }}</a></li>
                            <li><a href="javascript:void(0);" class="video-report-link" data-id="{{ video.id }}" data-reason="individual_harrassing_me">{{ 'content_reporting.individual_harrassing_me' | pd_trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="more-videos">
            {% if videos|length > 0 %}
                {% if showFeaturedInstead %}
                <h3>{{ 'youtube.featured_videos' | pd_trans }}</h3>
                {% else %}
                <h3>{{ 'youtube.more_videos_by' | pd_trans }} <a href="{{ account_link(video.author.username) }}">{{ video.author.username }}</a></h3>
                {% endif %}
                {% for video in videos %}
                    <div class="video-thumb-wrapper {% if loop.index > 1 %}more{% endif %}">
                        <a href="{{ path('youtube_view', {'slug' : video.slug}) }}"><img src="{{ video.thumbnailSq }}" alt="{{ video.title }}" /></a>
                        <span class="video-duration">{{ video.formattedDuration }}</span>
                    </div>
                    <div class="more-videos-link">{{ video | pd_link_full(video.title) }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% render url('_video_user_info', { 'id': video.id }) with {}, {'standalone': true } %}

<script type="text/javascript">
    $(function () {

        if (user_has_voted_on_video) {
            $('.vote-button').addClass('voted');
            $('.vote-button').attr('title', '{{ 'youtube.already_voted' | trans }}');
        }

        if (user_is_logged_in) {
            $('[data-user-logged-in="true"]').show();
            $('[data-user-logged-in="false"]').hide();
        } else {
            $('[data-user-logged-in="true"]').hide();
            $('[data-user-logged-in="false"]').show();
        }

        if (is_admin) {
            $('[data-is-admin="true"]').show();
            $('[data-is-admin="false"]').hide();
        } else {
            $('[data-is-admin="true"]').hide();
            $('[data-is-admin="false"]').show();
        }

        if (is_admin || user_is_video_owner) {
            $('[data-can-admin-video="true"]').show();
            $('[data-can-admin-video="false"]').hide();
        } else {
            $('[data-can-admin-video="true"]').hide();
            $('[data-can-admin-video="false"]').show();
        }

    });
</script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'VideoBundle::_css_assets.html.twig' %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/js/video-js-3.2.0/video-js.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.reg-source').click(function() {
                addSourceInfo(this, '{{ regSourceData | base64_encode }}');
            });

            var voteRequestSent;

            $(document).mouseup(function () {
                $('.xnotices').fadeOut();
            });

            $('.more-videos-link a').truncate({width: 280});

            $('#feature-video').click(function () {
                var id = $(this).attr('data-id');
                var featured = !$(this).attr('data-featured');
                $.ajax({
                    url: '{{ path('youtube_feature_video') }}',
                    type: 'post',
                    data: JSON.stringify({'id' : id, 'featured' : featured}),
                    contentType: 'json',
                    success: function(data) {
                        if(data.success) {
                            var text = data.featured ? '{{ 'youtube.unfeature_video' | pd_trans }}' : '{{ 'youtube.feature_video' | pd_trans }}';
                            $('#feature-video').attr('data-featured', data.featured ? '1' : '');
                            $('#feature-video').text(text);
                        }
                    }
                });
            });

            $('#video-vote').click(function () {

                if (voteRequestSent) {
                    return false;
                }

                voteRequestSent = true;

                $.ajax({
                    url: '{{ path('youtube_vote')}}',
                    type: 'post',
                    data: JSON.stringify({
                        'id' : $('#video-vote').attr('data-id'),
                        'voteType' : 'up'
                    }),
                    contentType: 'json',
                    success: function(data) {
                        if(data.success) {
                            $('#video-points').text(data.likes);
                            $('#video-vote').addClass('voted');
                        }

                        voteRequestSent = false;
                    }
                });
            });

            $('.video-report-options-link').click(function (event) {
                event.stopPropagation();
                var id = $(this).attr('data-id');
                $('#video-report-options-' + id).toggle('fast');
            });

            $('.video-report-link').click(function (event) {
                if (user_is_logged_in) {
                    var contentId = $(this).attr('data-id');
                    $.ajax({
                        url: '{{ path('content_reporting') }}',
                        type: 'post',
                        data: JSON.stringify({
                            'ContentId' : contentId,
                            'Reason' : $(this).attr('data-reason'),
                            'ContentType' : "YoutubeVideo"
                        }),
                        contentType: 'application/json',
                        success: function(data) {
                            if(data.success) {
                                alert(data.messageForUser);
                            } else {
                                alert(data.messageForUser);
                            }
                            $('.video-report-options').hide();
                        }
                        })
                } else {
                    document.location.href='{{ login_link(app.request.uri) }}';
                }
            });
        });
    </script>
{% endblock %}
