{% extends 'SpoutletBundle::layout.html.twig' %}
{% set canRemove = app.user.adminLevel == "ROLE_SUPER_ADMIN" %}

{% block title 'platformd.events.event_attendees.attendees' | trans ~ ' - ' ~ event.name %}

{% block content %}

    {% if event.bannerImage %}
        <div class="std_1col">

        </div>
    {% endif %}

    <div class="std_1col" style="padding:0;">
        {% if event.bannerImage %}
            <div id="event-banner" style="background:url('{{ media_path_nice(event.bannerImage) }}') top left no-repeat; background-size: 100% 100%; margin: -10px 0 0 0;"></div>
        {% else %}
            <div id="event-banner" style="background:url('{{ asset('bundles/event/images/events_default_banner.jpg') }}') top left no-repeat; background-size: cover;"></div>
        {% endif %}
    </div>

    <div class="std_1col" style="padding: 10px 0;">
        <a href="{{ event | pd_link }}">{{ 'platformd.events.event_attendees.back_to_event' | trans }}</a>
    </div>

    <div class="std_2col">
        <div class="left">
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">{{ 'platformd.events.event_attendees.attendees' | trans }}</div>
                </div>
                <div class="widget-content">
                    <table style="width: 100%;">
                        <thead style="text-align:left;">
                            <tr>
                                {% if canRemove %}<th style="padding:5px 0;">{{ 'platformd.events.event_attendees.action' | trans }}</th>{% endif %}
                                <th style="padding:5px 0;">{{ 'platformd.events.event_attendees.username' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendee in attendees %}
                                <tr>
                                    {% if canRemove %}
                                        <td style="padding:5px 0;">
                                            <a href="{{ path('global_event_remove_attendee', { 'slug': event.slug, 'userId' : attendee.id }) }}" onclick="return confirm('{{ 'platformd.events.event_attendees.remove_confirmation' | trans({'%username%': attendee.username}) }}');">{{ 'platformd.events.event_attendees.remove' | trans }}</a>
                                        </td>
                                    {% endif %}
                                    <td style="padding:5px 0;">
                                        <a href="{{ cevo_account_link(attendee.username) }}">{{ attendee.username }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td{% if canRemove %} colspan="2"{% endif %}>
                                        <em>{{ 'platformd.events.event_attendees.no_attendees' | trans }}</em>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="widget-footer">&nbsp;</div>
            </div>
        </div>
        <div class="right">
            <div>
                {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/event/css/event.css') }}" />
{% endblock %}

