{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<h2>{{ 'platformd.events.event_listings.header' | trans }}</h2>
<div class="std_1col" style="padding:0 0 10px 0">
    <div>
        {% if groupsCount > 0 %}
            <div style="width:100%;">To create an event, <a href="{{ path('accounts_groups', { 'then': "group_event" }) }}">select a group</a>.</div>
        {% else %}
            <a href="{{ path('group_new', { 'then': "group_event" }) }}" class="btn btn-primary" style="float:right;">{{ 'platformd.events.event_listings.create' | trans }}</a>
        {% endif %}
    </div>
</div>
<div class="std_1col">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ "platformd.events.event_listings.current_and_upcoming_events" | trans }}
            </div>
        </div>

        <div class="widget-content">
            {% set no_events_message %}{{ "platformd.events.event_listings.no_current_events" | trans }}{% endset %}
            {% include 'EventBundle:GlobalEvent:_eventList.html.twig' with {
                'events': events,
                'no_events_message': no_events_message
            } %}
        </div>
        <div class="widget-footer">
            &nbsp;
        </div>
    </div>
    <div class="pagerfanta" id="pager-bottom" style="float:right;margin-top:15px;">
        {# Warning: when using pagerfanta, make sure to specify the routeName otherwise pagerfanta will try to guess it #}
        {# which is very resource intensive and can increase page load time by 5 seconds !!! #}
        {{ pagerfanta(pager, 'spoutlet', {
            'previous_message': '',
            'next_message': '',
            'routeName': 'global_events_current'
        }) }}
    </div>
</div>

{% endblock %}
