{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'platformd.layout.main_menu.events' | trans %}

{% block content %}
<h2 style="margin:0 0 10px 0;">{{ 'platformd.events.event_listings.header' | trans }}</h2>
<div class="std_1col" style="padding:0 0 10px 0">
    <div>
        {{ 'platformd.events.event_listings.create_event_message' | trans | replace({'%1': path('accounts_groups'), '%2' : path('group_new', { 'then': "group_event" }) }) | raw  }}
    </div>
</div>

<div class="std_1col">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ 'platformd.events.event_listings.current_events' | trans }}<a style="float:right;font-size: 12px;" href="{{ path('accounts_events') }}">{{ 'platformd.events.event_listings.my_events' | trans }}</a>
            </div>
        </div>
        <div class="widget-content" style="width:950px;">
            {% include 'EventBundle:GlobalEvent:_eventList.html.twig' with {
                'events': upcomingEvents,
                'no_events_message': 'platformd.events.event_listings.no_current_events'
            } %}
        </div>

        <div class="widget-footer">
            <div style="width:100%;position:relative;height:16px;">
                <a id="show-past-events" style="margin-right:10px;position:absolute;right:0px;" href="javascript:void(0);">View Past Events</a>
                <div style="position:absolute;left:0px;"><span class="attending" style="color:#c6c6c6">Means you are registered to attend this event.</span></div>
            </div>
        </div>
    </div>
</div>

<div id="past-events" class="widget-100" style="margin-top:15px;display:none;">
    <div class="widget-header">
        <div class="widget-title">
            {{ 'platformd.events.event_listings.past_events' | trans }}
        </div>
    </div>

    <div class="widget-content">
        {% include 'EventBundle:GlobalEvent:_eventList.html.twig' with {
            'events': pastEvents,
            'no_events_message': 'platformd.events.event_listings.no_past_events'
        } %}
    </div>

    <div class="widget-footer">
        &nbsp;
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/admin/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#show-past-events').click(function () {
                $('#past-events').slideToggle();
            });
            $('table.tablesorter').tablesorter();
        });
    </script>
{% endblock %}
