{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'platformd.layout.main_menu.events' | trans %}

{% block content %}
<h2>{{ 'platformd.events.event_listings.header' | trans }}</h2>
<div class="std_1col" style="padding:0 0 10px 0">
    <div>
        {{ 'platformd.events.event_listings.create_event_message' | trans | replace({'%1': path('accounts_groups'), '%2' : path('group_new', { 'then': "group_event" }) }) | raw  }}
    </div>
</div>

<div class="std_1col">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ 'platformd.events.event_listings.current_events' | trans }}
            </div>
        </div>
        <div class="widget-content">
            {% include 'EventBundle:GlobalEvent:_eventList.html.twig' with {
                'events': upcomingEvents,
                'no_events_message': 'platformd.events.event_listings.no_current_events'
            } %}
        </div>

        <div class="widget-footer">
            &nbsp;
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/admin/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
           $('table.tablesorter').tablesorter();
        });
    </script>
{% endblock %}
