{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}
{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title %}{{ "fos_user_admin_user_edit_title" | trans({ "%username%" : user.username }, "FOSUserBundle") }}{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    <form method="post" action="{{ path("Platformd_UserBundle_admin_edit", { "id" : user.id}) }}" class="form">
        {{ form_errors(form) }}
        
        {{ form_row(form.username, { "attr" : {"label" : ""} }) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.admin_level) }}

        {{ form_rest(form) }}
        <input type="submit" value="{{ 'save'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" formnovalidate />
    </form>
{% endblock %}
