{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title %}{{ "platformd.users.user_listings.title" | trans }}{% endblock %}

{% block content %}
    <h1>Users</h1>

    {% if pager.nbResults > 0 %}
        <table class="zebra-striped bordered-table tablesorter">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ "username" | trans }}</th>
                    <th>{{ "fos_user_admin_index_firstname" | trans({}, "FOSUserBundle") }}</th>
                    <th>{{ "fos_user_admin_index_lastname" | trans({}, "FOSUserBundle") }}</th>
                    <th>{{ "email" | trans({}, "admin") }}</th>
                    <th>Admin level</th>
                    <th>{{ "platformd.help.actions" | trans }}</th>
                </tr>
            </thead>

            <tbody>
            {% for index, user in pager %}
                <tr class="{{ index is odd ? "odd" : "even" }}">
                    <td>
                        {% if user.avatar %}
                            <a href="{{ asset(media_path(user)) }}" title="See avatar in real size"><img src="{{ asset(media_path(user)) }}" alt="{{ user.username }}" width="100" /></a>
                        {% endif %}
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {{ user.AdminLevelString }}
                    </td>
                    <td>
                        <a href="{{ path("Platformd_UserBundle_admin_edit", { "id" : user.id }) }}">{{ "fos_user_admin_edit" | trans({}, "FOSUserBundle" ) }}</a>
                        <a class="delete_link" href="{{ path("Platformd_UserBundle_admin_delete", { "id" : user.id }) }}" data-confirm="Delete this user?">{{ "fos_user_admin_delete" | trans({}, "FOSUserBundle" ) }}</a>
                        {% if user.avatar and not user.isAvatarApproved %}
                            <a href=" {{ path("admin_user_approve_avatar", {"id": user.id }) }}">{{ "fos_user_admin_approve_avatar" | trans({}, "FOSUserBundle" ) }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'default', {'routeName' : 'Platformd_UserBundle_admin_index'}) }}
    {% endif %}

    <script type="text/javascript">
        /**
         * Delete links - hooks up as form submit, adds confirm
         *
         * If a data-confirm attribute is present, that will be used as the confirm text
         */
        $('a.delete_link').click(function() {
            var confirmMsg = $(this).attr('data-confirm') ? $(this).attr('data-confirm') : 'Delete this?';
            if (!confirm(confirmMsg)) {
                return false;
            }

            var tmpForm = $('<form method="POST"><input type="hidden" name="_method" value="DELETE"></form>');
            tmpForm.attr('action', $(this).attr('href'));
            tmpForm.css({position: 'absolute', visibility: 'none'});
            tmpForm.appendTo($('body'));

            tmpForm.submit();
            tmpForm.remove();

            return false;
        });
    </script>

{% endblock %} 
