{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title %}{{ "platformd.users.user_listings.title" | trans }}{% endblock %}

{% block content %}

    <h1>Members</h1>

    <form action="{{  path('Platformd_UserBundle_admin_index') }}" method="POST" name="search">
        <strong>{{ "platformd.users.user_listings.search" | trans }}:</strong>
        <input name="search" class="usersearch" type="text" title="{{ "platformd.users.user_listings.search" | trans }}" size="41" value="{{ search }}" />
        <select name="type">
            <option value="text">Username/Email</option>
            <option value="ip"{% if app.request.get('type') == 'ip' %} selected{%endif%}>IP Address</option>
        </select>
        <input class="btn btn-primary" style="margin-top:-9px;" type="submit" value="{{ 'Find members' | trans }}" />
    </form>

    {% if pager.nbResults > 0 %}
        <table class="table table-striped table-bordered tablesorter">
            <thead>
                <tr>
                    <th>{{ 'id' | trans }}</th>
                    <th>{{ "username" | trans }}</th>
                    <th>{{ "fos_user_admin_index_firstname" | trans({}, "FOSUserBundle") }}</th>
                    <th>{{ "fos_user_admin_index_lastname" | trans({}, "FOSUserBundle") }}</th>
                    <th>{{ "email" | trans({}, "admin") }}</th>
                    <th>Last login</th>
                </tr>
            </thead>

            <tbody>
            {% for index, user in pager %}
                <tr class="{{ index is odd ? "odd" : "even" }}">
                    <td><a href="{{ path('Platformd_UserBundle_admin_edit', {'id': user.id}) }}">{{ user.id }}</a></td>
                    <td><a href="{{ path('Platformd_UserBundle_admin_edit', {'id': user.id}) }}">{{ user.username }}</a></td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.loginRecords|length > 0 %}
                            {{ user.loginRecords.first.ipAddress ~ " (" ~ user.loginRecords.first.country.name ~ ")" }}
                            <div class="last-login-date" title="{{ user.loginRecords.first.dateTime | date }}Z">{{ user.loginRecords.first.dateTime | date }}</div>
                        {% else %}
                            <em>None</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if pager.haveToPaginate %}
        {# Warning: when using pagerfanta, make sure to specify the routeName otherwise pagerfanta will try to guess it #}
        {# which is very resource intensive and can increase page load time by 5 seconds !!! #}
        {{ pagerfanta(pager, 'twitter_bootstrap_translated', {'routeName' : 'Platformd_UserBundle_admin_index'}) }}
    {% endif %}

    <script type="text/javascript">
        $(function () {
            $('.last-login-date').timeago();

            $('.pagination a').click(function() {
                var query = '&type=' + encodeURIComponent($('select[name="type"] option:selected').val()) + '&search=' + encodeURIComponent($('input[name="search"]').val());
                $(this).attr('href', $(this).attr('href') + query );
            });
        });

    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.timeago.min.js') }}"></script>
{% endblock %}
