{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'deals' | trans %}

{% block content %}
{% set dealDefaultImage = '/bundles/spoutlet/images/alienwarelogothumb-140x85.png' %}

    {% if data.main_deal %}
        {% include 'GiveawayBundle:Deal:_dealHeaderCountdown.html.twig' with { 'deal': data.main_deal } %}
    {% endif %}
    <div class="std_2col">
        <div class="right">
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}

            <div class="widget-33" style="margin: 10px 0 0 0;">
                <div class="widget-header"><div class="widget-title">{{ 'platformd.giveaway.latest_comments' | trans }}</div></div>
                <div class="widget-content">
                    <div class="deals-comments">
                        {% for comment in data.comments %}
                            {% set dealCommentImage = comment.deal_thumbnail ? comment.deal_thumbnail : dealDefaultImage %}
                            <div class="dealListItem">
                            <div>
                                <img class="dealListItemThumb" src="{{ dealCommentImage }}" title="{{ comment.deal_name }}" alt="{{ comment.deal_name }}">
                                <div class="commentListItemDetails">
                                    <ul class="dealDetails">
                                        <li class="dealTitle"><a class="movie_ellipsis" title="" href="{{ comment.deal_url }}">{{ comment.deal_name }}</a></li>
                                        <li class="dealCommentAuthor">{{ 'by' | trans }} {{ comment.author }}</li>
                                        <li class="dealCommentAt">{{ 'deal_comments_posted_on' | trans}} {{ comment.created_at | date_translate }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="title"><a href="{{ comment.thread.permalink }}">{{ comment.body }}</a></div>
                        <div class="about widget-item-subtext"><span class="who">{{ comment.author.username }}</span><span class="when" title="{{ comment.createdAt | date }}Z"></span></div>
                        <div class="clear"></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ 'featured_deals' | trans }}
                    </div>
                </div>
                <div class="widget-content">
                    {% for deal in data.featured_deals %}
                    {% set dealImage = deal.thumbnail ? deal.thumbnail : dealDefaultImage %}

                        <div class="deal-item">
                            <a href="{{ deal.url }}">
                                <img src="{{ dealImage }}" alt="{{ deal.name }}" />
                            </a>

                            <div><a class="deal-link" href="{{ deal.url }}">{{ deal.name }}</a></div>

                            {# todo - run this through the KnpTimeBundle #}
                            <div>
                                {% if deal.ends_at_utc %}
                                    <div  style="padding-top: 3px; font-weight: bold;">{{ 'deal_time_remaining' | trans }}</div>
                                    <div>{{ time_diff(deal.ends_at_utc) }}</div>
                                {% else %}
                                    <div  style="padding-top: 3px; font-weight: bold;">{{ 'deal_time_remaining' | trans }}</div>
                                    <div>&nbsp;</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="widget-66" style="margin: 10px 0 0 0;">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ 'deals_all' | trans }}
                    </div>
                </div>
                <div class="widget-content">
                    {% if data.all_deals %}

                        {% for deal in data.all_deals %}
                        {% set dealImage = deal.thumbnail ? deal.thumbnail : dealDefaultImage %}

                            <div class="deal-item">
                                <a href="{{ deal.url }}">
                                    <img src="{{ dealImage }}" alt="{{ deal.name }}" />
                                </a>

                                <div><a class="deal-link" href="{{ deal.url }}">{{ deal.name }}</a></div>

                                {# todo - run this through the KnpTimeBundle #}
                                <div>
                                    {% if deal.ends_at_utc %}
                                        <div  style="padding-top: 3px; font-weight: bold;">{{ 'deal_time_remaining' | trans }}</div>
                                        <div>{{ time_diff(deal.ends_at_utc) }}</div>
                                    {% else %}
                                        <div  style="padding-top: 3px; font-weight: bold;">{{ 'deal_time_remaining' | trans }}</div>
                                        <div>&nbsp;</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
            <div class="widget-66" style="margin: 10px 0 0 0;">
                <div class="widget-header">
                    <div class="widget-title">
                        {{ 'expired_deals' | trans }}
                    </div>
                </div>
                <div class="widget-content">
                    {% if data.expired_deals %}
                            {% for deal in data.expired_deals %}
                            {% set dealImage = deal.thumbnail ? deal.thumbnail : dealDefaultImage %}

                            {# We need to improve this, but it does work #}

                            <div class="deal-item-expired">
                                <div class="deal-item" style="background: url({{ dealImage }}); background-repeat: no-repeat; padding: 0px;">
                                    <a href="{{ deal.url }}">

                                        <img src="/bundles/spoutlet/images/expired.png" alt="deal expired" />
                                    </a>

                                    <div><a class="deal-link" href="{{ deal.url }}">{{ deal.name }}</a></div>
                                </div>
                            </div>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/deals.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.session.locale == "es" or app.session.locale == "zh" or app.session.locale == "ja" %}
        <script type="text/javascript" src="/bundles/spoutlet/js/jquery.timeago.{{ app.session.locale }}.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.scrollTo-1.4.2-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.localscroll-1.2.7-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/spoutlet/js/jquery.serialScroll-1.2.2-min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var endsAt = new Date($('#deal-ends-date').val());
            $('#time-left').countdown({
                until: endsAt,
                timezone: 0,
                compact: false,
                layout: $('#time-left').html()
            });

            $('.deals-timeleft').fadeIn();

            $('.movie_ellipsis').truncate();
            $('.title a').truncate({ width: 240 });
            $('.deal-link').truncate({ width: 225 });
            $('.when').timeago();
        });
    </script>

{% endblock %}
