{% extends 'SpoutletBundle::layout.html.twig' %}

{% block page_background_image "default" %}

{% block open_graph %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:title" content="{{ data.deal_name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:site_name" content="Alienware Arena" />
    {% if data.opengraph_override_thumbnail is not null -%}
        <meta property="og:image" content="{{ data.opengraph_override_thumbnail }}" />
    {% endif -%}
    {% if data.opengraph_override_description is not null -%}
        <meta property="og:description" content="{{ data.opengraph_override_description }}" />
    {% endif %}

{% endblock %}

{% block title data.deal_name ~ ' '~ ('deal' | trans) %}

{% block content %}

<div id="deals-wrapper">
    {% render url('_deal_flash_message', { 'dealId': data.deal_id }) with {}, {'standalone': true } %}
    {% include 'GiveawayBundle:Deal:_dealHeaderCountdownShow.html.twig' %}

        <div id="deal-details-wrapper">

            <div class="std_2col" style="padding: 0 0 15px 0">
                <div class="left">
                    <div class="widget-66">
                        <div class="widget-header">
                            <div class="widget-title">
                                {{ data.deal_name }}
                            </div>
                        </div>
                        <div class="widget-content">
                            <div id="deal-description">
                                {% if data.deal_description %}
                                    {{ data.deal_description | raw }}
                                {% endif %}
                                {% if data.deal_website_url %}
                                <div id="deal-websiteurl">
                                    <a href="{{ data.deal_website_url }}" {% if data.deal_visit_website_button %} style="background: url('{{ data.deal_visit_website_button }}') no-repeat; display: block; width: 224px; height: 43px; margin: 0px auto;" {% endif %} target="_blank"></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="widget-33" style="height: auto;">
                        <div class="widget-header">
                            <div class="widget-title">
                                {{ 'deal_instructions_table_header' | trans }}
                            </div>
                        </div>
                        <div class="widget-content">
                            {% render url('_deal_show_actions', { 'dealId': data.deal_id }) with {}, {'standalone': true } %}
                        </div>
                    </div>
                    <div id="deals-recommend">
                        <div class="fb-like" data-send="false" data-width="300" data-show-faces="false" data-colorscheme="dark" data-action="like"></div>
                    </div>
                </div>
            </div>
            </div>
            {% if (data.deal_media_gallery_media | length) > 0 %}
            <div id="deal-screenshots">
                {% for media in data.deal_media_gallery_media %}
                    {% set url = media %}

                    <img src="{{ url }}" data-url="{{ url }}" {% if loop.first %}class="first"{% endif %} />
                {% endfor %}
            </div>
            {% endif %}
            {% if data.deal_legal_verbiage %}
            <div id="legal-verbiage">
                {{ data.deal_legal_verbiage }}
            </div>
            {% endif %}
        </div>
    </div>

    {% if features.hasComments %}
        <div class="std_2col">
            <div class="left">
                {% include 'SpoutletBundle:Comments:_thread.html.twig' with { 'thread' : data.deal_comment_thread_id, 'comments' : null, 'offset' : 0, 'permalink' : data.deal_comment_permalink } %}
            </div>
            <div class="right"></div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/deals.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />

    {% if data.deal_bottom_color %}
    <style type="text/css">
        #deal-details-wrapper { background-image: linear-gradient(bottom, {{ data.deal_bottom_color }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -o-linear-gradient(bottom, {{ data.deal_bottom_color }} 8%, #000000 58%);}
        #deal-details-wrapper { background-image: -moz-linear-gradient(bottom, {{ data.deal_bottom_color }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -webkit-linear-gradient(bottom, {{ data.deal_bottom_color }} 8%, #000000 58%); }
        #deal-details-wrapper { background-image: -ms-linear-gradient(bottom, {{ data.deal_bottom_color }} 8%, #000000 58%); }
    </style>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var endsAt = new Date($('#deal-ends-date').val());
            $('#time-left').countdown({
                until: endsAt,
                timezone: 0,
                compact: false,
                layout: $('#time-left').html()
            });

            $('.deals-timeleft').fadeIn();

            $('#join-group').change(function () {
                var join = $(this).is(':checked') ? '/1' : '/0';
                var url  = '{{ path('deal_redeem', { "slug" : data.deal_slug }) }}' + join;
                $('#deal-redeem-link').attr('href', url);
            });
        });
    </script>

{% endblock %}
