{% extends 'SpoutletBundle::layout.html.twig' %}

{% block extra_user_controls %}

    <li><a href="{{ path('group_show', { 'slug': groupSlug }) }}">{{  group.name }}</a></li>

    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('idea_admin', {'groupSlug': groupSlug, 'eventSlug': eventSlug}) }}">Event Administration</a></li>
    {% endif %}

{% endblock %}

{% block banner %}
    <a href="{{ path('idea_index', {'groupSlug': groupSlug, 'eventSlug': eventSlug}) }}"><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/logo.jpg') }}" alt="{{ event.name }}" width="328" height="126" id="brand"></a>
{% endblock %}

{% block menu_items %}
    <li><a href="{{ path('idea_index', {'groupSlug': groupSlug, 'eventSlug': eventSlug}) }}">Home</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'About'}) }}" id="megaanchor1">About</a>
        <div id="megamenu1" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'About'}) }}#about">About SVIC</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'About'}) }}#organizers">Organizers</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}" id="megaanchor2">Event</a>
        <div id="megamenu2" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#details">Event Details</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#presentation">Presentation Guidelines</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#criteria">Judging Criteria</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#poster">Poster Preparation</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#faculty">Faculty Resources</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#ip">Intellectual Property</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#guidelines">Community Guidelines</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'GetInvolved'}) }}" id="megaanchor3">Get Involved</a>
        <div id="megamenu3" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'GetInvolved'}) }}#observer">Observers</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'GetInvolved'}) }}#participant">Participants</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'GetInvolved'}) }}#judge">Judges</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'GetInvolved'}) }}#sponsor">Sponsors</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Sponsor'}) }}" id="megaanchor4">Sponsors</a>
        <div id="megamenu4" class="megamenu">
            <div class="column">
                <ul>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Sponsor'}) }}#sponsor">Sponsors</a></li>
                    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Sponsor'}) }}#howto">How to Sponsor</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Schedule'}) }}">Schedule</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'FAQ'}) }}">Event FAQ</a></li>
{% endblock %}

{% block content %}

    {% if no_sidebar is not defined %}
        <div class="col1">
    {% endif %}

    {% block event_content %}
    {% endblock %}

    {% if no_sidebar is not defined %}
        </div>
        <div class="col2">
            {% block sidebar %}
                {% include 'IdeaBundle::sidebar.html.twig' %}
            {% endblock %}
        </div>
    {% endif %}

{% endblock %}

