{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block header %}

    {% embed 'SpoutletBundle::header.html.twig' %}
        {% block extra_user_controls %}
        {% endblock %}
    {% endembed %}

    {% embed 'SpoutletBundle::navigation.html.twig' %}
    {% endembed %}

{%  endblock %}

{% block menu_items %}
{% endblock %}

{% block content %}

    {% if event.private and not isAdmin %}
        {% if app.user is null %}
            This event is private. Please log in to view this page.<br/><br/>
            <a href="{{ path('fos_user_security_login') }}"><input type="button" value="{{ 'platformd.layout.top_menu.sign_in' | pd_trans }}" class="btnMdm left"></a>
            <a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Register" class="btnMdm left marginlft"></a>
            {% set show = 'false' %}
        {% elseif not event.isUserAttending(app.user) %}
            This event is private. Please apply for access and an administrator will review your application. <br/><br/>
            <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}"><input type="button" value="Apply Now"></a>
            {% set show = 'false' %}
        {% elseif attendance == 'pending' %}
            This event is private. You have applied for access and are waiting for administrative approval.
            {% set show = 'false' %}
        {% elseif attendance == 'rejected' %}
            This event is private. You have applied for access and have been denied.
            {% set show = 'false' %}
        {% else %}
            {% set show = 'true' %}
        {% endif %}
    {% else %}
        {% set show = 'true' %}
    {% endif %}

    {% if show == 'true' %}

        {% if sidebar is defined and sidebar == true %}
            <div class="col1">
        {% endif %}

        {% block event_content %}
        {% endblock %}

        {% if sidebar is defined and sidebar == true %}
            </div>
            <div class="col2">
                {% block sidebar %}
                    {% include 'IdeaBundle::sidebar.html.twig' %}
                {% endblock %}
            </div>
        {% endif %}

    {% endif %}

{% endblock %}

