{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block header %}


    {% embed 'SpoutletBundle::header.html.twig' %}

        {% block extra_user_controls %}
        {% endblock %}

        {% block banner %}
            <div id="header-group">
                {% if group.groupAvatar is not null %}
                    {% set bannerContent = '<img src="' ~ media_path(group.groupAvatar) ~ '" alt="Group Logo" id="brand-group">' %}
                {% else %}
                    {% set bannerContent = '<span id="groupHeader">' ~ group.name ~ '</span>' %}
                {% endif %}

                <a href="{{ path('group_show', {'slug': group.slug}) }}">{{ bannerContent | raw }}</a>
            </div>

        {% endblock %}
        
    {% endembed %}

    {% embed 'SpoutletBundle::navigation.html.twig' %}

        {% block menu_items %}

            <li><a href="{{ path('contact_user', {'userId': event.user.id, 'type': 'sponsor', 'scope': 'event', 'containerId': event.id }) }}">Sponsor</a></li>
            <li><a href="{{ path('contact_user', {'userId': event.user.id, 'type': 'speak', 'scope': 'event', 'containerId': event.id }) }}">Speak</a></li>
            <li><a href="{{ path('contact_user', {'userId': event.user.id, 'type': 'volunteer', 'scope': 'event', 'containerId': event.id }) }}">Volunteer</a></li>
            <li><a href="{{ path('contact_user', {'userId': event.user.id}) }}">Contact Us</a></li>

        {% endblock %}

    {% endembed %}

{% endblock %}


{% block group_content %}

    {% if event.private and not (isAdmin or event.user==app.user) %}
        {% if app.user is null %}
            This event is private. Please log in to view this page.<br/><br/>
            <a href="{{ path('fos_user_security_login') }}"><input type="button" value="{{ 'platformd.layout.top_menu.sign_in' | pd_trans }}" class="btnMdm left"></a>
            <a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Register" class="btnMdm left marginlft"></a>
            {% set show = 'false' %}
        {% elseif attendance == null %}
            This event is private. Please apply for access and an administrator will review your application. <br/><br/>
            <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}"><input type="button" value="Apply Now"></a>
            {% set show = 'false' %}
        {% elseif attendance == 'pending' %}
            This event is private. You have applied for access and are waiting for administrative approval.
            {% set show = 'false' %}
        {% elseif attendance == 'rejected' %}
            This event is private. You have applied for access and have been denied.
            {% set show = 'false' %}
        {% else %}
            {% set show = 'true' %}
        {% endif %}
    {% else %}
        {% set show = 'true' %}
    {% endif %}

    {% if show == 'true' %}

        {% block event_content %}
        {% endblock %}

    {% endif %}

{% endblock %}

