<div class="ftrcol">
  <h5>About</h5>
  <ul>
      <li><a href="{{ path('group_event_view', {'groupSlug': 'svic', 'eventSlug': '2013'}) }}">Home</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'About'}) }}#about">About SVIC</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'About'}) }}#organizers">Organizers</a></li>
  </ul>
</div>
<div class="ftrcol">
  <h5>Event</h5>
  <ul>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#details">Event Details</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#presentation">Presentation Guidelines</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#criteria">Judging Criteria</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#poster">Poster Preparation</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#faculty">Faculty Resources</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#ip">Intellectual Property</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Event'}) }}#guidelines">Community Guidelines</a></li>
  </ul>
</div>
<div class="ftrcol">
  <h5>Get Involved</h5>
  <ul>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'GetInvolved'}) }}#observer">Observers</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'GetInvolved'}) }}#participant">Participants</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'GetInvolved'}) }}#judge">Judges</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'GetInvolved'}) }}#sponsor">Sponsors</a></li>
  </ul>
</div>
<div class="ftrcol">
  <h5>Sponsorship</h5>
  <ul>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Sponsor'}) }}#sponsor">Sponsors</a></li>
      <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Sponsor'}) }}#howto">How to Sponsor</a></li>
  </ul>

  <ul>
	<li><a href="{{ path('fos_user_registration_register') }}">Join</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'Schedule'}) }}">Schedule</a></li>
    <li><a href="{{ path('idea_info', {'groupSlug': 'svic', 'eventSlug': '2013', 'page': 'FAQ'}) }}">Event FAQ</a></li>
  </ul>
</div>
<div id="contactNfo" class="divrt">
  <h5>Contact Us</h5>
  <p><a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a></p>
  <p>
      Twitter Handle<br/>
	  @SVIC2<br>
  </p>
  <p>
	Follow us on<br>
      <a href="https://twitter.com/SVIC2" target="_blank"><img src="{{ asset('bundles/idea/img/twitter.png')}}" width="32" height="32" alt="Follow SVIC on Twitter"></a>
      <a href="https://www.facebook.com/pages/Silicon-Valley-Innovation-Challenge/219732748080078" target="_blank"><img src="{{ asset('bundles/idea/img/facebook.png') }}" width="32" height="32" alt="Follow SVIC on Facebook"></a>
  </p>
</div>

<br class="clr">

<div id="credit">
  Site created by <a href="http://www.takeflightgraphics.com" target="_blank">Take Flight Graphics</a> <img src="{{ asset('bundles/idea/img/icon-tfg.png') }}" width="14" height="8" alt="Take Flight Graphics"></a>
</div>
<div id="copyright">
  <script language="JavaScript">document.write(include_copyright(2012));</script>
</div>
