{% extends 'SpoutletBundle::layout.html.twig' %}

{%  block header %}

    {% embed 'SpoutletBundle::header.html.twig' %}

        {% block extra_user_controls %}
        {% endblock %}

        {% block banner %}
            <div id="header-group">
                {% if group.groupAvatar is not null %}
                    {% set bannerContent = '<img src="' ~ media_path(group.groupAvatar) ~ '" alt="Group Logo" id="brand-group">' %}
                {% else %}
                    {% set bannerContent = '<span id="groupHeader">' ~ group.name ~ '</span>' %}
                {% endif %}

                <a href="{{ path('group_show', {'slug': group.slug}) }}">{{ bannerContent | raw }}</a>

                <div id="tagline">share. learn. grow.</div>
            </div>

        {% endblock %}

    {% endembed %}

    {% embed 'SpoutletBundle::navigation.html.twig' %}

        {% block menu_items %}

            <li><a href="{{ path('info_page', {'groupSlug': group.slug, 'page': 'speak'}) }}">Speak</a></li>
            <li><a href="{{ path('info_page', {'groupSlug': group.slug, 'page': 'volunteer'}) }}">Volunteer</a></li>

        {% endblock %}

    {% endembed %}

{%  endblock %}

{% block content %}

    {# Public Group #}
    {% if group.isPublic %}
        {% set show = true %}

    {# Private Group - Logged In #}
    {% elseif app.user|default %}

        {# Group Owner and Admin can view #}
        {% if (group.owner == app.user) or is_granted('ROLE_ADMIN') %}
            {% set show = true %}
        {% else %}
            {% set show = false %}
        {% endif %}

    {# Private Group - Not Logged In #}
    {% else %}
        {% set show = false %}
    {% endif %}

    {% if show == true %}
        {% block group_content %}
        {% endblock %}
    {% else %}
        This group is private. Click <a href="{{ path('groups') }}" class="blu">here</a> to browse more groups.
    {% endif %}

{% endblock %}



