<div id="topSocial">
  <ul>
	<li>Follow us on
      <a href="https://twitter.com/SVIC2" target="_blank"><img src="{{ asset('bundles/idea/img/twitter.png')}}" width="32" height="32" alt="Follow SVIC on Twitter"></a>
	  <a href="https://www.facebook.com/pages/Silicon-Valley-Innovation-Challenge/219732748080078" target="_blank"><img src="{{ asset('bundles/idea/img/facebook.png') }}" width="32" height="32" alt="Follow SVIC on Facebook"></a>
  </ul>
</div>
<div id="topNav">
    <ul>
        {% if not app.user %}
            <li><a href="{{ path('login') }}">Sign in</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Join Now</a></li>
        {% else %}
            <li><a href="{{ path('_fos_user_security_logout') }}">Sign out</a></li>
        {% endif %}
        {% block extra_user_controls %}
            <li><a href="{{ path('default_index') }}">Home</a></li>
        {% endblock %}
    </ul>

    {% if app.user %}
        <ul>
            <li>Welcome, <a href="{{ path('profile') }}">{% if app.user.name %}{{app.user.name}}{% else %}{{app.user.username}}{% endif %}</a></li>
        </ul>
    {% endif %}
</div>

{% block banner %}
    <a href="{{ path('default_index') }}"><img src="{{ asset('bundles/spoutlet/images/campsitelogo.jpg') }}" alt="Campsite" width="328" height="126" id="brand"></a>
{% endblock %}

<div id="tagline">
  <span class="grn">innovate.</span>
  <span class="blu">network.</span>
  <span class="pnk">enlighten.</span>
</div>

<br class="clr"/>

<div id="navWrap"> <!-- begin navbar -->
    <div id="nav">
        <ul>
        {% block menu_items %}
        {% endblock %}
        </ul>
    </div> <!-- end nav -->
</div> <!-- end navWrap -->
