{% if event|default %}

    {# Always display registration link if it's external, only show it if you're not attending if it's internal #}
    <div class="spcr-b">
        {% if event.externalUrl|default %}
            <a href="{{ event.externalUrl }}" class="btnLg2" target="_blank">Register to Attend</a>
            {% if not event.isUserAttending(user) %}
                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Participate Online</a>
            {% endif %}
        {% elseif not event.isUserAttending(user) %}
            {% if event.registrationOption == constant('\\Platformd\\EventBundle\\Entity\\Event::REGISTRATION_ENABLED') %}
                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Register to Attend</a>
            {% else %}
                <h2 class="ctr spcr-b2">Registration Closed</h2>
            {% endif %}
        {% endif %}
    </div>

    {# If there are sessions scheduled, and we're not already looking at the schedule page #}
    {% if event.sessions | length > 0 and not eventSessions|default %}
        <a href="{{ path('event_session_schedule', event.linkableRouteParameters) }}" class="btnLg2">Session Schedule</a>
    {% endif %}

    <div class="event-details ctr spcr-b">
        <h2>{{ event.name }}</h2>
        <hr class="small-margin"/>
        {% if event.startsAt|default %}
            <h2>When:</h2>
            {{ event.DateAndTime|raw }}
            {% if event.location|default %}
                <hr class="small-margin"/>
            {% endif %}
        {% endif %}

        {% if event.location|default %}
            <h2>Where:</h2>
            {{ event.location }}<br/>
            <a href="http://maps.google.com/?q={{ event.address1 }}, {{ event.address2 }}" target="_blank" class="blu">{{ event.address1 }}<br/>{{ event.address2 }}</a>
        {% endif %}
    </div>

    {# if we're on an entrySet page, we only need to list entrySets if there are more than one #}
    {% set minEntrySetNumber = 0 %} {% if entrySet|default %} {% set minEntrySetNumber = 1 %} {% endif %}

    {% if event.entrySets|length > minEntrySetNumber %}
        <h2 class="widgetHeader">Collaboration Lists</h2>
        <ul class="scrollableWidget spcr-b3">
            {% for es in event.entrySets %}
                {% if entrySet is not defined or (entrySet.id != es.id) %}
                    <li class="spcr-t7 spcr-l3"><a href="{{ path('entry_set_view', {'entrySetId': es.id}) }}"><h3 class="blu">{{ es.name }}</h3></a></li>
                {% elseif entrySet is defined %}
                    <li class="spcr-t7 spcr-l3"><h3>> {{ es.name }}</h3></li>
                {% endif %}
                <hr class="small-margin"/>
            {% endfor %}
        </ul>
    {% endif %}

    {% if event.sponsors|length > 0 %}
        {% include 'IdeaBundle::sidebar_sponsors.html.twig' %}
    {% endif %}

{% elseif group|default %}

    {% if not group.isMember(user) %}
        <a href="{{ path('group_join', {'slug': group.slug}) }}" class="btnLg2">Join This Group</a>
    {% endif %}

    {% set minEntrySetNumber = 0 %} {% if entrySet|default %} {% set minEntrySetNumber = 1 %} {% endif %}

    {% if group.entrySets|length > minEntrySetNumber %}
        <h2 class="widgetHeader">Collaboration Lists</h2>
        <ul class="scrollableWidget spcr-b3">
            {% for es in group.entrySets %}
                {% if entrySet is not defined or (entrySet.id != es.id) %}
                    <li class="spcr-t7 spcr-l3"><a href="{{ path('entry_set_view', {'entrySetId': es.id}) }}"><h3 class="blu">{{ es.name }}</h3></a></li>
                {% elseif entrySet is defined %}
                    <li class="spcr-t7 spcr-l3"><h3>> {{ es.name }}</h3></li>
                {% endif %}
                <hr class="small-margin"/>
            {% endfor %}
        </ul>
    {% endif %}

    {% if group.sponsors|length > 0 %}
        {% include 'IdeaBundle::sidebar_sponsors.html.twig' %}
    {% endif %}

{% endif %}