{% if event|default %}

    {# Always display registration link if it's external, only show it if you're not attending if it's internal #}
    {% if event.externalUrl|default or not event.isUserAttending(user) %}
        <div id="registrationBanner">
            {% if event.externalUrl|default %}

                <a href="{{ event.externalUrl }}" class="btnLg2" target="_blank">Register to Attend</a>
                {% if not event.isUserAttending(user) %}
                    <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Join Discussion</a>
                {% endif %}

            {% elseif not event.isUserAttending(user) %}
                <a href="{{ path('group_event_register_and_join', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="btnLg2">Attend Event</a>
            {% endif %}
        </div>
    {% endif %}

    {# If there are sessions scheduled, and we're not already looking at the schedule page #}
    {% if event.sessions | length > 0 and not eventSessions|default %}
        <a href="{{ path('event_session_schedule', event.linkableRouteParameters) }}" class="btnLg2">Session Schedule</a>
    {% endif %}

    <h2 class="widgetHeader">Event Details</h2>
    <table id="eventDetails" class="tblStyle spcr-b3">
        {% if event.startsAt %}
            <tr>
                <td width="25%"><strong>When:</strong></td>
                <td width="75%">{{ event.DateAndTime|raw }}</td>
            </tr>
        {% endif %}
        {% if event.location %}
            <tr>
                <td width="25%"><strong>Where:</strong></td>
                <td width="75%">{{ event.location }}</td>
            </tr>
            <tr>
                <td width="25%"><strong>Address:</strong></td>
                <td><a href="http://maps.google.com/?q={{ event.address1 }}, {{ event.address2 }}">{{ event.address1 }}<br/>{{ event.address2 }}</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
                    <div id="event-location-map">{{ vichgeo_map_for('location', event) }}</div>
                </td>
            </tr>
        {% endif %}
    </table>

    {% set minEntrySetNumber = 0 %} {% if entrySet|default %} {% set minEntrySetNumber = 1 %} {% endif %}

    {% if event.entrySets | length > minEntrySetNumber %}
        <h2 class="widgetHeader">Collaboration Lists</h2>
        <ul class="scrollableWidget spcr-b3">
            {% for es in event.entrySets %}
                {% if entrySet is not defined or (entrySet.id != es.id) %}
                <li class="spcr-l3">
                    <a href="{{ path('entry_set_view', {'entrySetId': es.id}) }}"><h3 class="blu">{{ es.name }}</h3></a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if event.sponsors|length > 0 %}
        <h2 class="widgetHeader">Sponsors</h2>
        <ul class="spcr-b3">
            {% for sponsor in event.sponsors %}
                <div class="sponsorImageBox">
                    <a href="{{ sponsor.url }}"><img src="{{ media_path(sponsor.image) }}"></a>
                </div>
            {% endfor %}
        </ul>
        <div class="clr"></div>
    {% endif %}

{% elseif group|default %}

    {% if not group.isMember(user) %}
        <div id="registrationBanner">
            <a href="{{ path('group_join', {'slug': group.slug}) }}" class="btnLg2">Join This Group</a>
        </div>
    {% endif %}

    <h2 class="widgetHeader">Group Description</h2>
    <div class="scrollableWidgetLarge spcr-b3">
        {{ group.description | raw }}
    </div>

    {% set minEntrySetNumber = 0 %} {% if entrySet|default %} {% set minEntrySetNumber = 1 %} {% endif %}

    {% if group.entrySets | length > minEntrySetNumber %}
        <h2 class="widgetHeader">Collaboration Lists</h2>
        <ul class="scrollableWidget spcr-b3">
            {% for es in group.entrySets %}
                {% if entrySet is not defined or (entrySet.id != es.id) %}
                    <li class="spcr-l3">
                        <a href="{{ path('entry_set_view', {'entrySetId': es.id}) }}"><h3 class="blu">{{ es.name }}</h3></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if group.sponsors|length > 0 %}
        <h2 class="widgetHeader">Sponsors</h2>
        <ul class="spcr-b3">
            {% for sponsor in group.sponsors %}
                <div class="sponsorImageBox">
                    <a href="{{ sponsor.url }}"><img src="{{ media_path(sponsor.image) }}"></a>
                </div>
            {% endfor %}
        </ul>
        <div class="clr"></div>
    {% endif %}

{% endif %}