{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <div class="adminRow">
        <h1>General</h1>
        <a href="{{ path('idea_admin_event', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Configure Details" class="marginlft" />
        </a>
        <a href="{{ path('idea_admin_images', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Add Images" class="marginlft" />
        </a>
        <a href="{{ path('idea_admin_export_ideas', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Download Ideas (CSV)" class="marginlft" />
        </a>
        <a href="{{ path('idea_admin_export_users', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Download Users (CSV)" class="marginlft" />
        </a>
        {% if event.private %}
        <a href="{{ path('idea_admin_member_approvals', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Membership Approvals" class="marginlft"/>
        </a>
        {% endif %}
        <a href="{{ path('idea_admin_member_approvals', {'groupSlug': group.slug, 'eventId': event.id}) }}">
            <input type="submit" value="Membership Approvals" class="marginlft"/>
        </a>
        {% if event.EntrySets|length == 0 %}
            <a onclick="return confirm('Are you sure you want to delete this event?');"
               href="{{ path("group_event_delete", {"groupSlug": event.group.slug, "eventId": event.id}) }}" >
                <input type="submit" value="Delete" class="marginlft"/>
            </a>
        {% else %}
            <input type="submit" value="Delete" class="marginlft redButton" title="Remove the {{ event.EntrySets|length }} list(s) attached to this Event to enable the delete option." disabled/>
        {% endif %}
    </div>

{#    {% if event.type == 'ideathon' %}#}
        <div class="adminRow">
            <h1>Judging</h1>
            <a href="{{ path('idea_admin_criteria_all', {'groupSlug': group.slug, 'eventId': event.id}) }}">
                <input type="submit" value="Configure Criteria" class="marginlft" />
            </a>
            <a href="{{ path('idea_summary', {'groupSlug': group.slug, 'eventId': event.id}) }}">
                <input type="submit" value="Round Manager" class="marginlft" />
            </a>
            <a href="{{ path('idea_admin_export_votes', {'groupSlug': group.slug, 'eventId': event.id}) }}">
                <input type="submit" value="Download Results (CSV)" class="marginlft" />
            </a>
        </div>
{#    {% endif %} #}

    <div class="adminRow">
        <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventId': event.id}) }}" method="get" id='home'>
            <input type="submit" value="< {{ event.name | truncate(20) }}" form='home' />
        </a>
    </div>

{% endblock %}
