{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h1>Users Pending Approval</h1>

    <table class="paddedTable" id="approvals">
    {% for user in awaitingApproval %}
        <tr>
            <td><a href="{{ path('profile', {'username': user.username}) }}"> {{ user.name }}</a><br/></td>
            <td><a href="{{ path('idea_admin_process_approval', {'groupSlug': group.slug, 'eventSlug': event.slug, 'userId': user.id, 'approval': 'approve'}) }}" class="btn marginlft">Approve</a></td>
            <td><a href="{{ path('idea_admin_process_approval', {'groupSlug': group.slug, 'eventSlug': event.slug, 'userId': user.id, 'approval': 'reject'}) }}" class="btn marginlft">Reject</a></td>
        </tr>
    {% endfor %}
    </table>

    <br/>
    <a href="{{ path('idea_admin', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}">
        <input type="submit" value="Back">
    </a>

{% endblock %}