{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}
    <h1>Criteria Configuration Panel</h1>

    <form action="{{ path('idea_admin_criteria_all', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <button type="submit" value="New" name="new" formnovalidate>New</button>
        <input type="submit" value="Edit" name="edit" />
        <input type="submit" value="Delete" name="delete" />

    </form>

    <br><br>

    <table class="paddedTable">
        <td>
            <a href="{{ path('group_event_view', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="get" id='home'>
                <input type="submit" value="< {{ event.name | truncate(20) }}" form='home' />
            </a>
        </td>
        <td>
            <form action = {{ path('idea_admin', {'groupSlug': group.slug, 'eventSlug': event.slug}) }} method="get">
            <input type="submit" value="< Admin Console">
            </form>
        </td>
    </table>

{% endblock %}
