{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {

            setTypeControls();

            $('#event_type').change(function() {
                setTypeControls();
            });

            $('#event_online').change(function() {
                setLocationControls();
            });

            function setTypeControls(){

                var type = $('#event_type').val();

                if (type == 'unconference'){
                    $('#time-controls').slideDown();
                    $('#idea-controls').slideDown();
                    $('#voting-controls').slideDown();
                    $('#online-controls').slideUp();
                    $('#location-controls').slideDown();
                }
                else if (type == 'ideathon'){
                    $('#time-controls').slideDown();
                    $('#idea-controls').slideDown();
                    $('#voting-controls').slideDown();
                    $('#online-controls').slideDown();
                    setLocationControls();
                }
                else if (type == 'forum'){
                    $('#time-controls').slideUp();
                    $('#idea-controls').slideUp();
                    $('#voting-controls').slideUp();
                    $('#online-controls').slideUp();
                    $('#location-controls').slideUp();
                }
            }

            function setLocationControls() {
                var isOnline = $('#event_online').val();
                if(isOnline == '1') {
                    $('#location-controls').slideUp();
                } else {
                    $('#location-controls').slideDown();
                }
            }

            $('#event').submit(function() {

                var type = $('#event_type').val();

                if (type == 'unconference'){
                    $('#event_online').val('0');
                }
                else if (type == 'ideathon'){
                    if($('#event_online').val() == '1') {
                        $('#event_location').val(null);
                        $('#event_address1').val(null);
                        $('#event_address2').val(null);
                    }
                }
                else if (type == 'forum'){
                    $('#event_startsAt_date_year').val(null);
                    $('#event_startsAt_date_month').val(null);
                    $('#event_startsAt_date_day').val(null);
                    $('#event_startsAt_time_hour').val(null);
                    $('#event_startsAt_time_minute').val(null);
                    $('#event_endsAt_date_year').val(null);
                    $('#event_endsAt_date_month').val(null);
                    $('#event_endsAt_date_day').val(null);
                    $('#event_endsAt_time_hour').val(null);
                    $('#event_endsAt_time_minute').val(null);
                    $('#event_online').val(1);
                    $('#event_location').val(null);
                    $('#event_address1').val(null);
                    $('#event_address2').val(null);
                    $('#event_isSubmissionActive').val(1);
                    $('#event_isVotingActive').val(0);
                    $('#event_allowedVoters').val(null);
                }
            });
        })
    </script>
{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Create' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug}) %}
    {% else %}
        {% set verb = 'Modify' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug, 'eventSlug': event.slug}) %}
    {% endif %}

    <h1>{{ verb }} Your Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.type) }}
        <div id="time-controls">
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        </div>
        <div id="online-controls">
        {{ form_row(form.online) }}
        </div>
        <div id="location-controls">
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        </div>
        <div id="idea-controls">
        {{ form_row(form.isSubmissionActive) }}
        </div>
        <div id="voting-controls">
        {{ form_row(form.isVotingActive) }}
        {{ form_row(form.allowedVoters) }}
        </div>
        {{ form_row(form.private) }}

        {{ form_rest(form) }}

	    <input type="submit" value="Submit"/>
		<button type="submit" value="Cancel" name="cancel" formnovalidate/>Cancel</button>
	
	</form>
{% endblock %}
