{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            // Initialize location controls state based on default online value
            toggleLocationControls();

            // Toggle location controls on online update
            $('#event_online').change(function() {
                toggleLocationControls();
            });

            function toggleLocationControls() {
                if($('#event_online').val() == '1') {
                    $('#location-controls').slideUp();
                    $('#event_location').val(null);
                    $('#event_address1').val(null);
                    $('#event_address2').val(null);
                } else {
                    $('#location-controls').slideDown();
                }
            }
        });
    </script>
{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Create' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug}) %}
    {% else %}
        {% set verb = 'Modify' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug, 'eventId': event.id}) %}
    {% endif %}

    <h1>{{ verb }} Your Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.online) }}
        <div id="location-controls">
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        </div>
        {{ form_row(form.private) }}

        {{ form_rest(form) }}

        {% if not isNew %}
            <a href="{{ path('idea_admin_images', {'groupSlug': group.slug, 'eventId': event.id}) }}">Add Images</a>
        {% endif %}

        <br class="clr"/>
        <br/>

	    <input type="submit" value="Submit"/>
		<button type="submit" value="Cancel" name="cancel" formnovalidate>Cancel</button>

        {% if not isNew %}
            {% if event.entrySets|length == 0 %}
                <a href="{{ path("group_event_delete", {"groupSlug": group.slug, "eventId": event.id}) }}">
                    <input type="button" class="spcr-l redButton" value="Delete" onclick="return confirm('Are you sure you want to delete this list?');">
                </a>
            {% else %}
                <input type="button" class="spcr-l greyButton" value="Delete Disabled" title="Remove the {{ event.EntrySets|length }} list(s) attached to this Event to enable the delete option.">
            {% endif %}
        {% endif %}

    </form>

{% endblock %}
