{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            // Initialize location controls state based on default online value
            toggleLocationControls();

            // Toggle location controls on online update
            $('#event_online').change(function() {
                toggleLocationControls();
            });

            function toggleLocationControls() {
                if($('#event_online').val() == '1') {
                    $('#location-controls').slideUp();
                    $('#event_location').val(null);
                    $('#event_address1').val(null);
                    $('#event_address2').val(null);
                } else {
                    $('#location-controls').slideDown();
                }
            }
        });
    </script>
{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Create' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug}) %}
    {% else %}
        {% set verb = 'Modify' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug, 'eventSlug': event.slug}) %}
    {% endif %}

    <h1>{{ verb }} Your Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.online) }}
        <div id="location-controls">
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        </div>
        {{ form_row(form.private) }}

        {{ form_rest(form) }}

	    <input type="submit" value="Submit"/>
		<button type="submit" value="Cancel" name="cancel" formnovalidate/>Cancel</button>
	
	</form>
{% endblock %}
