{% extends 'IdeaBundle::group_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {

            // Initialize location controls state based on default online value
            toggleLocationControls();

            // Toggle location controls on online update
            $('#event_online').change(function() {
                toggleLocationControls();
            });

            $('#event_startsAt').datetimepicker({step: 15, format:'Y-m-d H:i:s'});
            $('#event_endsAt').datetimepicker({step: 15, format:'Y-m-d H:i:s'});

            {% if isNew %}
                var now = new Date();
                var date = now.getFullYear()+'-'+(now.getMonth()+1)+'-'+(now.getDate());
                $('#event_startsAt').val(date + ' 18:00:00');
                $('#event_endsAt').val(date + ' 22:00:00');
            {% endif %}

            function toggleLocationControls() {
                if($('#event_online').val() == '1') {
                    $('#location-controls').slideUp();
                    $('#event_location').val(null);
                    $('#event_address1').val(null);
                    $('#event_address2').val(null);
                } else {
                    $('#location-controls').slideDown();
                }
            }

            // Dynamically add registration fields to form as needed
            var addFieldLink     = $('<a href="#" class="blu">Add a new question</a>');
            var deleteFieldLink  = '<a href="#" class="deleteField left spcr-r"><img src="{{ asset("themes/ideacontest/spoutlet/img/delete-icon.png") }}" width="20px" height="20px"/></a>';
            var collectionHolder = $('#event_registrationFields');

            // Add delete link to each existing registration field
            collectionHolder.find('div').each(function(){
                $(this).prepend(deleteFieldLink);
            });

            // Add the 'Add question' link to bottom of form
            collectionHolder.append(addFieldLink);

            // count the current registration fields we have, use that as index for adding new fields
            collectionHolder.data('index', collectionHolder.find(':input').length);

            addFieldLink.on('click', function(e) {
                e.preventDefault();
                addField(collectionHolder, addFieldLink, deleteFieldLink);
            });

            $('.deleteField').on('click', function(e) {
                e.preventDefault();
                $(this).parent().remove();
            });

            function addField(collectionHolder, addFieldLink, deleteFieldLink) {

                var prototype = collectionHolder.data('prototype');
                var index     = collectionHolder.data('index');
                var newForm   = $(prototype.replace(/\$\$name\$\$/g, index));

                collectionHolder.data('index', index + 1);

                var deleteLink = $(deleteFieldLink);
                newForm = newForm.prepend(deleteLink);

                addFieldLink.before(newForm);

                $(deleteLink).on('click', function(e) {
                    e.preventDefault();
                    $(this).parent().remove();
                });
            }
        });
    </script>

{% endblock %}

{# Custom Form for registration fields -- no labels on individual fields, custom data prototype #}
{% form_theme form _self %}

{% block _event_registrationFields_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set data_prototype = "<div id=\"event_registrationFields_$$name$$\"><input type=\"text\" id=\"event_registrationFields_$$name$$_question\" name=\"event[registrationFields][$$name$$][question]\" required=\"required\" size=\"60%\" class=\" form-txt\"></div>" %}
            {% set attr = attr|merge({'data-prototype': data_prototype}) %}
        {% endif %}
        {{ form_label(form) }}
        <div {{ block('widget_container_attributes') }}>
            {% block field_rows %}
                {{ form_errors(form) }}
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
            {% endblock %}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Create' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug}) %}
    {% else %}
        {% set verb = 'Modify' %}
        {% set formpath = path('idea_admin_event', {'groupSlug': group.slug, 'eventId': event.id}) %}
    {% endif %}

    <h1>{{ verb }} Your Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.online) }}
        <div id="location-controls">
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        </div>
        {{ form_row(form.private) }}
        {{ form_widget(form.registrationFields) }}

        {{ form_rest(form) }}

        <br class="clr"/>

        {% if not isNew %}
            <a href="{{ path('idea_admin_images', {'groupSlug': group.slug, 'eventId': event.id}) }}" class="blu">Manage Image Slider</a>
            <br class="clr"/><br/>
        {% endif %}

	    <input type="submit" value="Submit" id="submit"/>
		<input type="submit" value="Cancel" name="cancel" formnovalidate/>

        {% if not isNew %}
            {% if event.entrySets|length == 0 %}
                <a href="{{ path("group_event_delete", {"groupSlug": group.slug, "eventId": event.id}) }}">
                    <input type="button" class="spcr-l redButton" value="Delete" onclick="return confirm('Are you sure you want to delete this list?');">
                </a>
            {% else %}
                <input type="button" class="spcr-l greyButton" value="Delete Disabled" title="Remove the {{ event.EntrySets|length }} list(s) attached to this Event to enable the delete option.">
            {% endif %}
        {% endif %}

    </form>

{% endblock %}
