{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <div class="col_half">
        <table class="tblStyle fillWidth">
            <tr>
                <th>Feedback Page</th>
                <th># Tasks</th>
            </tr>
            {% for list in feedbackLists %}
            <tr>
                <td><a href="{{ path('entry_set_view', {'entrySetId': list.id}) }}"><h3 class="blu">{{ list.name }}</h3></a></td>
                <td>{{ list.numIncompleteEntries }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col_half">
        <h2>Recent Feedback</h2>
        <div class="entry_set_list">
        {% for entry in recentFeedback %}
            <div class="card spcr-b2">
                <a href="{{ path('idea_show', {'entrySetId': entry.entrySet.id, 'entryId': entry.id}) }}" class="blu">{{ entry.name }}</a><br/>
                <em>{{ entry.entrySet.name }}</em>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}
