{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {

            var externalInput    = $('#event_external');
            var noDateInput      = $('#event_noDate');
            var startYearInput   = $('#event_startsAt_date_year');
            var startMonthInput  = $('#event_startsAt_date_month');
            var startDayInput    = $('#event_startsAt_date_day');
            var startHourInput   = $('#event_startsAt_time_hour');
            var startMinuteInput = $('#event_startsAt_time_minute');
            var endYearInput     = $('#event_endsAt_date_year');
            var endMonthInput    = $('#event_endsAt_date_month');
            var endDayInput      = $('#event_endsAt_date_day');
            var endHourInput     = $('#event_endsAt_time_hour');
            var endMinuteInput   = $('#event_endsAt_time_minute');

            toggleRegistrationControls();
            toggleDateControls();

            externalInput.change(function() { toggleRegistrationControls(); });
            noDateInput.change  (function() { toggleDateControls(); });

            {% if isNew %}

                startHourInput.val('8');
                startMinuteInput.val('0');
                endHourInput.val('17');
                endMinuteInput.val('0');

                startDayInput.change(function() {
                    endDayInput.val($(this).val());
                });

            {% endif %}

            function toggleDateControls() {
                if (noDateInput.is(':checked')) {
                    
                    startDayInput.slideUp();
                    $('#event_startsAt_time').slideUp();
                    $('#event_startsAt').prev().text('Month of Event');
                    $('#event_endsAt').slideUp();
                    $('#event_endsAt').prev().slideUp();

                } else {

                    startDayInput.slideDown();
                    $('#event_startsAt_time').slideDown();
                    $('#event_startsAt').prev().text('Start Date');
                    $('#event_endsAt').slideDown();
                    $('#event_endsAt').prev().slideDown();
                }
            }

            function toggleRegistrationControls() {

                if(externalInput.val() == '1') {

                    // Using external registration
                    $('#registration-option').slideUp();
                    $('label[for="event_externalUrl"]').text('Link to Event: ');
                    // TODO: Require external Url
                }
                else {

                    // Using campsite registration
                    $('#registration-option').slideDown();
                    $('label[for="event_externalUrl"]').text('Registration Link (optional): ');
                    // TODO: Remove requirement for external Url
                }

            }

            $('#event').submit(function() {

                // If noDate is checked, set day and time to defaults, and set End year and month equal to Start year and month
                if (noDateInput.is(':checked')) {

                    endYearInput.val(startYearInput.val());
                    endMonthInput.val(startMonthInput.val());

                    startDayInput.val('1');
                    startHourInput.val('0');
                    startMinuteInput.val('0');
                    endDayInput.val('1');
                    endHourInput.val('0');
                    endMinuteInput.val('0');
                }

                return true;
            });

        });
    </script>

{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Add' %}
        {% set formpath = path('idea_admin_global_event', {'global_eventId': 'new'}) %}
    {% else %}
        {% set verb = 'Edit' %}
        {% set formpath = path('idea_admin_global_event', {'global_eventId': event.id}) %}
    {% endif %}
    
    <h1>{{ verb }} Public Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.noDate) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        {{ form_row(form.external) }}
        {{ form_row(form.externalUrl) }}
        <div id="registration-option">
            {{ form_row(form.registrationOption) }}
        </div>
        {{ form_widget(form._token) }}

        <br class="clr"/>

        <input type="submit" value="Submit" id="submit"/>
        <input type="submit" value="Cancel" name="cancel" formnovalidate/>

    </form>

{% endblock %}
