{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {

            toggleRegistrationControls();

            $('#event_external').change(function() {
                toggleRegistrationControls();
            });

            function toggleRegistrationControls() {

                if($('#event_external').val() == '1') {

                    // Using external registration
                    $('#registration-option').slideUp();
                    $('label[for="event_externalUrl"]').text('Link to Event: ');
                    // TODO: Require external Url
                }
                else {

                    // Using campsite registration
                    $('#registration-option').slideDown();
                    $('label[for="event_externalUrl"]').text('Registration Link (optional): ');
                    // TODO: Remove requirement for external Url
                }

            }

            var startDateInput = $('#event_startsAt_date');
            var startTimeInput = $('#event_startsAt_time');
            var endDateInput   = $('#event_endsAt_date');
            var endTimeInput   = $('#event_endsAt_time');

            startDateInput.datetimepicker({
                timepicker: false,
                format: 'n/d/Y',
                onChangeDateTime:function(){
                    startDateInput.change();
                }
            });
            endDateInput.datetimepicker({
                timepicker: false,
                format: 'n/d/Y'
            });
            startTimeInput.datetimepicker({
                datepicker:false,
                format: 'H:i:s',
                step: 15,
                onChangeDateTime:function(){
                    startTimeInput.change();
                }
            });
            endTimeInput.datetimepicker({
                datepicker:false,
                format: 'H:i:s',
                step: 15
            });

            {% if isNew %}
                var now = new Date();
                var date = (now.getMonth()+1)+'/'+(now.getDate())+'/'+now.getFullYear();
                startDateInput.val(date);
                endDateInput.val(date);
                startTimeInput.val('08:00:00');
                endTimeInput.val('18:00:00');

                startDateInput.change(function() {
                    endDateInput.val($(this).val());
                });

            {% endif %}

        });
    </script>

{% endblock %}

{% block content %}

    {% if isNew %}
        {% set verb = 'Add' %}
        {% set formpath = path('idea_admin_global_event', {'global_eventId': 'new'}) %}
    {% else %}
        {% set verb = 'Edit' %}
        {% set formpath = path('idea_admin_global_event', {'global_eventId': event.id}) %}
    {% endif %}
    
    <h1>{{ verb }} Public Event</h1>

    <form action="{{ formpath }}" method="post" {{ form_enctype(form) }} id="event" novalidate>
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
        {{ form_row(form.external) }}
        {{ form_row(form.externalUrl) }}
        <div id="registration-option">
            {{ form_row(form.registrationOption) }}
        </div>
        {{ form_row(form.location) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        {{ form_widget(form._token) }}

        <br class="clr"/>

        <input type="submit" value="Submit" id="submit"/>
        <input type="submit" value="Cancel" name="cancel" formnovalidate/>

    </form>

{% endblock %}
