{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}

    <h1>Speaker for {{ eventSession.name }}</h1>

    {% if userId|default %}
        {% set form_path = path('event_session_add_speaker', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id, 'userId': userId}) %}
    {% else %}
        {% set form_path = path('event_session_add_speaker', {'groupSlug': group.slug, 'eventId': event.id, 'sessionId': eventSession.id}) %}
    {% endif %}

    <form action="{{ form_path }}" method="post" {{ form_enctype(form) }} id="session_speaker" novalidate>
        {{ form_row(form.speaker) }}
        {{ form_row(form.role) }}
        {{ form_row(form.biography) }}
        {{ form_rest(form) }}

        <br class="clr"/>

        <input type="submit" value="Submit" id="submit"/>
        <input type="submit" value="Cancel" name="cancel" formnovalidate/>

    </form>

{% endblock %}
