{# base layout for the account section #}
{% extends 'SpoutletBundle::layout.html.twig' %}

{% block pre_content_nav %}
<div class="std_1col">
    <div id="accountHeader">
        <ul class="links">
            <li><a href="{{ path('accounts_index') }}">{{ "platformd.user.account.account_home" | trans }}</a></li>
            {# Commenting out for now, until we figure out how this work with CEVO
                <li><a href="{{ path('fos_user_profile_edit') }}">{{ "platformd.user.account.edit_account" | trans }}</a></li>
            #}
            <li><a href="{{ path('fos_user_change_password') }}">{{ "platformd.user.account.change_password" | trans }}</a></li>
            <li><a href="{{ path('accounts_profile') }}">{{ "platformd.user.account.profile" | trans }}</a></li>
            <li><a href="{{ path('accounts_events') }}">{{ "platformd.user.account.registered_events" | trans }}</a></li>
            <li><a href="{{ path('accounts_giveaways') }}">{{ "platformd.user.account.my_giveaways" | trans }}</a></li>
            {% if showVideo %}
                <li><a href="{{ path('videos_edit') }}">{{ "platformd.user.account.my_videos" | trans }}</a></li>
            {% endif %}
            <li><a href="{{ path('contact') }}">{{ "platformd.user.account.help" | trans }}</a></li>
            <li><a href="{{ path('_fos_user_security_logout') }}">{{ "platformd.layout.top_menu.sign_out" | trans }}</a></li>
        </ul>
    </div>
</div>
{% endblock %}
