{# base layout for the account section #}
{% extends 'SpoutletBundle::layout.html.twig' %}

{% block pre_content_nav %}
<div class="std_1col">
    <div id="accountHeader">
        <ul class="links">
            <li><a href="{{ path('accounts_index') }}">{{ "Account Home" | trans({}, 'account') }}</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">{{ "Edit account" | trans({}, 'account') }}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{{ "Change Pass" | trans({}, 'account') }}</a></li>
            <li><a href="{{ path('accounts_profile') }}">Profile</a></li>
            <li><a href="{{ path('accounts_events') }}">Registered Events</a></li>
            <li><a href="{{ path('support') }}">{{ "Help" | trans({}, 'account') }}</a></li>
            <li><a href="{{ path('_fos_user_security_logout') }}">Sign Out</a></li>
        </ul>
    </div>
</div>
{% endblock %}
