{# base layout for the account section #}
{% extends 'SpoutletBundle::layout.html.twig' %}

{% set event_link    = site_link('USER_EVENT') %}
{% set game_id_link  = site_link('USER_GAME_ID') %}
{% set profile_link  = site_link('USER_PROFILE') %}
{% set giveaway_link = site_link('USER_GIVEAWAY') %}

{% block pre_content_nav %}
<div class="std_1col">
    <div id="accountHeader">
        <ul class="links sf-menu-account">
            <li><a href="http://alienwarearena.com/account/">{{ "platformd.user.account.account_home" | trans }}</a></li>
            {# Commenting out for now, until we figure out how this work with CEVO
                <li><a href="{{ path('fos_user_profile_edit') }}">{{ "platformd.user.account.edit_account" | trans }}</a></li>
            #}
            <li><a href="http://alienwarearena.com/account/password/">{{ "platformd.user.account.change_password" | trans }}</a></li>
            <li>{{ profile_link | raw }}</li>

            {% if features.hasMessages %}
                <li><a href="http://alienwarearena.com/account/inbox/">{{ 'platformd.user.account.messages' | trans }}</a></li>
            {% endif %}

            {% if event_link %}<li>{{ event_link | raw }}</li>{% endif %}

            {% if app.session.locale == 'en_SG' %}
                {{ giveaway_link | raw }}
            {% else %}
                <li>
                    {{ giveaway_link | raw }}
                </li>
            {% endif %}

            {% if features.hasDeals %}
                <li><a href="{{ path('accounts_deals') }}">{{ "platformd.user.account.deals" | trans }}</a></li>
            {% endif %}

            {% if features.hasGroups %}
                <li><a href="{{ path('accounts_groups') }}">My Groups</a></li>
            {% endif %}

            {% if app.session.locale == 'zh' %}
                <li class="more">
                    <a class="blue" style="background: url('/bundles/spoutlet/images/nav-arrow-1.png') right center no-repeat; padding-right: 15px; margin-right: 5px; cursor: pointer;">{{ 'platformd.user.account.tournaments' | trans }}</a>
                    <ul style="padding: 3px; position: absolute; background: #393939; width: 50px;">
                        {% if game_id_link %}<li>{{ game_id_link | raw }}</li>{% endif %}
                    </ul>
                </li>
            {% else %}

                <li class="more">
                    <a class="blue" style="background: url('/bundles/spoutlet/images/nav-arrow-1.png') right center no-repeat; padding-right: 15px; margin-right: 5px; cursor: pointer;">{{ 'platformd.user.account.tournaments' | trans }}</a>
                    <ul style="padding: 3px; position: absolute; background: #393939; width: 50px;">
                        {% if game_id_link %}<li>{{ game_id_link | raw }}</li>{% endif %}

                        {% if app.session.locale != 'zh' and app.session.locale != 'ja' %}
                            {% if app.session.locale == 'en_SG' %}
                                <li><a href="http://www.alienwarearena.com/account/ids/">Game IDs</a></li>
                            {% endif %}
                            <li><a href="http://alienwarearena.com/account/client/">{{ 'platformd.user.account.match_client' | trans }}</a></li>
                            <li><a id="match-lobby-link" href="http://alienwarearena.com/external/match-lobby/">{{ 'platformd.user.account.match_lobby' | trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>

            {% endif %}

            {% if features.hasPhotos %}
                <li class="more">
                    <a class="blue" style="background: url('/bundles/spoutlet/images/nav-arrow-1.png') right center no-repeat; padding-right: 15px; margin-right: 5px; cursor: pointer;">{{ 'platformd.user.account.media' | trans }}</a>
                    <ul style="padding: 3px; position: absolute; background: #393939; width: 50px;">
                        <li><a href="{{ path('accounts_photos') }}">{{ 'platformd.user.account.gallery' | trans }}</a></li>
                    </ul>
                </li>
            {% endif %}

            <li><a href="{{ path('_fos_user_security_logout') }}">{{ "platformd.user.account.sign_out" | trans }}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            $('#match-lobby-link').click(function (event) {
                event.preventDefault();
                window.open( "http://alienwarearena.com/external/match-lobby/", "myWindow", "status = 1, height = 660, width = 1000, resizable = 0" )
            });

        });
    </script>
{% endblock %}
