<li>
    <span class="item">
        <a href="{{ path('fos_user_security_login') }}?return={{ path('sweepstakes_show', {'slug': sweepstakes.slug}) | e }}">
            {{ 'platformd.create_account_or_login_sweepstakes' | trans }}
        </a>
    </span>
</li>
<li>
    <span class="item">
        {{ 'agree_to_terms_sweepstakes_step' | trans }}
    </span>
</li>

<li>
    <span class="item">
        {{ 'click_register_sweepstakes_step' | trans }}
    </span>
</li>