<li>
    <span class="item">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ 'platformd.create_account_or_login_sweepstakes' | trans }}
        {% else %}
            <a href="{{ login_link(url('sweepstakes_show', {'slug': sweepstakes.slug})) }}">
                {{ 'platformd.create_account_or_login_sweepstakes' | trans }}
            </a>
        {% endif %}
    </span>
</li>
<li>
    <span class="item">
        {{ 'agree_to_terms_sweepstakes_step' | trans }}
    </span>
</li>

<li>
    <span class="item">
        {{ 'click_register_sweepstakes_step' | trans }}
    </span>
</li>
