
{% set username_error = '' %}
{% set email_error = '' %}
{% set password_error = '' %}
{% set firstname_error = '' %}
{% set lastname_error = '' %}
{% set state_error = '' %}
{% set has_system_error = '' %}
{% set news_source_error = '' %}
{% set accept_error = '' %}
{% set birthdate_error = '' %}
{% set invalid_captcha = '' %}

{% for error in errors %}
    {% if error.messageTemplate == 'fos_user.username.blank' or error.messageTemplate == 'fos_user.username.already_used' or error.messageTemplate == 'fos_user.username.short' %}
        {% set username_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.email.blank' or error.messageTemplate == 'fos_user.email.already_used' or error.messageTemplate == 'fos_user.email.invalid' %}
        {% set email_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.password.blank' or error.messageTemplate == 'passwords_do_not_match' or error.messageTemplate == 'password_too_short' %}
        {% set password_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'first_name_not_blank' %}
        {% set firstname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'last_name_not_blank' %}
        {% set lastname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'state_not_blank' %}
        {% set state_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'has_system_not_blank' %}
        {% set has_system_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'news_source_not_blank' %}
        {% set news_source_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'You must accept the terms and conditions and the privacy policy' %}
        {% set accept_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'birthdate_not_blank' or error.messageTemplate == 'age_requirement_not_met' %}
        {% set birthdate_error = error.messageTemplate|trans(error.messageParameters, 'validators') | format(config.minAgeRequirement)  %}
    {% endif %}
    {% if error.messageTemplate == 'This value is not a valid captcha' %}
        {% set invalid_captcha = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
{% endfor %}

<div id="sweepstakes-wrapper">
<form action="{{ path('sweepstakes_show', { 'slug': sweepstakes.slug }) }}" method="post" {{ form_enctype(entryForm) }} class="form form-horizontal">
    <table id="sweepstakes-tbl">
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="sweepstakes_entry_registrationDetails_username" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_username'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.username) }}
                {% if username_error != '' %}<span class="field-error">{{ username_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                 <label for="sweepstakes_entry_registrationDetails_username" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_email_first'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.email) }}
                {% if email_error != '' %}<span class="field-error nowrap">{{ email_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="sweepstakes_entry_registrationDetails_plainPassword" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_plainPassword'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.plainPassword) }}
                {% if password_error != '' %}<span class="field-error">{{ password_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_firstname'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.firstname) }}
                {% if firstname_error != '' %}<span class="field-error">{{ firstname_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_lastname'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.lastname) }}
                {% if lastname_error != '' %}<span class="field-error">{{ lastname_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_birthdate'|pd_trans({}, 'forms') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {% include 'UserBundle:Registration:_register_dob.html.twig' with { 'form': entryForm.registrationDetails, 'birthdate_error': birthdate_error, 'locale': site.defaultLocale} %}
            </td>
        </tr>
        <tr id="row_address_country" class="sweepsform-row aligned">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_country'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.country) }}
            </td>
        </tr>
        <tr id="row_address_state" class="sweepsform-row aligned">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_state'|pd_trans({}, 'FOSUserBundle')}}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.state) }}
                {% if state_error != '' %}<span class="field-error">{{ state_error }}</span>{% endif %}
            </td>
        </tr>
        <tr id="sweepsform-system-row" class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_hasAlienwareSystem'|pd_trans({}, 'forms') }}
                </label>
            </td>
            <td class="sweepsform-right">
                <div id="fos_user_registration_form_hasAlienwareSystem">
                    {{ form_widget(entryForm.registrationDetails.hasAlienwareSystem) }}
                    {% if has_system_error != '' %}<span class="field-error">{{ has_system_error }}</span>{% endif %}
                </div>

            </td>
        </tr>
        <tr class="sweepsform-row aligned">
            <td class="sweepsform-left">
                <label for="" class="control-label">
                    {{ 'fos_user_registration_form_latestNewsSource'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.latestNewsSource) }}
                {% if news_source_error != '' %}<span class="field-error">{{ news_source_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                {{ form_label(entryForm.phoneNumber) }}
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.phoneNumber) }}
                {{ form_errors(entryForm.phoneNumber) }}
            </td>
        </tr>
        {% if sweepstakes.questions|length > 0 %}
        {% for answer in entryForm.answers %}
            <tr class="sweepsform-row">
                <td class="sweepsform-left">{{ form_label(answer.content) }}</td>
                <td class="sweepsform-right answer">{{ form_widget(answer.content) }} {{ form_errors(answer.content) }}</td>
            </tr>
        {% endfor %}
        {% endif %}

        {% if entryForm.registrationDetails.recaptcha is defined %}
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <label for="">
                    <span class="required">*</span>
                    {{ 'fos_user_registration_form_recaptcha'|pd_trans({}, 'FOSUserBundle') }}
                </label>
            </td>
            <td class="sweepsform-right recaptcha">
                {{ form_widget(entryForm.registrationDetails.recaptcha) }}
                {% if invalid_captcha != '' %}<span class="field-error">{{ invalid_captcha }}</span>{% endif %}
            </td>
        </tr>
        {% endif %}

        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <span class="required">*</span>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.termsAccepted) }}
                <span class="checkbox-label">{{ 'sweepstakes.entry.form.read_and_agreed_to_rules'|pd_trans({'%rules_url%': path('sweepstakes_rules', {'slug': sweepstakes.slug})})|raw }}</span>
                {{ form_errors(entryForm.termsAccepted) }}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
                <span class="required">*</span>
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.termsAccepted)}}
                {{ 'fos_user_registration_form_termsAccepted'|pd_trans({'%terms_url%': path('terms_conditions'),'%privacy_url%': path('privacy')}, 'forms')|raw }}
                {% if accept_error != '' %}<span class="field-error">{{ accept_error }}</span>{% endif %}
            </td>
        </tr>
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.subscribedGamingNews) }}
                <span class="checkbox-label">{{ 'fos_user_registration_form_subscribedGamingNews'|pd_trans({}, 'forms')|raw }}</span>
            </td>
        </tr>
        {% if entryForm.registrationDetails.subscribedAlienwareEvents is defined %}
        <tr class="sweepsform-row">
            <td class="sweepsform-left">
            </td>
            <td class="sweepsform-right">
                {{ form_widget(entryForm.registrationDetails.subscribedAlienwareEvents) }}
                <span class="checkbox-label">{{ 'fos_user_registration_form_subscribedAlienwareEvents'|pd_trans({}, 'forms')|raw }}</span>
            </td>
        </tr>
        {% endif %}
        <tr class="sweepsform-row">
            <td class="sweepsform-left"></td>
            <td class="sweepsform-right"><button type="submit" class="btn btn-primary" formnovalidate>{{ "enter" | pd_trans }}</button></td>
        </tr>
    </table>

    <div style="display:none;">
        {{ form_rest(entryForm.registrationDetails) }}
        {{ form_rest(entryForm) }}
    </div>

</form>
</div>
<script type="text/javascript">
    $(function () {
        $('#platformd_sweeps_entry_registrationDetails_birthdate_year option:contains("--")').text('{{ 'year' | trans({}, 'forms') }}');
        $('#platformd_sweeps_entry_registrationDetails_birthdate_month option:contains("--")').text('{{ 'month' | trans({}, 'forms') }}');
        $('#platformd_sweeps_entry_registrationDetails_birthdate_day option:contains("--")').text('{{ 'day' | trans({}, 'forms') }}');
    });

    updateStateChoices();

    $('#row_address_country select').change(function() {
        updateStateChoices();
    });

    function updateStateChoices() {

        $('#row_address_state select').html('<option>...</option>');

        $.ajax({
            url: '{{ path('country_state_options') }}' + '/' + $('#row_address_country select option:selected').val(),
            action: 'get',
            success: function(data) {
                $('#row_address_state select').html(data);

                {% if regFormData.state | default(null) %}
                    if ($('#row_address_state select option[value={{ regFormData.state }}]').length > 0) {
                        $('#row_address_state select').val({{ regFormData.state }});
                    }
                {% endif %}
            },
            error: function() {
                $('#row_address_state select').html('');
                alert('An error occured while loading states choices.');
            }
        });
    }
</script>

<script type="text/javascript">



</script>
