{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'sweepstakes' | trans %}

{% block content %}

<h1>{{ 'sweepstakes' | trans }}</h1>

<table>
    <tbody>
        <tr>
            <th>{{ 'sweepstakes_name' | trans }}</th>
            <th>{{ 'platformd.events.event_listings.start_date' | trans }}</th>
            <th>{{ 'platformd.events.event_listings.end_date' | trans }}</th>
        </tr>
        {% if sweepstakess|length == 0 %}
        <tr>
            <td style="text-align:center; padding:20px 0;" colspan="5">
                <strong>{{ 'no_sweepstakes_currently' | trans }}</strong>
            </td>
        </tr>
        {% else %}
        {% for sweepstakes in sweepstakess %}
        <tr class="eventListGroup_online">
            <td>
                {{ 'sweepstakes_datetime_format' | trans(sweepstakes.startsAtInTimezoneTranslationArray) }}
            </td>

            <td>
                {{ 'sweepstakes_datetime_format' | trans(sweepstakes.endsAtInTimezoneTranslationArray) }}
            </td>

            <td><a href="{{  path('sweepstakes_show', { 'slug' : sweepstakes.slug }) }}">{{ sweepstakes.name }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}
