{% extends 'SpoutletBundle::layout.html.twig' %}
{% form_theme entryForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{% block meta_description %}
    {% if sweepstakes.metaDescription %}
        <meta name="description" content="{{ sweepstakes.metaDescription }}">
    {% endif %}
{% endblock %}

{% if sweepstakes.backgroundImage is not null %}
    {% set bgImage = media_path(sweepstakes.backgroundImage) %}
{% else %}
    {% set bgImage = "default" %}
{% endif %}

{% block page_background_image bgImage %}

{% block title sweepstakes.name %}

{% block content %}

    {% render url('_sweepstakes_flash_message', { 'slug': sweepstakes.slug, 'entryId': entryId }) with {}, {'standalone': true } %}

    <div class="std_1col">

        <div class="page-header">
            <h1 class="controlled-spacing">{{ sweepstakes.name }}</h1>
        </div>

        <div id="sweepstakes-content">
            {{ sweepstakes.content | raw }}
        </div>

        <div id="sweepstakes-entry-links">
            {% if is_granted("ROLE_USER") %}
                {% if isEntered %}<div class="already-entered">{{ 'sweepstakes.entry.links.already_entered' | pd_trans }}</div>{% endif %}
            {% else %}
                <div class="not-entered">
                    <a href="#" id="use-existing-account">{{ 'sweepstakes.entry.links.use_existing' | pd_trans }}</a> {{ 'sweepstakes.entry.or'|pd_trans }} <a href="#" id="create-new-account">{{ 'sweepstakes.entry.links.create_new' | pd_trans }}</a>
                </div>
            {% endif %}
        </div>

        {% if is_granted("ROLE_USER") %}
            {% if not isEntered %}
                {% include 'SweepstakesBundle:Frontend:_loggedInForm.html.twig' with { 'sweepstakes': sweepstakes, 'entryForm': entryForm, 'errors': errors } %}
            {% endif %}
        {% else %}

            <div id="register-to-enter">
                {% include 'SweepstakesBundle:Frontend:_registerForm.html.twig' with { 'sweepstakes': sweepstakes, 'entryForm': entryForm, 'errors': errors } %}
            </div>

        {% endif %}


    </div>

    <div id="sweeps-terms-modal-content" class="modal-content" style="display: none">
        <h3>{{ 'sweepstakes.entry.rules.title' | pd_trans }}</h3>
        {{ sweepstakes.officialRules | raw }}
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            // make the terms content display in a modal
            $('.sweeps-terms-modal').click(function() {
                $.modal($('#sweeps-terms-modal-content'), {
                    overlayClose: true
                });

                return false;
            });

            $('.not-entered #use-existing-account').click(function(e) {
                e.preventDefault();
                $('#header-login-link').click();
            });

            $('.not-entered #create-new-account').click(function(e) {
                e.preventDefault();
                $(this).addClass('active');
                $('#register-to-enter').slideDown();
            });

            {% if errors|length > 0 %}
                $('.not-entered #create-new-account').trigger('click');
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'SweepstakesBundle:Frontend:_css_assets.html.twig' %}
{% endblock %}
