{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/giveaway.css') }}">
{% endblock %}

{% block title sweepstakes.name %}

{# only use the flash if we have an assigned key #}
{% block flash_type %}{{ assignedEntry ? 'success' : false }}{% endblock %}

{# only really need to populate this if we have an assigned key #}
{% block flash %}
    {% if assignedEntry %}
        <p>
            {{ 'platformd.sweepstakes.entered.message' | trans }}
        </p>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="std_1col">

        {% if sweepstakes.bannerImage %}
            <div id="eventHeader" style="background:url('{{ asset(media_path(sweepstakes)) }}') no-repeat;"></div>
        {% endif %}

        <div class="page-header">
            <h1 class="controlled-spacing">{{ sweepstakes.name }}</h1>

            {% if sweepstakes.generalImage %}
                <div style="text-align: center;">
                    <img src="{{ asset(media_path(sweepstakes, {
                        'type': 'general'
                    })) }}" alt="{{ sweepstakes.name }}" alt="{{ sweepstakes.name }}" />
                </div>
            {% endif %}
        </div><!-- widget-header -->
    </div><!-- std_1col -->

    <div class="std_2col">
        <div class="right">
            <div id="giveaway-getkey" class="widget-33">
                <div class="widget-header">
                    <div class="widget-title">{{ 'platformd.sweepstakes.enter' | trans }}</div>
                </div>

                <form action="{{ path('sweepstakes_enter', {'slug': sweepstakes.slug}) }}" method="GET" id="sweeps-form-enter">

                    <div class="widget-content">
                        {% if isEntered %}

                            <p>{{ 'already_entered_sweepstakes' | trans }}</p>

                        {% elseif not sweepstakes.isCurrentlyOpen %}

                            <p>{{ 'sweeps_not_open' | trans }}</p>

                        {% else %}
                            <ol>
                                {% include 'SweepstakesBundle:Frontend:_defaultSteps.html.twig' with {'sweepstakes': sweepstakes} %}
                            </ol>

                            <div class="form-msg-error" id="_sweeps_error"></div>

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                <div class="agree-row">
                                    <input type="checkbox" name="_terms" id="_sweepstakes_terms" />
                                    <label for="_sweepstakes_terms" style="display:inline;">{{ 'read_and_agreed_to_rules' | trans({
                                        '%a_start%': '<a href="#" class="sweeps-terms-modal">',
                                        '%a_end%': '</a>'
                                    }) | raw }}</label>
                                </div>

                                <div style="text-align: center;">
                                    <input type="submit" value="{{ 'enter' | trans }}" class="button" />
                                </div>

                            {% endif %}

                            <div class="clear"></div>
                        {% endif %}

                    </div>
                </form>
            </div>

        </div><!-- right -->

        <div class="left">
            <div id="giveaway-info" class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">{{ 'overview' | trans }}</div>
                </div><!-- widget-header -->

                <div class="widget-content" id="giveaway-details">
                    <ul class="sweepstakes-details">
                        <li class="tight">
                            <label style="display:inline;">{{ 'registration_opens' | trans }}</label>

                            {{ 'sweepstakes_datetime_format' | trans(sweepstakes.startsAtInTimezoneTranslationArray) }}
                        </li>
                        <li>
                            {% if sweepstakes.endsAt %}

                                <label style="display:inline;">{{ 'registration_closes' | trans }}</label>
                            {{ 'sweepstakes_datetime_format' | trans(sweepstakes.endsAtInTimezoneTranslationArray) }}
                            {% else %}
                                <label style="display:inline;">{{ 'registration_closes' | trans }}</label>
                                {{ 'na' | trans }}
                            {% endif %}
                        </li>

                    </ul>

                    <label style="display:inline;">{{ 'instructions' |trans }}</label><br/>

                    {{ sweepstakes.content | raw }}

                </div><!-- giveaway-details -->

            </div><!-- giveaway-info -->

            {% if features.hasComments %}
                {% include 'SpoutletBundle:Comments:_thread.html.twig' with { 'thread' : sweepstakes.threadId, 'comments' : null, 'offset' : 0, 'permalink' : permalink } %}
            {% endif %}

        </div><!-- left -->

        <div class="clear">

        </div><!-- clear -->
    </div><!-- std_2col -->

    <div id="sweeps-terms-modal-content" class="modal-content" style="display: none">
        <h3>{{ 'official_sweepstakes_rules' | trans }}</h3>
        {{ sweepstakes.officialRules | raw }}
    </div>

    <script type="text/javascript">
        window.Sweeps = {
            renderError: function(msg) {

                $('#_sweeps_error').html(msg).show();
            }
        };

        jQuery(document).ready(function() {
            // make the terms content display in a modal
            $('.sweeps-terms-modal').click(function() {
                $.modal($('#sweeps-terms-modal-content'), {
                    overlayClose: true
                });

                return false;
            });

            // on submit of the form, make sure that both of the checkboxes are checked
            $('#sweeps-form-enter').submit(function() {
                if (!$('#_sweepstakes_terms').is(':checked')) {
                    Sweeps.renderError('{{ 'sweeps_check_both_boxes' | trans }}');

                    return false;
                }

                return true;
            });
        });
    </script>
{% endblock %}
