{% extends 'SpoutletBundle::layout.html.twig' %}
{% form_theme entryForm 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{% block meta_description %}
    {% if sweepstakes.metaDescription %}
        <meta name="description" content="{{ sweepstakes.metaDescription }}">
    {% endif %}
{% endblock %}

{% if sweepstakes.backgroundImage is not null %}
    {% set bgImage = media_path(sweepstakes.backgroundImage) %}
{% else %}
    {% set bgImage = "default" %}
{% endif %}

{% block page_background_image bgImage %}

{% block title sweepstakes.name %}

{% block content %}

    {% for key, message in app.session.getFlashes() %}
        {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': key, 'message': message } %}
    {% endfor %}

    {% if entryFlash %}
        {% include 'SpoutletBundle::_flashMessage.html.twig' with entryFlash %}
    {% endif %}

    {% if user is null or user is not null %}
        {% if registered|default(false) %}
            {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': 'success', 'message': 'sweepstakes.entry.registration.flash' } %}
        {% endif %}

        {% if timedout %}
            {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': 'error', 'message': 'platformd.user.register.please_wait' } %}
        {% endif %}

        {% if suspended %}
            {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': 'error', 'message': ('fos_user.account_banned_no_date' | pd_trans({}, 'validators')) } %}
        {% endif %}
    {% endif %}

    <div class="std_1col">

        {% if sweepstakes.eventType != 'promocode' %}
            <div class="page-header">
                <h1 class="controlled-spacing">{{ sweepstakes.name }}</h1>
            </div>
        {% endif %}

        <div id="sweepstakes-content">

            {% if sweepstakes.eventType == 'promocode' %}
                <h1 class="controlled-spacing">{{ sweepstakes.name }}</h1>
            {% endif %}

            {{ sweepstakes.content | raw }}

            <div class="clear"></div>

            <div id="sweepstakes-rules">
                {{ 'sweepstakes.entry.links.rules'|pd_trans({'%rules_url%': path(rulesRoute, {'slug': sweepstakes.slug})})|raw }}
            </div>
        </div>

        <div id="sweepstakes-entry-links">
            {% if not sweepstakes.hasStarted %}
                <div class="sweespstakes-cant-enter">{{ 'sweepstakes.entry.contest_not_started' | pd_trans({ '%dateString%': (sweepstakes.startsAt | date_translate) }) }}</div>
            {% elseif sweepstakes.isFinished %}
                <div class="sweespstakes-cant-enter">{{ 'sweepstakes.entry.contest_has_ended' | pd_trans }}</div>
            {% elseif is_granted("ROLE_USER") %}
                {% if isEntered %}<div class="sweespstakes-cant-enter">{{ 'sweepstakes.entry.links.already_entered' | pd_trans }}</div>{% endif %}
            {% else %}
                <div class="not-entered">
                    <a href="#" id="use-existing-account">{{ 'sweepstakes.entry.links.use_existing' | pd_trans }}</a>
                    {{ 'sweepstakes.entry.or'|pd_trans }}
                    <a href="#"{% if errors|length > 0 %} class="active"{% endif %} id="create-new-account">{{ 'sweepstakes.entry.links.create_new' | pd_trans }}</a>
                </div>
            {% endif %}
        </div>

        {% if sweepstakes.isCurrentlyOpen %}
            {% if is_granted("ROLE_USER") %}
                {% if not isEntered %}
                    {% include 'SweepstakesBundle:Frontend:_loggedInForm.html.twig' with { 'sweepstakes': sweepstakes, 'entryForm': entryForm, 'errors': errors } %}
                {% endif %}
            {% else %}
                <div id="register-to-enter"{% if errors|length > 0 %} style="display: block;"{% endif %}>
                    {% include 'SweepstakesBundle:Frontend:_registerForm.html.twig' with { 'sweepstakes': sweepstakes, 'entryForm': entryForm, 'errors': errors } %}
                </div>
            {% endif %}
        {% endif %}

    </div>

    <script type="text/javascript">
        $(function() {
            $('.reg-source').click(function() {
                addSourceInfo(this, '{{ regSourceData | base64_encode }}');
            });

            $('#additional-checkbox a').click(function() {
                $(this).attr('target', '_blank');
            });

            $('.not-entered #use-existing-account').click(function(e) {
                e.preventDefault();
                $('#header-login-link').click();
            });

            $('.not-entered #create-new-account').click(function(e) {
                e.preventDefault();
                $(this).addClass('active');
                $('#register-to-enter').slideDown();
            });
        });

        $(window).load(function() {
            {% if errors|length > 0 %}
                if ($('.field-error').length > 0) {
                    className = '.field-error';
                } else {
                    className = '.help-inline';
                }

                $('html, body').stop().delay(400).animate({
                    scrollTop: ($(className).first().offset().top) - 50
                }, 400);
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'SweepstakesBundle:Frontend:_css_assets.html.twig' %}
{% endblock %}
