{% extends 'SpoutletBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/giveaway/css/giveaway.css') }}">
{% endblock %}

{% block title sweepstakes.name %}

{% block content %}

    {% render url('_sweepstakes_flash_message', { 'slug': sweepstakes.slug, 'entryId': entryId }) with {}, {'standalone': true } %}

    <div class="std_1col">

        <div class="page-header">
            <h1 class="controlled-spacing">{{ sweepstakes.name }}</h1>
        </div>

        <div id="sweepstakes-content">
            {{ sweepstakes.content | raw }}
        </div>

        {% if features.hasComments %}
            {% include 'SpoutletBundle:Comments:_thread.html.twig' with { 'thread' : sweepstakes.threadId, 'comments' : null, 'offset' : 0, 'permalink' : permalink } %}
        {% endif %}

    </div>

    <div id="sweeps-terms-modal-content" class="modal-content" style="display: none">
        <h3>{{ 'official_sweepstakes_rules' | trans }}</h3>
        {{ sweepstakes.officialRules | raw }}
    </div>

    <script type="text/javascript">
        window.Sweeps = {
            renderError: function(msg) {

                $('#_sweeps_error').html(msg).show();
            }
        };

        jQuery(document).ready(function() {
            // make the terms content display in a modal
            $('.sweeps-terms-modal').click(function() {
                $.modal($('#sweeps-terms-modal-content'), {
                    overlayClose: true
                });

                return false;
            });

            // on submit of the form, make sure that both of the checkboxes are checked
            $('#sweeps-form-enter').submit(function() {
                if (!$('#_sweepstakes_terms').is(':checked')) {
                    Sweeps.renderError('{{ 'sweeps_check_both_boxes' | trans }}');

                    return false;
                }

                return true;
            });
        });
    </script>
{% endblock %}
