{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<h1>Background Ads</h1>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ad in ads %}
        <tr>
            <td><a href="{{ path('admin_background_ads_edit', { 'id': ad.id }) }}">{{ ad.title }}</a></td>
            <td>
                {% if ad.file %}
                    <img src="{{ media_path(ad.file, {'local': true}) | imagine_filter('media_photo_thumb') }}" width="100" />
                {% endif %}
            </td>
            <td>
                {% for adSite in ad.adSites if adSite.url and adSite.site == site %}
                    <a href="{{ adSite.url }}">{{ adSite.url }}</a>
                    <br />
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('admin_background_ads_edit', { 'id': ad.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('admin_background_ads_new') }}">
    Create a new background ad
</a>
{% endblock %}
